Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
      exclude: (svg|icomoon|rapidoc-9.3.4.min.js)
    - id: trailing-whitespace
      exclude: (vendor|rapidoc-9.3.4.min.js)
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, master]

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier
        language: system
        files: ^.*$
        types_or: [javascript, json]
        entry: |
          bash -c 'npm --prefix . run fix:prettier --write "${@}"' --

      - id: app-ruff-check
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:check "${@}"' --

      - id: app-ruff-format
        name: run ruff format
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:format "${@}"' --

      - id: app-elm-format
        name: run elm-format
        language: system
        files: ^.*$
        types_or: [elm]
        entry: |
          bash -c 'npm --prefix . run fix:elm-format "${@}"' --

remove gitignore diff, improve plot readibility
  .gitignore
  bin/check_ingredient_hierarchy.py
Due: app-ruff-check, app-ruff-format

refactor
  bin/check_ingredient_hierarchy.py
Due: app-ruff-check, app-ruff-format

add reason columns
  bin/check_ingredient_hierarchy.py
Due: app-ruff-check, app-ruff-format

fix: backport auth and not auth2
  lib/store.js
Due: app-prettier

fix: backport auth migration
  index.js
  lib/store.js
Due: app-prettier

fix(textile): auth compatibility (#2164)
  index.js
  lib/store.js
  src/Data/Session.elm
  src/Main.elm
  src/Page/Auth.elm
  src/Request/Auth.elm
  src/Request/BackendHttp.elm
  tests/Data/UserTest.elm
Due: app-prettier

chore(deps-dev): bump pre-commit from 4.5.1 to 4.6.0 (#2173)
  pyproject.toml
  uv.lock
Due: none

fix: take use elec mis at consumption stage
  public/data/components/config.json
  src/Data/Component.elm
  src/Data/Component/Config.elm
  src/Views/Component.elm
  tests/Data/ComponentTest.elm
Due: app-prettier

GITBOOK-1681: No subject
  .gitbook/assets/XD_Coefficient durabilité 20260317 v3.1.xlsx
  SUMMARY.md
  vehicules/seminaire-veli-04-05-2026.md
Due: none

GITBOOK-1682: No subject
  vehicules/seminaire-veli-04-05-2026.md
Due: none

feat: add last_login for user
  backend/src/app/db/migrations/versions/2026-05-04_add_last_login_497ff53f5f65.py
  backend/src/app/db/models/user.py
  backend/src/app/domain/accounts/controllers/access.py
  backend/src/app/domain/accounts/guards.py
  backend/src/app/domain/accounts/schemas.py
  backend/src/app/domain/accounts/services.py
  src/Data/User.elm
  src/Page/Admin/Account.elm
  tests/backend/integration/test_access.py
Due: app-ruff-check, app-ruff-format

chore: @n1k0’s review
  src/Data/Component.elm
  src/Views/Component.elm
Due: none

fix: always apply heat with elec
  public/data/components/config.json
  src/Data/Component.elm
  src/Data/Component/Config.elm
  src/Data/Process.elm
  tests/Data/ComponentTest.elm
Due: app-prettier

feat(data,veli): add “Minibus quadricycle à assistance électrique” example
  public/data/veli/examples.json
Due: app-prettier

fix(generic): leverage local energy mix at use/consumption stage (#2180)
  public/data/components/config.json
  src/Data/Component.elm
  src/Data/Component/Config.elm
  src/Data/Process.elm
  tests/Data/ComponentTest.elm
Due: app-prettier

feat: add last_login_at for user (#2181)
  backend/src/app/db/migrations/versions/2026-05-04_add_last_login_497ff53f5f65.py
  backend/src/app/db/models/user.py
  backend/src/app/domain/accounts/controllers/access.py
  backend/src/app/domain/accounts/guards.py
  backend/src/app/domain/accounts/schemas.py
  backend/src/app/domain/accounts/services.py
  src/Data/User.elm
  src/Page/Admin/Account.elm
  tests/backend/integration/test_access.py
Due: app-ruff-check, app-ruff-format

feat(data,object): add “exemple alban” example
  public/data/object/examples.json
Due: app-prettier

feat(data,veli): add “Test Nicolas Pl” example
  public/data/veli/examples.json
Due: app-prettier

feat(data,veli): add “Test Nicolas Pl 2” example
  public/data/veli/examples.json
Due: app-prettier

Change component name
  public/data/veli/examples.json
Due: app-prettier
