Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format, dont-commit-detailed-processes

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
      exclude: (svg|icomoon|rapidoc-9.3.4.min.js)
    - id: trailing-whitespace
      exclude: (vendor|rapidoc-9.3.4.min.js)
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, master]

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier
        language: system
        files: ^.*$
        types_or: [javascript, json]
        entry: |
          bash -c 'npm --prefix . run fix:prettier --write "${@}"' --

      - id: app-ruff-check
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:check "${@}"' --

      - id: app-ruff-format
        name: run ruff format
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:format "${@}"' --

      - id: dont-commit-detailed-processes
        name: check that we don't commit processes_impacts.json
        language: system
        files: ^processes_impacts.json$
        entry: |
          bash -c 'echo "⚠️ Prevented pushing detailed impacts data to public git repository. To update these, clone and push to the ecobalyse-private repository.";exit 1'

GITBOOK-1182: Coquelet's Feb 11 changes
  textile/correctifs-donnees/corr2-inventaires-enrichis.md
  textile/cycle-de-vie-des-produits-textiles/ennoblissement/README.md
  textile/cycle-de-vie-des-produits-textiles/ennoblissement/inventaires-enrichis.md
Due: none

chore: update dyeing
  public/data/textile/processes.json
  public/data/textile/processes_impacts.json
Due: app-prettier

fix: elec in MJ
  public/data/textile/processes.json
  public/data/textile/processes_impacts.json
Due: app-prettier

sync from https://github.com/MTES-MCT/ecobalyse-data/pull/50
  public/data/food/processes.json
  public/data/food/processes_impacts.json
Due: app-prettier

feat!: replace dyeingMedium with a process type.
  src/Data/Bookmark.elm
  src/Data/Textile/Dyeing.elm
  src/Data/Textile/DyeingMedium.elm
  src/Data/Textile/Inputs.elm
  src/Data/Textile/Product.elm
  src/Data/Textile/Query.elm
  src/Data/Textile/Simulator.elm
  src/Data/Textile/Step.elm
  src/Data/Textile/WellKnown.elm
  src/Page/Explore/TextileProducts.elm
  src/Page/Textile.elm
  src/Server.elm
  src/Server/Query.elm
  src/Views/Textile/Step.elm
Due: none

chore: update use of dyeing medium with new processes.
  src/Data/Textile/Dyeing.elm
  src/Data/Textile/Inputs.elm
  src/Data/Textile/Simulator.elm
  src/Views/Textile/Step.elm
Due: none

chore: handle process type selection.
  src/Data/Textile/Product.elm
  src/Page/Textile.elm
  src/Views/Textile/Step.elm
Due: none

docs: update api docs
  openapi.yaml
  src/Data/Textile/Query.elm
  src/Page/Textile.elm
  src/Server/Query.elm
  tests/Server/RouteTest.elm
  tests/server.spec.js
Due: app-prettier

chore: update tests.
  tests/Data/Textile/SimulatorTest.elm
  tests/Server/RouteTest.elm
  tests/e2e-textile.json
Due: app-prettier

docs: add api changelog entry.
  src/Page/Api.elm
Due: none

docs: add missing POST param docs.
  openapi.yaml
Due: none

chore: polish ui
  src/Views/Textile/Step.elm
Due: none

feat: warn when switching back to regulatory mode.
  src/Data/Textile/Query.elm
Due: none

fix: avoid unwanted warning
  src/Data/Textile/Query.elm
Due: none

chore: clean code
  openapi.yaml
Due: none

@vjousse review
  src/Data/Textile/Step.elm
Due: none

@vjousse typo review
  src/Data/Textile/Dyeing.elm
  tests/Server/RouteTest.elm
Due: none

fix: non-breaking space bug in tests @vjousse
  tests/server.spec.js
Due: app-prettier

chore: update wool
  public/data/textile/processes.json
  public/data/textile/processes_impacts.json
Due: app-prettier

GITBOOK-1187: No subject
  SUMMARY.md
  textile/correctifs-donnees/corr4-laine-nouvelle-filiere.md
Due: none

fix comment and source
  public/data/textile/processes.json
  public/data/textile/processes_impacts.json
Due: app-prettier

chore: WFLDB export from simapro (#942)
  public/data/food/processes.json
  public/data/food/processes_impacts.json
Due: app-prettier

fix: update api param exemples.
  openapi.yaml
Due: none

feat!: Replace dyeing medium parameter with dyeing process type. (#941)
  openapi.yaml
  public/data/textile/processes.json
  public/data/textile/processes_impacts.json
  src/Data/Bookmark.elm
  src/Data/Textile/Dyeing.elm
  src/Data/Textile/DyeingMedium.elm
  src/Data/Textile/Inputs.elm
  src/Data/Textile/Product.elm
  src/Data/Textile/Query.elm
  src/Data/Textile/Simulator.elm
  src/Data/Textile/Step.elm
  src/Data/Textile/WellKnown.elm
  src/Page/Api.elm
  src/Page/Explore/TextileProducts.elm
  src/Page/Textile.elm
  src/Server.elm
  src/Server/Query.elm
  src/Views/Textile/Step.elm
  tests/Data/Textile/SimulatorTest.elm
  tests/Server/RouteTest.elm
  tests/e2e-textile.json
  tests/server.spec.js
Due: app-prettier

sync from ecobalyse-data following https://github.com/MTES-MCT/ecobalyse-data/pull/48
  public/data/food/ingredients.json
  public/data/food/processes.json
  public/data/food/processes_impacts.json
  public/data/textile/processes.json
  public/data/textile/processes_impacts.json
Due: app-prettier

sync after pull
  public/data/textile/processes.json
  public/data/textile/processes_impacts.json
Due: app-prettier

chore: sync from ecobalyse-data#48 (#944)
  public/data/food/ingredients.json
  public/data/food/processes.json
  public/data/food/processes_impacts.json
Due: app-prettier

chore: update wool "nouvelle filière" with new impacts (#943)
  public/data/textile/processes.json
  public/data/textile/processes_impacts.json
Due: app-prettier

GITBOOK-1190: No subject
  SUMMARY.md
  documentation-transverse/impacts-consideres/README.md
  documentation-transverse/impacts-consideres/correction-du-fru.md
  documentation-transverse/impacts-consideres/exclusion-des-emissions-a-long-terme.md
  textile/cycle-de-vie-des-produits-textiles/etape-1-matieres/focus-laine.md
Due: none

fix: values of textile volume
  public/data/textile/products.json
Due: app-prettier

chore: convert to camelCase json keys
  public/data/food/ingredients.json
  public/data/food/processes.json
  public/data/food/processes_impacts.json
  public/data/object/processes.json
  public/data/object/processes_impacts.json
  public/data/textile/processes.json
  public/data/textile/processes_impacts.json
Due: app-prettier

replace elec_MJ and heat_MJ in ecobalyse files
  backend/textile/admin.py
  backend/textile/models.py
  src/Data/Food/Ingredient.elm
  src/Data/Process.elm
  src/Data/Textile/Step.elm
  tests/processes-schema.json
Due: app-prettier, app-ruff-check, app-ruff-format

remove the sourceId from the explorer
  src/Page/Explore/FoodIngredients.elm
  src/Page/Explore/Processes.elm
Due: none

unused import
  src/Page/Explore/FoodIngredients.elm
Due: none

GITBOOK-1193: No subject
  SUMMARY.md
  documentation-transverse/old-transport.md
  documentation-transverse/transport/README.md
  documentation-transverse/transport/choix-des-voies-de-transport.md
  documentation-transverse/transport/cout-environnemental-par-voie-de-transport.md
  vehicules/cycle-de-vie/transport-des-vehicules.md
  vehicules/parametrage/README.md
Due: none

GITBOOK-1191: No subject
  SUMMARY.md
  documentation-transverse/impacts-consideres/correction-du-fossil-ressource-use.md
  documentation-transverse/impacts-consideres/correction-du-fru.md
Due: none

chore: update ingredient name in score history
  bin/score_history/score_history.py
Due: app-ruff-check, app-ruff-format

feat: plastic transformation process
  public/data/object/processes.json
  public/data/object/processes_impacts.json
Due: app-prettier

fix: remove the sourceId from the explorer (#947)
  src/Page/Explore/FoodIngredients.elm
  src/Page/Explore/Processes.elm
Due: none

GITBOOK-1194: No subject
  SUMMARY.md
  documentation-transverse/transport/README.md
  documentation-transverse/transport/choix-des-voies-de-transport.md
  documentation-transverse/transport/cout-environnemental-par-voie-de-transport.md
  documentation-transverse/transport/old-transport.md
  documentation-transverse/transport/transport-alimentaire.md
  documentation-transverse/transport/transport-ameublement.md
  documentation-transverse/transport/transport-textile.md
  documentation-transverse/transport/transport-vehicules.md
  vehicules/cycle-de-vie/README.md
  vehicules/cycle-de-vie/transport-des-vehicules.md
  vehicules/parametrage/README.md
Due: none
