Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format

app-prettier:
  name: run prettier
  language: system
  entry: 'bash -c ''npm --prefix . run fix:prettier --write "${@}"'' --
  
    '

app-ruff-check:
  name: run ruff check
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:check "${@}"'' --
  
    '

app-ruff-format:
  name: run ruff format
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:format "${@}"'' --
  
    '

Change lcia for sorghum-default
  data/lci_catalog/agribalyse-3-2/sorghum-default.json
Due: app-prettier

GITBOOK-1705: No subject
  methodes-transverses-specifiques/emballages.md
Due: none

change lcia for coffee-bean-organic
  data/lci_catalog/ginko-2025/coffee-bean-organic.json
Due: app-prettier

GITBOOK-1706: No subject
  .gitbook/assets/image (396).png
  .gitbook/assets/image (397).png
  .gitbook/assets/image (398).png
  methodes-transverses-specifiques/fin-de-vie-des-composants.md
Due: none

GITBOOK-1707: No subject
  .gitbook/assets/image (399).png
  .gitbook/assets/image (400).png
  .gitbook/assets/image (401).png
  methodes-transverses-specifiques/fin-de-vie-des-composants.md
Due: none

GITBOOK-1708: No subject
  SUMMARY.md
  methodes-transverses/composants/README.md
  methodes-transverses/composants/energies-des-etapes-de-transformation.md
  methodes-transverses/composants/procedes-acier-et-aluminium.md
  methodes-transverses/electricite-a-lutilisation.md
  methodes-transverses/emballages.md
  methodes-transverses/fin-de-vie-des-produits.md
  methodes-transverses/transport/README.md
  methodes-transverses/transport/choix-des-voies-de-transport.md
  methodes-transverses/transport/cout-environnemental-par-voie-de-transport.md
  methodes-transverses/transport/modelisation-fret-aerien.md
  vehicules/parametrage/README.md
Due: none

GITBOOK-1709: No subject
  methodes-transverses/fin-de-vie-des-produits.md
Due: none

GITBOOK-1710: No subject
  SUMMARY.md
  methodes-transverses/utilisation.md
Due: none

fix scope for viscose
  data/lci_catalog/ecoinvent-3-9-1/ei-viscose.json
Due: app-prettier

re-fix scope - acrylique
  data/lci_catalog/ecoinvent-3-9-1/ei-acrylique.json
  data/lci_catalog/ecoinvent-3-9-1/ei-viscose.json
Due: app-prettier

replaced --activities with --all and improved arguments
  data/bin/export_bw_db.py
  data/justfile
Due: app-ruff-check, app-ruff-format

Revived the ecosold1 export in the merged repo
  data/bin/export_bw_db.py
  data/ecobalyse_data/bw/ecospold_export.py
  data/ecobalyse_data/typer.py
  data/justfile
Due: app-ruff-check, app-ruff-format

fix(ecospold1): preserve real category, fix Normal uncertainty, link substitutions
  data/ecobalyse_data/bw/ecospold_export.py
Due: app-ruff-check, app-ruff-format

fixed tests
  data/tests/test_bin_scripts.py
Due: app-ruff-check, app-ruff-format

clean textile processes for veli
  data/lci_catalog/custom/bleaching-average-aquatic-pollution-scenario.json
  data/lci_catalog/custom/non-conventional-spinning-40-nm.json
  data/lci_catalog/custom/scouring.json
  data/lci_catalog/ecobalyse/battery-cell-cam-nmc811-rer.json
  data/lci_catalog/ecoinvent-3-9-1/brass.json
  data/lci_catalog/ecoinvent-3-9-1/corrugated-cardboard.json
  data/lci_catalog/ecoinvent-3-9-1/paraffin-wax.json
  data/lci_catalog/ecoinvent-3-9-1/plastic-film.json
  public/data/object/components.json
Due: app-prettier

fix cardboard scope
  data/lci_catalog/ecoinvent-3-9-1/corrugated-cardboard.json
Due: app-prettier

fix Vitrage component
  public/data/object/components.json
Due: app-prettier

fix vitrage veli: verre feuillete
  public/data/object/components.json
Due: app-prettier

feat(data,veli): add “Veli 90km/h, fabriqué en France” example
  public/data/veli/examples.json
Due: app-prettier

feat(data,veli): add “Veli 45km/h, fabriqué en France” example
  public/data/veli/examples.json
Due: app-prettier

feat: use politically correct wording for food1
  src/Page/Home.elm
  src/Views/Page.elm
Due: none

add veli 45-90 made in Fr
  public/data/veli/examples.json
Due: app-prettier

feat: use politically correct wording for food1 (#2523)
  src/Page/Home.elm
  src/Views/Page.elm
Due: none

GITBOOK-1711: No subject
  methodes-transverses/utilisation.md
Due: none

delete scope veli for tissu component
  public/data/object/components.json
Due: app-prettier

GITBOOK-1712: No subject
  methodes-transverses/utilisation.md
Due: none

GITBOOK-1713: No subject
  methodes-transverses/utilisation.md
Due: none

GITBOOK-1714: No subject
  methodes-transverses/utilisation.md
Due: none

GITBOOK-1715: No subject
  methodes-transverses/utilisation.md
Due: none

GITBOOK-1716: No subject
  methodes-transverses/utilisation.md
Due: none

GITBOOK-1717: No subject
  SUMMARY.md
  methodes-transverses/production/README.md
  methodes-transverses/production/energies-des-etapes-de-transformation.md
  methodes-transverses/production/procedes-acier-et-aluminium.md
Due: none

GITBOOK-1718: No subject
  methodes-transverses/electricite-a-lutilisation.md
  methodes-transverses/utilisation.md
Due: none

GITBOOK-1719: No subject
  SUMMARY.md
  methodes-transverses/fin-de-vie.md
Due: none

Path conditions:
  app-prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.json$
  app-ruff-check: any of: ^.*$ and \.py$
  app-ruff-format: any of: ^.*$ and \.py$
