Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
      exclude: (svg|icomoon|rapidoc-9.3.4.min.js)
    - id: trailing-whitespace
      exclude: (vendor|rapidoc-9.3.4.min.js)
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, master]

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier
        language: system
        files: ^.*$
        types_or: [javascript, json]
        entry: |
          bash -c 'npm --prefix . run fix:prettier --write "${@}"' --

      - id: app-ruff-check
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:check "${@}"' --

      - id: app-ruff-format
        name: run ruff format
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:format "${@}"' --

Remove textile product category default mass field.
  .husky/pre-commit
  public/data/textile/products.json
  src/Data/Textile/Product.elm
  src/Data/Textile/Query.elm
  src/Page/Explore/TextileProducts.elm
  tests/Data/Textile/QueryTest.elm
Due: app-prettier

Do not reset fading on product category change.
  src/Data/Textile/Query.elm
Due: none

Improve fabric process name in textile explorer.
  src/Page/Explore/TextileProducts.elm
Due: none

Updating product category enforces fading default for jeans.
  src/Data/Textile/Query.elm
  src/Page/Textile.elm
Due: none

Introduce explorer table help texts.
  src/Page/Explore/Countries.elm
  src/Page/Explore/FoodExamples.elm
  src/Page/Explore/FoodIngredients.elm
  src/Page/Explore/FoodProcesses.elm
  src/Page/Explore/Impacts.elm
  src/Page/Explore/Table.elm
  src/Page/Explore/TextileExamples.elm
  src/Page/Explore/TextileMaterials.elm
  src/Page/Explore/TextileProcesses.elm
  src/Page/Explore/TextileProducts.elm
Due: none

Simplify help texts handling.
  src/Page/Explore/TextileProducts.elm
Due: none

Switch to global table legend.
  src/Page/Explore/Countries.elm
  src/Page/Explore/FoodExamples.elm
  src/Page/Explore/FoodIngredients.elm
  src/Page/Explore/FoodProcesses.elm
  src/Page/Explore/Impacts.elm
  src/Page/Explore/Table.elm
  src/Page/Explore/TextileExamples.elm
  src/Page/Explore/TextileMaterials.elm
  src/Page/Explore/TextileProcesses.elm
  src/Page/Explore/TextileProducts.elm
Due: none

Decouple fading handling from default product value.
  src/Data/Textile/Query.elm
  src/Views/Textile/Step.elm
Due: none

feat: add semantic pr check
  .github/workflows/semantic-pr.yml
Due: none

chore: add release-please
  .github/workflows/release-please.yml
Due: none

chore: bootstrap releases for path: .
  .release-please-manifest.json
  release-please-config.json
Due: app-prettier

Improve textile product category related behaviors. (#629)
  .husky/pre-commit
  public/data/textile/products.json
  src/Data/Textile/Product.elm
  src/Data/Textile/Query.elm
  src/Page/Explore/Countries.elm
  src/Page/Explore/FoodExamples.elm
  src/Page/Explore/FoodIngredients.elm
  src/Page/Explore/FoodProcesses.elm
  src/Page/Explore/Impacts.elm
  src/Page/Explore/Table.elm
  src/Page/Explore/TextileExamples.elm
  src/Page/Explore/TextileMaterials.elm
  src/Page/Explore/TextileProcesses.elm
  src/Page/Explore/TextileProducts.elm
  src/Page/Textile.elm
  src/Views/Textile/Step.elm
  tests/Data/Textile/QueryTest.elm
Due: app-prettier

Import ginko on top of agribalyse (#621)
  backend/authentication/locale/fr/LC_MESSAGES/django.mo
  data/common/import_.py
  data/import_agribalyse.py
  public/data/food/processes.json
  public/data/food/processes_impacts.json
Due: app-prettier, app-ruff-check, app-ruff-format

Added a redirection to the registration view in case the token is invalid (#623)
  backend/authentication/locale/fr/LC_MESSAGES/django.mo
  backend/authentication/locale/fr/LC_MESSAGES/django.po
  backend/authentication/tests.py
  backend/authentication/urls.py
  backend/authentication/views.py
  backend/backend/locale/fr/LC_MESSAGES/django.po
  backend/locale/fr/LC_MESSAGES/django.mo
  backend/locale/fr/LC_MESSAGES/django.po
Due: app-ruff-check, app-ruff-format

Update backend to latest developments
  Pipfile
  Pipfile.lock
  backend/authentication/init.py
  backend/authentication/models.py
  backend/backend/settings.py
  backend/templates/admin/textile/example/change_list.html
  backend/templates/admin/textile/example/from_json.html
  backend/textile/admin.py
  backend/textile/choices.py
  backend/textile/init.py
  backend/textile/models.py
  backend/update.sh
Due: app-ruff-check, app-ruff-format

fix: remove fake details (#622)
  .env.sample
  .github/workflows/node.js.yml
  backend/backend/settings.py
  backend/processes/views.py
  bin/build-db
  public/data/food/processes_impacts_fake.json
  public/data/textile/processes_impacts_fake.json
  server.js
  src/ComputeAggregated.elm
  tests/Data/Food/RecipeTest.elm
  tests/TestUtils.elm
  tests/e2e-food.json
  tests/e2e-textile.json
Due: app-prettier, app-ruff-check, app-ruff-format

chore: add semantic-pr
  .github/workflows/semantic-pr.yml
Due: none

This is an invalid commit for testing purpose.
  README.md
Due: none

Another invalid commit.
  README.md
Due: none

chore: add semantic-pr to check PR titles (#636)
  .github/workflows/semantic-pr.yml
Due: none

Tweak README and update ALLOWED_HOSTS
  .env.sample
  README.md
  backend/backend/settings.py
Due: app-ruff-check, app-ruff-format

fix: fix fading UI activation status bug.
  public/data/textile/examples.json
  src/Data/Textile/Inputs.elm
  src/Data/Textile/Product.elm
  src/Data/Textile/Simulator.elm
  src/Page/Explore/TextileProducts.elm
  src/Views/Textile/Step.elm
  tests/e2e-textile.json
Due: app-prettier

chore: dont't format *.md files
  .prettierignore
Due: none

chore: dont't format `*.md` files (#639)
  .prettierignore
Due: none

fix: release id and release name
  .github/workflows/release-please.yml
Due: none

chore: add release-please
  .github/workflows/release-please.yml
  release-please-config.json
Due: app-prettier

fix: remove useless config file
  release-please-config.json
Due: app-prettier

fix: fix fading UI activation status bug. (#638)
  public/data/textile/examples.json
  src/Data/Textile/Inputs.elm
  src/Data/Textile/Product.elm
  src/Data/Textile/Simulator.elm
  src/Page/Explore/TextileProducts.elm
  src/Views/Textile/Step.elm
  tests/e2e-textile.json
Due: app-prettier

docs: enhance README (#612)
  .env.sample
  README.md
  backend/backend/settings.py
Due: app-ruff-check, app-ruff-format

fix: reorder for better legibility
  .github/workflows/release-please.yml
Due: none

fix: remove testing branch
  .github/workflows/release-please.yml
Due: none

chore: automate release creation (#632)
  .github/workflows/release-please.yml
Due: none

chore: remove unused code
  data/common/score_history/score_history.py
Due: app-ruff-check, app-ruff-format

feat: call API directly from python
  .github/workflows/score_history.yml
  data/common/score_history/score_history.py
Due: app-ruff-check, app-ruff-format

chore: update github action
  .github/workflows/score_history.yml
Due: none

fix complements storage [score_history]
  data/common/score_history/score_history.py
Due: app-ruff-check, app-ruff-format

remove domain from domain specific function [score_history]
  data/common/score_history/score_history.py
Due: app-ruff-check, app-ruff-format

fix: remove unused files
  tests/examplesScore.spec.js
  tests/food-examples-score.json
  tests/textile-examples-score.json
Due: app-prettier

store score history in sql db
  .github/workflows/score_history.yml
  Pipfile
  Pipfile.lock
  data/common/score_history/create_table_score_history.sql
  data/common/score_history/score_history.py
  tests/examplesScore.spec.js
  tests/food-examples-score.json
  tests/textile-examples-score.json
Due: app-prettier, app-ruff-check, app-ruff-format
