Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format

app-prettier:
  name: run prettier
  language: system
  entry: 'bash -c ''npm --prefix . run fix:prettier --write "${@}"'' --
  
    '

app-ruff-check:
  name: run ruff check
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:check "${@}"'' --
  
    '

app-ruff-format:
  name: run ruff format
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:format "${@}"'' --
  
    '

chore: add food2 scope to REM region
  public/data/countries.json
Due: app-prettier

chore: fix formatting
  public/data/transports.json
Due: app-prettier

chore: add Maghreb region
  data/common/distances/country_set.py
  public/data/countries.json
  public/data/transports.json
Due: app-prettier, app-ruff-check, app-ruff-format

correcting db of sorghum-default to Ecoinvent 3.11
  data/lci_catalog/ecoinvent-3-11/sorghum-default.json
Due: app-prettier

plantain-organic now has the same lci as banana-organic
  data/lci_catalog/ginko-2025/banana-organic.json
  data/lci_catalog/ginko-2025/plantain-organic.json
Due: app-prettier

chore: fix db migrations ordering
  backend/src/app/db/migrations/versions/2026-06-30_elec_mj_to_kwh_e93537b074f9.py
Due: app-ruff-check, app-ruff-format

apply only_impacts filter only if non empty
  data/common/export.py
Due: app-ruff-check, app-ruff-format

added synonyms
  data/import_method.py
Due: app-ruff-check, app-ruff-format

Replaced Environmenal Footprint adapted 1.0 with Environmenal Footprint adapted 1.03 from simapro
  data/common/__init__.py
  data/common/impacts.py
  data/ecobalyse_data/computation.py
  data/notebooks/explore.py
  data/settings.toml
Due: app-ruff-check, app-ruff-format

feat(data): restore flows the EF 3.1 1.03 method stopped characterizing
  data/import_method.py
Due: app-ruff-check, app-ruff-format

chore: add Maghreb region (#2568)
  data/common/distances/country_set.py
  public/data/countries.json
  public/data/transports.json
Due: app-prettier, app-ruff-check, app-ruff-format

adapted tests
  tests/Data/ComponentTest.elm
  tests/Data/Food/RecipeTest.elm
  tests/Data/Textile/SimulatorTest.elm
Due: none

adapted e2e tests
  tests/e2e-food.json
  tests/e2e-textile.json
Due: app-prettier

adapted tests
  tests/server.spec.js
Due: app-prettier

feat: update road/transport ratios
  src/Data/Transport.elm
  tests/Data/ComponentTest.elm
  tests/Data/Food/RecipeTest.elm
  tests/Data/TransportTest.elm
Due: none

fix: elm-review reports
  src/Data/Split.elm
Due: none

remove empty lci file
  data/lci_catalog/ginko-2025/plantain-organic.json
Due: app-prettier

rename max_value min_value
  data/ecobalyse_data/export/complements.py
Due: app-ruff-check, app-ruff-format

chore: add productmassdependent tag
  data/lci_catalog/custom/cooling.json
  data/lci_catalog/custom/freezing.json
  data/lci_catalog/custom/frying.json
  data/lci_catalog/custom/microwaving.json
  data/lci_catalog/custom/oven-cooking.json
  data/lci_catalog/custom/pan-cooking.json
  data/lci_catalog/custom/pan-reheating.json
Due: app-prettier

feat(generic): configurable docs links.
  public/data/components/config.json
  src/Data/Component.elm
  src/Data/Component/Config.elm
Due: app-prettier

feat: add help buttons in generic calculator stages
  public/data/components/config.json
  src/Data/Component/Config.elm
  src/Views/Component.elm
Due: app-prettier

fix: tests
  src/Data/Component/Config.elm
  tests/Data/ComponentTest.elm
Due: none

feat: add durability help button
  src/Page/Object.elm
Due: none

Path conditions:
  app-prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.json$
  app-ruff-check: any of: ^.*$ and \.py$
  app-ruff-format: any of: ^.*$ and \.py$
