Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
      exclude: (svg|icomoon|rapidoc-9.3.4.min.js)
    - id: trailing-whitespace
      exclude: (vendor|rapidoc-9.3.4.min.js)
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, master]

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier
        language: system
        files: ^.*$
        types_or: [javascript, json]
        entry: |
          bash -c 'npm --prefix . run fix:prettier --write "${@}"' --

      - id: app-ruff-check
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:check "${@}"' --

      - id: app-ruff-format
        name: run ruff format
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:format "${@}"' --

      - id: app-elm-format
        name: run elm-format
        language: system
        files: ^.*$
        types_or: [elm]
        entry: |
          bash -c 'npm --prefix . run fix:elm-format "${@}"' --

delete obsolete migration script
  data/migrations/2026-07-15-infer-raw-to-cooked-ratio.py
Due: app-ruff-check, app-ruff-format

feat(generic): render component line elements shares (#2772)
  src/Data/Component.elm
  src/Views/Component.elm
  tests/Data/ComponentTest.elm
  tests/TestUtils.elm
Due: none

refactor: simplify validation
  src/Data/Component/Config.elm
Due: none

feat: add default veli example to config
  public/data/components/config.json
Due: app-prettier

feat(generic): load scoped default examples
  src/CheckDb.elm
  src/Data/Component/Config.elm
  src/Data/Scope.elm
  src/Data/Session.elm
  src/Page/Generic.elm
Due: none

feat: add config for default examples to load
  public/data/components/config.json
Due: app-prettier

refactor: better api
  src/CheckDb.elm
  src/Data/Component/Config.elm
  src/Data/Session.elm
Due: none

feat(food2,data): add default example
  public/data/food2/examples.json
Due: app-prettier

fix: Data.Component.Config should stay dumb
  src/CheckDb.elm
  src/Data/Component/Config.elm
  src/Data/Session.elm
Due: none

fix: CheckDb lang consistency
  src/CheckDb.elm
Due: none

refactor: fn order
  src/Data/Component/Config.elm
Due: none

feat: add object default example
  public/data/components/config.json
  public/data/object/examples.json
Due: app-prettier

volca comparison script
  .justfile
  data/bin/compare_volca.py
  pyproject.toml
  uv.lock
Due: app-ruff-check, app-ruff-format

fixed ty error
  pyproject.toml
Due: none

refactor: make default example optional, simpler
  src/CheckDb.elm
  src/Data/Component/Config.elm
  src/Data/Scope.elm
  src/Data/Session.elm
  src/Page/Generic.elm
Due: none

feat: notify from invalid example id
  src/App.elm
  src/Page/Generic.elm
Due: none

feat(generic): load default simulator examples (#2782)
  public/data/components/config.json
  public/data/food2/examples.json
  public/data/object/examples.json
  src/App.elm
  src/CheckDb.elm
  src/Data/Component/Config.elm
  src/Page/Generic.elm
Due: app-prettier

GITBOOK-1770: No subject
  .gitbook/assets/image (406).png
  SUMMARY.md
  vehicules/cycle-de-vie/fin-de-vie-vehicules.md
Due: none

fix: always reset processes
  backend/src/app/cli/commands.py
  bin/load-fixtures.sh
Due: app-ruff-check, app-ruff-format

chore: @n1k0’s review
  backend/src/app/cli/commands.py
  bin/load-fixtures.sh
Due: app-ruff-check, app-ruff-format

refactor: get rid of rg
  .github/workflows/node.js.yml
  .jsonformatignore
  .pre-commit-config.yaml
  README.md
  bin/filter_ignored.sh
  bin/json_formatter.py
  package.json
  pyproject.toml
  tests/json_formatter_test.py
  uv.lock
Due: app-prettier, app-ruff-check, app-ruff-format

chore: fix formatting
  .pre-commit-config.yaml
  public/data/food/ingredients.json
  public/data/food2/examples.json
  public/data/object/examples.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

chore: remove generated file from linting
  .jsonformatignore
Due: none

fix: always reset processes (#2785)
  backend/src/app/cli/commands.py
  bin/load-fixtures.sh
Due: app-ruff-check, app-ruff-format

chore: use just
  .justfile
  package.json
Due: app-prettier

ci: add missing just dep
  .github/workflows/node.js.yml
Due: none

chore: test custom precision value
  data/tests/test_json_format_encoder.py
  packages/python/ecobalyse/ecobalyse/json.py
Due: app-ruff-check, app-ruff-format

test: add max tests
  data/tests/test_json_format_encoder.py
Due: app-ruff-check, app-ruff-format

test batch
  data/export/processes_generic.json
  data/export/processes_legacy.json
  data/lci_catalog/agribalyse-3-2/agave-default.json
  data/lci_catalog/agribalyse-3-2/alfalfa-organic-2025.json
  data/lci_catalog/agribalyse-3-2/alga.json
  data/lci_catalog/agribalyse-3-2/almond-in-shell-fr-2025.json
  data/lci_catalog/agribalyse-3-2/almond-in-shell-fr.json
  data/lci_catalog/agribalyse-3-2/anchovy-fr.json
Due: app-prettier

refactor: don’t import data deps
  bin/json_formatter.py
  data/common/export.py
  data/ecobalyse_data/json.py
  data/tests/test_export.py
  package.json
Due: app-prettier, app-ruff-check, app-ruff-format

chore: @n1k0’s review
  .pre-commit-config.yaml
Due: none

fix: pre-commit concurrent hooks
  .pre-commit-config.yaml
Due: none

remove off topic file
  data/doc/agribalyse-vers-ecobalyse.md
Due: none

chore: use batch for inserts
  backend/src/app/cli/commands.py
Due: app-ruff-check, app-ruff-format

chore: use batch for inserts (#2790)
  backend/src/app/cli/commands.py
Due: app-ruff-check, app-ruff-format

fix duplicate alias
  data/export/processes_generic.json
  data/export/processes_legacy.json
  data/lci_catalog/agribalyse-3-2/strawberry-fr-inseason.json
  data/lci_catalog/ecoinvent-3-11/spinach.json
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

update name report
  bin/check_ingredient_hierarchy.py
Due: app-ruff-check, app-ruff-format

fix: disable fixtures loading
  bin/load-fixtures.sh
Due: none
