Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format

app-prettier:
  name: run prettier
  language: system
  entry: 'bash -c ''npm --prefix . run fix:prettier --write "${@}"'' --
  
    '

app-ruff-check:
  name: run ruff check
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:check "${@}"'' --
  
    '

app-ruff-format:
  name: run ruff format
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:format "${@}"'' --
  
    '

feat(data,veli): add “Veli actif, 25km/h max, fabriqué en France” example
  public/data/veli/examples.json
Due: app-prettier

feat(data,veli): add “Veli actif, 25km/h max, assemblé en France” example
  public/data/veli/examples.json
Due: app-prettier

update wood
  public/data/veli/examples.json
Due: app-prettier

fix LFP display name
  public/data/object/components.json
Due: app-prettier

feat(data,veli): add “Veli actif, 25km/h max, Asie” example
  public/data/veli/examples.json
Due: app-prettier

feat(data,veli): add “Veli actif, 45km/h max, Asie” example
  public/data/veli/examples.json
Due: app-prettier

feat(data,veli): add “Veli actif, 45km/h max, assemblage France” example
  public/data/veli/examples.json
Due: app-prettier

fix consumption
  public/data/veli/examples.json
Due: app-prettier

feat(data,veli): add “Veli actif, 45km/h max, fabrication France” example
  public/data/veli/examples.json
Due: app-prettier

test(e2e): make the e2e test reliable without retries (#2422)
  e2e/auth.spec.js
  e2e/lib.js
Due: app-prettier

naming tests and test also processes_generic
  data/tests/test_json_consistency.py
Due: app-ruff-check, app-ruff-format

GITBOOK-1698: No subject
  SUMMARY.md
  alimentaire/impacts-consideres/etape-3-emballages.md
  alimentaire/impacts-consideres/etape-3-emballages/materiaux-demballage.md
  methodes-transverses-specifiques/fin-de-vie-des-composants.md
  methodes-transverses-specifiques/materiaux-demballage.md
Due: none

GITBOOK-1699: No subject
  SUMMARY.md
  methodes-transverses-specifiques/emballages.md
Due: none

GITBOOK-1700: No subject
  .gitbook/assets/image (394).png
  .gitbook/assets/image (395).png
  methodes-transverses-specifiques/emballages.md
Due: none

fix(ui): route to the current URL when the component config is received
  src/Main.elm
Due: none

test(e2e): wait for the page re-init to settle before selecting a tab
  e2e/auth.spec.js
  e2e/lib.js
Due: app-prettier

test(e2e): adjust timeouts to the post-login chain
  e2e/auth.spec.js
  e2e/lib.js
Due: app-prettier

display alias
  src/Data/Process.elm
  src/Page/Explore/Processes.elm
Due: none

GITBOOK-1701: No subject
  methodes-transverses-specifiques/emballages.md
Due: none

feat: render alias below display name
  src/Page/Explore/Processes.elm
Due: none

chore: display alias in explorer (#2444)
  src/Data/Process.elm
  src/Page/Explore/Processes.elm
Due: none

refactor: migrate consumptions to use QuantifiedProcess
  src/CheckDb.elm
  src/Data/Component.elm
  src/Page/Object.elm
  src/Views/Component.elm
  tests/Data/ComponentTest.elm
Due: none

fix: typos
  src/Views/Component.elm
Due: none

chore: clean code, add comments
  src/Data/Component.elm
  src/Page/Object.elm
  src/Views/Component.elm
Due: none

feat: prepare expanded packaging processes for listing
  src/Data/Component.elm
  src/Views/Component.elm
Due: none

refactor: generic quantified process list view
  src/Data/Component.elm
  src/Views/Component.elm
Due: none

feat: prepare packaging block
  src/Views/Component.elm
Due: none

fix: broken packaging list display (scroll)
  src/Views/Component.elm
Due: none

fix: typos
  src/Data/Component.elm
  src/Views/Component.elm
Due: none

feat: render packaging list
  src/Data/Component.elm
  src/Page/Admin/Component.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Views/Component.elm
Due: none

refactor: clean texh-debt (duplicated code)
  src/Page/Object.elm
  src/Views/Component.elm
Due: none

test: add stronger tests
  src/Data/Component.elm
  tests/Data/ComponentTest.elm
Due: none

feat: add packagings param to query
  src/Data/Component.elm
  src/Page/Object.elm
Due: none

style: improve styling
  src/Views/Component.elm
  styles.scss
Due: none

feat: open packaging selction modal
  src/Data/Component.elm
  src/Page/Object.elm
Due: none

Path conditions:
  app-prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.json$
  app-ruff-check: any of: ^.*$ and \.py$
  app-ruff-format: any of: ^.*$ and \.py$
