Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
      exclude: (svg|icomoon|rapidoc-9.3.4.min.js)
    - id: trailing-whitespace
      exclude: (vendor|rapidoc-9.3.4.min.js)
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, master]

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier
        language: system
        files: ^.*$
        types_or: [javascript, json]
        entry: |
          bash -c 'npm --prefix . run fix:prettier --write "${@}"' --

      - id: app-ruff-check
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:check "${@}"' --

      - id: app-ruff-format
        name: run ruff format
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:format "${@}"' --

      - id: app-elm-format
        name: run elm-format
        language: system
        files: ^.*$
        types_or: [elm]
        entry: |
          bash -c 'npm --prefix . run fix:elm-format "${@}"' --

docs: add FIXME for labels configuration
  src/Views/Component.elm
Due: none

refactor: simplify json db build
  src/Data/Generic/Db.elm
Due: none

chore: document hierarchy report
  docs/image.png
  docs/ingredient-hierarchy-report.md
Due: none

chore: fix screenshot in file
  docs/dl_hierarchy_report.png
  docs/image.png
  docs/ingredient-hierarchy-report.md
Due: none

chore: rename file
  docs/ingredient-hierarchy.md
Due: none

chore: phrasing doc
  docs/ingredient-hierarchy.md
Due: none

wording
  docs/ingredient-hierarchy.md
Due: none

docs: add new scope creation docs
  docs/adding-a-generic-scope.md
Due: none

refactor: improve new generic scope construct handling
  docs/adding-a-generic-scope.md
  src/Data/Scope.elm
Due: none

fix: github md renderer doesn't like my links
  docs/adding-a-generic-scope.md
Due: none

chore: remove admin from Elm code
  e2e/auth.spec.js
  elm.json
  src/Data/Component.elm
  src/Data/JournalEntry.elm
  src/Data/Scope.elm
  src/Data/Session.elm
  src/Data/User.elm
  src/Main.elm
  src/Page/Admin/Account.elm
  src/Page/Admin/Component.elm
  src/Page/Admin/Process.elm
  src/Page/Admin/Section.elm
  src/Request/Auth.elm
  src/Request/BackendHttp.elm
  src/Request/Component.elm
  src/Request/Journal.elm
  src/Request/Process.elm
  src/Route.elm
  src/Views/Admin.elm
  src/Views/Component.elm
  src/Views/Format.elm
  src/Views/Icon.elm
  src/Views/Page.elm
  src/Views/Scope.elm
  src/Views/WebData.elm
Due: app-prettier

chore: remove processes and components BO code
  backend/src/app/cli/commands.py
  backend/src/app/db/models/__init__.py
  backend/src/app/db/models/component.py
  backend/src/app/db/models/journal_entry.py
  backend/src/app/db/models/process.py
  backend/src/app/db/models/process_category.py
  backend/src/app/db/models/process_process_category.py
  backend/src/app/db/models/user.py
  backend/src/app/domain/components/controllers/__init__.py
  backend/src/app/domain/components/controllers/component.py
  backend/src/app/domain/components/deps.py
  backend/src/app/domain/components/schemas.py
  backend/src/app/domain/components/services.py
  backend/src/app/domain/components/urls.py
  backend/src/app/domain/contrib/schemas.py
  backend/src/app/domain/journal_entries/controllers/__init__.py
  backend/src/app/domain/journal_entries/controllers/journal_entry.py
  backend/src/app/domain/journal_entries/deps.py
  backend/src/app/domain/journal_entries/schemas.py
  backend/src/app/domain/journal_entries/services.py
  backend/src/app/domain/journal_entries/urls.py
  backend/src/app/domain/processes/controllers/__init__.py
  backend/src/app/domain/processes/controllers/process.py
  backend/src/app/domain/processes/deps.py
  backend/src/app/domain/processes/schemas.py
  backend/src/app/domain/processes/services.py
  backend/src/app/domain/processes/urls.py
  backend/src/app/server/core.py
  bin/load-fixtures.sh
  tests/backend/data_fixtures.py
  tests/backend/integration/conftest.py
  tests/backend/integration/test_access.py
  tests/backend/integration/test_components.py
  tests/backend/integration/test_journal_entries.py
  tests/backend/integration/test_load_processes_fixtures.py
  tests/backend/integration/test_processes.py
Due: app-ruff-check, app-ruff-format

chore: delete tables with migration
  backend/src/app/db/migrations/versions/2026-09-24_remove_admin_564842ed777c.py
Due: app-ruff-check, app-ruff-format

chore: remove useless commands
  README.md
  bin/reset-docker-db.sh
Due: none

chore(docs): add disclaimer about docs limits
  docs/adding-a-generic-scope.md
Due: none

chore: typos, markdown formatting
  docs/adding-a-generic-scope.md
Due: none

Add electric motor in objects
  data/lci_catalog/ecoinvent-3-9-1/electric-motor.json
Due: app-prettier

chore(docs): add docs for adding a new scope (#2839)
  docs/adding-a-generic-scope.md
  lib/plausible.js
  lib/scopes.js
  src/Data/Bookmark.elm
  src/Data/Generic/Db.elm
  src/Data/Scope.elm
  src/Page/Auth.elm
  src/Views/Bookmark.elm
  src/Views/Component.elm
  src/Views/Page.elm
  tests/Data/ScopeTest.elm
  tests/lib/scopes.spec.js
Due: app-prettier

chore: add 'agrégé' in old processes
  data/lci_catalog/agribalyse-3-2/carrot-juice.json
  data/lci_catalog/agribalyse-3-2/comte-aop.json
  data/lci_catalog/agribalyse-3-2/flour.json
  public/data/food2/components.json
Due: app-prettier

correct-lci-for-ingredient-hierarchy-anomaly
  data/lci_catalog/agribalyse-3-2/bay-leaf-fr.json
  data/lci_catalog/agribalyse-3-2/cucumber-fr-offseason.json
  data/lci_catalog/agribalyse-3-2/peach-organic.json
  data/lci_catalog/agribalyse-3-2/tomato-greenhouse-eu.json
  data/lci_catalog/ecoinvent-3-11/mint.json
  data/lci_catalog/ginko-2025/alfalfa-organic.json
  data/lci_catalog/ginko-2025/flaxseed-organic.json
Due: app-prettier

chore: export processes
  data/export/processes_generic.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

feat(data,object): Add electric motor in objects (#2846)
  data/export/processes_generic.json
  data/lci_catalog/ecoinvent-3-9-1/electric-motor.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

chore: new export
  data/export/processes_generic.json
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

feat: add koch ingredients and components (#2836)
  data/export/processes_generic.json
  data/food/taxonomy.json
  data/food/taxonomy_with_aliases.json
  data/lci_catalog/agribalyse-3-2/carrot-juice.json
  data/lci_catalog/agribalyse-3-2/comte-aop.json
  data/lci_catalog/agribalyse-3-2/flour.json
  data/lci_catalog/ecobalyse_manual_lcia/carrot-juice-pressing.json
  data/lci_catalog/ecobalyse_manual_lcia/cheese-making-comte.json
  data/lci_catalog/ecobalyse_manual_lcia/wheat-milling.json
  docs/dl_hierarchy_report.png
  docs/ingredient-hierarchy.md
  public/data/food/ingredients.json
  public/data/food2/components.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

fix: hide element delete btn when only one
  src/Views/Component.elm
Due: none

feat: implement suggested ux for item edit modal
  src/Views/Component.elm
  styles.scss
Due: none

feat(generic): new production item elements modal editor
  src/Data/Component.elm
  src/Page/Admin/Component.elm
  src/Page/Generic.elm
  src/Page/Textile.elm
  src/Views/Component.elm
Due: none

fix: avoid expanding on adding new item
  src/Page/Generic.elm
Due: none

refactor: avoid repeating table header
  src/Views/Component.elm
Due: none

chore: update icomoon iconset
  public/icomoon/fonts/icomoon.eot
  public/icomoon/fonts/icomoon.svg
  public/icomoon/fonts/icomoon.ttf
  public/icomoon/fonts/icomoon.woff
  public/icomoon/selection.json
  public/icomoon/style.css
Due: app-prettier

chore: remove obsolete code
  src/Data/Component.elm
  src/Data/Process.elm
  src/Views/Component.elm
Due: none

fix: item row details toggler a11y
  src/Views/Component.elm
Due: none

fix: finally don't use btn labels as they're confusing
  src/Views/Component.elm
Due: none

fix: remove unecessary row headers
  src/Views/Component.elm
Due: none

feat: use appropriate wording
  src/Views/Component.elm
Due: none

chore: drop component admin entirely
  e2e/auth.spec.js
  elm.json
  src/Data/Component.elm
  src/Data/JournalEntry.elm
  src/Main.elm
  src/Page/Admin/Component.elm
  src/Page/Admin/Section.elm
  src/Request/BackendHttp.elm
  src/Request/Component.elm
  src/Request/Journal.elm
  src/Views/Admin.elm
  src/Views/Component.elm
  src/Views/Format.elm
  src/Views/Icon.elm
  src/Views/Page.elm
  src/Views/Scope.elm
Due: app-prettier

fix: explicit 404 component admin, aadmin defaults to accunts
  e2e/auth.spec.js
  src/Page/Admin/Section.elm
  src/Views/Page.elm
Due: app-prettier

feat: highlight expanded item row
  src/Views/Component.elm
Due: none

fix: consistent sizing
  src/Views/Component.elm
Due: none

style: vertical rythmn
  src/Views/Component.elm
Due: none
