Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format, dont-commit-detailed-processes

app-prettier:
  name: run prettier
  language: system
  entry: 'bash -c ''npm --prefix . run fix:prettier --write "${@}"'' --
  
    '

app-ruff-check:
  name: run ruff check
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:check "${@}"'' --
  
    '

app-ruff-format:
  name: run ruff format
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:format "${@}"'' --
  
    '

dont-commit-detailed-processes:
  name: check that we don't commit processes_impacts.json
  language: system
  entry: 'bash -c ''echo "⚠️ Prevented pushing detailed impacts data to public git repository. To update these, clone and push to the ecobalyse-private repository.";exit 1''
  
    '

chore: elec name
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

chore: change elec name (#1288)
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

fix(textile)!: handle elec and heat for ArtificialFromOrganic materials
  src/Data/Textile/Formula.elm
  src/Data/Textile/Material/Origin.elm
  src/Data/Textile/Simulator.elm
  src/Views/Textile/Step.elm
  tests/Data/Textile/SimulatorTest.elm
  tests/e2e-textile.json
Due: app-prettier

refactor: compute pretreatments tox only once
  src/Data/Textile/Dyeing.elm
  src/Data/Textile/Formula.elm
  src/Data/Textile/Simulator.elm
  src/Data/Textile/Step.elm
  src/Views/Textile/Step.elm
  tests/Data/Textile/SimulatorTest.elm
  tests/e2e-textile.json
Due: app-prettier

fix: remove double bleaching application
  src/Data/Textile/Formula.elm
  src/Data/Textile/Simulator.elm
  src/Data/Textile/WellKnown.elm
  src/Views/Textile/Step.elm
  tests/Data/Textile/SimulatorTest.elm
  tests/e2e-textile.json
Due: app-prettier

fix: aquatic pollution scenario to intrinsic impacts only
  src/Data/Textile/Formula.elm
  tests/Data/Textile/SimulatorTest.elm
Due: none

fix: make tests pass but investigation needed
  tests/server.spec.js
Due: app-prettier

fix: tests
  tests/Data/Textile/SimulatorTest.elm
  tests/e2e-textile.json
Due: app-prettier

feat: render detailed toxicity details
  src/Views/Textile/Step.elm
Due: none

fix(textile)!: apply bleaching pretreatments energy mix impacts (#1282)
  src/Data/Textile/Dyeing.elm
  src/Data/Textile/Formula.elm
  src/Data/Textile/Material/Origin.elm
  src/Data/Textile/Simulator.elm
  src/Data/Textile/Step.elm
  src/Data/Textile/WellKnown.elm
  src/Views/Textile/Step.elm
  tests/e2e-textile.json
  tests/server.spec.js
Due: app-prettier

refactor: handle truely optional trims
  src/Data/Textile/Inputs.elm
  src/Data/Textile/Query.elm
  src/Data/Textile/Simulator.elm
  src/Data/Textile/Validation.elm
  src/Page/Explore/TextileExamples.elm
  src/Page/Textile.elm
  tests/Data/Textile/SimulatorTest.elm
  tests/Server/RouteTest.elm
Due: none

fix(textile): ensure examples match default product trim defaults.
  src/Page/Explore/TextileProducts.elm
Due: none

fix: trims weight was substracted instead of added
  src/Data/Textile/Simulator.elm
  tests/Data/Textile/SimulatorTest.elm
  tests/e2e-textile.json
  tests/server.spec.js
Due: app-prettier

Revert "fix: trims weight was substracted instead of added"
  src/Data/Textile/Simulator.elm
  tests/Data/Textile/SimulatorTest.elm
  tests/e2e-textile.json
  tests/server.spec.js
Due: app-prettier

fix: tests
  tests/Data/Textile/SimulatorTest.elm
  tests/e2e-textile.json
  tests/server.spec.js
Due: app-prettier

fix(textile)!: limit printing ratio to 80% max
  openapi.yaml
  src/Data/Split.elm
  src/Data/Textile/Printing.elm
  src/Page/Api.elm
  src/Views/Textile/Step.elm
  tests/Data/SplitTest.elm
  tests/server.spec.js
Due: app-prettier

chore: polish
  backend/src/app/domain/accounts/controllers/access.py
  src/Page/Admin/Account.elm
  src/Views/Admin.elm
Due: app-ruff-check, app-ruff-format

fix: tests
  e2e/auth.spec.js
Due: app-prettier

feat: implement basic filters
  src/Page/Admin/Account.elm
Due: none

feat: render enabled filters, allow removing
  src/Page/Admin/Account.elm
Due: none

fix: superuser check
  src/Main.elm
Due: none

feat(bo): add a backend api endpoint to list accounts
  backend/src/app/domain/accounts/controllers/access.py
  backend/src/app/domain/accounts/urls.py
Due: app-ruff-check, app-ruff-format

refactor: clean code
  backend/src/app/domain/accounts/urls.py
  src/Data/Session.elm
  src/Main.elm
  src/Page/Admin/Account.elm
  src/Page/Explore/Processes.elm
  src/Views/Page.elm
Due: app-ruff-check, app-ruff-format

feat: allow sorting accounts table
  src/Page/Admin/Account.elm
Due: none

refactor: avoid using a dict for no reason
  src/Page/Admin/Account.elm
Due: none

chore: improve mobile responsiveness
  src/Page/Admin/Account.elm
  src/Page/Admin/Section.elm
  src/Views/Admin.elm
Due: none

chore: improve ui/ux
  src/Page/Admin/Account.elm
  src/Page/Admin/Component.elm
  src/Page/Admin/Section.elm
  src/Views/Admin.elm
Due: none

feat: add account admin page
  src/Data/User.elm
  src/Main.elm
  src/Page/Admin/Account.elm
  src/Page/Admin/Component.elm
  src/Page/Admin/Section.elm
  src/Route.elm
  src/Views/Admin.elm
  src/Views/Page.elm
Due: none

style: improve ui
  src/Page/Admin/Account.elm
Due: none

chore: add backend api tests for accounts
  backend/src/app/domain/accounts/controllers/access.py
  backend/src/app/domain/accounts/schemas.py
  tests/backend/integration/test_access.py
Due: app-ruff-check, app-ruff-format

fix: e2e tests
  e2e/auth.spec.js
  src/Views/Admin.elm
Due: app-prettier

feat: add db waning
  src/Page/Admin/Account.elm
  src/Page/Admin/Component.elm
Due: none

refactor: clean code
  src/Page/Admin/Account.elm
  src/Page/Admin/Component.elm
  src/Views/WebData.elm
Due: none

feat: render terms and optin fields
  src/Page/Admin/Account.elm
Due: none

refactor: improve filters layout
  src/Page/Admin/Account.elm
  src/Views/Admin.elm
Due: none

feat: add joinedAt field support
  backend/src/app/domain/accounts/schemas.py
  src/Data/User.elm
  src/Page/Admin/Account.elm
  src/Views/Format.elm
  tests/backend/integration/test_access.py
Due: app-ruff-check, app-ruff-format

feat: add accounts request api
  src/Data/User.elm
  src/Request/Auth.elm
Due: none

chore: clean code
  src/Page/Admin/Section.elm
  src/Route.elm
Due: none

feat: allow configuring version polling interval
  .env.sample
  README.md
  index.js
  src/Data/Session.elm
  src/Main.elm
  src/Request/Version.elm
Due: app-prettier

adapted tests
  tests/e2e-textile.json
  tests/server.spec.js
Due: app-prettier

Path conditions:
  app-prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.json$
  app-ruff-check: any of: ^.*$ and \.py$
  app-ruff-format: any of: ^.*$ and \.py$
  dont-commit-detailed-processes: any of: ^processes_impacts.json$
