Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format

app-prettier:
  name: run prettier
  language: system
  entry: 'bash -c ''npm --prefix . run fix:prettier --write "${@}"'' --
  
    '

app-ruff-check:
  name: run ruff check
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:check "${@}"'' --
  
    '

app-ruff-format:
  name: run ruff format
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:format "${@}"'' --
  
    '

fix: disable fixtures loading (#2791)
  bin/load-fixtures.sh
Due: none

floor uv version
  pyproject.toml
Due: none

update to 0.12
  pyproject.toml
Due: none

remove unnecessary fix
  .pre-commit-config.yaml
Due: none

chore: uv version >= 0.12 (#2794)
  pyproject.toml
Due: none

chore: hiding hierarchy anomalies / changing lci (#2652)
  data/export/processes_generic.json
  data/export/processes_legacy.json
  data/food/taxonomy_with_aliases.json
  data/lci_catalog/agribalyse-3-2/peach-organic.json
  data/lci_catalog/agribalyse-3-2/soft-wheat-default.json
  data/lci_catalog/agribalyse-3-2/soft-wheat-eu.json
  data/lci_catalog/agribalyse-3-2/spinach.json
  data/lci_catalog/agribalyse-3-2/strawberry-fr-inseason.json
  data/lci_catalog/agribalyse-3-2/strawberry-fr-offseason.json
  data/lci_catalog/agribalyse-3-2/strawberry-fr.json
  data/lci_catalog/ecoinvent-3-11/spinach.json
  data/lci_catalog/ginko-2025/avocado-organic.json
  data/lci_catalog/ginko-2025/bell-pepper-green-yellow-or-red-organic.json
  data/lci_catalog/ginko-2025/broccoli-organic.json
  data/lci_catalog/ginko-2025/chestnut-organic.json
  data/lci_catalog/ginko-2025/durum-wheat-grain-organic-fr.json
  data/lci_catalog/ginko-2025/elderberry-organic.json
  data/lci_catalog/ginko-2025/grape-black-or-white-organic.json
  data/lci_catalog/ginko-2025/hemp-grain-organic.json
  data/lci_catalog/ginko-2025/olive-organic.json
  data/lci_catalog/ginko-2025/radish-organic.json
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

add consumption in categories- test
  public/data/veli/categories.json
Due: app-prettier

chore: set massPerUnit to one for waters
  data/export/processes_generic.json
  data/export/processes_legacy.json
  data/lci_catalog/agribalyse-3-2/spring-water-default.json
  data/lci_catalog/agribalyse-3-2/spring-water-fr.json
  data/lci_catalog/agribalyse-3-2/water-extraction-container-filling-and-grouping-at-water-factory.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

chore: add plant-based milk assembly
  data/export/processes_generic.json
  data/lci_catalog/ecobalyse_manual_lcia/assembly-plant-based-milk-high.json
  data/lci_catalog/ecobalyse_manual_lcia/assembly-plant-based-milk-low.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

fix: duplicate id
  data/common/export.py
  data/export/processes_generic.json
  data/lci_catalog/ecobalyse_manual_lcia/assembly-plant-based-milk-high.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier, app-ruff-check, app-ruff-format

chore: force scalingo 26
  scalingo.json
Due: app-prettier

update categories
  public/data/veli/categories.json
Due: app-prettier

chore: install required wget
  Aptfile
Due: none

chore: avoid using `master` as default branch
  buildpack-run.sh
Due: none

fix formatting
  public/data/veli/categories.json
Due: app-prettier

fix formatting 2
  public/data/veli/categories.json
Due: app-prettier

chore: @n1k0’s review
  .gitconfig
Due: none

chore: scalingo 26 compat (#2801)
  .gitconfig
  Aptfile
  buildpack-run.sh
  scalingo.json
Due: app-prettier

chore: cache db to improve api server performances
  src/Server.elm
Due: none

feat: add beta notice, wording
  openapi.yaml
  src/Page/Api.elm
Due: none

refactor: identify expected test objects by name
  tests/server.spec.js
Due: app-prettier

refactor: add comment
  src/Server.elm
Due: none

chore: add draft generic section to openapi.yml
  openapi.yaml
Due: none

fix: accept empty queries
  openapi.yaml
  src/Data/Common/DecodeUtils.elm
  src/Server/Route.elm
  tests/Server/RouteTest.elm
  tests/server.spec.js
Due: app-prettier

refactor: api paths, eager config loaded in server
  openapi.yaml
  src/Data/Process.elm
  src/Server.elm
  src/Server/Route.elm
  tests/Server/RouteTest.elm
Due: none

chore: remove obsoleete comment
  src/Views/Bookmark.elm
Due: none

chore: encode product categ
  src/Data/Component/ProductCategory.elm
Due: none

refactor: clean code
  src/Server.elm
  src/Server/Route.elm
  tests/Server/RouteTest.elm
Due: none

chore: add tests
  tests/Server/RouteTest.elm
  tests/Server/ServerTest.elm
Due: none

feat: complete query string representation
  src/Data/Component.elm
  src/Server.elm
  tests/Data/ComponentTest.elm
  tests/TestUtils.elm
Due: none

feat: force food2 default scope for generic endpoints
  openapi.yaml
Due: none

chore: improve api docs
  openapi.yaml
Due: none

chore: add server routes
  src/Data/Scope.elm
  src/Server/Route.elm
Due: none

refactor: improve filtering api$
  src/Server.elm
Due: none

feat: expose and encode process category
  openapi.yaml
  src/Server.elm
Due: none

chore: add api changelog
  src/Page/Api.elm
Due: none

feat: add generic api server endpoints
  src/Server.elm
Due: none

refactor: add a bunch of FIXME
  openapi.yaml
Due: none

chore: add api server tests
  tests/server.spec.js
Due: app-prettier

Path conditions:
  app-prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.json$
  app-ruff-check: any of: ^.*$ and \.py$
  app-ruff-format: any of: ^.*$ and \.py$
