Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format

app-prettier:
  name: run prettier
  language: system
  entry: 'bash -c ''npm --prefix . run fix:prettier --write "${@}"'' --
  
    '

app-ruff-check:
  name: run ruff check
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:check "${@}"'' --
  
    '

app-ruff-format:
  name: run ruff format
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:format "${@}"'' --
  
    '

@nicolaspkandeel review
  src/Views/Component.elm
Due: none

chore: remove dead code
  src/Data/Country.elm
  tests/Data/CountryTest.elm
Due: none

refactor: move qtyVariationRatio formatting to Format
  src/Views/Component.elm
  src/Views/Format.elm
Due: none

create processes
  data/custom_lci.json
  data/lci_catalog/ecobalyse_custom_lci/vehicle-ev-other-materials-rer.json
  data/lci_catalog/ecobalyse_custom_lci/vehicle-ev-other-materials-row.json
Due: app-prettier

fix format
  data/custom_lci.json
Due: app-prettier

chore: export processes
  data/custom_lci.json
  data/export/processes_generic.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

chore: correction material_type
  data/export/processes_generic.json
  data/lci_catalog/ecobalyse_custom_lci/vehicle-ev-other-materials-rer.json
  data/lci_catalog/ecobalyse_custom_lci/vehicle-ev-other-materials-row.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

fix pvc process and precise amount
  data/custom_lci.json
Due: app-prettier

clean obsolete processes and fix uuid
  data/custom_lci.json
  data/lci_catalog/ecobalyse_custom_lci/ev-other-materials-rer.json
  data/lci_catalog/ecobalyse_custom_lci/ev-other-materials-row.json
  data/lci_catalog/ecobalyse_custom_lci/vehicle-ev-other-materials-rer.json
  data/lci_catalog/ecobalyse_custom_lci/vehicle-ev-other-materials-row.json
Due: app-prettier

chore: new export
  data/export/processes_generic.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

fix amounts
  data/custom_lci.json
Due: app-prettier

chore: add assembly waste propagation test
  src/Data/Component.elm
  tests/Data/ComponentTest.elm
Due: none

refactor: factor out test helper
  tests/Data/ComponentTest.elm
  tests/TestUtils.elm
Due: none

create materials and test "[composant]" mention
  public/data/object/components.json
Due: app-prettier

fix errors
  public/data/object/components.json
Due: app-prettier

@vjousse review
  src/Data/Component.elm
Due: none

new export
  data/export/processes_generic.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

refactor: rename test helpers
  tests/Data/ComponentTest.elm
  tests/TestUtils.elm
Due: none

feat(generic): implement assembly operations (#2683)
  backend/src/app/domain/processes/schemas.py
  data/export/processes_generic.json
  data/lci_catalog/ecobalyse_manual_lcia/vehicle-assembling-regulatory.json
  data/lci_catalog/ecobalyse_manual_lcia/vehicle-assembling.json
  public/data/food2/examples.json
  public/data/object/examples.json
  public/data/processes.json
  public/data/processes_impacts.json
  public/data/veli/examples.json
  src/Data/Color.elm
  src/Data/Component.elm
  src/Data/Country.elm
  src/Data/Food/Recipe.elm
  src/Data/Impact.elm
  src/Data/Process/Category.elm
  src/Data/Stages.elm
  src/Data/Textile/Simulator.elm
  src/Page/Admin/Component.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Views/Component.elm
  src/Views/Format.elm
  src/Views/ImpactTabs.elm
  tests/Data/ComponentTest.elm
  tests/Data/CountryTest.elm
  tests/Server/RouteTest.elm
  tests/TestUtils.elm
Due: app-prettier, app-ruff-check, app-ruff-format

fix: skip OS-level dark styles in Highcharts
  src/Views/Page.elm
Due: none

add material and finalize "[composant]" mention
  public/data/object/components.json
Due: app-prettier

fix uuid and plastics transfo, add recycled PET
  public/data/object/components.json
Due: app-prettier

feat(data,veli): create processes for EV "other materials" (#2687)
  data/custom_lci.json
  data/export/processes_generic.json
  data/lci_catalog/ecobalyse_custom_lci/vehicle-ev-other-materials-rer.json
  data/lci_catalog/ecobalyse_custom_lci/vehicle-ev-other-materials-row.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

fix scope format
  public/data/object/components.json
Due: app-prettier

fix format
  public/data/object/components.json
Due: app-prettier

GITBOOK-1763: No subject
  SUMMARY.md
  textile/durabilite.md
Due: none

fix "composant" mention
  public/data/object/components.json
Due: app-prettier

fix material name formatting
  public/data/object/components.json
Due: app-prettier

add [composant] mention to non detailled components
  public/data/object/components.json
Due: app-prettier

fix(stable): prevent bookmarks data loss
  lib/store.js
  tests/lib/store.spec.js
Due: app-prettier

refactor: test wording
  tests/lib/store.spec.js
Due: app-prettier

refactor: rmeove redundant test
  lib/store.js
  tests/lib/store.spec.js
Due: app-prettier

chore: encode pydantic models to json
  backend/src/app/config/base.py
  backend/src/app/domain/journal_entries/controllers/journal_entry.py
  backend/src/app/lib/schema.py
  tests/backend/integration/conftest.py
Due: app-ruff-check, app-ruff-format

chore: remove msgspec (wip)
  backend/src/app/asgi.py
  backend/src/app/cli/commands.py
  backend/src/app/config/app.py
  backend/src/app/db/models/journal_entry.py
  backend/src/app/domain/accounts/schemas.py
  backend/src/app/domain/components/schemas.py
  backend/src/app/domain/components/services.py
  backend/src/app/domain/journal_entries/schemas.py
  backend/src/app/domain/processes/schemas.py
  backend/src/app/lib/schema.py
  tests/backend/integration/test_processes.py
Due: app-ruff-check, app-ruff-format

chore: remove deprecation warnings
  backend/src/app/domain/accounts/controllers/access.py
  backend/src/app/domain/accounts/schemas.py
  backend/src/app/domain/components/controllers/component.py
  backend/src/app/domain/contrib/controllers/contrib.py
  backend/src/app/domain/contrib/schemas.py
  backend/src/app/domain/journal_entries/controllers/journal_entry.py
  backend/src/app/domain/processes/controllers/process.py
  backend/src/app/domain/system/controllers.py
Due: app-ruff-check, app-ruff-format

fix: journal tests
  tests/backend/integration/conftest.py
  tests/backend/integration/test_journal_entries.py
Due: app-ruff-check, app-ruff-format

fix: encode uuids with -
  tests/backend/integration/conftest.py
  tests/backend/integration/test_journal_entries.py
Due: app-ruff-check, app-ruff-format

fix: test user profile update
  backend/src/app/db/models/user.py
  backend/src/app/db/models/user_profile.py
  backend/src/app/domain/accounts/controllers/access.py
  backend/src/app/domain/accounts/schemas.py
  tests/backend/integration/test_access.py
Due: app-ruff-check, app-ruff-format

Path conditions:
  app-prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.json$
  app-ruff-check: any of: ^.*$ and \.py$
  app-ruff-format: any of: ^.*$ and \.py$
