Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
      exclude: (svg|icomoon|rapidoc-9.3.4.min.js)
    - id: trailing-whitespace
      exclude: (vendor|rapidoc-9.3.4.min.js)
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, master]

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier
        language: system
        files: ^.*$
        types_or: [javascript, json]
        entry: |
          bash -c 'npm --prefix . run fix:prettier --write "${@}"' --

      - id: app-ruff-check
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:check "${@}"' --

      - id: app-ruff-format
        name: run ruff format
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:format "${@}"' --

      - id: app-elm-format
        name: run elm-format
        language: system
        files: ^.*$
        types_or: [elm]
        entry: |
          bash -c 'npm --prefix . run fix:elm-format "${@}"' --

formatting3
  public/data/veli/categories.json
Due: app-prettier

fix: fix openapi schema validation errors
  docker/server-simple.js
  openapi.yaml
  server.js
  tests/server.spec.js
Due: app-prettier

add diesel and petrol consumption
  public/data/veli/categories.json
Due: app-prettier

fixed ty error
  pyproject.toml
Due: none

cloud→graph
  data/bin/compare_volca.py
Due: app-ruff-check, app-ruff-format

use an output path aligned with other scripts
  data/bin/compare_volca.py
Due: app-ruff-check, app-ruff-format

use another ty solution
  pyproject.toml
Due: none

Move in the last section "Testing" which becomes "Testing and analysing"
  .justfile
Due: none

clearer docstring
  data/bin/compare_volca.py
Due: app-ruff-check, app-ruff-format

volca comparison script
  .justfile
  data/bin/compare_volca.py
  pyproject.toml
  uv.lock
Due: app-ruff-check, app-ruff-format

fix(data): fix some characterizations
  data/import_method.py
  data/simapro-biosphere.json
  data/tests/test_rename_table.py
Due: app-prettier, app-ruff-check, app-ruff-format

test modification
  tests/Data/ComponentTest.elm
Due: none

fix after test
  public/data/veli/categories.json
Due: app-prettier

feat(data,veli): add consumption in categories definition (#2798)
  public/data/veli/categories.json
  tests/Data/ComponentTest.elm
Due: app-prettier

chore: add plant-based milk assembly (#2800)
  data/common/export.py
  data/export/processes_generic.json
  data/lci_catalog/ecobalyse_manual_lcia/assembly-plant-based-milk-high.json
  data/lci_catalog/ecobalyse_manual_lcia/assembly-plant-based-milk-low.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier, app-ruff-check, app-ruff-format

chore: set massPerUnit to one for waters
  data/export/processes_generic.json
  data/export/processes_legacy.json
  data/lci_catalog/agribalyse-3-2/spring-water-default.json
  data/lci_catalog/agribalyse-3-2/spring-water-fr.json
  data/lci_catalog/agribalyse-3-2/water-extraction-container-filling-and-grouping-at-water-factory.json
  public/data/processes.json
Due: app-prettier

chore: add massperunit to water (#2799)
  data/export/processes_generic.json
  data/export/processes_legacy.json
  data/lci_catalog/agribalyse-3-2/spring-water-default.json
  data/lci_catalog/agribalyse-3-2/spring-water-fr.json
  data/lci_catalog/agribalyse-3-2/water-extraction-container-filling-and-grouping-at-water-factory.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

GITBOOK-1771: No subject
  .gitbook/assets/XD_Coefficient durabilité 20260914 v5.0.xlsx
  .gitbook/assets/XD_GT_ACV_Coefficient durabilité 20241118 v3.0.xlsx
  vehicules/durabilite-des-vehicules.md
Due: none

remove useless columns, update branch name
  bin/check_ingredient_hierarchy.py
Due: app-ruff-check, app-ruff-format

fix: remove token cache
  backend/src/app/lib/crypt.py
Due: app-ruff-check, app-ruff-format

fix: ty warnings
  backend/src/app/domain/accounts/guards.py
  backend/src/app/domain/accounts/services.py
  backend/src/app/lib/crypt.py
Due: app-ruff-check, app-ruff-format

feat(data): volca comparison script (#2783)
  .justfile
  data/bin/compare_volca.py
  pyproject.toml
  uv.lock
Due: app-ruff-check, app-ruff-format

chore: add server routes
  src/Data/Scope.elm
  src/Server/Route.elm
Due: none

chore: add api changelog
  src/Page/Api.elm
Due: none

refactor: add a bunch of FIXME
  openapi.yaml
Due: none

chore: remove obsoleete comment
  src/Views/Bookmark.elm
Due: none

feat: add generic api server endpoints
  src/Server.elm
Due: none

feat: add beta notice, wording
  openapi.yaml
  src/Page/Api.elm
Due: none

chore: encode product categ
  src/Data/Component/ProductCategory.elm
Due: none

chore: add tests
  tests/Server/RouteTest.elm
  tests/Server/ServerTest.elm
Due: none

refactor: api paths, eager config loaded in server
  openapi.yaml
  src/Data/Process.elm
  src/Server.elm
  src/Server/Route.elm
  tests/Server/RouteTest.elm
Due: none

chore: add api server tests
  tests/server.spec.js
Due: app-prettier

refactor: improve filtering api$
  src/Server.elm
Due: none

chore: add draft generic section to openapi.yml
  openapi.yaml
Due: none

chore: cache db to improve api server performances
  src/Server.elm
Due: none

refactor: identify expected test objects by name
  tests/server.spec.js
Due: app-prettier

docs: add api docs
  public/pages/api-docs.md
  src/Data/Component.elm
Due: none

chore: improve api docs
  openapi.yaml
Due: none
