Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format, dont-commit-detailed-processes

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
      exclude: (svg|icomoon|rapidoc-9.3.4.min.js)
    - id: trailing-whitespace
      exclude: (vendor|rapidoc-9.3.4.min.js)
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, master]

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier
        language: system
        files: ^.*$
        types_or: [javascript, json]
        entry: |
          bash -c 'npm --prefix . run fix:prettier --write "${@}"' --

      - id: app-ruff-check
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:check "${@}"' --

      - id: app-ruff-format
        name: run ruff format
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:format "${@}"' --

      - id: dont-commit-detailed-processes
        name: check that we don't commit processes_impacts.json
        language: system
        files: ^processes_impacts.json$
        entry: |
          bash -c 'echo "⚠️ Prevented pushing detailed impacts data to public git repository. To update these, clone and push to the ecobalyse-private repository.";exit 1'

format and test for python and js
  data/__init__.py
  data/common/export.py
  number-formatter.js
  tests/format_number.test.js
  tests/test_format_number.py
Due: app-prettier, app-ruff-check, app-ruff-format

fix test in js and py
  number-formatter.js
  tests/format_number.test.js
  tests/test_format_number.py
Due: app-prettier, app-ruff-check, app-ruff-format

GITBOOK-1089: No subject
  textile/cycle-de-vie-des-produits-textiles/etape-2-fabrication-du-fil.md
  textile/cycle-de-vie-des-produits-textiles/tricotage-tissage.md
Due: none

clean format_number js
  number-formatter.js
  tests/format_number.test.js
Due: app-prettier

feat: implement api json encoding using special formatter.
  Pipfile
  Pipfile.lock
  lib/json.js
  server.js
  tests/e2e-food.json
  tests/e2e-textile.json
  tests/json.test.js
Due: app-prettier

test: add test for serialize().
  tests/json.test.js
Due: app-prettier

fix: handle NaN case.
  lib/json.js
  tests/json.test.js
Due: app-prettier

fix: ensure backward compatibility with json indent.
  lib/json.js
  tests/json.test.js
Due: app-prettier

fix: wtf prettier. wtf.
  tests/e2e-food.json
Due: app-prettier

fix: fix ruff yelling at me.
  data/common/import_.py
  data/food/export.py
Due: app-ruff-check, app-ruff-format

fix: add missing python unit test cases.
  data/common/__init__.py
  tests/test_format_number.py
Due: app-ruff-check, app-ruff-format

GITBOOK-1091: No subject
  .gitbook/assets/image (330).png
  .gitbook/assets/image (331).png
  SUMMARY.md
  vehicules/README.md
  vehicules/cycle-de-vie-des-vehicules/README.md
  vehicules/cycle-de-vie-des-vehicules/fabrication-des-composants/README.md
  vehicules/cycle-de-vie-des-vehicules/fabrication-des-composants/assise.md
  vehicules/cycle-de-vie-des-vehicules/fabrication-des-composants/autres-composants.md
  vehicules/cycle-de-vie-des-vehicules/fabrication-des-composants/batterie.md
  vehicules/cycle-de-vie-des-vehicules/fabrication-des-composants/chassis-and-carrosserie/README.md
  vehicules/cycle-de-vie-des-vehicules/fabrication-des-composants/chassis-and-carrosserie/acier-et-aluminium-methodes-detaillees.md
  vehicules/cycle-de-vie-des-vehicules/fabrication-des-composants/chassis-and-carrosserie/transformation-finition.md
  vehicules/cycle-de-vie-des-vehicules/fabrication-des-composants/jantes-roues.md
  vehicules/cycle-de-vie-des-vehicules/fabrication-des-composants/moteur.md
  vehicules/cycle-de-vie-des-vehicules/fabrication-des-composants/pneumatiques.md
  vehicules/cycle-de-vie-des-vehicules/fabrication-des-composants/systeme-photovoltaiques.md
  vehicules/cycle-de-vie-des-vehicules/methodes.md
  vehicules/cycle-de-vie-des-vehicules/transport-des-composants.md
  vehicules/cycle-de-vie-des-vehicules/transport-des-vehicules.md
  vehicules/cycle-de-vie-des-vehicules/utilisation-du-vehicule/README.md
  vehicules/cycle-de-vie-des-vehicules/utilisation-du-vehicule/energie-apportee-par-des-panneaux-solaires-photovoltaique.md
  vehicules/durabilite-physique.md
  vehicules/exemples/README.md
  vehicules/exemples/caracteristiques-du-vehicule.md
  vehicules/parametrage.md
Due: none

GITBOOK-1092: No subject
  SUMMARY.md
  vehicules/README.md
  vehicules/cycle-de-vie-des-vehicules/README.md
  vehicules/cycle-de-vie-des-vehicules/methodes.md
  vehicules/exemples/README.md
  vehicules/parametrage.md
  vehicules/vehicules/README.md
  vehicules/vehicules/fabrication-des-composants/README.md
  vehicules/vehicules/fabrication-des-composants/assise.md
  vehicules/vehicules/fabrication-des-composants/autres-composants.md
  vehicules/vehicules/fabrication-des-composants/batterie.md
  vehicules/vehicules/fabrication-des-composants/chassis-and-carrosserie/README.md
  vehicules/vehicules/fabrication-des-composants/chassis-and-carrosserie/acier-et-aluminium-methodes-detaillees.md
  vehicules/vehicules/fabrication-des-composants/chassis-and-carrosserie/transformation-finition.md
  vehicules/vehicules/fabrication-des-composants/jantes-roues.md
  vehicules/vehicules/fabrication-des-composants/moteur.md
  vehicules/vehicules/fabrication-des-composants/pneumatiques.md
  vehicules/vehicules/fabrication-des-composants/systeme-photovoltaiques.md
  vehicules/vehicules/transport-des-composants.md
  vehicules/vehicules/transport-des-vehicules.md
  vehicules/vehicules/utilisation-du-vehicule/README.md
  vehicules/vehicules/utilisation-du-vehicule/energie-apportee-par-des-panneaux-solaires-photovoltaique.md
Due: none

GITBOOK-1093: No subject
  SUMMARY.md
  vehicules/cycle-de-vie/README.md
  vehicules/cycle-de-vie/fabrication-des-composants/README.md
  vehicules/cycle-de-vie/fabrication-des-composants/assise.md
  vehicules/cycle-de-vie/fabrication-des-composants/autres-composants.md
  vehicules/cycle-de-vie/fabrication-des-composants/batterie.md
  vehicules/cycle-de-vie/fabrication-des-composants/chassis-and-carrosserie/README.md
  vehicules/cycle-de-vie/fabrication-des-composants/chassis-and-carrosserie/acier-et-aluminium-methodes-detaillees.md
  vehicules/cycle-de-vie/fabrication-des-composants/chassis-and-carrosserie/transformation-finition.md
  vehicules/cycle-de-vie/fabrication-des-composants/jantes-roues.md
  vehicules/cycle-de-vie/fabrication-des-composants/moteur.md
  vehicules/cycle-de-vie/fabrication-des-composants/pneumatiques.md
  vehicules/cycle-de-vie/fabrication-des-composants/systeme-photovoltaiques.md
  vehicules/cycle-de-vie/transport-des-composants.md
  vehicules/cycle-de-vie/transport-des-vehicules.md
  vehicules/cycle-de-vie/utilisation-du-vehicule/README.md
  vehicules/cycle-de-vie/utilisation-du-vehicule/energie-apportee-par-des-panneaux-solaires-photovoltaique.md
  vehicules/exemples.md
  vehicules/parametrage/README.md
  vehicules/parametrage/caracteristiques-du-vehicule.md
Due: none

GITBOOK-1094: No subject
  SUMMARY.md
  vehicules/exemples.md
  vehicules/parametrage/README.md
  vehicules/parametrage/caracteristiques-du-vehicule.md
Due: none

feat: update component quantity
  src/Data/Object/Query.elm
  src/Data/Object/Simulator.elm
  src/Page/Object.elm
Due: none

fix: display components directly
  src/Data/Object/Query.elm
  src/Data/Object/Simulator.elm
  src/Page/Object.elm
Due: none

fix: decode query properly
  public/data/object/examples.json
  src/Data/Object/Query.elm
Due: app-prettier

feat: use new components format
  src/Data/Object/Query.elm
  src/Data/Object/Simulator.elm
  src/Page/Object.elm
Due: none

chore: elm-review
  src/Page/Object.elm
Due: none

chore: comment todo
  src/Data/Object/Query.elm
  src/Page/Object.elm
Due: none

fix: take quantity into account
  src/Data/Object/Query.elm
  src/Data/Object/Simulator.elm
  tests/Data/Object/SimulatorTest.elm
Due: none

python format number recursively
  data/common/__init__.py
  data/food/export.py
Due: app-ruff-check, app-ruff-format

link the new imported datasets to an already imported db
  data/common/import_.py
Due: app-ruff-check, app-ruff-format

import woolmark data after EI3.10 and link to it
  data/import_ecoinvent.py
Due: app-ruff-check, app-ruff-format

output number not as string
  data/common/__init__.py
  public/data/food/processes.json
Due: app-prettier, app-ruff-check, app-ruff-format

replace the default wool with better woolmark data
  data/textile/activities.json
Due: app-prettier

new export with woolmark data
  public/data/textile/processes.json
Due: app-prettier

new bw2io tag with formula patch
  data/docker/Dockerfile
  data/docker/requirements.txt
Due: none

update python tests
  tests/test_format_number.py
Due: app-ruff-check, app-ruff-format

simapro project for wool
  data/common/__init__.py
Due: app-ruff-check, app-ruff-format

fix: add empty object
  public/data/object/examples.json
Due: app-prettier

new export with right simapro project
  public/data/textile/processes.json
Due: app-prettier

fix: remove unused column
  src/Page/Object.elm
Due: none

Changed ingredients (contributed by Écobalyse)
  data/food/activities.json
Due: app-prettier

deploy to textile and object export
  data/food/export.py
  data/object/export.py
  data/textile/export.py
Due: app-ruff-check, app-ruff-format

feat: Intégration Laine woolmark (#831)
  data/common/__init__.py
  data/common/import_.py
  data/docker/Dockerfile
  data/docker/requirements.txt
  data/import_ecoinvent.py
  data/textile/activities.json
  public/data/textile/processes.json
Due: app-prettier, app-ruff-check, app-ruff-format

feat: remove GET /food endpoint.
  openapi.yaml
Due: none

refactor: clean code
  src/Data/Food/Recipe.elm
Due: none

chore: break API, e2e tests.
  src/Server.elm
  src/Server/Query.elm
  src/Server/Route.elm
  tests/Data/Food/QueryTest.elm
  tests/Server/RouteTest.elm
  tests/Server/ServerTest.elm
Due: none
