Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format, dont-commit-detailed-processes

app-prettier:
  name: run prettier
  language: system
  entry: 'bash -c ''npm --prefix . run fix:prettier --write "${@}"'' --
  
    '

app-ruff-check:
  name: run ruff check
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:check "${@}"'' --
  
    '

app-ruff-format:
  name: run ruff format
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:format "${@}"'' --
  
    '

dont-commit-detailed-processes:
  name: check that we don't commit processes_impacts.json
  language: system
  entry: 'bash -c ''echo "⚠️ Prevented pushing detailed impacts data to public git repository. To update these, clone and push to the ecobalyse-private repository.";exit 1''
  
    '

ci: adapt to uv
  .github/workflows/node.js.yml
  .github/workflows/score_history.yml
Due: none

fix: set required backend api url env var
  .github/workflows/node.js.yml
Due: none

test: add textile simulator e2e tests.
  e2e/auth.spec.js
  e2e/lib.js
  e2e/textile-simulator.spec.js
  playwright.config.js
  src/Page/Auth.elm
  src/Page/Textile.elm
  src/Views/Score.elm
Due: app-prettier

fix: upgrade node requirements
  .github/workflows/node.js.yml
Due: none

feat: improve backend error alerts
  src/Views/Alert.elm
  src/Views/Page.elm
Due: none

chore: use uv for ruff
  backend/src/app/cli/commands.py
  backend/src/app/domain/accounts/controllers/access.py
  backend/src/app/domain/accounts/deps.py
  backend/src/app/domain/accounts/guards.py
  backend/src/app/domain/accounts/schemas.py
  backend/src/app/domain/accounts/services.py
  backend/src/app/domain/accounts/signals.py
  backend/src/app/domain/components/controllers/component.py
  backend/src/app/domain/components/schemas.py
  backend/src/app/domain/components/services.py
  backend/src/app/domain/processes/services.py
  backend/src/app/server/core.py
  backend/src/app/server/plugins.py
  backend/tests/conftest.py
  backend/tests/data_fixtures.py
  backend/tests/integration/conftest.py
  backend/tests/integration/test_access.py
  backend/tests/integration/test_health.py
  package.json
  tests/conftest.py
Due: app-prettier, app-ruff-check, app-ruff-format

chore: adjust ci config
  .github/workflows/e2e.yml
  playwright.config.js
Due: app-prettier

fix: scalingo start script
  bin/start.sh
Due: none

feat: add full auth sequence test
  e2e/auth.spec.js
  e2e/db.setup.js
  e2e/homepage.spec.js
  e2e/lib.js
  src/Page/Auth.elm
Due: app-prettier

fix: force NODE_ENV
  .github/workflows/node.js.yml
Due: none

chore: remove python buildpack
  .buildpacks
  buildpack-run.sh
Due: none

chore: use DB fixtures
  backend/src/app/cli/commands.py
  backend/src/app/config/base.py
  backend/src/app/db/fixtures/user.json
  backend/src/app/domain/accounts/controllers/access.py
  backend/src/app/domain/accounts/services.py
  backend/src/app/domain/accounts/tasks.py
  backend/src/app/server/core.py
  db_test.sqlite3
  e2e/auth.spec.js
  e2e/db.setup.js
  e2e/lib.js
  e2e/textile-simulator.spec.js
  package.json
  playwright.config.js
Due: app-prettier, app-ruff-check, app-ruff-format

chore: try to reduce scalingo image size
  package.json
Due: app-prettier

chore: remove puppeteer
  jest-puppeteer.config.js
  package-lock.json
  package.json
Due: app-prettier

chore: merge e2e tests workflow back to node one
  .github/workflows/e2e.yml
  .github/workflows/node.js.yml
Due: none

chore: remove playwright tests from node ci, increase timeouts
  .github/workflows/node.js.yml
  playwright.config.js
Due: app-prettier

ci: remove upterm debug
  .github/workflows/node.js.yml
Due: none

test: test api token use over the api
  e2e/auth.spec.js
  src/Page/Auth.elm
Due: app-prettier

test: use playwright instead of puppeteer
  e2e/setup-version-fixture.sh
  e2e/versions.spec.js
  package.json
  src/Views/Page.elm
  tests/versions.spec.js
Due: app-prettier

chore: require postgres explicitly for tests
  pyproject.toml
  uv.lock
Due: none

ci: remove upterm debug session
  .github/workflows/e2e.yml
Due: none

fix: relax timeout for e2e tests
  playwright.config.js
Due: app-prettier

fix: setup html report artifact output
  e2e/db.setup.js
  playwright.config.js
Due: app-prettier

chore: install uv globally
  bin/start.sh
  buildpack-run.sh
Due: none

chore: add backend autoreload
  package.json
Due: app-prettier

desperate housewife
  playwright.config.js
Due: app-prettier

chore: add some debugging
  bin/start.sh
Due: none

test: admin access
  e2e/auth.spec.js
  e2e/lib.js
Due: app-prettier

style: improve profile form UX
  src/Page/Auth.elm
Due: none

chore: try to reduce scalingo image size
  .env.sample
  .github/workflows/node.js.yml
  README.md
  backend/src/app/domain/accounts/signals.py
  e2e/auth.spec.js
  e2e/db.setup.js
  e2e/homepage.spec.js
  package-lock.json
  package.json
  playwright.config.js
Due: app-prettier, app-ruff-check, app-ruff-format

chore: add export path to profile
  buildpack-run.sh
Due: none

test: fix pytest warning
  packages/python/ecobalyse/ecobalyse/tests/test_patch_old_versions.py
Due: app-ruff-check, app-ruff-format

chore: add separate e2e cu config
  .github/workflows/e2e.yml
Due: none

chore: increase parcel proxy timeouts
  .proxyrc.json
Due: app-prettier

docs: add note about docker as a test requirement
  README.md
Due: none

fix: don’t look for MATOMO vars in development
  server.js
Due: app-prettier

chore: install uv when needed
  buildpack-run.sh
Due: none

chore: add uv to path
  buildpack-run.sh
Due: none

chore: add more debug
  bin/start.sh
  buildpack-run.sh
Due: none

Path conditions:
  app-prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.json$
  app-ruff-check: any of: ^.*$ and \.py$
  app-ruff-format: any of: ^.*$ and \.py$
  dont-commit-detailed-processes: any of: ^processes_impacts.json$
