Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
      exclude: (svg|icomoon|rapidoc-9.3.4.min.js)
    - id: trailing-whitespace
      exclude: (vendor|rapidoc-9.3.4.min.js)
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, master]

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier
        language: system
        files: ^.*$
        types_or: [javascript, json]
        entry: |
          bash -c 'npm --prefix . run fix:prettier --write "${@}"' --

      - id: app-ruff-check
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:check "${@}"' --

      - id: app-ruff-format
        name: run ruff format
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:format "${@}"' --

      - id: app-elm-format
        name: run elm-format
        language: system
        files: ^.*$
        types_or: [elm]
        entry: |
          bash -c 'npm --prefix . run fix:elm-format "${@}"' --

chore: remove noisy empty transforms lists
  openapi.yaml
  public/data/food2/examples.json
  public/data/object/components.json
  public/data/object/examples.json
  public/data/veli/examples.json
Due: app-prettier

refactor: add comment
  src/Server.elm
Due: none

fix: fix openapi schema validation errors
  docker/server-simple.js
  openapi.yaml
  server.js
  tests/server.spec.js
Due: app-prettier

chore: add scopes lib tests
  tests/lib/scopes.spec.js
Due: app-prettier

feat: add beta notice, wording
  openapi.yaml
  src/Page/Api.elm
Due: none

refactor: clean code
  src/Server.elm
  src/Server/Route.elm
  tests/Server/RouteTest.elm
Due: none

chore: improve api docs
  openapi.yaml
Due: none

refactor: clean code and add tests
  src/Data/Component.elm
  tests/Data/ComponentTest.elm
Due: none

fix: e2e test after err message update
  tests/server.spec.js
Due: app-prettier

docs: add note about detailed impacts
  public/pages/api-docs.md
Due: none

feat: add doc for generic ui/api flags
  README.md
Due: none

docs: revamp tutorial to make it simpler
  public/pages/api-docs.md
Due: none

fix: disambiguation
  public/pages/api-docs.md
Due: none

feat: imporove server test concision and accuracy
  tests/server.spec.js
Due: app-prettier

docs: add api docs
  public/pages/api-docs.md
  src/Data/Component.elm
Due: none

fix: add missing lib file
  lib/scopes.js
Due: app-prettier

docs: remove obsolete warning
  openapi.yaml
Due: none

feat: init api docs
  public/pages/api-docs.md
Due: none

feat(api): list available scopes, reject with 403 on disabled one
  .github/workflows/e2e.yml
  .github/workflows/node.js.yml
  lib/index.js
  openapi.yaml
  public/pages/api-docs.md
  scalingo.json
  server.js
  tests/server.spec.js
Due: app-prettier

chore: improve test helper
  tests/Data/ComponentTest.elm
Due: none

feat: wire beta access from auth api
  openapi.yaml
  public/pages/api-docs.md
  server.js
  src/Data/User.elm
  src/Page/Auth.elm
  tests/Data/UserTest.elm
Due: app-prettier

chore: update Plausible’s snippet (#2819)
  README.md
  index.js
  lib/http.js
Due: app-prettier

fix: api docs env var set syntrax
  public/pages/api-docs.md
Due: none

@cedricr review
  tests/lib/scopes.spec.js
Due: app-prettier

fix: docs clarification
  public/pages/api-docs.md
Due: none

chore: clean obsolete metadata files (#2831)
  data/food/metadata/README.md
  data/food/metadata/agb_inedible.csv
  data/food/metadata/cooked_to_raw.csv
  data/food/metadata/cropgroup.csv
  data/food/metadata/density.csv
  data/food/metadata/fao_density.csv
  data/food/metadata/food_type.csv
  data/food/metadata/food_type_cooked_to_raw.csv
  data/food/metadata/food_type_density.csv
  data/food/metadata/food_type_inedible_part.csv
  data/food/metadata/inedible_part.csv
  data/food/metadata/nova_classification.csv
  data/food/metadata/processing_state.csv
  data/food/metadata/transport_cooling.csv
Due: none

chore: add tests for beta users generic api access
  lib/http.js
  server.js
  tests/lib/http.spec.js
Due: app-prettier

chore: document complements
  data/README.md
  data/docs/complements.md
  data/docs/simapro_beef-with-bone_ratio.png
  data/ecobalyse_data/export/complements.py
  data/ecobalyse_data/export/export_generic.py
  data/food/ecosystemic_services/README.md
  data/food/ecosystemic_services/es_transformations.png
Due: app-ruff-check, app-ruff-format

chore: naming, use full source name
  data/docs/complements.md
Due: none

feat: add koch ingredients and components
  data/export/processes_generic.json
  data/food/taxonomy.json
  data/food/taxonomy_with_aliases.json
  data/lci_catalog/agribalyse-3-2/carrot-juice.json
  data/lci_catalog/ecobalyse_manual_lcia/carrot-juice-pressing.json
  data/lci_catalog/ecobalyse_manual_lcia/cheese-making-comte.json
  data/lci_catalog/ecobalyse_manual_lcia/wheat-milling.json
  public/data/food2/components.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

trim doc
  data/docs/complements.md
Due: none

remove unrelated change
  data/ecobalyse_data/export/export_generic.py
Due: app-ruff-check, app-ruff-format

trim function description
  data/ecobalyse_data/export/complements.py
Due: app-ruff-check, app-ruff-format

fix: enable food2 on right flag
  src/Views/Page.elm
Due: none

refactor: simpler and more dry generic bookmark handling
  src/Data/Bookmark.elm
  src/Views/Bookmark.elm
Due: none

docs: add an important comment
  lib/scopes.js
Due: app-prettier

refactor: handle generic scope list in a single place
  src/Data/Scope.elm
  src/Page/Auth.elm
  tests/Data/ScopeTest.elm
Due: none

refactor: simplify scopes declaration in js land
  lib/plausible.js
  lib/scopes.js
  tests/lib/scopes.spec.js
Due: app-prettier

refactor: dry scope parsing
  src/Data/Scope.elm
Due: none
