Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format, dont-commit-detailed-processes

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
      exclude: (svg|icomoon|rapidoc-9.3.4.min.js)
    - id: trailing-whitespace
      exclude: (vendor|rapidoc-9.3.4.min.js)
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, master]

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier
        language: system
        files: ^.*$
        types_or: [javascript, json]
        entry: |
          bash -c 'npm --prefix . run fix:prettier --write "${@}"' --

      - id: app-ruff-check
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:check "${@}"' --

      - id: app-ruff-format
        name: run ruff format
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:format "${@}"' --

      - id: dont-commit-detailed-processes
        name: check that we don't commit processes_impacts.json
        language: system
        files: ^processes_impacts.json$
        entry: |
          bash -c 'echo "⚠️ Prevented pushing detailed impacts data to public git repository. To update these, clone and push to the ecobalyse-private repository.";exit 1'

chore: increase API test timeout (#853)
  package.json
Due: app-prettier

feat: add density, heat, elec and waste to food processes.
  data/food/export.py
  public/data/food/processes.json
  src/Data/Food/Process.elm
Due: app-prettier, app-ruff-check, app-ruff-format

feat: add density, heat, elec and waste to object processes.
  data/object/activities.json
  public/data/object/processes.json
  src/Data/Object/Process.elm
Due: app-prettier

feat: add density, heat, elec and waste to textile processes.
  data/textile/activities.json
  data/textile/export.py
  public/data/textile/processes.json
  src/Data/Textile/Process.elm
  tests/Data/Textile/FormulaTest.elm
Due: app-prettier, app-ruff-check, app-ruff-format

test: trying to update an encrypted value.
  public/data/object/processes_impacts.json
Due: app-prettier

fix: update textile processes
  public/data/textile/processes_impacts.json
Due: app-prettier

fix: install transcrypt on deploy
  .env.sample
  .github/workflows/create_release.yml
  .github/workflows/node.js.yml
  README.md
  bin/build-specific-app-version.sh
  bin/run-transcrypt.sh
  bin/transcrypt
  buildpack-run.sh
  package.json
Due: app-prettier

test: revert test encrypted value back.
  public/data/object/processes_impacts.json
Due: app-prettier

fix: use https URL to avoid ssh host key check
  buildpack-run.sh
Due: none

fix: @n1k0 review
  .github/workflows/create_release.yml
  .github/workflows/node.js.yml
  README.md
  bin/run-transcrypt.sh
  buildpack-run.sh
Due: none

doc: comment buildpacks
  .buildpacks
Due: none

refactor: add encrypted detailed files
  .buildpacks
  .gitattributes
  .github/workflows/create_release.yml
  .github/workflows/node.js.yml
  Aptfile
  README.md
  bin/build-db
  bin/build-specific-app-version.sh
  bin/transcrypt
  bin/update-version.sh
  buildpack-run.sh
  check-db.js
  lib/index.js
  packages/python/ecobalyse/ecobalyse/patch_files.py
  packages/python/ecobalyse/ecobalyse/tests/test_patch_old_versions.py
  public/data/food/processes_impacts.json
  public/data/object/processes_impacts.json
  public/data/textile/processes_impacts.json
  server.js
  tests/lib.spec.js
Due: app-prettier, app-ruff-check, app-ruff-format

fix: check that TRANSCRYPT_KEY is set
  bin/run-transcrypt.sh
Due: none

ci: we don't need to clone the detailed impacts anymore
  .github/workflows/node.js.yml
Due: none

fix: remove useless private data dir
  .github/workflows/create_release.yml
  .github/workflows/node.js.yml
  .github/workflows/score_history.yml
Due: none

doc: comment buildpack
  .buildpacks
Due: none

fix: Scalingo doesn't support comments
  .buildpacks
Due: none

fix: remove useless code
  .github/workflows/score_history.yml
  bin/checkout-ecobalyse-private-branch.sh
  bin/extract_data_branch_from_pr.py
Due: app-ruff-check, app-ruff-format

chore: use latest detailed impacts from private
  public/data/food/processes_impacts.json
  public/data/textile/processes_impacts.json
Due: app-prettier

removed SE for transformed ingredients
  data/food/activities.json
Due: app-prettier

GITBOOK-1118: No subject
  impacts-consideres.md
Due: none

chore: add common fields to processes detailed impacts.
  public/data/food/processes.json
Due: app-prettier

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: app-prettier

GITBOOK-1119: No subject
  textile/durabilite.md
Due: none

feat: Generalize density, electricity, heat and waste process fields (#855)
  data/food/export.py
  data/object/activities.json
  data/textile/activities.json
  data/textile/export.py
  public/data/food/processes.json
  public/data/object/processes.json
  public/data/textile/processes.json
  src/Data/Food/Process.elm
  src/Data/Object/Process.elm
  src/Data/Textile/Process.elm
  tests/Data/Textile/FormulaTest.elm
Due: app-prettier, app-ruff-check, app-ruff-format

formatting
  data/common/__init__.py
  public/data/food/processes.json
  tests/test_json_format_encoder.py
Due: app-prettier, app-ruff-check, app-ruff-format

handle error case from simapro api
  data/common/export.py
Due: app-ruff-check, app-ruff-format

fix: ecosystemic services with new UUIDs
  data/common/export.py
  data/food/ecosystemic_services/ecosystemic_services.py
  data/food/ecosystemic_services/feed.json
Due: app-prettier, app-ruff-check, app-ruff-format

fix: remove non-existent link to recycled viscose.
  package-lock.json
  package.json
  public/data/textile/materials.json
  src/Data/Textile/Material.elm
Due: app-prettier

fix: Create actual uuids.
  data/textile/export.py
  src/Data/Country.elm
  src/Data/Dataset.elm
  src/Data/Textile/Material.elm
  src/Data/Textile/Process.elm
  src/Data/Textile/Product.elm
  src/Page/Explore/TextileProcesses.elm
  tests/Data/Textile/FormulaTest.elm
Due: app-ruff-check, app-ruff-format

fix(data): migrate textile process ids.
  bin/build-db
  data/textile/activities.json
  public/data/countries.json
  public/data/textile/materials.json
  public/data/textile/processes.json
  public/data/textile/products.json
Due: app-prettier

fix: JSON files formatting.
  data/textile/activities.json
  public/data/countries.json
  public/data/textile/processes.json
Due: app-prettier

refactor: use a stronger Uuid type.
  src/Data/Country.elm
  src/Data/Dataset.elm
  src/Data/Textile/Material.elm
  src/Data/Textile/Process.elm
  src/Data/Textile/Product.elm
  src/Page/Explore.elm
  src/Page/Explore/TextileProcesses.elm
  tests/Data/Textile/FormulaTest.elm
Due: none

fix: add updated json
  public/data/food/ingredients.json
  public/data/food/processes.json
Due: app-prettier

restore alias
  data/food/export.py
  public/data/food/processes.json
Due: app-prettier, app-ruff-check, app-ruff-format

fix: add alias to ingredients
  data/food/export.py
  public/data/food/ingredients.json
  public/data/food/processes.json
Due: app-prettier, app-ruff-check, app-ruff-format

chore: order ingrediens by key
  data/food/export.py
  public/data/food/ingredients.json
Due: app-prettier, app-ruff-check, app-ruff-format

GITBOOK-1120: No subject
  SUMMARY.md
  textile/correctifs-donnees/corr2-inventaires-enrichis.md
Due: none

use only normalization when displaying comparison graphs
  data/common/__init__.py
  data/common/export.py
Due: app-ruff-check, app-ruff-format

fix: Frontend tests
  public/data/food/examples.json
  tests/Data/Food/RecipeTest.elm
  tests/Server/RouteTest.elm
  tests/Server/ServerTest.elm
  tests/e2e-food.json
  tests/server.spec.js
Due: app-prettier
