Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format, dont-commit-detailed-processes

app-prettier:
  name: run prettier
  language: system
  entry: 'bash -c ''npm --prefix . run fix:prettier --write "${@}"'' --
  
    '

app-ruff-check:
  name: run ruff check
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:check "${@}"'' --
  
    '

app-ruff-format:
  name: run ruff format
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:format "${@}"'' --
  
    '

dont-commit-detailed-processes:
  name: check that we don't commit processes_impacts.json
  language: system
  entry: 'bash -c ''echo "⚠️ Prevented pushing detailed impacts data to public git repository. To update these, clone and push to the ecobalyse-private repository.";exit 1''
  
    '

test: revert test encrypted value back.
  public/data/object/processes_impacts.json
Due: app-prettier

fix: remove useless private data dir
  .github/workflows/create_release.yml
  .github/workflows/node.js.yml
  .github/workflows/score_history.yml
Due: none

chore: use latest detailed impacts from private
  public/data/food/processes_impacts.json
  public/data/object/processes_impacts.json
  public/data/textile/processes_impacts.json
Due: app-prettier

feat(data): ensure consistent nullable alias field in all processes files. (#862)
  data/object/activities.json
  public/data/object/processes.json
  src/Data/Food/Process.elm
  src/Data/Food/Recipe.elm
  src/Data/Object/Process.elm
  src/Page/Explore/FoodProcesses.elm
  src/Page/Explore/ObjectProcesses.elm
Due: app-prettier

feat: add betagouv logo. (#848)
  index.html
  public/img/logo.png
  public/img/logo.svg
  public/img/logo_betagouv.jpg
  src/Views/Page.elm
  styles.scss
Due: none

fix: broken homepage after upgrading highcharts
  package-lock.json
  package.json
Due: app-prettier

fix: broken homepage after upgrading highcharts (#863)
  package-lock.json
  package.json
Due: app-prettier

chore: update object detailed impacts
  public/data/object/processes_impacts.json
Due: app-prettier

refactor: add encrypted detailed impacts files to the source code (#840)
  .buildpacks
  .env.sample
  .gitattributes
  .github/workflows/create_release.yml
  .github/workflows/node.js.yml
  .github/workflows/score_history.yml
  Aptfile
  README.md
  bin/build-db
  bin/build-specific-app-version.sh
  bin/checkout-ecobalyse-private-branch.sh
  bin/extract_data_branch_from_pr.py
  bin/run-transcrypt.sh
  bin/update-version.sh
  buildpack-run.sh
  check-db.js
  lib/index.js
  package.json
  packages/python/ecobalyse/ecobalyse/patch_files.py
  packages/python/ecobalyse/ecobalyse/tests/test_patch_old_versions.py
  public/data/food/processes_impacts.json
  public/data/object/processes_impacts.json
  public/data/textile/processes_impacts.json
  server.js
  tests/lib.spec.js
Due: app-prettier, app-ruff-check, app-ruff-format

ci: fix score_history workflow for transcrypt
  .github/workflows/score_history.yml
Due: none

ci: fix score_history workflow for transcrypt (#864)
  .github/workflows/score_history.yml
Due: none

fix merge
  src/Data/Food/Ingredient.elm
  tests/Data/Food/RecipeTest.elm
Due: none

fix: uuid textile export
  data/textile/export.py
Due: app-ruff-check, app-ruff-format

update package-lock
  package-lock.json
Due: app-prettier

add current dir to pytest pythonpath
  pytest.ini
Due: none

update tests rounding error
  tests/e2e-food.json
  tests/e2e-textile.json
Due: app-prettier

fix: use up to date recycledProcessUuid for activities
  data/textile/activities.json
Due: app-prettier

fix some fields and new formatting export
  data/food/export.py
  data/textile/export.py
Due: app-ruff-check, app-ruff-format

prettier formatting
  tests/e2e-food.json
Due: app-prettier

fix: remove system_description from export
  data/food/export.py
Due: app-ruff-check, app-ruff-format

fix(data): update textile export to new process format (#865)
  data/food/export.py
  data/textile/activities.json
  data/textile/export.py
Due: app-prettier, app-ruff-check, app-ruff-format

feat: add categories to object processes format.
  data/object/activities.json
  public/data/object/processes.json
  public/data/object/processes_impacts.json
Due: app-prettier

feat: rename food process identifier to sourceId.
  data/food/export.py
  public/data/food/processes.json
  public/data/food/processes_impacts.json
  src/Data/Food/Ingredient.elm
  src/Data/Food/Process.elm
  src/Page/Explore/FoodIngredients.elm
  src/Page/Explore/FoodProcesses.elm
Due: app-prettier, app-ruff-check, app-ruff-format

fix: remove comment noise.
  data/textile/activities.json
  public/data/textile/processes.json
Due: app-prettier

feat: make the sourceId field optional.
  src/Data/Food/Ingredient.elm
  src/Data/Food/Process.elm
  src/Page/Explore/FoodIngredients.elm
  src/Page/Explore/FoodProcesses.elm
Due: none

feat: add sourceId to object and textile processes.
  data/object/activities.json
  data/textile/activities.json
  public/data/object/processes.json
  public/data/object/processes_impacts.json
  public/data/textile/processes.json
  public/data/textile/processes_impacts.json
Due: app-prettier

fix: remove erroneous comment.
  data/textile/activities.json
  public/data/textile/processes.json
  public/data/textile/processes_impacts.json
Due: app-prettier

chore: Object now uses generic Process module.
  src/Data/Dataset.elm
  src/Data/Object/Component.elm
  src/Data/Object/Db.elm
  src/Data/Object/Process.elm
  src/Data/Object/Query.elm
  src/Data/Object/Simulator.elm
  src/Page/Explore.elm
  src/Page/Explore/ObjectComponents.elm
  src/Page/Explore/ObjectProcesses.elm
  src/Page/Object.elm
  src/Views/Format.elm
  tests/TestUtils.elm
Due: none

chore: move Data.Food.Process to Data.Process.
  src/Data/Dataset.elm
  src/Data/Food/Db.elm
  src/Data/Food/Ingredient.elm
  src/Data/Food/Query.elm
  src/Data/Food/Recipe.elm
  src/Data/Food/Retail.elm
  src/Data/Food/WellKnown.elm
  src/Data/Process.elm
  src/Page/Explore.elm
  src/Page/Explore/FoodIngredients.elm
  src/Page/Explore/FoodProcesses.elm
  src/Page/Food.elm
  src/Server.elm
  src/Server/Query.elm
  tests/TestUtils.elm
Due: none

fix(data,textile): homogeneize textile process categories.
  data/textile/activities.json
  public/data/textile/processes.json
  public/data/textile/processes_impacts.json
Due: app-prettier

refactor: extract process category to its own module.
  src/Data/Food/Recipe.elm
  src/Data/Process.elm
  src/Data/Process/Category.elm
  src/Page/Explore/FoodProcesses.elm
  src/Page/Explore/TextileProcesses.elm
  src/Page/Food.elm
  src/Server.elm
Due: none

chore: update food process module as generic.
  src/Data/Food/Process.elm
Due: none

chore: Textile now uses genericx Process module.
  data/textile/activities.json
  public/data/textile/processes.json
  public/data/textile/processes_impacts.json
  src/Data/Country.elm
  src/Data/Dataset.elm
  src/Data/Process.elm
  src/Data/Textile/Db.elm
  src/Data/Textile/Fabric.elm
  src/Data/Textile/Formula.elm
  src/Data/Textile/Material.elm
  src/Data/Textile/Process.elm
  src/Data/Textile/Product.elm
  src/Data/Textile/Step.elm
  src/Data/Textile/WellKnown.elm
  src/Page/Explore.elm
  src/Page/Explore/FoodIngredients.elm
  src/Page/Explore/FoodProcesses.elm
  src/Page/Explore/TextileProcesses.elm
  tests/TestUtils.elm
Due: app-prettier

refactor: clean code.
  src/Data/Food/Recipe.elm
  src/Data/Food/WellKnown.elm
  src/Data/Object/Component.elm
  src/Data/Object/Simulator.elm
  src/Data/Process.elm
  src/Data/Textile/WellKnown.elm
  src/Page/Explore.elm
  src/Server/Query.elm
Due: none

fix: data export
  data/common/export.py
  data/object/activities.json
  data/textile/export.py
  public/data/textile/processes.json
  public/data/textile/processes_impacts.json
Due: app-prettier, app-ruff-check, app-ruff-format

update export with 0 -> 0.0
  public/data/food/processes.json
  public/data/object/processes.json
  public/data/textile/processes.json
Due: app-prettier

fix: openapi food examples
  openapi.yaml
Due: none

add procsses_impacts
  public/data/food/processes_impacts.json
  public/data/object/processes_impacts.json
  public/data/textile/processes_impacts.json
Due: app-prettier

docs: fix openapi food examples (#867)
  openapi.yaml
Due: none

stop on unlinked activities
  data/common/import_.py
Due: app-ruff-check, app-ruff-format

Path conditions:
  app-prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.json$
  app-ruff-check: any of: ^.*$ and \.py$
  app-ruff-format: any of: ^.*$ and \.py$
  dont-commit-detailed-processes: any of: ^processes_impacts.json$
