Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format, dont-commit-detailed-processes

app-prettier:
  name: run prettier
  language: system
  entry: 'bash -c ''npm --prefix . run fix:prettier --write "${@}"'' --
  
    '

app-ruff-check:
  name: run ruff check
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:check "${@}"'' --
  
    '

app-ruff-format:
  name: run ruff format
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:format "${@}"'' --
  
    '

dont-commit-detailed-processes:
  name: check that we don't commit processes_impacts.json
  language: system
  entry: 'bash -c ''echo "⚠️ Prevented pushing detailed impacts data to public git repository. To update these, clone and push to the ecobalyse-private repository.";exit 1''
  
    '

refactor: Removed duplicate identifier column in the food explorer (#738)
  src/Page/Explore/FoodProcesses.elm
Due: none

Revert "fixed wrong key"
  data/notebooks/explore.py
Due: app-ruff-check, app-ruff-format

fixed wrong key
  data/notebooks/explore.py
Due: app-ruff-check, app-ruff-format

pipe style
  src/Data/Food/Process.elm
  src/Data/Textile/Process.elm
Due: none

different import style
  src/Page/Explore/FoodProcesses.elm
Due: none

different import style
  src/Page/Explore/TextileProcesses.elm
Due: none

fix: fixed brightway explorer notebook error (wrong key) (#745)
  data/notebooks/explore.py
Due: app-ruff-check, app-ruff-format

feat: displayName in the textile explorer, reordered columns (#737)
  data/README.md
  public/data/textile/processes.json
  src/Data/Food/Process.elm
  src/Data/Textile/Process.elm
  src/Page/Explore/FoodProcesses.elm
  src/Page/Explore/TextileProcesses.elm
  tests/Data/Textile/FormulaTest.elm
Due: app-prettier

chore: reorder everything in Data.Food.
  src/Data/Food/Db.elm
  src/Data/Food/EcosystemicServices.elm
  src/Data/Food/Ingredient.elm
  src/Data/Food/Ingredient/Category.elm
  src/Data/Food/Origin.elm
  src/Data/Food/Preparation.elm
  src/Data/Food/Process.elm
  src/Data/Food/Query.elm
  src/Data/Food/Recipe.elm
  src/Data/Food/Retail.elm
  src/Data/Food/WellKnown.elm
  src/Server/Query.elm
Due: none

chore: install & configure elm-review-sorted
  review/elm.json
  review/src/ReviewConfig.elm
Due: app-prettier

chore: reorder everything, Data.Impact.
  review/src/ReviewConfig.elm
  src/Data/Impact.elm
Due: none

chore: reorder everything, Data.Textile.
  src/Data/Textile/Db.elm
  src/Data/Textile/Economics.elm
  src/Data/Textile/Fabric.elm
  src/Data/Textile/Formula.elm
  src/Data/Textile/Inputs.elm
  src/Data/Textile/LifeCycle.elm
  src/Data/Textile/MakingComplexity.elm
  src/Data/Textile/Material.elm
  src/Data/Textile/Material/Spinning.elm
  src/Data/Textile/Process.elm
  src/Data/Textile/Product.elm
  src/Data/Textile/Query.elm
  src/Data/Textile/Simulator.elm
  src/Data/Textile/Step.elm
  src/Data/Textile/Step/Label.elm
  src/Data/Textile/WellKnown.elm
Due: none

chore: reorder constructors, Static.
  src/Static/Db.elm
Due: none

chore: reorder constructors, Request.
  src/Request/Auth.elm
  src/Request/Common.elm
  src/Request/Matomo.elm
  src/Request/Version.elm
Due: none

chore: reorder everything, Data.
  review/src/ReviewConfig.elm
  src/Data/AutocompleteSelector.elm
  src/Data/Bookmark.elm
  src/Data/Country.elm
  src/Data/Dataset.elm
  src/Data/Example.elm
  src/Data/Gitbook.elm
  src/Data/Matomo.elm
  src/Data/Scoring.elm
  src/Data/Session.elm
  src/Data/Split.elm
  src/Data/Transport.elm
  src/Data/Unit.elm
  src/Data/User.elm
  src/Page/Auth.elm
  src/Page/Changelog.elm
  src/Page/Editorial.elm
  src/Page/Explore.elm
  src/Page/Explore/Table.elm
  src/Page/Explore/TextileMaterials.elm
  src/Page/Food.elm
  src/Page/Home.elm
  src/Page/Stats.elm
Due: none

chore: reorder constructors, Page.
  src/Page/Textile.elm
Due: none

chore: reorder constructors, Views.
  review/src/ReviewConfig.elm
  src/Views/Alert.elm
  src/Views/AutocompleteSelector.elm
  src/Views/BaseElement.elm
  src/Views/Bookmark.elm
  src/Views/CardTabs.elm
  src/Views/Comparator.elm
  src/Views/Component/SplitInput.elm
  src/Views/Format.elm
  src/Views/ImpactTabs.elm
  src/Views/Markdown.elm
  src/Views/Modal.elm
  src/Views/Page.elm
  src/Views/RangeSlider.elm
  src/Views/Score.elm
  src/Views/Sidebar.elm
  src/Views/Table.elm
  src/Views/Textile/Step.elm
  src/Views/Transport.elm
Due: none

chore: reorder constructors, root.
  src/ComputeAggregated.elm
  src/Main.elm
  src/Route.elm
  src/Server.elm
Due: none

chore: reorder constructors, Server.
  src/Server.elm
  src/Server/Request.elm
  src/Server/Route.elm
  tests/Server/RouteTest.elm
Due: none

GITBOOK-1004: change request with no subject merged in GitBook
  .gitbook/assets/image (115).png
  alimentaire-en-construction/etape-2-fabrication-du-fil/autres-composants.md
  alimentaire-en-construction/etape-2-fabrication-du-fil/transport.md
Due: none

chore: reorder everything, Data.Impact.
  review/src/ReviewConfig.elm
Due: none

refactor: remove obsolete gitbook markdown parsing code.
  package-lock.json
  src/Data/Gitbook.elm
  src/Views/Icon.elm
  src/Views/Markdown.elm
  tests/Data/GitbookTest.elm
  tests/Views/MarkdownTest.elm
Due: app-prettier

Update ReviewConfig.elm
  review/src/ReviewConfig.elm
Due: none

refactor: remove obsolete gitbook markdown parsing code. (#744)
  package-lock.json
  review/src/ReviewConfig.elm
  src/Data/Gitbook.elm
  src/Views/Icon.elm
  src/Views/Markdown.elm
  tests/Data/GitbookTest.elm
  tests/Views/MarkdownTest.elm
Due: app-prettier

GITBOOK-1007: change request with no subject merged in GitBook
  textile/durabilite.md
Due: none

feat: add link to changelog in app footer.
  src/Views/Page.elm
Due: none

initial commit
  public/data/object/components.json
  public/data/object/examples.json
  public/data/object/processes.json
Due: app-prettier

feat: add link to changelog in app footer. (#748)
  src/Views/Page.elm
Due: none

GITBOOK-1010: change request with no subject merged in GitBook
  textile/mises-a-jour.md
Due: none

removed recycled viscose (unsafe)
  public/data/textile/materials.json
  public/data/textile/processes.json
Due: app-prettier

GITBOOK-1011: Intégration durabilité non physique
  textile/durabilite.md
Due: none

fix: encode physicalDurability parameter.
  src/Data/Textile/Inputs.elm
  src/Data/Textile/Query.elm
  src/Data/Unit.elm
Due: none

fix: encode physicalDurability parameter. (#751)
  src/Data/Textile/Inputs.elm
  src/Data/Textile/Query.elm
  src/Data/Unit.elm
Due: none

GITBOOK-1012: change request with no subject merged in GitBook
  README.md
Due: none

GITBOOK-1013: Intégration de la définition de PME dans la doc durabilité
  textile/durabilite.md
Due: none

GITBOOK-1009: Alban Documentation Ameublement
  alimentaire-en-construction/etape-2-fabrication-du-fil/autres-composants.md
Due: none

GITBOOK-1014: change request with no subject merged in GitBook
  alimentaire-en-construction/etape-2-fabrication-du-fil/autres-composants.md
Due: none

chore(data): removed recycled viscose (unsafe) (#750)
  public/data/textile/materials.json
  public/data/textile/processes.json
Due: app-prettier

fix(textile): distribution step had no inland road transports added.
  src/Data/Textile/Step.elm
  tests/Data/Textile/LifeCycleTest.elm
  tests/Data/Textile/SimulatorTest.elm
  tests/e2e-textile.json
Due: app-prettier

Path conditions:
  app-prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.json$
  app-ruff-check: any of: ^.*$ and \.py$
  app-ruff-format: any of: ^.*$ and \.py$
  dont-commit-detailed-processes: any of: ^processes_impacts.json$
