Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
      exclude: (svg|icomoon|rapidoc-9.3.4.min.js)
    - id: trailing-whitespace
      exclude: (vendor|rapidoc-9.3.4.min.js)
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, master]

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier
        language: system
        files: ^.*$
        types_or: [javascript, json]
        entry: |
          bash -c 'npm --prefix . run fix:prettier --write "${@}"' --

      - id: app-ruff-check
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:check "${@}"' --

      - id: app-ruff-format
        name: run ruff format
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:format "${@}"' --

      - id: app-elm-format
        name: run elm-format
        language: system
        files: ^.*$
        types_or: [elm]
        entry: |
          bash -c 'npm --prefix . run fix:elm-format "${@}"' --

chore(wip): compute complements results
  src/Data/Component.elm
  src/Data/Impact.elm
  src/Views/Component.elm
  src/Views/Format.elm
  tests/Data/ComponentTest.elm
Due: none

new export with a cull cow meat
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

fixed id problem
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

fixed uuids
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

chore: add comment to fuel processes (#1905)
  public/data/processes.json
  public/data/processes_generic.json
  public/data/processes_generic_impacts.json
  public/data/processes_impacts.json
Due: app-prettier

chore: fix export
  public/data/processes.json
  public/data/processes_generic.json
  public/data/processes_generic_impacts.json
  public/data/processes_impacts.json
Due: app-prettier

fix(data): fixed new FR ingredients (#1901)
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

chore: fix merging
  public/data/processes.json
  public/data/processes_generic.json
  public/data/processes_generic_impacts.json
  public/data/processes_impacts.json
Due: app-prettier

feat(data): ingredients "Origine Inconnue" (#1795)
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

Merge branch 'master' into ingredients_BIO
  backend/src/app/db/migrations/versions/2026-03-11_add_food2_scope_884ac9f3654f.py
  backend/src/app/db/models/component.py
  backend/src/app/domain/components/schemas.py
  lib/plausible.js
  public/data/countries.json
  public/data/processes.json
  public/data/processes_generic.json
  public/data/processes_generic_impacts.json
  public/data/processes_impacts.json
  src/Data/Scope.elm
Due: app-prettier, app-ruff-check, app-ruff-format

chore: fix merging
  public/data/food/ingredients.json
Due: app-prettier

new export
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

new export
  public/data/food/ingredients.json
Due: app-prettier

feat(data): Ingredients bio (#1904)
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

fix: replace id not found
  public/data/countries.json
Due: app-prettier

fix: check-db should check both files
  check-db.js
Due: app-prettier

feat: allow disabling durability by config
  public/data/components/config.json
  src/Data/Component/Config.elm
  tests/Data/ComponentTest.elm
Due: app-prettier

feat: render durability depending on config flag
  public/data/components/config.json
  src/Data/Component/Config.elm
  src/Data/Scope.elm
  src/Page/Object.elm
  tests/Data/ComponentTest.elm
Due: app-prettier

refactor: handle durability computation in Component module
  src/Data/Component.elm
  src/Page/Object.elm
Due: none

refactor: read processes at one place
  check-db.js
  lib/index.js
  server.js
Due: app-prettier

refactor: clean code
  src/Data/Component.elm
  src/Data/Scope.elm
  src/Page/Object.elm
Due: none

fix: replace process ids
  public/data/components/config.json
  public/data/countries.json
  tests/Data/ComponentTest.elm
Due: app-prettier

merge
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

display ingredient alias in explorer
  src/Data/Food/Ingredient.elm
  src/Page/Explore/FoodIngredients.elm
Due: none

refactor: durability is optional in generic query
  src/Data/Component.elm
  src/Page/Object.elm
Due: none

refactor: default durability at the module level
  src/Data/Component.elm
  src/Page/Object.elm
Due: none

fix: proper generic query from scope
  src/Data/Session.elm
Due: none

fix: validate query durability
  src/Data/Component.elm
  src/Data/Object/Simulator.elm
  tests/Data/ComponentTest.elm
Due: none

refactor: clean code
  src/Data/Component.elm
  tests/Data/ComponentTest.elm
Due: none

feat: strengthen query validation
  src/Data/Component.elm
  src/Data/Component/Amount.elm
  tests/Data/ComponentTest.elm
Due: none

@vjousse review
  src/Data/Component.elm
Due: none

feat(generic): allow disabling durability by config (#1912)
  public/data/components/config.json
  src/Data/Component.elm
  src/Data/Component/Amount.elm
  src/Data/Component/Config.elm
  src/Data/Object/Simulator.elm
  src/Data/Scope.elm
  src/Data/Session.elm
  src/Page/Object.elm
  tests/Data/ComponentTest.elm
Due: app-prettier

alias is not a reserved property name
  src/Data/Food/Ingredient.elm
  src/Page/Explore/FoodIngredients.elm
Due: none

feat: display ingredient alias in explorer (#1913)
  src/Data/Food/Ingredient.elm
  src/Page/Explore/FoodIngredients.elm
Due: none

fix: cache validate token response
  backend/src/app/domain/accounts/controllers/access.py
Due: app-ruff-check, app-ruff-format

fix: elm-review
  src/Views/Component.elm
Due: none

feat: eol stage activation through config
  public/data/components/config.json
  src/Data/Component/Config.elm
  src/Page/Object.elm
  src/Views/Component.elm
  tests/Data/ComponentTest.elm
Due: app-prettier

refactor: expose Config.scopeEnabled helper
  src/Data/Component.elm
  src/Data/Component/Config.elm
  src/Page/Object.elm
  src/Views/Component.elm
Due: none

fix: use memory store as cache
  backend/src/app/domain/accounts/controllers/access.py
Due: app-ruff-check, app-ruff-format

test: cache invalidation
  backend/src/app/config/base.py
  backend/src/app/domain/accounts/controllers/access.py
  tests/backend/integration/test_access.py
Due: app-ruff-check, app-ruff-format
