Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format, dont-commit-detailed-processes

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
      exclude: (svg|icomoon|rapidoc-9.3.4.min.js)
    - id: trailing-whitespace
      exclude: (vendor|rapidoc-9.3.4.min.js)
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, master]

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier
        language: system
        files: ^.*$
        types_or: [javascript, json]
        entry: |
          bash -c 'npm --prefix . run fix:prettier --write "${@}"' --

      - id: app-ruff-check
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:check "${@}"' --

      - id: app-ruff-format
        name: run ruff format
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:format "${@}"' --

      - id: dont-commit-detailed-processes
        name: check that we don't commit processes_impacts.json
        language: system
        files: ^processes_impacts.json$
        entry: |
          bash -c 'echo "⚠️ Prevented pushing detailed impacts data to public git repository. To update these, clone and push to the ecobalyse-private repository.";exit 1'

chore: remove useless modules
  package-lock.json
  package.json
Due: app-prettier

fix: decrypt files properly
  server.js
Due: app-prettier

fix: don't fail if versions dir doesn't exist
  server.js
Due: app-prettier

fix: cross origin referrer is needed to redirect after login
  bin/build-specific-app-version.sh
Due: none

feat: patch version file and create dist
  bin/build-specific-app-version.sh
Due: none

feat: put dataDirHash into version file
  bin/build-specific-app-version.sh
Due: none

feat: update server to serve a specific tag
  .gitignore
  package-lock.json
  package.json
  server.js
Due: app-prettier

Created a button to compute the surface, don't recompute it each time. Also force to select a contributor
  data/Makefile
  data/notebooks/ingredients.py
Due: app-ruff-check, app-ruff-format

use ccomb-5 which fix the comment separator for simapro csv import
  data/docker/Dockerfile
  data/docker/requirements.txt
Due: none

Replace the newline with an HTML newline
  data/notebooks/explore.py
Due: app-ruff-check, app-ruff-format

new export
  public/data/food/ingredients.json
  public/data/food/processes.json
Due: app-prettier

GITBOOK-983: Ameublement
  .gitbook/assets/Coût environnemental de composants en bois (uPts _ m3) (1).png
  .gitbook/assets/Coût environnemental de composants en bois (uPts _ m3).png
  .gitbook/assets/Coût environnemental de tous les composants (uPts _ kg) (1).png
  .gitbook/assets/Coût environnemental des autres composants (uPts _ kg).png
  .gitbook/assets/Coût environnemental des composants autres que ceux en bois (uPts _ kg).png
  SUMMARY.md
  alimentaire-en-construction/etape-2-fabrication-du-fil/README.md
  alimentaire-en-construction/etape-2-fabrication-du-fil/autres-composants.md
  alimentaire-en-construction/etape-2-fabrication-du-fil/bois-doeuvre.md
  alimentaire-en-construction/etape-2-fabrication-du-fil/composants-en-bois.md
  alimentaire-en-construction/etape-2-fabrication-du-fil/panneaux-de-bois.md
Due: none

GITBOOK-984: change request with no subject merged in GitBook
  SUMMARY.md
  alimentaire-en-construction/etape-2-fabrication-du-fil/README.md
Due: none

renamed variable and removed an old print
  data/common/impacts.py
Due: app-ruff-check, app-ruff-format

unused variable
  data/food/export.py
Due: app-ruff-check, app-ruff-format

display the ecoscore in the bw explorer
  data/notebooks/explore.py
Due: app-ruff-check, app-ruff-format

Renamed the Score column to Amount, added a Score column
  data/notebooks/explore.py
Due: app-ruff-check, app-ruff-format

multiply by 1e6 to get uPts
  data/notebooks/explore.py
Due: app-ruff-check, app-ruff-format

Added Percent / PEF c Veuillez saisir le message de validation pour vos modifications. Les lignes
  data/notebooks/explore.py
Due: app-ruff-check, app-ruff-format

changed display rounding of percent display
  data/notebooks/explore.py
Due: app-ruff-check, app-ruff-format

GITBOOK-985: change request with no subject merged in GitBook
  SUMMARY.md
  alimentaire-en-construction/impacts-consideres/cas-particulier-des-produits-de-la-mer.md
Due: none

GITBOOK-986: change request with no subject merged in GitBook
  SUMMARY.md
  alimentaire-en-construction/impacts-consideres/cas-particulier-des-produits-issu-de-la-peche.md
Due: none

GITBOOK-987: change request with no subject merged in GitBook
  alimentaire-en-construction/impacts-consideres/cas-particulier-des-produits-issu-de-la-peche.md
Due: none

GITBOOK-989: change request with no subject merged in GitBook
  alimentaire-en-construction/impacts-consideres/cas-particulier-des-produits-issu-de-la-peche.md
Due: none

GITBOOK-990: change request with no subject merged in GitBook
  alimentaire-en-construction/impacts-consideres/cas-particulier-des-produits-issu-de-la-peche.md
Due: none

GITBOOK-991: change request with no subject merged in GitBook
  alimentaire-en-construction/impacts-consideres/README.md
  alimentaire-en-construction/impacts-consideres/impacts-consideres.md
Due: none

GITBOOK-992: change request with no subject merged in GitBook
  alimentaire-en-construction/impacts-consideres/impacts-consideres-1.md
Due: none

merge food and textile into the default project. Improved bw explorer to display the ecoscore and columns with percentage
  data/Makefile
  data/common/delete_methods.py
  data/common/import_.py
  data/common/sync_datapackages.py
  data/food/export.py
  data/import_agribalyse.py
  data/import_ecoinvent.py
  data/import_method.py
  data/notebooks/explore.py
  data/notebooks/ingredients.py
  public/data/food/ingredients.json
  public/data/food/processes.json
Due: app-prettier, app-ruff-check, app-ruff-format

added a make delete_database and moved sync_datapackage
  data/Makefile
  data/common/delete_database.py
  data/import_agribalyse.py
Due: app-ruff-check, app-ruff-format

also remove negative ldu on greenhouse from urban on Ginko
  data/import_agribalyse.py
Due: app-ruff-check, app-ruff-format

Added migrations for Ginko, improved the bw explorer
  data/common/export.py
  data/import_agribalyse.py
  data/import_ecoinvent.py
  data/import_method.py
  data/notebooks/explore.py
Due: app-ruff-check, app-ruff-format

Split import and export in the Makefile
  data/Makefile
Due: none

chore: upgrade Django to >=5.0.8.
  Pipfile
  Pipfile.lock
Due: none

chore: upgrade Django to >=5.0.8. (#695)
  Pipfile
  Pipfile.lock
Due: none

GITBOOK-993: change request with no subject merged in GitBook
  textile/cycle-de-vie-des-produits-textiles/etape-6-utilisation.md
Due: none

fix search term
  data/food/activities.json
Due: app-prettier

refactor: use python instead of bash to get data branch
  .github/workflows/node.js.yml
  bin/checkout-ecobalyse-private-branch.sh
  bin/extract-data-branch-from-pr.sh
  bin/extract_data_branch_from_pr.py
  bin/get-tag-for-commit.py
  bin/get_tag_for_commit.py
  bin/update-version.sh
  lib/ecobalyse_github.py
  pyproject.toml
  tests/test_data_branch.py
Due: app-ruff-check, app-ruff-format

refactor: test bad branch name
  bin/extract_data_branch_from_pr.py
  lib/ecobalyse_github.py
  tests/test_data_branch.py
Due: app-ruff-check, app-ruff-format

fix: add PYTHONPATH to github workflows
  .github/workflows/node.js.yml
  .github/workflows/score_history.yml
Due: none

corrected search term
  data/food/activities.json
  public/data/food/ingredients.json
Due: app-prettier
