Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
      exclude: (svg|icomoon|rapidoc-9.3.4.min.js)
    - id: trailing-whitespace
      exclude: (vendor|rapidoc-9.3.4.min.js)
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, master]

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier
        language: system
        files: ^.*$
        types_or: [javascript, json]
        entry: |
          bash -c 'npm --prefix . run fix:prettier --write "${@}"' --

      - id: app-ruff-check
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:check "${@}"' --

      - id: app-ruff-format
        name: run ruff format
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:format "${@}"' --

      - id: app-elm-format
        name: run elm-format
        language: system
        files: ^.*$
        types_or: [elm]
        entry: |
          bash -c 'npm --prefix . run fix:elm-format "${@}"' --

chore: add a few FIXME to address before landing
  src/Data/Component.elm
Due: none

fix: accept empty queries
  openapi.yaml
  src/Data/Common/DecodeUtils.elm
  src/Server/Route.elm
  tests/Server/RouteTest.elm
  tests/server.spec.js
Due: app-prettier

refactor: api paths, eager config loaded in server
  openapi.yaml
  src/Data/Process.elm
  src/Server.elm
  src/Server/Route.elm
  tests/Server/RouteTest.elm
Due: none

chore: improve api docs
  openapi.yaml
Due: none

chore: encode product categ
  src/Data/Component/ProductCategory.elm
Due: none

feat: force food2 default scope for generic endpoints
  openapi.yaml
Due: none

feat: expose and encode process category
  openapi.yaml
  src/Server.elm
Due: none

chore: remove obsoleete comment
  src/Views/Bookmark.elm
Due: none

chore: add api server tests
  tests/server.spec.js
Due: app-prettier

refactor: avoid encoding default values
  src/Data/Component.elm
Due: none

feat: add generic api server endpoints
  src/Server.elm
Due: none

feat: init api docs
  public/pages/api-docs.md
Due: none

fix: fix openapi schema validation errors
  docker/server-simple.js
  openapi.yaml
  server.js
  tests/server.spec.js
Due: app-prettier

chore: add server routes
  src/Data/Scope.elm
  src/Server/Route.elm
Due: none

chore: add draft generic section to openapi.yml
  openapi.yaml
Due: none

chore: add api changelog
  src/Page/Api.elm
Due: none

feat: improve api docs
  openapi.yaml
  public/pages/api-docs.md
Due: none

feat: complete query string representation
  src/Data/Component.elm
  src/Server.elm
  tests/Data/ComponentTest.elm
  tests/TestUtils.elm
Due: none

refactor: add comment
  src/Server.elm
Due: none

docs: resync docs against latest changes
  openapi.yaml
  public/pages/api-docs.md
Due: none

docs: add api docs
  public/pages/api-docs.md
  src/Data/Component.elm
Due: none

feat: enforce selecting compatible material type
  openapi.yaml
  public/pages/api-docs.md
  src/Data/Process/Category.elm
  src/Server.elm
  src/Server/Route.elm
  tests/Server/RouteTest.elm
  tests/Server/ServerTest.elm
  tests/server.spec.js
Due: app-prettier

docs: add note about detailed impacts
  public/pages/api-docs.md
Due: none

docs: revamp tutorial to make it simpler
  public/pages/api-docs.md
Due: none

feat: finish api docs draft
  public/pages/api-docs.md
Due: none

feat: improve api ux
  public/pages/api-docs.md
  src/Data/Component.elm
Due: none

fix: disambiguation
  public/pages/api-docs.md
Due: none

refactor: strengthen consumption validation
  openapi.yaml
  public/data/food2/examples.json
  public/pages/api-docs.md
  src/CheckDb.elm
  src/Data/Bookmark.elm
  src/Data/Component.elm
  src/Data/Component/Consumption.elm
  src/Data/Component/ProductCategory.elm
  src/Data/Db.elm
  src/Data/Generic/Db.elm
  src/Page/Generic.elm
  src/Server/Route.elm
  src/Views/Component.elm
  tests/Data/ComponentTest.elm
  tests/server.spec.js
Due: app-prettier

fix: proofreading
  public/pages/api-docs.md
Due: none

refactor: clean code
  src/Data/Component/Consumption.elm
  src/Data/Process.elm
  tests/Data/ComponentTest.elm
Due: none

feat: link to api docs
  openapi.yaml
Due: none

refactor: DRY test http requests
  tests/Server/RouteTest.elm
  tests/Server/ServerTest.elm
  tests/TestUtils.elm
Due: none

chore: improve test helper
  tests/Data/ComponentTest.elm
Due: none

fix: e2e test after err message update
  tests/server.spec.js
Due: app-prettier

feat: enable compact item queries w/o custom nested obj
  openapi.yaml
  public/data/food2/examples.json
  public/data/object/examples.json
  public/data/veli/examples.json
  public/pages/api-docs.md
  src/Data/Component.elm
  tests/Data/ComponentTest.elm
Due: app-prettier

chore: remove noisy empty transforms lists
  openapi.yaml
  public/data/food2/examples.json
  public/data/object/components.json
  public/data/object/examples.json
  public/data/veli/examples.json
Due: app-prettier

fix: ensure strict parsing of custom property
  src/Data/Component.elm
Due: none

display if ingredient is visible or not
  bin/check_ingredient_hierarchy.py
Due: app-ruff-check, app-ruff-format

update battery material type and recycling processes
  backend/src/app/domain/processes/schemas.py
  data/custom_lci.json
  data/lci_catalog/ecobalyse_custom_lci/battery-cell-lfp-hydro-cn.json
  data/lci_catalog/ecobalyse_custom_lci/battery-cell-lfp-solid-cn.json
  data/lci_catalog/ecobalyse_custom_lci/battery-cell-nmc622-cn.json
  data/lci_catalog/ecobalyse_custom_lci/battery-cell-nmc811-cn.json
  data/lci_catalog/ecobalyse_custom_lci/battery-cell-nmc811-fr.json
  data/lci_catalog/ecobalyse_custom_lci/eol-recycling-battery-alkaline.json
  data/lci_catalog/ecobalyse_custom_lci/eol-recycling-battery-cell-lfp-cff.json
  data/lci_catalog/ecobalyse_custom_lci/eol-recycling-battery-cell-nmc622.json
  public/data/components/config.json
  src/Data/Process/Category.elm
  uv.lock
Due: app-prettier, app-ruff-check, app-ruff-format

fix formatting
  data/custom_lci.json
Due: app-prettier
