Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format, dont-commit-detailed-processes

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
      exclude: (svg|icomoon|rapidoc-9.3.4.min.js)
    - id: trailing-whitespace
      exclude: (vendor|rapidoc-9.3.4.min.js)
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, master]

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier
        language: system
        files: ^.*$
        types_or: [javascript, json]
        entry: |
          bash -c 'npm --prefix . run fix:prettier --write "${@}"' --

      - id: app-ruff-check
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:check "${@}"' --

      - id: app-ruff-format
        name: run ruff format
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:format "${@}"' --

      - id: dont-commit-detailed-processes
        name: check that we don't commit processes_impacts.json
        language: system
        files: ^processes_impacts.json$
        entry: |
          bash -c 'echo "⚠️ Prevented pushing detailed impacts data to public git repository. To update these, clone and push to the ecobalyse-private repository.";exit 1'

increase tolerance
  tests/server.spec.js
Due: app-prettier

set tolerance to 1e-12
  tests/Data/Food/RecipeTest.elm
  tests/server.spec.js
Due: app-prettier

adapted to multiple categories
  data/food/export.py
  public/data/food/processes.json
Due: app-prettier, app-ruff-check, app-ruff-format

adapted tests
  tests/Data/Food/RecipeTest.elm
  tests/Data/Textile/SimulatorTest.elm
  tests/e2e-food.json
  tests/e2e-textile.json
Due: app-prettier

original order
  data/textile/export.py
Due: app-ruff-check, app-ruff-format

reorder
  public/data/textile/processes.json
Due: app-prettier

reorder keys
  data/textile/export.py
  public/data/textile/processes.json
Due: app-prettier, app-ruff-check, app-ruff-format

fix units
  data/common/__init__.py
  data/common/export.py
  data/food/export.py
  data/textile/export.py
  public/data/food/processes.json
  public/data/textile/processes.json
  src/Data/Food/Process.elm
Due: app-prettier, app-ruff-check, app-ruff-format

keep pef/ecs order to limit the diff
  data/common/__init__.py
  public/data/food/processes.json
  public/data/textile/processes.json
Due: app-prettier, app-ruff-check, app-ruff-format

fixed original waste
  data/textile/activities.json
  public/data/textile/processes.json
Due: app-prettier

restore waste
  data/textile/activities.json
  public/data/textile/processes.json
Due: app-prettier

try to keep a small diff by reordering
  data/food/export.py
  public/data/food/processes.json
Due: app-prettier, app-ruff-check, app-ruff-format

add export_textile in make export
  data/Makefile
Due: none

adapted test
  tests/Data/Textile/SimulatorTest.elm
Due: none

data for veli
  public/data/object/examples.json
Due: app-prettier

naming and structure scope attribute
  public/data/object/examples.json
Due: app-prettier

GITBOOK-1077: No subject
  SUMMARY.md
  ameublement/README.md
  ameublement/assemblage.md
  ameublement/composants/README.md
  ameublement/composants/autres-composants.md
  ameublement/composants/composants-en-bois.md
  ameublement/composants/transformation-finition.md
  ameublement/transport.md
  vehicules/README.md
  vehicules/caracteristiques-du-vehicule.md
  vehicules/fabrication-des-composants/README.md
  vehicules/fabrication-des-composants/assise.md
  vehicules/fabrication-des-composants/autres-composants.md
  vehicules/fabrication-des-composants/batterie.md
  vehicules/fabrication-des-composants/cellules-photovoltaiques.md
  vehicules/fabrication-des-composants/chassis-and-carrosserie/README.md
  vehicules/fabrication-des-composants/chassis-and-carrosserie/acier-et-aluminium-methodes-detaillees.md
  vehicules/fabrication-des-composants/chassis-and-carrosserie/transformation-finition.md
  vehicules/fabrication-des-composants/jantes-roues.md
  vehicules/fabrication-des-composants/moteur.md
  vehicules/fabrication-des-composants/pneumatiques.md
  vehicules/methodes.md
  vehicules/transport-des-composants.md
  vehicules/transport-des-vehicules.md
  vehicules/utilisation-du-vehicule/README.md
  vehicules/utilisation-du-vehicule/energie-apportee-par-des-panneaux-solaires-photovoltaique.md
Due: none

chore: add tolerance to tests comparison (#810)
  tests/Data/Food/RecipeTest.elm
  tests/server.spec.js
Due: app-prettier

adapted tests
  tests/e2e-textile.json
Due: app-prettier

refactor: aggregate in python (#807)
  data/Makefile
  data/common/export.py
  data/food/export.py
  public/data/food/processes.json
Due: app-prettier, app-ruff-check, app-ruff-format

fix corrected impacts
  data/common/__init__.py
  data/common/export.py
Due: app-ruff-check, app-ruff-format

new export
  public/data/textile/processes.json
Due: app-prettier

adapted tests
  tests/Data/Textile/SimulatorTest.elm
  tests/e2e-food.json
Due: app-prettier

format
  tests/e2e-food.json
Due: app-prettier

more precise search for flax
  data/textile/activities.json
Due: app-prettier

adapt to mutualized code of the textile_export, run new export
  data/Makefile
  data/common/export.py
  data/object/export.py
  data/textile/activities.json
  public/data/food/processes.json
  public/data/object/processes.json
  public/data/textile/processes.json
  src/Data/Object/Process.elm
Due: app-prettier, app-ruff-check, app-ruff-format

fixed Makefile for bw/sp comparison
  data/Makefile
  data/textile/activities.json
Due: app-prettier

feat: introduce a new Veli scope.
  src/Data/Dataset.elm
  src/Data/Scope.elm
  src/Page/Explore.elm
  src/Route.elm
  src/Views/Bookmark.elm
Due: none

Fixed the `make compare_*` commands
  data/Makefile
  data/common/__init__.py
  data/common/export.py
  data/food/export.py
  data/textile/export.py
Due: app-ruff-check, app-ruff-format

feat: introduce example scope.
  public/data/food/examples.json
  public/data/object/examples.json
  public/data/textile/examples.json
  src/Data/Example.elm
  src/Data/Scope.elm
  src/Main.elm
  src/Page/Explore/ObjectExamples.elm
  src/Page/Object.elm
  src/Route.elm
  src/Views/Bookmark.elm
  src/Views/Page.elm
Due: app-prettier

display the name in plots
  data/food/export.py
Due: app-ruff-check, app-ruff-format

activities_to_create
  data/object/activities_to_create.json
Due: app-prettier

feat: Ensure having distinct queries for veli and object.
  src/Data/Session.elm
  src/Main.elm
  src/Page/Object.elm
Due: none

Changed ingredients (contributed by Écobalyse)
  data/food/activities.json
Due: app-prettier

fix: generate appropriate permalinks.
  src/Data/Object/Query.elm
  src/Page/Object.elm
  src/Views/Bookmark.elm
Due: none

feat: add scope to objects examples explorer.
  src/Page/Explore/ObjectExamples.elm
Due: none
