Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
      exclude: (svg|icomoon|rapidoc-9.3.4.min.js)
    - id: trailing-whitespace
      exclude: (vendor|rapidoc-9.3.4.min.js)
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, master]

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier
        language: system
        files: ^.*$
        types_or: [javascript, json]
        entry: |
          bash -c 'npm --prefix . run fix:prettier --write "${@}"' --

      - id: app-ruff-check
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:check "${@}"' --

      - id: app-ruff-format
        name: run ruff format
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:format "${@}"' --

      - id: app-elm-format
        name: run elm-format
        language: system
        files: ^.*$
        types_or: [elm]
        entry: |
          bash -c 'npm --prefix . run fix:elm-format "${@}"' --

GITBOOK-1734: No subject
  SUMMARY.md
  methodes-transverses/emballages.md
  methodes-transverses/precisions-importantes-sur-les-methodes-transverses.md
Due: none

change cow-milk-eu lcia ; upgrade milk-organic-2025 to cow-milk-organic
  data/lci_catalog/agribalyse-3-2/milk.json
  data/lci_catalog/ecobalyse/milk-organic.json
  data/lci_catalog/wfldb/cow-milk-archetype-feed-mix-uk-149nw-raw.json
Due: app-prettier

GITBOOK-1735: No subject
  methodes-transverses/emballages.md
Due: none

feat(data,food2): add “Farine de blé FR (1kg)” example
  public/data/food2/examples.json
Due: app-prettier

feat(data,food2): add “Farine de blé bio FR (1kg)” example
  public/data/food2/examples.json
Due: app-prettier

feat(data,food2): add “Filet de poulet FR (250g)” example
  public/data/food2/examples.json
Due: app-prettier

feat(data,food2): add “Pizza végétal (350g)” example
  public/data/food2/examples.json
Due: app-prettier

feat(data,food2): add “Pizza bolognese FR (350g)” example
  public/data/food2/examples.json
Due: app-prettier

feat(data,food2): add “Pizza bolognese Bio (350g)” example
  public/data/food2/examples.json
Due: app-prettier

squash commits
  .prettierignore
  data/bin/json_formatter.py
  data/common/distances/README.md
  data/common/distances/compute_distances.py
  data/common/distances/country_set.py
  data/common/distances/distances_raw.json
  data/common/distances/distances_to_csv.py
  data/common/distances/query_distance_api.py
  data/common/distances/transports.py
  public/data/transports.json
  tests/Data/Food/RecipeTest.elm
Due: app-prettier, app-ruff-check, app-ruff-format

fix: use stateful explorer detail
  src/Page/Explore.elm
  src/Page/Explore/Components.elm
  src/Page/Explore/Countries.elm
  src/Page/Explore/FoodIngredients.elm
  src/Page/Explore/Impacts.elm
  src/Page/Explore/Processes.elm
  src/Page/Explore/Table.elm
  src/Route.elm
Due: none

fix tests
  tests/Data/Food/RecipeTest.elm
  tests/Data/Textile/LifeCycleTest.elm
  tests/Data/Textile/SimulatorTest.elm
  tests/Data/TransportTest.elm
Due: none

chore: display « Alimentaire BÉTA » (#2538)
  e2e/food-simulator.spec.js
  src/Data/Scope.elm
  src/Views/Page.elm
  tests/Data/ComponentTest.elm
Due: app-prettier

fix: remove 404 links
  src/Page/Explore/TextileMaterials.elm
  src/Page/Explore/TextileProducts.elm
Due: none

fix e2e tests
  tests/e2e-food.json
  tests/e2e-textile.json
Due: app-prettier

add packaging in lci catalog
  data/lci_catalog/ecobalyse/packaging-material-cardboard.json
  data/lci_catalog/ecobalyse/packaging-material-papper.json
  data/lci_catalog/ecobalyse/packaging-material-pehd.json
  data/lci_catalog/ecobalyse/packaging-material-peld.json
  data/lci_catalog/ecobalyse/packaging-material-pp.json
  data/lci_catalog/ecobalyse/packaging-material-ps.json
  data/lci_catalog/ecobalyse/packaging-material-wood.json
Due: app-prettier

GITBOOK-1737: No subject
  SUMMARY.md
  methodes-transverses/assemblage.md
  methodes-transverses/precisions-sur-les-methodes-transverses.md
Due: none

fix: use stateful explorer detail (#2554)
  src/Page/Explore.elm
  src/Page/Explore/Components.elm
  src/Page/Explore/Countries.elm
  src/Page/Explore/FoodIngredients.elm
  src/Page/Explore/Impacts.elm
  src/Page/Explore/Processes.elm
  src/Page/Explore/Table.elm
  src/Page/Explore/TextileMaterials.elm
  src/Page/Explore/TextileProducts.elm
  src/Route.elm
Due: none

refactor: simplify impl., fix edge cases
  src/Data/Component.elm
  src/Views/Component.elm
Due: none

fix: final transform step transports to assembly
  src/Views/Component.elm
Due: none

docs: update code comments to reflect impl.
  src/Data/Component.elm
Due: none

feat(generic): always enable assembly step
  src/Data/Component.elm
  src/Views/Component.elm
  tests/Data/ComponentTest.elm
Due: none

feat: add default assembly countries to examples
  public/data/object/examples.json
Due: app-prettier

fix: remove obsolete items length guards
  src/Data/Component.elm
  src/Views/Component.elm
Due: none

feat(data,veli): add “Voiture Essence CatB, 5.5L/100km, fabrication Europe de l'Ouest” example
  public/data/veli/examples.json
Due: app-prettier

feat(data,veli): add “Voiture électrique CatB, 15kWh/100km, fabrication Europe de l'Ouest” example
  public/data/veli/examples.json
Due: app-prettier

add cars examples
  public/data/veli/examples.json
Due: app-prettier

fix veli 90 Fr
  public/data/veli/examples.json
Due: app-prettier

delete material packaging in food
  data/lci_catalog/ecobalyse/packaging-material-aluminium.json
  data/lci_catalog/ecobalyse/packaging-material-cardboard.json
  data/lci_catalog/ecobalyse/packaging-material-glass.json
  data/lci_catalog/ecobalyse/packaging-material-papper.json
  data/lci_catalog/ecobalyse/packaging-material-pehd.json
  data/lci_catalog/ecobalyse/packaging-material-peld.json
  data/lci_catalog/ecobalyse/packaging-material-pet.json
  data/lci_catalog/ecobalyse/packaging-material-pp.json
  data/lci_catalog/ecobalyse/packaging-material-ps.json
  data/lci_catalog/ecobalyse/packaging-material-pvc.json
  data/lci_catalog/ecobalyse/packaging-material-steel.json
  data/lci_catalog/ecobalyse/packaging-material-wood.json
Due: app-prettier

chore: add tests
  tests/Data/ComponentTest.elm
Due: none

GITBOOK-1738: No subject
  SUMMARY.md
Due: none

GITBOOK-1739: No subject
  SUMMARY.md
  vehicules/cycle-de-vie/README.md
  vehicules/cycle-de-vie/fabrication-des-composants/autres-composants-non-quantifies.md
  vehicules/exemples.md
Due: none

GITBOOK-1740: No subject
  vehicules/cycle-de-vie/assemblage.md
Due: none

GITBOOK-1741: No subject
  vehicules/cycle-de-vie/utilisation-du-vehicule/README.md
  vehicules/cycle-de-vie/utilisation-du-vehicule/construction-des-procedes-carburant.md
  vehicules/seminaire-veli-06-05-2026.md
Due: none
