Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format

app-prettier:
  name: run prettier
  language: system
  entry: 'bash -c ''npm --prefix . run fix:prettier --write "${@}"'' --
  
    '

app-ruff-check:
  name: run ruff check
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:check "${@}"'' --
  
    '

app-ruff-format:
  name: run ruff format
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:format "${@}"'' --
  
    '

fix: disambiguation
  public/pages/api-docs.md
Due: none

chore: add a few FIXME to address before landing
  src/Data/Component.elm
Due: none

feat: init api docs
  public/pages/api-docs.md
Due: none

fix: accept empty queries
  openapi.yaml
  src/Data/Common/DecodeUtils.elm
  src/Server/Route.elm
  tests/Server/RouteTest.elm
  tests/server.spec.js
Due: app-prettier

refactor: clean code
  src/Server.elm
  src/Server/Route.elm
  tests/Server/RouteTest.elm
Due: none

feat: force food2 default scope for generic endpoints
  openapi.yaml
Due: none

refactor: add comment
  src/Server.elm
Due: none

refactor: avoid encoding default values
  src/Data/Component.elm
Due: none

docs: add note about detailed impacts
  public/pages/api-docs.md
Due: none

feat: expose and encode process category
  openapi.yaml
  src/Server.elm
Due: none

feat: allow reloading md pages in browser
  nodemon.json
  package-lock.json
  package.json
Due: app-prettier

feat: complete query string representation
  src/Data/Component.elm
  src/Server.elm
  tests/Data/ComponentTest.elm
  tests/TestUtils.elm
Due: none

feat: improve api docs
  openapi.yaml
  public/pages/api-docs.md
Due: none

get back to old version
  bin/check_ingredient_hierarchy.py
Due: app-ruff-check, app-ruff-format

fix(api,textile): don't expose disabled stage details
  src/Data/Textile/LifeCycle.elm
  src/Data/Textile/Simulator.elm
Due: none

fix: refactor, add test
  src/Data/Textile/LifeCycle.elm
  tests/Data/Textile/LifeCycleTest.elm
Due: none

puree component
  public/data/food2/components.json
Due: app-prettier

fix(stable,textile,api): don't expose disabled stage details
  src/Data/Textile/LifeCycle.elm
  src/Server.elm
  tests/Data/Textile/LifeCycleTest.elm
Due: none

fix: expect labels in a predictable order
  tests/Data/Textile/LifeCycleTest.elm
Due: none

fix(stable): load rapidoc from npm
  .pre-commit-config.yaml
  .prettierignore
  index.js
  package-lock.json
  package.json
  public/vendor/rapidoc-9.3.4.min.js
  src/Page/Api.elm
  src/Ports.elm
Due: app-prettier

chore: update Plausible’s snippet We’re switching to the managed version ; the code snippet has changed.
  README.md
  index.js
  lib/http.js
Due: app-prettier

fix(stable): load rapidoc from npm (#2818)
  .pre-commit-config.yaml
  .prettierignore
  index.js
  package-lock.json
  package.json
  public/vendor/rapidoc-9.3.4.min.js
  src/Page/Api.elm
  src/Ports.elm
Due: app-prettier

fix(api,textile): don't expose disabled stage details (#2812)
  src/Data/Textile/LifeCycle.elm
  src/Data/Textile/Simulator.elm
  tests/Data/Textile/LifeCycleTest.elm
Due: none

fix(stable,textile,api): don't expose disabled stage details (#2814)
  src/Data/Textile/LifeCycle.elm
  src/Server.elm
  tests/Data/Textile/LifeCycleTest.elm
Due: none

fix(data): fix some characterizations
  data/import_method.py
  data/simapro-biosphere.json
  data/tests/test_rename_table.py
Due: app-prettier, app-ruff-check, app-ruff-format

apply requested changes
  public/data/food2/components.json
Due: app-prettier

full reimport/export
  data/export/processes_generic.json
  data/export/processes_legacy.json
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

fix: remove token cache
  backend/src/app/lib/crypt.py
Due: app-ruff-check, app-ruff-format

fix: ty warnings
  backend/src/app/domain/accounts/guards.py
  backend/src/app/domain/accounts/services.py
  backend/src/app/lib/crypt.py
Due: app-ruff-check, app-ruff-format

feat: ensure loading food2 components db
  src/Data/Db.elm
  src/Main.elm
  src/Request/Db.elm
  src/Static/Db.elm
  src/Static/Json.elm-template
Due: none

chore: update pyproject
  pyproject.toml
  uv.lock
Due: none

chore: puree component (#2813)
  public/data/food2/components.json
  src/Data/Db.elm
  src/Main.elm
  src/Request/Db.elm
  src/Static/Db.elm
  src/Static/Json.elm-template
Due: app-prettier

refactor: add a bunch of FIXME
  openapi.yaml
Due: none

refactor: improve filtering api$
  src/Server.elm
Due: none

refactor: identify expected test objects by name
  tests/server.spec.js
Due: app-prettier

chore: cache db to improve api server performances
  src/Server.elm
Due: none

feat: add beta notice, wording
  openapi.yaml
  src/Page/Api.elm
Due: none

chore: add tests
  tests/Server/RouteTest.elm
  tests/Server/ServerTest.elm
Due: none

Path conditions:
  app-prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.json$
  app-ruff-check: any of: ^.*$ and \.py$
  app-ruff-format: any of: ^.*$ and \.py$
