Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format, dont-commit-detailed-processes

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
      exclude: (svg|icomoon|rapidoc-9.3.4.min.js)
    - id: trailing-whitespace
      exclude: (vendor|rapidoc-9.3.4.min.js)
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, master]

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier
        language: system
        files: ^.*$
        types_or: [javascript, json]
        entry: |
          bash -c 'npm --prefix . run fix:prettier --write "${@}"' --

      - id: app-ruff-check
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:check "${@}"' --

      - id: app-ruff-format
        name: run ruff format
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:format "${@}"' --

      - id: dont-commit-detailed-processes
        name: check that we don't commit processes_impacts.json
        language: system
        files: ^processes_impacts.json$
        entry: |
          bash -c 'echo "⚠️ Prevented pushing detailed impacts data to public git repository. To update these, clone and push to the ecobalyse-private repository.";exit 1'

feat: sum production and eol impacts
  src/Data/Component.elm
  src/Views/Component.elm
Due: none

feat: typed material types
  src/Data/Component.elm
  src/Data/Process.elm
  src/Data/Process/Category.elm
Due: none

feat: add tooltip on null recycling impacts
  src/Views/Component.elm
Due: none

chore: add tests
  tests/Data/ComponentTest.elm
Due: none

chore: split and organize wip code
  src/Data/Component.elm
  src/Views/Component.elm
Due: none

feat: sort eol material groups by impacts desc
  src/Views/Component.elm
Due: none

feat: minimal end of life lifecycle step view
  src/Data/Process/Category.elm
  src/Views/Component.elm
Due: none

feat: hide eol stage on empty simulation
  src/Views/Component.elm
Due: none

feat: leverage anydict
  src/Data/Component.elm
  src/Data/Process/Category.elm
  src/Views/Component.elm
Due: none

feat: add material types to results
  src/Data/Component.elm
  src/Data/Process.elm
  tests/Data/ComponentTest.elm
Due: none

chore: prepare loading eol processes from strategies definition
  src/Data/Component.elm
  src/Views/Component.elm
Due: none

fix: column order
  src/Data/Component.elm
  src/Views/Component.elm
Due: none

feat: list of results as lifecycle steps
  src/Data/Component.elm
Due: none

refactor: use a better suject in tests
  tests/Data/ComponentTest.elm
Due: none

feat: group mass per material types
  src/Data/Component.elm
  src/Views/Component.elm
  tests/Data/ComponentTest.elm
Due: none

feat: end of life strategy shares data
  src/Data/Component.elm
Due: none

feat: compute material shares by types
  src/Data/Component.elm
  src/Views/Component.elm
Due: none

feat: introduce life cycle result
  src/Data/Component.elm
  src/Data/Object/Simulator.elm
  src/Data/Textile/Simulator.elm
  src/Page/Admin/Component.elm
  src/Page/Explore.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Views/Comparator.elm
  src/Views/Component.elm
  src/Views/ImpactTabs.elm
  tests/Data/ComponentTest.elm
Due: none

refactor: clean code
  src/Data/Component.elm
  src/Page/Admin/Component.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Views/Component.elm
Due: none

fix: sum production and eol stages impacts in final score
  src/Page/Object.elm
Due: none

feat: render a proper error on eol computation err
  src/Views/Component.elm
Due: none

feat: end of life step view
  src/Views/Component.elm
Due: none

GITBOOK-1565: No subject
  textile/cycle-de-vie-des-produits-textiles/etape-8-fin-de-vie.md
Due: none

GITBOOK-1566: No subject
  SUMMARY.md
  textile/cycle-de-vie-des-produits-textiles/copy-of-etape-8-fin-de-vie.md
Due: none

refactor: rename things appropriately
  src/Page/Object.elm
  tests/Data/ComponentTest.elm
Due: none

GITBOOK-1567: No subject
  textile/cycle-de-vie-des-produits-textiles/etape-8-fin-de-vie.md
Due: none

GITBOOK-1568: No subject
  textile/cycle-de-vie-des-produits-textiles/etape-8-fin-de-vie.md
Due: none

feat: add technical process name on rollovers
  src/Data/Component.elm
  src/Views/Component.elm
  tests/Data/ComponentTest.elm
Due: none

feat(object): implement basic end of life lifecycle stage (#1444)
  src/Data/Component.elm
  src/Data/Object/Simulator.elm
  src/Data/Process.elm
  src/Data/Process/Category.elm
  src/Data/Textile/Simulator.elm
  src/Page/Admin/Component.elm
  src/Page/Explore.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Views/Comparator.elm
  src/Views/Component.elm
  src/Views/ImpactTabs.elm
  tests/Data/ComponentTest.elm
Due: none

feat(textile,data,api)!: Use UUIDs for material identifiers. (#1285)
  e2e/auth.spec.js
  openapi.yaml
  public/data/textile/examples.json
  public/data/textile/materials.json
  src/Data/Dataset.elm
  src/Data/Food/Ingredient/Scenario.elm
  src/Data/Textile/Inputs.elm
  src/Data/Textile/Material.elm
  src/Data/Textile/Query.elm
  src/Data/Textile/Simulator.elm
  src/Page/Explore/TextileMaterials.elm
  src/Page/Textile.elm
  src/Views/Textile/Step.elm
  tests/Data/Textile/InputsTest.elm
  tests/Data/Textile/LifeCycleTest.elm
  tests/Data/Textile/QueryTest.elm
  tests/Data/Textile/SimulatorTest.elm
  tests/Server/RouteTest.elm
  tests/TestUtils.elm
  tests/e2e-textile.json
  tests/server.spec.js
Due: app-prettier

chore: add material type
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

chore: add command to add multiple users at once
  backend/src/app/cli/commands.py
  bin/load-fixtures.sh
Due: app-ruff-check, app-ruff-format

chore: fix duplicate id process
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

fix: fixture loading order
  bin/load-fixtures.sh
Due: none

feat: add metal incineration process
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

chore: @cedricr review
  backend/src/app/cli/commands.py
  bin/load-fixtures.sh
  bin/reset-docker-db.sh
Due: app-ruff-check, app-ruff-format

chore: add command to add multiple users at once (#1459)
  backend/src/app/cli/commands.py
  bin/load-fixtures.sh
  bin/reset-docker-db.sh
Due: app-ruff-check, app-ruff-format

chore(wip): update processes
  backend/src/app/cli/commands.py
  backend/src/app/domain/processes/deps.py
  backend/src/app/domain/processes/services.py
  tests/backend/data_fixtures.py
  tests/backend/integration/test_load_processes_fixtures.py
  tests/backend/integration/test_processes.py
Due: app-ruff-check, app-ruff-format

fix: use session merge to clean component update
  backend/src/app/domain/components/services.py
Due: app-ruff-check, app-ruff-format

fix: SAWarning loading problem
  backend/src/app/db/models/process.py
  backend/src/app/domain/processes/services.py
Due: app-ruff-check, app-ruff-format
