Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
      exclude: (svg|icomoon|rapidoc-9.3.4.min.js)
    - id: trailing-whitespace
      exclude: (vendor|rapidoc-9.3.4.min.js)
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, master]

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier
        language: system
        files: ^.*$
        types_or: [javascript, json]
        entry: |
          bash -c 'npm --prefix . run fix:prettier --write "${@}"' --

      - id: app-ruff-check
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:check "${@}"' --

      - id: app-ruff-format
        name: run ruff format
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:format "${@}"' --

      - id: app-elm-format
        name: run elm-format
        language: system
        files: ^.*$
        types_or: [elm]
        entry: |
          bash -c 'npm --prefix . run fix:elm-format "${@}"' --

feat(experimental): contribute examples PRs from the ui (#2028)
  .env.sample
  .prettierignore
  README.md
  backend/src/app/config/base.py
  backend/src/app/db/models/user_profile.py
  backend/src/app/domain/components/schemas.py
  backend/src/app/domain/contrib/__init__.py
  backend/src/app/domain/contrib/controllers/__init__.py
  backend/src/app/domain/contrib/controllers/contrib.py
  backend/src/app/domain/contrib/schemas.py
  backend/src/app/domain/contrib/services.py
  backend/src/app/domain/contrib/urls.py
  backend/src/app/lib/json.py
  backend/src/app/server/core.py
  src/Page/Food.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Request/Contrib.elm
  src/Views/Bookmark.elm
  src/Views/Page.elm
  src/Views/Sidebar.elm
  tests/backend/integration/test_contrib.py
Due: app-ruff-check, app-ruff-format

fix: don’t apply ratios twice
  src/Data/Food/Recipe.elm
Due: none

feat: add « Europe et Maghreb » country
  public/data/countries.json
  public/data/transports.json
Due: app-prettier

chore: add comment and tests
  public/data/countries.json
  public/data/transports.json
  src/Data/Country.elm
  src/Data/Food/Recipe.elm
  tests/Data/Food/RecipeTest.elm
Due: app-prettier

fix steel in chassis component (2082)
  public/data/object/components.json
Due: app-prettier

feat(food1): allow configuring legacy api visibility
  README.md
  server.js
Due: app-prettier

chore: add tests
  lib/index.js
  server.js
  tests/lib/index.spec.js
Due: app-prettier

fix: ensure setting precedence
  server.js
Due: app-prettier

fix: missing extract
  server.js
Due: app-prettier

refactor: clean code, formatting
  server.js
  tests/lib/index.spec.js
Due: app-prettier

feat(data,object): add “a good chair” example
  public/data/object/examples.json
Due: app-prettier

feat(data,object): add “test fix pr” example
  public/data/object/examples.json
Due: app-prettier

fix: Europe and Maghreb default road distance
  src/Data/Food/Ingredient.elm
  tests/Data/Food/RecipeTest.elm
Due: none

chore: fix typo
  public/data/countries.json
Due: app-prettier

feat: add « Europe et Maghreb » country (#2085)
  public/data/countries.json
  public/data/transports.json
  src/Data/Country.elm
  src/Data/Food/Ingredient.elm
  src/Data/Food/Recipe.elm
  tests/Data/Food/RecipeTest.elm
Due: app-prettier

feat(data,object): add “Ma chaise de jardin” example
  public/data/object/examples.json
Due: app-prettier

fix: better format backend http error messages
  backend/src/app/domain/contrib/services.py
  src/Request/BackendHttp/Error.elm
Due: app-ruff-check, app-ruff-format

fix(contrib): catch review assignment error, gh api=hell
  backend/src/app/domain/contrib/services.py
Due: app-ruff-check, app-ruff-format

docs: add code comment, use async logging
  backend/src/app/domain/contrib/services.py
Due: app-ruff-check, app-ruff-format

feat: add food2 components and exemples json files
  bin/build-db
  public/data/food2/components.json
  public/data/food2/examples.json
  src/Data/Object/Db.elm
  src/Static/Db.elm
  src/Static/Json.elm-template
Due: app-prettier

batch commit in load_processes_fixtures
  backend/src/app/cli/commands.py
Due: app-ruff-check, app-ruff-format

fix: batch commit in load_processes_fixtures (#2098)
  backend/src/app/cli/commands.py
Due: app-ruff-check, app-ruff-format

fix: add 500km of road transport for default FR
  src/Data/Food/Recipe.elm
  tests/Data/Food/RecipeTest.elm
Due: none

GITBOOK-1676: No subject
  .gitbook/assets/image (389).png
  methodes-transverses-specifiques/fin-de-vie-des-composants.md
Due: none

GITBOOK-1677: No subject
  methodes-transverses-specifiques/fin-de-vie-des-composants.md
Due: none

chore: typo
  src/Data/Food/Recipe.elm
Due: none

chore: refactor
  src/Data/Food/Recipe.elm
Due: none

chore: @n1k0’s review
  src/Data/Food/Ingredient.elm
  src/Data/Food/Recipe.elm
Due: none

GITBOOK-1678: No subject
  lequipe-ecobalyse.md
Due: none

GITBOOK-1679: No subject
  lequipe-ecobalyse.md
Due: none

fix: add 500km of road transport for default FR (#2099)
  src/Data/Food/Ingredient.elm
  src/Data/Food/Recipe.elm
  tests/Data/Food/RecipeTest.elm
Due: none

feat(api): allow configuring legacy food1 api docs visibility (#2088)
  README.md
  lib/index.js
  server.js
  tests/lib/index.spec.js
Due: app-prettier

fix(contrib): improve contrib backend error messages (#2092)
  backend/src/app/domain/contrib/services.py
  bin/build-db
  public/data/food2/components.json
  public/data/food2/examples.json
  src/Data/Object/Db.elm
  src/Request/BackendHttp/Error.elm
  src/Static/Db.elm
  src/Static/Json.elm-template
Due: app-prettier, app-ruff-check, app-ruff-format

chore: update dependencies
  package-lock.json
  uv.lock
Due: app-prettier

chore: update dependencies (#2103)
  package-lock.json
  uv.lock
Due: app-prettier
