Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format, dont-commit-detailed-processes

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
      exclude: (svg|icomoon|rapidoc-9.3.4.min.js)
    - id: trailing-whitespace
      exclude: (vendor|rapidoc-9.3.4.min.js)
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, master]

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier
        language: system
        files: ^.*$
        types_or: [javascript, json]
        entry: |
          bash -c 'npm --prefix . run fix:prettier --write "${@}"' --

      - id: app-ruff-check
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:check "${@}"' --

      - id: app-ruff-format
        name: run ruff format
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:format "${@}"' --

      - id: dont-commit-detailed-processes
        name: check that we don't commit processes_impacts.json
        language: system
        files: ^processes_impacts.json$
        entry: |
          bash -c 'echo "⚠️ Prevented pushing detailed impacts data to public git repository. To update these, clone and push to the ecobalyse-private repository.";exit 1'

GITBOOK-1140: Ameublement (affichage & MAJ Fin de vie)
  SUMMARY.md
  ameublement/README.md
  ameublement/complement-hors-acv.md
  ameublement/cycle-de-vie/README.md
  ameublement/cycle-de-vie/etape-1-fabrication-des-composants/README.md
  ameublement/cycle-de-vie/etape-1-fabrication-des-composants/autres-composants.md
  ameublement/cycle-de-vie/etape-1-fabrication-des-composants/composants-en-bois.md
  ameublement/cycle-de-vie/etape-1-fabrication-des-composants/transformation-finition.md
  ameublement/cycle-de-vie/etape-2.md
  ameublement/cycle-de-vie/etape-3-utilisation.md
  ameublement/cycle-de-vie/etape-4-fin-de-vie.md
  ameublement/durabilite.md
  ameublement/fin-de-vie.md
  vehicules/cycle-de-vie/fabrication-des-composants/README.md
Due: none

chore(security): upgrade django to >=5.1.4. (#885)
  Pipfile
  Pipfile.lock
Due: none

chore: indent bin/score_history/create_table_score_history.sql
  bin/score_history/create_table_score_history.sql
Due: none

chore: readd score_history (#891)
  .github/workflows/score_history.yml
  bin/score_history/create_table_score_history.sql
  bin/score_history/score_history.py
Due: app-ruff-check, app-ruff-format

fix: allow workflow dispatch for release creation
  .github/workflows/create_release.yml
Due: none

fix: add missing env var
  .github/workflows/create_release.yml
Due: none

fix: add missing env and allow workflow dispatch for release creation (#892)
  .github/workflows/create_release.yml
Due: none

fix: add python build libs to .gitignore.
  packages/python/ecobalyse/.gitignore
Due: none

chore: add python build libs to .gitignore. (#895)
  packages/python/ecobalyse/.gitignore
Due: none

refactor: improve YAML gh action legibility.
  .github/workflows/create_release.yml
Due: none

refactor: improve YAML gh action legibility. (#896)
  .github/workflows/create_release.yml
Due: none

GITBOOK-1143: No subject
  documentation-transverse/transport.md
Due: none

chore: update data files (#889)
  public/data/food/ingredients.json
  public/data/food/processes.json
  public/data/food/processes_impacts.json
  public/data/object/processes.json
  public/data/object/processes_impacts.json
  public/data/textile/materials.json
  public/data/textile/processes.json
  public/data/textile/processes_impacts.json
  tests/Data/Food/RecipeTest.elm
Due: app-prettier

fix: avoid empty process aliases.
  public/data/textile/processes.json
  public/data/textile/processes_impacts.json
Due: app-prettier

GITBOOK-1144: No subject
  .gitbook/assets/Coût environnemental des procédés de fin de vie (uPts _ kg) (2).png
  .gitbook/assets/Coût environnemental des procédés de fin de vie (uPts _ kg).png
  ameublement/cycle-de-vie/etape-1-fabrication-des-composants/transformation-finition.md
  ameublement/cycle-de-vie/etape-4-fin-de-vie.md
Due: none

feat: update finishing in processes.json
  public/data/textile/processes.json
  public/data/textile/processes_impacts.json
Due: app-prettier

chore: update tests
  tests/Data/Textile/SimulatorTest.elm
  tests/e2e-textile.json
Due: app-prettier

GITBOOK-1145: No subject
  ameublement/cycle-de-vie/etape-4-fin-de-vie.md
Due: none

GITBOOK-1146: Clarification de la prise en compte des deadstocks en confection
  textile/cycle-de-vie-des-produits-textiles/confection.md
  textile/cycle-de-vie-des-produits-textiles/stocks-dormants-deadstock.md
Due: none

fix: avoid empty process aliases. (#899)
  public/data/textile/processes.json
  public/data/textile/processes_impacts.json
Due: app-prettier

fix(security): upgrade django to 5.1.5.
  Pipfile
  Pipfile.lock
Due: none

feat: show heat, elec, waste, density in process explorer.
  src/Page/Explore/Processes.elm
Due: none

GITBOOK-1148: No subject
  vehicules/cycle-de-vie/utilisation-du-vehicule/README.md
Due: none

fix: typo
  src/Page/Explore/Processes.elm
Due: none

feat: show heat, elec, waste, density in process explorer. (#901)
  src/Page/Explore/Processes.elm
Due: none

refactor: processes are now elements.
  public/data/object/components.json
  public/data/textile/components.json
  src/Data/Component.elm
  src/Page/Explore/Components.elm
  src/Views/Component.elm
Due: app-prettier

feat: decode transforms.
  public/data/object/components.json
  public/data/textile/components.json
  src/Data/Component.elm
Due: app-prettier

refactor: ComponentItem -> Component.Item.
  src/Data/Component.elm
  src/Data/Object/Query.elm
  src/Data/Textile/Inputs.elm
  src/Data/Textile/Query.elm
  src/Page/Explore/Components.elm
  src/Page/Explore/TextileExamples.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Server/Query.elm
  src/Views/Component.elm
  tests/Data/ComponentTest.elm
Due: none

refactor: transforms are an explicitly required param.
  public/data/object/components.json
  public/data/textile/components.json
  src/Data/Component.elm
Due: app-prettier

chore: prepare transforms application pipeline.
  src/Data/Component.elm
Due: none

refactor: reuse expandElement.
  src/Data/Component.elm
Due: none

feat: map transforms to expanded process items.
  src/Data/Component.elm
  src/Page/Explore/Components.elm
  src/Views/Component.elm
Due: none

chore: upgrade components format.
  public/data/object/components.json
  public/data/textile/components.json
Due: app-prettier

refactor: transforms can be more than one.
  src/Data/Component.elm
Due: none

feat: expose merged components and processes to db root.
  src/Data/Object/Simulator.elm
  src/Static/Db.elm
  tests/Data/ComponentTest.elm
Due: none

chore: clean code.
  src/Data/Component.elm
Due: none

feat: apply transforms.
  src/Data/Component.elm
  src/Data/Impact.elm
Due: none

test: add waste application tests.
  src/Data/Component.elm
  tests/Data/ComponentTest.elm
Due: none

refactor: clean code.
  src/Data/Component.elm
  tests/Data/ComponentTest.elm
Due: none

feat: apply all processes to computations
  public/data/textile/processes_impacts.json
Due: app-prettier
