Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format, dont-commit-detailed-processes

app-prettier:
  name: run prettier
  language: system
  entry: 'bash -c ''npm --prefix . run fix:prettier --write "${@}"'' --
  
    '

app-ruff-check:
  name: run ruff check
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:check "${@}"'' --
  
    '

app-ruff-format:
  name: run ruff format
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:format "${@}"'' --
  
    '

dont-commit-detailed-processes:
  name: check that we don't commit processes_impacts.json
  language: system
  entry: 'bash -c ''echo "⚠️ Prevented pushing detailed impacts data to public git repository. To update these, clone and push to the ecobalyse-private repository.";exit 1''
  
    '

feat: add .venv to .prettierignore cc @vjousse
  .prettierignore
Due: none

add arg to fix:elm-format arg
  package.json
Due: app-prettier

@cedricr review
  .prettierignore
  package.json
Due: app-prettier

fix: format static db
  package.json
Due: app-prettier

feat: add elm auto-formatting on git pre-commit (#1736)
  .pre-commit-config.yaml
  .prettierignore
  package.json
  src/Data/Process/Category.elm
Due: app-prettier

merge feat/mass-per-unit
  backend/src/app/db/migrations/versions/2026-01-15_rename_density_to_massperunit_and_make__af8f29751a13.py
  backend/src/app/db/models/process.py
  backend/src/app/domain/processes/schemas.py
  openapi.yaml
  public/data/food/examples.json
  public/data/processes.json
  public/data/processes_impacts.json
  src/Data/Component.elm
  src/Data/Process.elm
  src/Page/Admin/Process.elm
  src/Page/Explore/Processes.elm
  src/Views/Format.elm
  tests/Data/ComponentTest.elm
  tests/Data/Food/RecipeTest.elm
  tests/Data/Textile/QueryTest.elm
  tests/backend/data_fixtures.py
  tests/backend/integration/test_load_processes_fixtures.py
  tests/backend/integration/test_processes.py
  tests/processes-schema.json
  tests/server.spec.js
Due: app-prettier, app-ruff-check, app-ruff-format

again
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

fix: add missing `/` to shareable url
  src/Views/Bookmark.elm
Due: none

doc: API is not versionned anymore
  public/pages/api-faq.md
Due: none

new export
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

fix packaging impact bug and re-add wrongfully deleted old packagings
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

chore: update tests
  tests/Data/Food/RecipeTest.elm
Due: none

fix: add missing `/` to shareable url (#1741)
  src/Views/Bookmark.elm
Due: none

refactor: use stage instead of step in the codebase
  e2e/textile-simulator.spec.js
  src/Data/Component.elm
  src/Data/Food/Recipe.elm
  src/Data/Impact.elm
  src/Data/Object/Simulator.elm
  src/Data/Textile/Formula.elm
  src/Data/Textile/Inputs.elm
  src/Data/Textile/LifeCycle.elm
  src/Data/Textile/Material.elm
  src/Data/Textile/Query.elm
  src/Data/Textile/Simulator.elm
  src/Data/Textile/Stage.elm
  src/Data/Textile/Stage/Label.elm
  src/Data/Textile/Validation.elm
  src/Page/Explore/TextileProducts.elm
  src/Page/Food.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Views/Comparator.elm
  src/Views/Component/StagesBorder.elm
  src/Views/ImpactTabs.elm
  src/Views/Textile/Stage.elm
  styles.scss
  tests/Data/Textile/FormulaTest.elm
  tests/Data/Textile/LifeCycleTest.elm
  tests/Data/Textile/QueryTest.elm
  tests/Data/Textile/SimulatorTest.elm
  tests/server.spec.js
Due: app-prettier

refactor: use Impact.Stages abstract in component
  src/Data/Component.elm
  src/Data/Impact.elm
  src/Data/Object/Simulator.elm
  src/Views/ImpactTabs.elm
  tests/Data/ComponentTest.elm
Due: none

refactor: life is beautiful <3
  src/Data/Impact.elm
  src/Data/Object/Simulator.elm
  src/Views/ImpactTabs.elm
Due: none

refactor: make Stages a dedicated module
  src/Data/Component.elm
  src/Data/Impact.elm
  src/Data/Object/Simulator.elm
  src/Data/Stages.elm
  src/Views/ImpactTabs.elm
Due: none

refactor: use "stage" instead of "step" in the codebase (#1738)
  e2e/textile-simulator.spec.js
  src/Data/Component.elm
  src/Data/Food/Recipe.elm
  src/Data/Impact.elm
  src/Data/Object/Simulator.elm
  src/Data/Stages.elm
  src/Data/Textile/Formula.elm
  src/Data/Textile/Inputs.elm
  src/Data/Textile/LifeCycle.elm
  src/Data/Textile/Material.elm
  src/Data/Textile/Query.elm
  src/Data/Textile/Simulator.elm
  src/Data/Textile/Stage.elm
  src/Data/Textile/Stage/Label.elm
  src/Data/Textile/Validation.elm
  src/Page/Explore/TextileProducts.elm
  src/Page/Food.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Views/Comparator.elm
  src/Views/Component/StagesBorder.elm
  src/Views/ImpactTabs.elm
  src/Views/Textile/Stage.elm
  styles.scss
  tests/Data/ComponentTest.elm
  tests/Data/Textile/FormulaTest.elm
  tests/Data/Textile/LifeCycleTest.elm
  tests/Data/Textile/QueryTest.elm
  tests/Data/Textile/SimulatorTest.elm
  tests/server.spec.js
Due: app-prettier

chore: update to latest deps
  backend/src/app/cli/commands.py
  backend/src/app/config/app.py
  tests/backend/data_fixtures.py
  tests/backend/integration/test_load_processes_fixtures.py
  tests/backend/integration/test_processes.py
  uv.lock
Due: app-ruff-check, app-ruff-format

new aliases
  public/data/food/ingredients.json
Due: app-prettier

adapted tests
  tests/server.spec.js
Due: app-prettier

chore: change FAQ wording
  public/pages/api-faq.md
Due: none

feat: introduce mass per unit for packagings (#1718)
  backend/src/app/db/migrations/versions/2026-01-15_rename_density_to_massperunit_and_make__af8f29751a13.py
  backend/src/app/db/models/process.py
  backend/src/app/domain/processes/schemas.py
  openapi.yaml
  public/data/food/examples.json
  public/data/processes.json
  public/data/processes_impacts.json
  src/Data/Component.elm
  src/Data/Process.elm
  src/Page/Admin/Process.elm
  src/Page/Explore/Processes.elm
  src/Views/Format.elm
  tests/Data/ComponentTest.elm
  tests/Data/Food/RecipeTest.elm
  tests/backend/data_fixtures.py
  tests/backend/integration/test_load_processes_fixtures.py
  tests/backend/integration/test_processes.py
  tests/processes-schema.json
  tests/server.spec.js
Due: app-prettier, app-ruff-check, app-ruff-format

chore: new export
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

chore: fix API FAQ
  public/pages/api-faq.md
Due: none

chore: add wrongfully deleted processes
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

chore: fix scalingo version
  scalingo.json
Due: app-prettier

chore: add default backend url
  scalingo.json
Due: app-prettier

chore: fix v7 API FAQ (#1745)
  public/pages/api-faq.md
  scalingo.json
Due: app-prettier

docs: API is not versionned anymore (#1742)
  public/pages/api-faq.md
Due: none

feat: backport new ecoinvent terms
  src/Data/Env.elm
  src/Data/Session.elm
  src/Data/User.elm
  src/Page/Auth.elm
  src/Views/Sidebar.elm
  styles.scss
  tests/Data/UserTest.elm
Due: none

fix: use markdown page for ecoinvent terms
  public/pages/cgu-ecoinvent.md
  src/Data/Env.elm
  src/Page/Auth.elm
Due: none

fix: don’t validate token if terms are not accepted
  backend/src/app/domain/accounts/controllers/access.py
  src/Data/Session.elm
  src/Views/Sidebar.elm
Due: app-ruff-check, app-ruff-format

test(bo): test token validation
  backend/src/app/domain/accounts/controllers/access.py
  backend/src/app/domain/accounts/services.py
  tests/backend/data_fixtures.py
  tests/backend/integration/test_access.py
Due: app-ruff-check, app-ruff-format

fix(bo): no detailed impacts if toc not accepted
  backend/src/app/domain/processes/services.py
  tests/backend/data_fixtures.py
  tests/backend/integration/conftest.py
  tests/backend/integration/test_access.py
  tests/backend/integration/test_processes.py
Due: app-ruff-check, app-ruff-format

fix: terms update
  backend/src/app/domain/accounts/schemas.py
  src/Data/User.elm
  src/Page/Auth.elm
  tests/backend/integration/test_access.py
Due: app-ruff-check, app-ruff-format

chore: update login message
  src/Page/Auth.elm
Due: none

Path conditions:
  app-prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.json$
  app-ruff-check: any of: ^.*$ and \.py$
  app-ruff-format: any of: ^.*$ and \.py$
  dont-commit-detailed-processes: any of: ^processes_impacts.json$
