Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format, dont-commit-detailed-processes

app-prettier:
  name: run prettier
  language: system
  entry: 'bash -c ''npm --prefix . run fix:prettier --write "${@}"'' --
  
    '

app-ruff-check:
  name: run ruff check
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:check "${@}"'' --
  
    '

app-ruff-format:
  name: run ruff format
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:format "${@}"'' --
  
    '

dont-commit-detailed-processes:
  name: check that we don't commit processes_impacts.json
  language: system
  entry: 'bash -c ''echo "⚠️ Prevented pushing detailed impacts data to public git repository. To update these, clone and push to the ecobalyse-private repository.";exit 1''
  
    '

feat(bo): allow editing component scopes
  tests/Data/ComponentTest.elm
Due: none

feat: add full process model
  backend/src/app/cli/commands.py
  backend/src/app/db/migrations/versions/2025-06-23_add_full_processes_4e9df9c39c35.py
  backend/src/app/db/models/process.py
  backend/src/app/domain/components/services.py
  backend/src/app/domain/processes/schemas.py
Due: app-ruff-check, app-ruff-format

test: add unit tests
  tests/Data/ComponentTest.elm
Due: none

feat: render a diff in journal entries
  src/Page/Admin.elm
  src/Views/Format.elm
Due: none

chore: rebase on master
  backend/src/app/db/migrations/versions/2025-06-11_add_scopes_8455e285aafc.py
  backend/src/app/db/migrations/versions/2025-06-16_add_journal_entries_041c77a5f1fe.py
  backend/src/app/db/migrations/versions/2025-06-18_add_scopes_f3596fc1e583.py
  backend/src/app/db/models/__init__.py
  backend/src/app/db/models/component_scope.py
  backend/src/app/db/models/scope.py
  backend/src/app/domain/components/controllers/component.py
  backend/src/app/domain/components/deps.py
  backend/src/app/domain/components/schemas.py
  backend/src/app/domain/components/services.py
Due: app-ruff-check, app-ruff-format

fix: bad rebase merge
  src/Page/Admin.elm
Due: none

feat: return scopes
  backend/src/app/domain/components/controllers/component.py
  backend/src/app/domain/components/deps.py
Due: app-ruff-check, app-ruff-format

feat: add a component journal viewer
  src/Page/Admin.elm
Due: none

style: improve diff readability
  src/Views/Format.elm
Due: none

feat: display all processes fields
  backend/src/app/db/migrations/versions/2025-07-01_add_full_processes_8b6326faa9c7.py
  backend/src/app/db/models/process.py
  backend/src/app/domain/processes/controllers/process.py
  backend/src/app/domain/processes/schemas.py
  backend/src/app/domain/processes/urls.py
Due: app-ruff-check, app-ruff-format

chore: add scopes to DB
  backend/src/app/db/migrations/versions/2025-06-11_add_scopes_8455e285aafc.py
  backend/src/app/db/models/__init__.py
  backend/src/app/db/models/component_scope.py
  backend/src/app/db/models/scope.py
  backend/src/app/domain/components/controllers/component.py
  backend/src/app/domain/components/deps.py
Due: app-ruff-check, app-ruff-format

feat: add journaling of actions
  backend/src/app/db/migrations/versions/2025-06-16_add_journal_entries_041c77a5f1fe.py
  backend/src/app/domain/components/controllers/component.py
  backend/src/app/domain/components/services.py
  backend/src/app/domain/journal_entries/controllers/journal_entry.py
  backend/src/app/domain/journal_entries/schemas.py
Due: app-ruff-check, app-ruff-format

chore: load processes fixtures
  bin/load-fixtures.sh
Due: none

feat(bo,ui): introduce back-office sections (#1195)
  src/Main.elm
  src/Page/Admin/Component.elm
  src/Route.elm
  src/Views/Admin.elm
  src/Views/Page.elm
Due: none

refactor(bo,ui): restrict component to set a single scope
  src/Data/Component.elm
  src/Page/Admin/Component.elm
Due: none

chore: update and fix tests
  src/Data/Component.elm
  tests/Data/ComponentTest.elm
Due: none

feat: filter processes based on scope
  src/Views/Component.elm
Due: none

GITBOOK-1391: No subject
  textile/cycle-de-vie-des-produits-textiles/ennoblissement-1/README.md
Due: none

new export
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

GITBOOK-1392: No subject
  textile/cycle-de-vie-des-produits-textiles/ennoblissement-1/inventaires-enrichis.md
Due: none

fix(food,textile,ui): fix page scroll issues
  src/Page/Admin/Component.elm
  src/Page/Food.elm
  src/Page/Object.elm
  src/Page/Textile.elm
Due: none

refactor: clean code
  src/Page/Textile.elm
Due: none

updated the process uuid which depend on both the db name and the process name (or activity name or displayName)
  src/Data/Food/WellKnown.elm
Due: none

fix(veli): hide or show veli section depending on env
  src/Page/Explore.elm
  src/Page/Home.elm
Due: none

chore: translate cropGroup type constructors in english
  src/Data/Food/Ingredient/CropGroup.elm
Due: none

chore: order alphabetic
  src/Data/Food/Ingredient/CropGroup.elm
Due: none

chore: add all cropgroups
  src/Data/Food/Ingredient/CropGroup.elm
Due: none

fix(textile): compute printing impacts from surface (#1119)
  public/data/processes.json
  public/data/processes_impacts.json
  src/Data/Textile/Formula.elm
  src/Data/Unit.elm
  tests/e2e-textile.json
Due: app-prettier

fix(veli): hide or show veli section depending on env (#1200)
  src/Page/Explore.elm
  src/Page/Home.elm
Due: none

fix: sort symbols
  src/Data/Food/Ingredient/CropGroup.elm
Due: none

feat: display cropGroup and Scenario in Ingredient Explorer (#1185)
  src/Data/Food/Ingredient.elm
  src/Data/Food/Ingredient/CropGroup.elm
  src/Data/Food/Ingredient/Scenario.elm
  src/Page/Explore/FoodIngredients.elm
Due: none

adapted tests (all but one :-( )
  public/data/food/examples.json
  public/data/food/ingredients.json
  tests/Data/ComponentTest.elm
  tests/Data/Food/PreparationTest.elm
  tests/Data/Food/RecipeTest.elm
  tests/Data/Textile/SimulatorTest.elm
  tests/e2e-food.json
  tests/e2e-textile.json
  tests/server.spec.js
Due: app-prettier

feat: don’t serve detailed impacts when not authenticated
  backend/src/app/cli/commands.py
  backend/src/app/domain/accounts/controllers/access.py
  backend/src/app/domain/accounts/deps.py
  backend/src/app/domain/accounts/guards.py
  backend/src/app/domain/processes/controllers/process.py
  backend/src/app/domain/processes/services.py
  backend/src/app/lib/middleware/__init__.py
  backend/src/app/lib/middleware/custom_auth_middleware.py
  backend/src/app/server/core.py
  bin/reset-docker-db.sh
  tests/backend/data_fixtures.py
  tests/backend/integration/conftest.py
  tests/backend/integration/test_processes.py
Due: app-ruff-check, app-ruff-format

fix(food,textile,ui): fix page scroll issues (#1198)
  src/Page/Admin/Component.elm
  src/Page/Food.elm
  src/Page/Object.elm
  src/Page/Textile.elm
Due: none

GITBOOK-1396: No subject
  textile/cycle-de-vie-des-produits-textiles/ennoblissement-1/inventaires-enrichis.md
Due: none

refactor(bo,ui): restrict component to set a single scope (#1196)
  src/Data/Component.elm
  src/Page/Admin/Component.elm
  src/Views/Component.elm
  tests/Data/ComponentTest.elm
Due: none

fix(textile,ui): exclude empty components from available choices
  src/Data/Component.elm
  src/Views/Component.elm
Due: none

fix(textile,ui): exclude empty components from available choices (#1202)
  src/Data/Component.elm
  src/Views/Component.elm
Due: none

adapted the last test
  src/Data/Food/Recipe.elm
  tests/Data/Food/RecipeTest.elm
Due: none

Path conditions:
  app-prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.json$
  app-ruff-check: any of: ^.*$ and \.py$
  app-ruff-format: any of: ^.*$ and \.py$
  dont-commit-detailed-processes: any of: ^processes_impacts.json$
