Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format, dont-commit-detailed-processes

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
      exclude: (svg|icomoon|rapidoc-9.3.4.min.js)
    - id: trailing-whitespace
      exclude: (vendor|rapidoc-9.3.4.min.js)
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, master]

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier
        language: system
        files: ^.*$
        types_or: [javascript, json]
        entry: |
          bash -c 'npm --prefix . run fix:prettier --write "${@}"' --

      - id: app-ruff-check
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:check "${@}"' --

      - id: app-ruff-format
        name: run ruff format
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:format "${@}"' --

      - id: dont-commit-detailed-processes
        name: check that we don't commit processes_impacts.json
        language: system
        files: ^processes_impacts.json$
        entry: |
          bash -c 'echo "⚠️ Prevented pushing detailed impacts data to public git repository. To update these, clone and push to the ecobalyse-private repository.";exit 1'

refactor: migrate Food page to new system
  src/Main.elm
  src/Page/Food.elm
Due: none

refactor: add App utils
  src/App.elm
  src/Page/Food.elm
  src/Page/Object.elm
  src/Page/Textile.elm
Due: none

refactor: clean up modal classes handling
  src/Page/Admin.elm
  src/Page/Food.elm
  src/Page/Object.elm
  src/Page/Textile.elm
Due: none

chore: clean code
  src/App.elm
  src/Main.elm
Due: none

feat: add object basic e2e test
  e2e/object-simulator.spec.js
Due: app-prettier

test: add food e2e test
  e2e/food-simulator.spec.js
  e2e/object-simulator.spec.js
Due: app-prettier

docs: improve code comments
  src/App.elm
  src/Main.elm
  src/Page/Home.elm
Due: none

feat: introduce new notification system foundation
  elm.json
  src/App.elm
  src/Main.elm
  src/Page/Home.elm
  src/Views/Page.elm
Due: app-prettier

feat: import DSFR styles for alerts
  src/Main.elm
  src/Page/Home.elm
  src/Views/Page.elm
  styles.scss
Due: none

style: migrate Alert to use the DSFR guidelines
  src/Page/Admin.elm
  src/Page/Home.elm
  src/Views/Alert.elm
  src/Views/Icon.elm
Due: none

feat: migrate toasts to use DSFR alerts
  src/App.elm
  src/Main.elm
  src/Page/Admin.elm
  src/Page/Api.elm
  src/Page/Explore.elm
  src/Page/Explore/Components.elm
  src/Page/Explore/TextileMaterials.elm
  src/Page/Food.elm
  src/Page/Home.elm
  src/Page/Textile.elm
  src/Views/Alert.elm
  src/Views/Comparator.elm
  src/Views/Component.elm
  src/Views/Markdown.elm
  src/Views/Page.elm
  styles.scss
Due: none

feat: improve Alert accessibility
  review/src/ReviewConfig.elm
  src/Views/Alert.elm
  src/Views/Page.elm
Due: none

feat: handle persistent error notifications
  src/App.elm
  src/Data/Notification.elm
  src/Main.elm
  src/Page/Admin.elm
  src/Page/Api.elm
  src/Page/Home.elm
  src/Views/Page.elm
Due: none

refactor: get rid of notification info from session
  src/App.elm
  src/Data/Notification.elm
  src/Data/Session.elm
  src/Main.elm
  src/Page/Admin.elm
  src/Page/Auth.elm
  src/Page/Food.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Views/Page.elm
Due: none

chore: update ingredients
  public/data/food/ingredients.json
Due: app-prettier

feat: accept markdown as toast content
  e2e/auth.spec.js
  playwright.config.js
  src/Page/Auth.elm
  src/Page/Home.elm
  src/Views/Alert.elm
  src/Views/Markdown.elm
  src/Views/Page.elm
  styles.scss
Due: app-prettier

chore: clean code
  playwright.config.js
  src/Page/Home.elm
  src/Views/Page.elm
  styles.scss
Due: app-prettier

fix: e2e tests timeout
  e2e/auth.spec.js
Due: app-prettier

fix: improve responsive toast styling
  src/Views/Page.elm
  styles.scss
Due: none

test: ensure effective logout in e2e tests
  e2e/auth.spec.js
Due: app-prettier

test: add e2e notification test helper
  e2e/auth.spec.js
  e2e/food-simulator.spec.js
  e2e/lib.js
Due: app-prettier

chore: update with last export
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

chore: fix ingredient id
  public/data/food/ingredients.json
Due: app-prettier

chore(api,food)!: remove deprecated GET /food endpoint.
  openapi.yaml
Due: none

new export
  public/data/food/ingredients.json
  public/data/food/processes.json
  public/data/food/processes_impacts.json
Due: app-prettier

@vjousse review: always expose a close button
  src/Main.elm
  src/Views/Page.elm
Due: none

GITBOOK-1378: No subject
  .gitbook/assets/image (1) (1) (1) (1) (1) (1) (1) (1).png
  .gitbook/assets/image (1) (1) (1) (1) (1) (1) (1).png
  .gitbook/assets/image (1) (1) (1) (1) (1) (1).png
  .gitbook/assets/image (1) (1) (1) (1) (1).png
  .gitbook/assets/image (1) (1) (1) (1).png
  .gitbook/assets/image (1) (1) (1).png
  .gitbook/assets/image (1) (1).png
  .gitbook/assets/image (1).png
  .gitbook/assets/image (2) (1) (1) (1).png
  .gitbook/assets/image (2) (1) (1).png
  .gitbook/assets/image (2) (1).png
  .gitbook/assets/image (2).png
  .gitbook/assets/image.png
  SUMMARY.md
  alimentaire/impacts-consideres/etape-5-consommation.md
  ameublement/complement-hors-acv/biodiversitebois.md
  vehicules/cycle-de-vie/consommation-denergie/README.md
  vehicules/cycle-de-vie/utilisation-energie-et-emissions-directes/vehicules-legers-actifs-ou-equipes-de-panneaux-photovoltaiques/README.md
  vehicules/cycle-de-vie/utilisation-energie-et-emissions-directes/vehicules-legers-actifs-ou-equipes-de-panneaux-photovoltaiques/energie-apportee-par-des-panneaux-solaires-photovoltaique-en-developpement.md
  vehicules/cycle-de-vie/utilisation-energie-et-emissions-directes/vehicules-legers-actifs-ou-equipes-de-panneaux-photovoltaiques/energie-apportee-par-pedalage-en-developpement.md
Due: none

chore: fix ingredient ids
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

feat(ui): update the notification system to use DSFR (#1164)
  e2e/auth.spec.js
  e2e/food-simulator.spec.js
  e2e/lib.js
  e2e/object-simulator.spec.js
  elm.json
  playwright.config.js
  review/src/ReviewConfig.elm
  src/App.elm
  src/Data/Notification.elm
  src/Data/Session.elm
  src/Main.elm
  src/Page/Admin.elm
  src/Page/Api.elm
  src/Page/Auth.elm
  src/Page/Editorial.elm
  src/Page/Explore.elm
  src/Page/Explore/Components.elm
  src/Page/Explore/TextileMaterials.elm
  src/Page/Food.elm
  src/Page/Home.elm
  src/Page/Object.elm
  src/Page/Stats.elm
  src/Page/Textile.elm
  src/Views/Alert.elm
  src/Views/Comparator.elm
  src/Views/Component.elm
  src/Views/Icon.elm
  src/Views/Markdown.elm
  src/Views/Page.elm
  styles.scss
Due: app-prettier

feat: avoid race conditions when editing a component
  src/Data/JournalEntry.elm
  src/Page/Admin.elm
  src/Request/Component.elm
Due: none

doc: remove duplicated line
  backend/README.md
Due: none

doc: load component fixtures
  backend/README.md
Due: none

fix: html semantics
  src/Page/Admin.elm
Due: none

refactor: move history view to a dedicated fn
  src/Page/Admin.elm
Due: none

feat: render user and date info
  src/Data/JournalEntry.elm
  src/Page/Admin.elm
Due: none

refactor: clean code
  src/Page/Admin.elm
  src/Views/Format.elm
Due: none

feat: return scopes
  backend/src/app/domain/components/controllers/component.py
  backend/src/app/domain/components/deps.py
Due: app-ruff-check, app-ruff-format

fix: elm-review
  src/Data/Scope.elm
Due: none

fix: avoid SA warning abou component not present in session
  backend/src/app/db/models/scope.py
Due: app-ruff-check, app-ruff-format
