Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format, dont-commit-detailed-processes

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
      exclude: (svg|icomoon|rapidoc-9.3.4.min.js)
    - id: trailing-whitespace
      exclude: (vendor|rapidoc-9.3.4.min.js)
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, master]

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier
        language: system
        files: ^.*$
        types_or: [javascript, json]
        entry: |
          bash -c 'npm --prefix . run fix:prettier --write "${@}"' --

      - id: app-ruff-check
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:check "${@}"' --

      - id: app-ruff-format
        name: run ruff format
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:format "${@}"' --

      - id: dont-commit-detailed-processes
        name: check that we don't commit processes_impacts.json
        language: system
        files: ^processes_impacts.json$
        entry: |
          bash -c 'echo "⚠️ Prevented pushing detailed impacts data to public git repository. To update these, clone and push to the ecobalyse-private repository.";exit 1'

chore(data): AGB 3.2 + EI 3.10 (#727)
  data/Makefile
  data/README.md
  data/common/import_.py
  data/docker/Dockerfile
  data/docker/entrypoint.sh
  data/import_ecoinvent.py
  data/import_food.py
  data/import_method.py
Due: app-ruff-check, app-ruff-format

add ingredients
  data/food/activities.json
Due: app-prettier

add db
  data/food/activities.json
Due: app-prettier

new ingredients
  data/food/activities.json
  public/data/food/ingredients.json
  public/data/food/processes.json
Due: app-prettier

GITBOOK-1063: change request with no subject merged in GitBook
  alimentaire-en-construction/old/etape-2-fabrication-du-fil-1/caracteristiques-du-vehicule.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil-1/utilisation-du-vehicule/README.md
Due: none

GITBOOK-1064: change request with no subject merged in GitBook
  SUMMARY.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil-1/fabrication-des-composants/batterie.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil-1/fabrication-des-composants/jantes-roue.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil-1/fabrication-des-composants/jantes.md
Due: none

GITBOOK-1065: change request with no subject merged in GitBook
  SUMMARY.md
  alimentaire-en-construction/etape-2-fabrication-du-fil-1/README.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil-1/caracteristiques-du-vehicule.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil-1/fabrication-des-composants/README.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil-1/fabrication-des-composants/assise.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil-1/fabrication-des-composants/batterie.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil-1/fabrication-des-composants/chassis-and-carrosserie/README.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil-1/fabrication-des-composants/chassis-and-carrosserie/acier-et-aluminium-methodes-detaillees.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil-1/fabrication-des-composants/chassis-and-carrosserie/transformation-finition.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil-1/fabrication-des-composants/jantes-roues.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil-1/fabrication-des-composants/moteur.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil-1/methodes.md
Due: none

GITBOOK-1066: change request with no subject merged in GitBook
  alimentaire-en-construction/old/etape-2-fabrication-du-fil-1/fabrication-des-composants/README.md
Due: none

GITBOOK-1067: change request with no subject merged in GitBook
  .gitbook/assets/image (126).png
  .gitbook/assets/image (127).png
  SUMMARY.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil-1/fabrication-des-composants/README.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil-1/fabrication-des-composants/jantes-roues.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil-1/fabrication-des-composants/pneumatiques.md
Due: none

feat: add bookmarks for objects
  src/Data/Bookmark.elm
  src/Data/Object/Process.elm
  src/Data/Object/Query.elm
  src/Data/Object/Simulator.elm
  src/Page/Object.elm
  src/Views/Bookmark.elm
  src/Views/Comparator.elm
  tests/Data/Object/SimulatorTest.elm
Due: none

mmissing tech name for bleaching
  public/data/textile/processes.json
Due: app-prettier

Sc. Imp. → Coût Evt
  src/Page/Explore/Impacts.elm
Due: none

Coût evt before PEF
  src/Page/Explore/Impacts.elm
Due: none

"Domaines" does not need to be displayed. It show "Textile" in "Food" and "Food" in "Textile"
  src/Page/Explore/Countries.elm
Due: none

Added links to the doc
  src/Data/Gitbook.elm
  src/Page/Explore/TextileMaterials.elm
Due: none

Removed "mise en décharge" as the used process is "end-of-life"
  public/data/textile/processes.json
Due: app-prettier

unused function
  src/Page/Explore/Common.elm
Due: none

export script for object
  data/common/export.py
Due: app-ruff-check, app-ruff-format

feat: add first version of object API
  src/Data/Object/Process.elm
  src/Server.elm
  src/Server/Query.elm
  src/Server/Route.elm
Due: none

renamed one of the CFF pages
  src/Data/Gitbook.elm
  src/Page/Explore/TextileMaterials.elm
Due: none

refactored 4 patterns into a function
  src/Page/Explore/TextileMaterials.elm
Due: none

elm-review
  src/Data/Gitbook.elm
  src/Page/Explore/TextileMaterials.elm
Due: none

first export object
  data/object/__init__.py
  data/object/activities.json
  data/object/export.py
Due: app-prettier, app-ruff-check, app-ruff-format

add makefile export_object
  data/Makefile
Due: none

keep only one link for the CFF
  src/Data/Gitbook.elm
  src/Page/Explore/TextileMaterials.elm
Due: none

rename func
  data/object/export.py
Due: app-ruff-check, app-ruff-format

add config
  data/object/export.py
Due: app-ruff-check, app-ruff-format

add search
  data/object/activities.json
  data/object/export.py
Due: app-prettier, app-ruff-check, app-ruff-format

add name and ids
  data/object/activities.json
  data/object/export.py
Due: app-prettier, app-ruff-check, app-ruff-format

simplify
  data/object/export.py
Due: app-ruff-check, app-ruff-format

update ids
  data/object/activities.json
Due: app-prettier

fix: get from openapi
  openapi.yaml
  src/Server/Query.elm
Due: none

add logging using loguru
  Pipfile
  Pipfile.lock
  data/object/export.py
Due: app-ruff-check, app-ruff-format

GITBOOK-1069: change request with no subject merged in GitBook
  SUMMARY.md
  textile/cycle-de-vie-des-produits-textiles/circular-footpring-formula-cff.md
  textile/cycle-de-vie-des-produits-textiles/etape-1-matieres/calcul-de-limpact-matiere-circular-footprint-formula-cff/README.md
  textile/cycle-de-vie-des-produits-textiles/etape-1-matieres/circular-footprint-formula-cff-matiere-1.md
  textile/cycle-de-vie-des-produits-textiles/etape-1-matieres/circular-footprint-formula-cff-matiere.md
  textile/cycle-de-vie-des-produits-textiles/etape-7-fin-de-vie.md
Due: none

update requirements
  data/docker/requirements.txt
Due: none

GITBOOK-1070: change request with no subject merged in GitBook
  SUMMARY.md
Due: none

GITBOOK-1071: change request with no subject merged in GitBook
  SUMMARY.md
  textile/cycle-de-vie-des-produits-textiles/tricotage-tissage.md
Due: none

compute aggregated for object
  compute-aggregated.js
  data/Makefile
Due: app-prettier

objectProcess
  src/ComputeAggregated.elm
Due: none

bug fix
  data/object/activities.json
  data/object/export.py
  public/data/object/processes.json
  src/Data/Object/Process.elm
Due: app-prettier, app-ruff-check, app-ruff-format
