Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format, dont-commit-detailed-processes

app-prettier:
  name: run prettier
  language: system
  entry: 'bash -c ''npm --prefix . run fix:prettier --write "${@}"'' --
  
    '

app-ruff-check:
  name: run ruff check
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:check "${@}"'' --
  
    '

app-ruff-format:
  name: run ruff format
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:format "${@}"'' --
  
    '

dont-commit-detailed-processes:
  name: check that we don't commit processes_impacts.json
  language: system
  entry: 'bash -c ''echo "⚠️ Prevented pushing detailed impacts data to public git repository. To update these, clone and push to the ecobalyse-private repository.";exit 1''
  
    '

fix(ui): avoid multiple dom ids for scope checkboxes
  src/Page/Admin.elm
Due: none

chore: move backend tests to be able to run specific test
  tests/backend/__init__.py
  tests/backend/conftest.py
  tests/backend/data_fixtures.py
  tests/backend/integration/conftest.py
  tests/backend/integration/test_access.py
  tests/backend/integration/test_components.py
  tests/backend/integration/test_health.py
  tests/conftest.py
Due: app-ruff-check, app-ruff-format

fix: OpenAPI docs config
  .proxyrc.json
  servers.conf.erb
Due: app-prettier

feat(bo): allow editing component scopes (#1118)
  .github/workflows/node.js.yml
  .proxyrc.json
  Procfile
  backend/README.md
  backend/src/app/cli/commands.py
  backend/src/app/config/base.py
  backend/src/app/db/migrations/versions/2025-06-18_add_scopes_f3596fc1e583.py
  backend/src/app/db/models/component.py
  backend/src/app/domain/components/controllers/component.py
  backend/src/app/domain/components/deps.py
  backend/src/app/domain/components/schemas.py
  backend/src/app/domain/components/services.py
  backend/src/app/domain/components/urls.py
  bin/check-db.sh
  bin/load-fixtures.sh
  bin/playwright-webserver.sh
  bin/start.sh
  docker-compose.yml
  package.json
  playwright.config.js
  public/data/object/components.json
  public/data/textile/components.json
  servers.conf.erb
  src/Data/Component.elm
  src/Data/Scope.elm
  src/Page/Admin.elm
  src/Request/Component.elm
  src/Static/Db.elm
  src/Views/Component.elm
  styles.scss
  tests/Data/ComponentTest.elm
  tests/backend/__init__.py
  tests/backend/conftest.py
  tests/backend/data_fixtures.py
  tests/backend/integration/conftest.py
  tests/backend/integration/test_access.py
  tests/backend/integration/test_components.py
  tests/backend/integration/test_health.py
  tests/conftest.py
Due: app-prettier, app-ruff-check, app-ruff-format

feat(bo): allow editing component scopes
  tests/Data/ComponentTest.elm
Due: none

test: add unit tests
  tests/Data/ComponentTest.elm
Due: none

chore: add scopes to DB
  backend/src/app/db/migrations/versions/2025-06-11_add_scopes_8455e285aafc.py
  backend/src/app/db/models/__init__.py
  backend/src/app/db/models/component_scope.py
  backend/src/app/db/models/scope.py
  backend/src/app/domain/components/controllers/component.py
  backend/src/app/domain/components/deps.py
  backend/src/app/domain/components/services.py
  backend/src/app/server/core.py
Due: app-ruff-check, app-ruff-format

feat: return scopes
  backend/src/app/domain/components/controllers/component.py
  backend/src/app/domain/components/deps.py
Due: app-ruff-check, app-ruff-format

feat: add scopes update
  backend/src/app/db/models/scope.py
  backend/src/app/domain/components/controllers/component.py
  backend/src/app/domain/components/schemas.py
  backend/src/app/domain/components/services.py
  tests/backend/integration/conftest.py
Due: app-ruff-check, app-ruff-format

doc: load component fixtures
  backend/README.md
Due: none

doc: remove duplicated line
  backend/README.md
Due: none

fix: avoid SA warning abou component not present in session
  backend/src/app/db/models/scope.py
Due: app-ruff-check, app-ruff-format

feat: add journaling of actions
  backend/src/app/db/migrations/versions/2025-06-16_add_journal_entries_041c77a5f1fe.py
  backend/src/app/db/models/__init__.py
  backend/src/app/db/models/journal_entry.py
  backend/src/app/db/models/user.py
  backend/src/app/domain/components/controllers/component.py
  backend/src/app/domain/components/services.py
  backend/src/app/domain/journal_entries/controllers/__init__.py
  backend/src/app/domain/journal_entries/controllers/journal_entry.py
  backend/src/app/domain/journal_entries/deps.py
  backend/src/app/domain/journal_entries/schemas.py
  backend/src/app/domain/journal_entries/services.py
  backend/src/app/domain/journal_entries/urls.py
  backend/src/app/server/core.py
  tests/backend/integration/test_components.py
  tests/backend/integration/test_journal_entries.py
Due: app-ruff-check, app-ruff-format

feat: add a component journal viewer
  src/Data/JournalEntry.elm
  src/Page/Admin.elm
  src/Request/Component.elm
  src/Request/Journal.elm
  src/Views/Icon.elm
Due: none

feat: render a diff in journal entries
  elm.json
  src/Page/Admin.elm
  src/Views/Format.elm
Due: app-prettier

chore: rebase on master
  backend/src/app/db/migrations/versions/2025-06-11_add_scopes_8455e285aafc.py
  backend/src/app/db/migrations/versions/2025-06-16_add_journal_entries_041c77a5f1fe.py
  backend/src/app/db/migrations/versions/2025-06-18_add_scopes_f3596fc1e583.py
  backend/src/app/db/models/__init__.py
  backend/src/app/db/models/component_scope.py
  backend/src/app/db/models/scope.py
  backend/src/app/domain/components/controllers/component.py
  backend/src/app/domain/components/deps.py
  backend/src/app/domain/components/schemas.py
  backend/src/app/domain/components/services.py
  backend/src/app/domain/components/urls.py
  backend/src/app/server/core.py
  tests/backend/integration/conftest.py
Due: app-ruff-check, app-ruff-format

fix: return 200 on DELETE
  backend/src/app/domain/components/controllers/component.py
  tests/backend/integration/test_components.py
Due: app-ruff-check, app-ruff-format

refactor: move history view to a dedicated fn
  src/Page/Admin.elm
Due: none

fix: html semantics
  src/Page/Admin.elm
Due: none

style: polish history ui
  src/Data/JournalEntry.elm
  src/Page/Admin.elm
Due: none

feat: avoid race conditions when editing a component
  src/Data/JournalEntry.elm
  src/Page/Admin.elm
  src/Request/Component.elm
Due: none

feat: textile component in object (#1157)
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

feat: switch to relaxed scope filtering
  src/Page/Admin.elm
Due: none

refactor: add user and dates to journal and simplify organization creation
  backend/src/app/db/models/__init__.py
  backend/src/app/db/models/component.py
  backend/src/app/db/models/user_profile.py
  backend/src/app/domain/accounts/schemas.py
  backend/src/app/domain/accounts/services.py
  backend/src/app/domain/components/services.py
  backend/src/app/domain/journal_entries/controllers/journal_entry.py
  backend/src/app/domain/journal_entries/schemas.py
  tests/backend/data_fixtures.py
  tests/backend/integration/conftest.py
  tests/backend/integration/test_components.py
Due: app-ruff-check, app-ruff-format

fix: elm-review
  src/Data/Scope.elm
Due: none

feat: render user and date info
  src/Data/JournalEntry.elm
  src/Page/Admin.elm
Due: none

fix: improve component filters
  src/Page/Admin.elm
Due: none

style: improve diff readability
  src/Views/Format.elm
Due: none

refactor: clean code
  src/Page/Admin.elm
  src/Views/Format.elm
Due: none

chore: rename Auth2 to Auth.
  src/Main.elm
Due: none

feat: experimental child-parent msg passing
  src/Main.elm
  src/Page/Home.elm
  src/Page/ParentMsg.elm
Due: none

refactor: migrate page config to use parent msg
  src/Main.elm
  src/Page/Home.elm
  src/Page/ParentMsg.elm
Due: none

refactor: use a record for page config
  review/src/ReviewConfig.elm
  src/Main.elm
  src/Views/Page.elm
Due: none

refactor: simplify page framing config
  src/Main.elm
  src/Views/Page.elm
Due: none

refactor: move parent msg stuff to a root App module
  src/App.elm
  src/Main.elm
  src/Page/Home.elm
  src/Page/ParentMsg.elm
  src/Views/Page.elm
Due: none

refactor: factor out page utils
  src/Main.elm
Due: none

feat: migrate pages to page updates
  src/App.elm
  src/Main.elm
  src/Page/Admin.elm
  src/Page/Api.elm
  src/Page/Editorial.elm
  src/Page/Explore.elm
  src/Page/Home.elm
  src/Page/Stats.elm
Due: none

refactor: migrate the Auth page to new app update system
  src/Main.elm
  src/Page/Auth.elm
Due: none

refactor: migrate textile simulator to new app system
  src/Main.elm
  src/Page/Textile.elm
Due: none

refactor: migrate Object simulator
  src/Main.elm
  src/Page/Admin.elm
  src/Page/Object.elm
Due: none

Path conditions:
  app-prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.json$
  app-ruff-check: any of: ^.*$ and \.py$
  app-ruff-format: any of: ^.*$ and \.py$
  dont-commit-detailed-processes: any of: ^processes_impacts.json$
