Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
      exclude: (svg|icomoon|rapidoc-9.3.4.min.js)
    - id: trailing-whitespace
      exclude: (vendor|rapidoc-9.3.4.min.js)
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, master]

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier
        language: system
        files: ^.*$
        types_or: [javascript, json]
        entry: |
          bash -c 'npm --prefix . run fix:prettier --write "${@}"' --

      - id: app-ruff-check
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:check "${@}"' --

      - id: app-ruff-format
        name: run ruff format
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:format "${@}"' --

      - id: app-elm-format
        name: run elm-format
        language: system
        files: ^.*$
        types_or: [elm]
        entry: |
          bash -c 'npm --prefix . run fix:elm-format "${@}"' --

chore: fix formatting
  public/data/countries.json
Due: app-prettier

chore: fix typo (#1891)
  src/Page/Explore/Countries.elm
Due: none

feat: migrate object/veli to processes_generic (#1827)
  .gitattributes
  .prettierignore
  backend/src/app/cli/commands.py
  bin/build-db
  bin/load-fixtures.sh
  bin/reset-docker-db.sh
  buildpack-run.sh
  e2e/object-simulator.spec.js
  lib/index.js
  public/data/metadata.json
  public/data/object/components.json
  public/data/processes.json
  public/data/processes_generic.json
  public/data/processes_generic_impacts.json
  public/data/processes_impacts.json
  server.js
  src/Data/Process.elm
  src/Data/Process/Metadata.elm
  src/Views/Component.elm
Due: app-prettier, app-ruff-check, app-ruff-format

chore: update checkout gh-action
  .github/workflows/ecobalyse-data-sync.yml
Due: none

chore: sync ecobalyse-data
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

feat: render plausible public stats
  elm.json
  review/src/ReviewConfig.elm
  src/Data/Matomo.elm
  src/Page/Stats.elm
  src/Request/Matomo.elm
Due: app-prettier

chore: update checkout@v4 -> v6
  .github/workflows/codeql-analysis.yml
  .github/workflows/create_release_archive.yml
  .github/workflows/export_json.yml
  .github/workflows/node.js.yml
  .github/workflows/score_history.yml
Due: none

fix: CSP
  lib/http.js
Due: app-prettier

feat: render plausible public stats (#1894)
  elm.json
  lib/http.js
  review/src/ReviewConfig.elm
  src/Data/Matomo.elm
  src/Page/Stats.elm
  src/Request/Matomo.elm
Due: app-prettier

temporarily comment playwright test
  e2e/object-simulator.spec.js
Due: app-prettier

fix: ensure the ci executes jslib tests
  .github/workflows/node.js.yml
Due: none

fix: fix failing csp test
  tests/lib/http.spec.js
Due: app-prettier

Update e2e/object-simulator.spec.js
  e2e/object-simulator.spec.js
Due: app-prettier

chore: sync ecobalyse-data (#1893)
  e2e/object-simulator.spec.js
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

fix: ensure the ci executes jslib tests (#1897)
  .github/workflows/node.js.yml
  tests/lib/http.spec.js
Due: app-prettier

chore: migrate food transport and transform processes to food2
  public/data/processes.json
  public/data/processes_generic.json
  public/data/processes_generic_impacts.json
  public/data/processes_impacts.json
Due: app-prettier

chore: continue mapping food2 vertical
  backend/src/app/domain/components/schemas.py
  lib/plausible.js
  src/Data/Scope.elm
Due: app-prettier, app-ruff-check, app-ruff-format

Change SCALINGO_APP from ecobalyse-staging to ecobalyse-data
  .github/workflows/score_history.yml
Due: none

chore: add data migration
  backend/src/app/db/migrations/versions/2026-03-11_add_food2_scope_884ac9f3654f.py
  backend/src/app/db/models/component.py
Due: app-ruff-check, app-ruff-format

chore: add processes_generic changes
  public/data/processes_generic.json
  public/data/processes_generic_impacts.json
Due: app-prettier

chore: fix typo
  backend/src/app/domain/components/schemas.py
Due: app-ruff-check, app-ruff-format

Add ADR for managing component location
  docs/ADR/manage-component-location.md
Due: none

feat: compute complements impacts
  src/Data/Component.elm
  src/Data/Process/Metadata.elm
Due: none

fix: sum complements impacts at item level
  src/Data/Component.elm
Due: none

fix: metadata encoding
  src/Data/Process/Metadata.elm
Due: none

feat: add complements tooltip
  src/Views/Component.elm
  src/Views/Format.elm
Due: none

test: add complements tests
  src/Data/Component.elm
  tests/Data/ComponentTest.elm
Due: none

chore: apply complements Ecs to total score
  src/Data/Component.elm
Due: none

fix: tests
  tests/Data/ComponentTest.elm
Due: none

refactor: make ecosystemic services optional
  src/Data/Food/Recipe.elm
  src/Data/Impact.elm
  src/Data/Textile/Inputs.elm
  src/Data/Textile/Simulator.elm
  src/Page/Food.elm
  src/Views/ImpactTabs.elm
  src/Views/Textile/Stage.elm
  tests/Data/Food/RecipeTest.elm
  tests/Data/Textile/InputsTest.elm
Due: none

Expand component location modeling and limitations
  docs/ADR/manage-component-location.md
Due: none

new export
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

chore: reuse already existing ComplementsImpacts
  src/Data/Food/Recipe.elm
  src/Data/Impact.elm
  src/Data/Process/Metadata.elm
Due: none

adapted tests
  tests/Data/Food/RecipeTest.elm
  tests/server.spec.js
Due: app-prettier

remove object veli from processes
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

new export with organic ingredients
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

chore: migrate food transport and transform processes to food2 (#1898)
  backend/src/app/db/migrations/versions/2026-03-11_add_food2_scope_884ac9f3654f.py
  backend/src/app/db/models/component.py
  backend/src/app/domain/components/schemas.py
  lib/plausible.js
  public/data/processes.json
  public/data/processes_generic.json
  public/data/processes_generic_impacts.json
  public/data/processes_impacts.json
  src/Data/Scope.elm
Due: app-prettier, app-ruff-check, app-ruff-format

chore: add food2 scope to food countries (#1890)
  public/data/countries.json
  public/data/processes.json
  public/data/processes_generic.json
  public/data/processes_generic_impacts.json
  public/data/processes_impacts.json
Due: app-prettier

chore: add processes files
  public/data/processes.json
  public/data/processes_generic.json
  public/data/processes_generic_impacts.json
  public/data/processes_impacts.json
Due: app-prettier
