Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format

app-prettier:
  name: run prettier
  language: system
  entry: 'bash -c ''npm --prefix . run fix:prettier --write "${@}"'' --
  
    '

app-ruff-check:
  name: run ruff check
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:check "${@}"'' --
  
    '

app-ruff-format:
  name: run ruff format
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:format "${@}"'' --
  
    '

update processes
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

chore: parse new format
  backend/src/app/cli/commands.py
  bin/build-db
  bin/load-fixtures.sh
  bin/reset-docker-db.sh
  e2e/object-simulator.spec.js
  lib/index.js
  public/data/processes.json
  src/Data/Metadata.elm
  src/Data/Process.elm
Due: app-prettier, app-ruff-check, app-ruff-format

Enhance bug report template with additional sections
  .github/ISSUE_TEMPLATE/bug_template.md
Due: none

chore: enhance bug report template with additional sections (#1873)
  .github/ISSUE_TEMPLATE/bug_template.md
Due: none

chore: fix typo
  README.md
Due: none

chore: standardize hashbang
  bin/build-specific-app-version.sh
  bin/check-ecobalyse-data-sync.sh
  bin/reset-docker-db.sh
Due: none

chore: get rid of dotenvx
  package.json
Due: app-prettier

Delete .github/ISSUE_TEMPLATE/BUG-REPORT.yml
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
Due: none

fix: Delete BUG-REPORT (#1875)
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
Due: none

docs: update the installation instructions (#1355)
  .env.sample
  README.md
  backend/README.md
  package-lock.json
Due: app-prettier

new export
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

chore: add all regions to the food vertical (#1856)
  public/data/countries.json
Due: app-prettier

changed Blé tendre FR
  tests/Data/Food/RecipeTest.elm
  tests/server.spec.js
Due: app-prettier

chore: new dbs comments update
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

chore: standardize hashbang (#1874)
  bin/build-specific-app-version.sh
  bin/check-ecobalyse-data-sync.sh
  bin/reset-docker-db.sh
Due: none

feat: improve wording
  src/Page/Object.elm
  src/Views/Component.elm
Due: none

feat: add missing tests
  src/Data/Uuid.elm
  tests/Data/ComponentTest.elm
Due: none

feat: increase tolerance for arbitrary cogn. complexity threshold
  review/src/ReviewConfig.elm
Due: none

feat: fill in sample new component name
  src/Page/Object.elm
Due: none

feat: select material process for new component
  src/Data/Component.elm
  src/Page/Object.elm
Due: none

fix: propagate name
  src/Data/Component.elm
  src/Views/Component.elm
Due: none

refactor: extract component creation process
  src/Page/Object.elm
  src/Views/Component.elm
Due: none

refactor: clean code
  src/Data/Component.elm
Due: none

refactor: clean code
  src/Page/Object.elm
  src/Views/Component.elm
Due: none

feat: allow creating components from scratch
  src/Data/Component.elm
  src/Page/Admin/Component.elm
  src/Page/Explore/Components.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Request/Component.elm
  src/Server.elm
  src/Views/Component.elm
  tests/Server/RouteTest.elm
Due: none

fix: implement str repr for new components
  src/Data/Component.elm
Due: none

feat: add encode capability
  src/Data/Component.elm
  src/Data/Component/Amount.elm
Due: none

fix: round floats in query string representations.
  src/Data/Textile/Inputs.elm
Due: none

refactor: extract Amount to make it generic
  src/Data/Component.elm
  src/Data/Component/Amount.elm
  src/Page/Explore/Components.elm
  src/Page/Object.elm
  src/Views/Component.elm
  src/Views/Format.elm
  tests/Data/ComponentTest.elm
Due: none

fix: tests
  src/Data/Component.elm
  src/Data/Component/Amount.elm
Due: none

fix: #1881
  src/Page/Textile.elm
Due: none

refactor alias
  public/data/food/ingredients.json
  public/data/processes.json
Due: app-prettier

fix: mark new components as always customized
  src/Data/Component.elm
  src/Views/Component.elm
Due: none

fix: copy generic impacts
  buildpack-run.sh
Due: none

feat: disable creat btn when no material processes
  src/Views/Component.elm
Due: none

refactor: clean code
  src/Views/Component.elm
Due: none

added live animals
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

fix: remove obsolete comment
  src/Views/Component.elm
Due: none

chore(security): upgrade nodejs dependencies
  package-lock.json
  package.json
Due: app-prettier

Path conditions:
  app-prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.json$
  app-ruff-check: any of: ^.*$ and \.py$
  app-ruff-format: any of: ^.*$ and \.py$
