Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format

app-prettier:
  name: run prettier
  language: system
  entry: 'bash -c ''npm --prefix . run fix:prettier --write "${@}"'' --
  
    '

app-ruff-check:
  name: run ruff check
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:check "${@}"'' --
  
    '

app-ruff-format:
  name: run ruff format
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:format "${@}"'' --
  
    '

fix: permanent pasture
  public/data/food/ingredients.json
Due: app-prettier

fix: erroneously fixed feature
  lib/store.js
  tests/lib/store.spec.js
Due: app-prettier

feat: add date to generated filename cc @cedricr
  index.js
  lib/store.js
  tests/lib/store.spec.js
Due: app-prettier

fix: backport @cedricr review comments
  index.js
  lib/store.js
  tests/lib/store.spec.js
Due: app-prettier

chore: update code to latest litestar
  backend/src/app/lib/middleware/custom_auth_middleware.py
  pyproject.toml
  tests/backend/integration/test_processes.py
  uv.lock
Due: app-ruff-check, app-ruff-format

fix: handle import with no localstorage set
  lib/store.js
  tests/lib/store.spec.js
Due: app-prettier

chore: branch sync
  lib/store.js
  tests/lib/store.spec.js
Due: app-prettier

feat(stable): allow exporting and importing bookmarks (#1791)
  index.js
  lib/store.js
  public/icomoon/fonts/icomoon.eot
  public/icomoon/fonts/icomoon.svg
  public/icomoon/fonts/icomoon.ttf
  public/icomoon/fonts/icomoon.woff
  public/icomoon/selection.json
  public/icomoon/style.css
  src/Page/Food.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Ports.elm
  src/Views/Bookmark.elm
  src/Views/Icon.elm
  src/Views/Sidebar.elm
  tests/lib/store.spec.js
Due: app-prettier

feat: allow exporting and importing bookmarks (#1784)
  index.js
  lib/store.js
  public/icomoon/fonts/icomoon.eot
  public/icomoon/fonts/icomoon.svg
  public/icomoon/fonts/icomoon.ttf
  public/icomoon/fonts/icomoon.woff
  public/icomoon/selection.json
  public/icomoon/style.css
  src/Page/Food.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Ports.elm
  src/Views/Bookmark.elm
  src/Views/Icon.elm
  src/Views/Sidebar.elm
  tests/lib/store.spec.js
Due: app-prettier

fix(data): changed the process for sunflower grain
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

new export
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

enable colza UE and by default
  public/data/food/ingredients.json
Due: app-prettier

GITBOOK-1642: No subject
  def-cout-environnemental/vocabulaire-et-definitions.md
Due: none

GITBOOK-1643: No subject
  def-cout-environnemental/vocabulaire-et-definitions.md
Due: none

chore: improve formatting of API changelog
  src/Page/Api.elm
Due: none

fix: @n1k0’s review
  src/Page/Api.elm
Due: none

chore: require auth for API calls
  server.js
  src/Page/Api.elm
  tests/server.spec.js
Due: app-prettier

chore: add more user facing information about API authentication
  public/pages/api-faq.md
  src/Page/Api.elm
  src/Page/Auth.elm
Due: none

fix: permanent pasture (#1793)
  public/data/food/ingredients.json
Due: app-prettier

chore: remove legacy version code (#1792)
  bin/build-all-versions.sh
  bin/build-specific-app-version.sh
  bin/build-standalone-app.sh
  bin/patch_files_for_versions_compat.py
  packages/python/ecobalyse/ecobalyse/0001-feat-patch-homepage-link-and-inject-and-inject-versi.patch
  packages/python/ecobalyse/ecobalyse/0002-patch-index-js-client-path-backend.patch
  packages/python/ecobalyse/ecobalyse/patch_files.py
  packages/python/ecobalyse/ecobalyse/tests/test_patch_old_versions.py
Due: app-ruff-check, app-ruff-format

chore: dummy PR
  test
Due: none

feat: express textile garment mass in grams
  src/Page/Textile.elm
Due: none

Update Textile.elm
  src/Page/Textile.elm
Due: none

feat: express textile garment mass in grams (#1818)
  src/Page/Textile.elm
Due: none

new export using the new ginko db
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

refactor: clean code
  src/Views/Page.elm
Due: none

refactor: even cleaner code
  src/Views/Page.elm
Due: none

chore: @cedricr review
  src/Views/Page.elm
Due: none

feat: add warn banner when terms aren't accepted
  src/Views/Notice.elm
  src/Views/Page.elm
  styles.scss
Due: none

feat: add development banners
  src/Views/Notice.elm
  src/Views/Page.elm
  styles.scss
Due: none

refactor: update wording cc @cedricr
  src/Views/Page.elm
Due: none

chore: rename partner with their exact name
  src/Views/Page.elm
Due: none

feat: add warn banner when terms aren't accepted (#1817)
  src/Views/Notice.elm
  src/Views/Page.elm
  styles.scss
Due: none

GITBOOK-1625: Màj Doc Ingrédients bruts
  .gitbook/assets/Capture d'écran 2026-01-30 143850.png
  .gitbook/assets/image (386).png
  .gitbook/assets/image (387).png
  .gitbook/assets/image (388).png
  .gitbook/assets/image.png
  SUMMARY.md
  alimentaire/impacts-consideres/etape-1-ingredients/impacts-consideres-1.md
  alimentaire/impacts-consideres/etape-1-ingredients/impacts-consideres-2.md
  def-cout-environnemental/categories-dimpact-acv/README.md
Due: none

GITBOOK-1639: Note AGB/EB en doc
  alimentaire/impacts-consideres/README.md
Due: none

fix: fix erroneous banner message
  src/Views/Page.elm
Due: none

fix: fix erroneous banner message (#1822)
  src/Views/Page.elm
Due: none

feat: improve bookmarks icons
  public/icomoon/fonts/icomoon.eot
  public/icomoon/fonts/icomoon.svg
  public/icomoon/fonts/icomoon.ttf
  public/icomoon/fonts/icomoon.woff
  public/icomoon/selection.json
  public/icomoon/style.css
Due: app-prettier

Path conditions:
  app-prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.json$
  app-ruff-check: any of: ^.*$ and \.py$
  app-ruff-format: any of: ^.*$ and \.py$
