Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format

app-prettier:
  name: run prettier
  language: system
  entry: 'bash -c ''npm --prefix . run fix:prettier --write "${@}"'' --
  
    '

app-ruff-check:
  name: run ruff check
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:check "${@}"'' --
  
    '

app-ruff-format:
  name: run ruff format
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:format "${@}"'' --
  
    '

fix: exclude packaging from production material autocomplete
  src/Page/Object.elm
  src/Views/Component.elm
Due: none

refactor: simplify lifeCycle use
  src/Views/Component.elm
Due: none

feat: filter out already used packaging
  src/Data/Component.elm
  src/Views/Component.elm
Due: none

test: add simple test
  tests/Data/ComponentTest.elm
Due: none

fix: add missing transport separator
  src/Views/Component.elm
Due: none

refactor: remove obsolete wrapper
  src/Views/Component.elm
Due: none

feat: compute packagings impacts
  src/Data/Component.elm
Due: none

feat: stronger packaging type
  src/Data/Component.elm
  src/Page/Object.elm
Due: none

refactor: avoid exposing opaque type impl.
  src/Data/Component.elm
  src/Page/Object.elm
  tests/Data/ComponentTest.elm
Due: none

chore: wire add packaging button up
  src/Data/Component.elm
  src/Page/Admin/Component.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Views/Component.elm
Due: none

feat: render lifecycle packaging impacts
  src/Data/Component.elm
  src/Views/Component.elm
Due: none

feat(generic): add packaging dedicated ui and query params (#2438)
  src/CheckDb.elm
  src/Data/Component.elm
  src/Page/Admin/Component.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Views/Component.elm
  styles.scss
  tests/Data/ComponentTest.elm
Due: none

GITBOOK-1702: No subject
  methodes-transverses-specifiques/emballages.md
Due: none

rename violations->anomalies, add expected prefix
  bin/check_ingredient_hierarchy.py
Due: app-ruff-check, app-ruff-format

add github url
  bin/check_ingredient_hierarchy.py
Due: app-ruff-check, app-ruff-format

update CAM and cells
  data/activities_to_create.json
Due: app-prettier

update lci catalog
  data/lci_catalog/ecobalyse/battery-cell-cam-lfp-cn.json
  data/lci_catalog/ecobalyse/battery-cell-cam-lfp-hydrothermal-cn.json
  data/lci_catalog/ecobalyse/battery-cell-cam-nmc811-cn.json
  data/lci_catalog/ecobalyse/battery-cell-cam-nmc811-rer.json
  data/lci_catalog/ecobalyse/battery-cell-lfp-hydro-cn.json
  data/lci_catalog/ecobalyse/battery-cell-lfp-solid-cn.json
  data/lci_catalog/ecobalyse/battery-cell-nmc622-cn.json
  data/lci_catalog/ecobalyse/battery-cell-nmc811-cn.json
  data/lci_catalog/ecobalyse/battery-cell-nmc811-fr.json
Due: app-prettier

comments
  bin/check_ingredient_hierarchy.py
Due: app-ruff-check, app-ruff-format

update comments
  public/data/object/components.json
Due: app-prettier

update veli actif 25&45km/h
  public/data/veli/examples.json
Due: app-prettier

test plantain-fr vers banana-wi
  data/lci_catalog/agribalyse-3-2/banana-wi.json
  data/lci_catalog/agribalyse-3-2/plantain-fr.json
Due: app-prettier

add cable 2.2kW 3G
  public/data/object/components.json
Due: app-prettier

fix cable info
  public/data/object/components.json
Due: app-prettier

GITBOOK-1703: No subject
  methodes-transverses-specifiques/emballages.md
Due: none

feat(data,veli): add cable (#2459)
  public/data/object/components.json
Due: app-prettier

Modification des huiles de tournesol
  data/lci_catalog/agribalyse-3-2/sunflower-oil-eu.json
  data/lci_catalog/agribalyse-3-2/sunflower-oil.json
  data/lci_catalog/ecobalyse/sunflower-oil-organic-2025.json
Due: app-prettier

delete processes or veli scope
  data/lci_catalog/custom/dyeing-cellulosic-fiber-average-aquatic-pollution-scenario.json
  data/lci_catalog/custom/dyeing-synthetic-fiber-average-aquatic-pollution-scenario.json
  data/lci_catalog/ecobalyse/battery-aa.json
  data/lci_catalog/ecobalyse/battery-aaa.json
  data/lci_catalog/ecobalyse/battery-cell-cam-lfp-cn.json
  data/lci_catalog/ecobalyse/battery-cell-cam-lfp-hydrothermal-cn.json
  data/lci_catalog/ecobalyse/battery-cell-cam-nmc811-cn.json
  data/lci_catalog/ecobalyse/battery-cell-graphite.json
  data/lci_catalog/ecoinvent-3-11/li-ion-battery-lfp.json
  data/lci_catalog/ecoinvent-3-11/li-ion-battery-nmc811.json
  data/lci_catalog/ecoinvent-3-11/li-ion-battery-other.json
  data/lci_catalog/ecoinvent-3-9-1/carbon-black.json
  data/lci_catalog/ecoinvent-3-9-1/organic-compound.json
Due: app-prettier

delete aa and aaa batteries
  data/lci_catalog/ecobalyse/battery-aa.json
  data/lci_catalog/ecobalyse/battery-aaa.json
Due: app-prettier

Modif icv broccoli-eu
  data/lci_catalog/agribalyse-3-2/broccoli-eu.json
  data/lci_catalog/ecoinvent-3-11/broccoli.json
Due: app-prettier

Moving amaranth-non-eu from wheat grain to durum wheat grain
  data/lci_catalog/agribalyse-3-2/durum-wheat-grain.json
  data/lci_catalog/agribalyse-3-2/wheat-grain-in.json
Due: app-prettier

chore(stable): upgrade python deps, 2026-06-04 (#2400)
  uv.lock
Due: none

Déplacement lima-bean-default de icv Fava bean RoW vers icv Fava bean CA-AB
  data/lci_catalog/ecoinvent-3-11/broad-bean-default.json
  data/lci_catalog/ecoinvent-3-11/lima-bean-default.json
Due: app-prettier

chore(current): upgrade python deps, 2026-06-04
  uv.lock
Due: none

fix: list deprecation warning
  backend/src/app/cli/commands.py
  backend/src/app/domain/accounts/controllers/access.py
  backend/src/app/domain/components/controllers/component.py
  backend/src/app/domain/components/services.py
  backend/src/app/domain/journal_entries/controllers/journal_entry.py
  backend/src/app/domain/processes/controllers/process.py
  uv.lock
Due: app-ruff-check, app-ruff-format

Path conditions:
  app-prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.json$
  app-ruff-check: any of: ^.*$ and \.py$
  app-ruff-format: any of: ^.*$ and \.py$
