Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
      exclude: (svg|icomoon|rapidoc-9.3.4.min.js)
    - id: trailing-whitespace
      exclude: (vendor|rapidoc-9.3.4.min.js)
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, master]

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier
        language: system
        files: ^.*$
        types_or: [javascript, json]
        entry: |
          bash -c 'npm --prefix . run fix:prettier --write "${@}"' --

      - id: app-ruff-check
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:check "${@}"' --

      - id: app-ruff-format
        name: run ruff format
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:format "${@}"' --

      - id: app-elm-format
        name: run elm-format
        language: system
        files: ^.*$
        types_or: [elm]
        entry: |
          bash -c 'npm --prefix . run fix:elm-format "${@}"' --

create NMC622 cell process
  data/activities_to_create.json
Due: app-prettier

chore: corrections following reviews
  bin/check_ingredient_hierarchy.py
Due: app-ruff-check, app-ruff-format

add AA and AAA
  data/activities_to_create.json
Due: app-prettier

add in catalog
  data/activities_to_create.json
  data/lci_catalog/ecobalyse/battery-aa.json
  data/lci_catalog/ecobalyse/battery-aaa.json
  data/lci_catalog/ecobalyse/battery-cell-nmc622-cn.json
Due: app-prettier

feat: check ingredient hierarchy (#2027)
  .github/workflows/ingredient_hierarchy.yml
  .gitignore
  bin/check_ingredient_hierarchy.py
Due: app-ruff-check, app-ruff-format

chore: update browserlist
  package-lock.json
Due: app-prettier

chore: update browserslist db (#2407)
  package-lock.json
Due: app-prettier

fix: use JSON to store components (#2393)
  backend/src/app/db/migrations/versions/2026-06-03_store_component_as_json_21f0598992ca.py
  backend/src/app/db/models/__init__.py
  backend/src/app/db/models/component.py
  backend/src/app/db/models/element.py
  backend/src/app/db/models/journal_entry.py
  backend/src/app/db/models/process.py
  backend/src/app/db/models/process_element_transform.py
  backend/src/app/domain/components/controllers/component.py
  backend/src/app/domain/components/deps.py
  backend/src/app/domain/components/schemas.py
  backend/src/app/domain/components/services.py
  src/Page/Admin/Component.elm
  src/Request/BackendHttp.elm
  src/Request/Component.elm
  tests/backend/data_fixtures.py
  tests/backend/integration/test_components.py
  tests/backend/integration/test_journal_entries.py
Due: app-ruff-check, app-ruff-format

Lyocell fiber
  data/common/__init__.py
  data/lci_catalog/lyocell/lyocell.json
  data/public/data/textile/materials.json
  data/schemas/lci-schema.json
  public/data/textile/materials.json
Due: app-prettier, app-ruff-check, app-ruff-format

new export and fixed test json schema
  data/public/data/processes.json
  data/tests/processes-schema.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

add tire as process
  data/activities_to_create.json
  data/lci_catalog/ecoinvent-3-9-1/tire.json
Due: app-prettier

fix display name
  data/lci_catalog/ecoinvent-3-9-1/tire.json
Due: app-prettier

add NMC1.2 v1
  public/data/object/components.json
Due: app-prettier

fix: update json schemas
  tests/processes-schema.json
Due: app-prettier

fix: elm-review
  src/Data/Impact/Definition.elm
Due: none

refactor: kill some ancient tech-debt
  src/Data/Impact/Definition.elm
Due: none

Add batteries and delete old processes
  public/data/object/components.json
Due: app-prettier

fix UUID
  public/data/object/components.json
Due: app-prettier

add pa in veli scope
  data/lci_catalog/ecoinvent-3-9-1/ei-pa.json
Due: app-prettier

fix PA ID
  public/data/object/components.json
Due: app-prettier

fix PA in catalog
  data/lci_catalog/ecoinvent-3-9-1/ei-pa.json
  data/lci_catalog/ecoinvent-3-9-1/ei-pet-r.json
  data/lci_catalog/ecoinvent-3-9-1/plastic-pellets-pa.json
  public/data/object/components.json
Due: app-prettier

temporarily replace PA by PVC to run tests
  public/data/object/components.json
Due: app-prettier

fix components display names
  public/data/object/components.json
Due: app-prettier

reimplement PA in components
  public/data/object/components.json
Due: app-prettier

feat(data): Added nonwoven polyester (#2397)
  data/lci_catalog/ecoinvent-3-11/nonwoven-polyester.json
  data/public/data/processes.json
  data/public/data/textile/materials.json
  e2e/auth.spec.js
  public/data/processes.json
  public/data/processes_impacts.json
  public/data/textile/materials.json
Due: app-prettier

export
  data/public/data/processes.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

feat(data,veli): add “Veli actif, 25km/h max, fabriqué en France” example
  public/data/veli/examples.json
Due: app-prettier

edit comment of battery components
  public/data/object/components.json
Due: app-prettier
