Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format, dont-commit-detailed-processes

app-prettier:
  name: run prettier
  language: system
  entry: 'bash -c ''npm --prefix . run fix:prettier --write "${@}"'' --
  
    '

app-ruff-check:
  name: run ruff check
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:check "${@}"'' --
  
    '

app-ruff-format:
  name: run ruff format
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:format "${@}"'' --
  
    '

dont-commit-detailed-processes:
  name: check that we don't commit processes_impacts.json
  language: system
  entry: 'bash -c ''echo "⚠️ Prevented pushing detailed impacts data to public git repository. To update these, clone and push to the ecobalyse-private repository.";exit 1''
  
    '

chore: install psycopg pool,binary for mac
  pyproject.toml
  uv.lock
Due: none

chore: remove puppeteer
  jest-puppeteer.config.js
  package-lock.json
  package.json
Due: app-prettier

chore: merge e2e tests workflow back to node one
  .github/workflows/e2e.yml
  .github/workflows/node.js.yml
Due: none

test: add browser reload and autologin test
  e2e/auth.spec.js
Due: app-prettier

test: add api tokens management tests
  e2e/auth.spec.js
  src/Page/Auth.elm
Due: app-prettier

test: test api token use over the api
  e2e/auth.spec.js
  src/Page/Auth.elm
Due: app-prettier

feat: add plastic extrusin
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

GITBOOK-1371: No subject
  pages-en-cours-de-revue/modele-dimpact-de-la-fin-de-vie.md
Due: none

feat: display land occupation explorer
  src/Data/Food/Ingredient.elm
  src/Page/Explore/FoodIngredients.elm
Due: none

GITBOOK-1372: Ajustements de forme (Fin de vie _ Ameublement)
  .gitbook/assets/image (355).png
  .gitbook/assets/image (356).png
  ameublement/cycle-de-vie/etape-4-fin-de-vie.md
Due: none

feat: add material_type:plastic to polypropylene and extrusion
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

chore: replace elec process medium voltage by low voltage (#1121)
  public/data/countries.json
  public/data/processes.json
  public/data/processes_impacts.json
  src/Data/Food/WellKnown.elm
  tests/Data/Food/PreparationTest.elm
  tests/Data/Food/RecipeTest.elm
  tests/Data/Textile/SimulatorTest.elm
  tests/e2e-food.json
  tests/e2e-textile.json
Due: app-prettier

test: admin access
  e2e/auth.spec.js
  e2e/lib.js
Due: app-prettier

chore: add backend autoreload
  package.json
Due: app-prettier

chore: force stack trace rendering
  backend/src/app/config/app.py
Due: app-ruff-check, app-ruff-format

GITBOOK-1373: No subject
  SUMMARY.md
  ameublement/cycle-de-vie/etape-4-fin-de-vie-ameublement.md
  pages-en-cours-de-revue/fin-de-vie.md
Due: none

new export
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

fix: json date encoding, add tests
  src/Data/Common/EncodeUtils.elm
  tests/Data/Common/EncodeUtilsTest.elm
Due: none

feat: explicit org type in account details view
  src/Page/Auth.elm
Due: none

feat: use new auth for retrieving detailed impacts
  server.js
  src/Main.elm
  src/Request/Auth2.elm
  src/Request/BackendHttp.elm
Due: app-prettier

chore: rename test file
  tests/Data/User2Test.elm
Due: none

feat: validate all organization form fields
  src/Data/User.elm
  src/Page/Auth.elm
  tests/Data/UserTest.elm
Due: none

fix: upgrade user json decoding tests
  tests/Data/Auth2Test.elm
Due: none

feat: store auth status in localStorage
  src/Data/Session.elm
  src/Data/User2.elm
  src/Page/Auth2.elm
Due: none

feat: user signup form
  src/Data/User2.elm
  src/Request/Auth2.elm
Due: none

feat: required form fields
  src/Page/Auth2.elm
  src/Views/Page.elm
Due: none

fix: remove debug view
  src/Page/Auth.elm
Due: none

chore: improve wording
  src/Page/Auth.elm
  src/Views/Page.elm
Due: none

feat: render auth dependant auth links
  src/Data/Session.elm
  src/Main.elm
  src/Page/Auth2.elm
  src/Route.elm
  src/Views/Page.elm
Due: none

chore: speedup npm test
  .github/workflows/node.js.yml
  package.json
  playwright.config.js
Due: app-prettier

feat: persist rapidoc api token
  src/Page/Api.elm
Due: none

fix: tmp route
  src/Route.elm
Due: none

feat: add auth and user modules
  src/Data/User2.elm
  src/Request/Auth2.elm
Due: none

chore: update wording
  src/Page/Auth.elm
Due: none

feat: improve auth2 tabs handling
  src/Main.elm
  src/Page/Auth2.elm
  src/Route.elm
  src/Views/Page.elm
Due: none

feat: improve error details
  src/Views/Alert.elm
Due: none

chore: add code comments
  src/Page/Auth2.elm
  src/Request/Auth2.elm
Due: none

chore: user roles complete decoding
  src/Data/User2.elm
Due: none

feat: delete token
  src/Page/Auth2.elm
  src/Request/ApiToken.elm
  src/Request/BackendHttp.elm
  src/Request/BackendHttp/Error.elm
  src/Views/Alert.elm
Due: none

chore: remove web access token debugging view
  src/Page/Auth.elm
Due: none

Path conditions:
  app-prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.json$
  app-ruff-check: any of: ^.*$ and \.py$
  app-ruff-format: any of: ^.*$ and \.py$
  dont-commit-detailed-processes: any of: ^processes_impacts.json$
