Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
      exclude: (svg|icomoon|rapidoc-9.3.4.min.js)
    - id: trailing-whitespace
      exclude: (vendor|rapidoc-9.3.4.min.js)
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, master]

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier
        language: system
        files: ^.*$
        types_or: [javascript, json]
        entry: |
          bash -c 'npm --prefix . run fix:prettier --write "${@}"' --

      - id: app-ruff-check
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:check "${@}"' --

      - id: app-ruff-format
        name: run ruff format
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:format "${@}"' --

      - id: app-elm-format
        name: run elm-format
        language: system
        files: ^.*$
        types_or: [elm]
        entry: |
          bash -c 'npm --prefix . run fix:elm-format "${@}"' --

fix: json formatting
  public/data/food2/categories.json
Due: app-prettier

feat: add column to explorer
  src/Page/Explore/ProductCategories.elm
Due: none

feat: allow compact json consumptions def
  public/data/food2/categories.json
  src/Data/Component/ProductCategory.elm
  tests/Data/ComponentTest.elm
Due: app-prettier

chore: add db checks
  src/CheckDb.elm
Due: none

refactor: simplify test code
  tests/Data/ComponentTest.elm
Due: none

chore: fine tune time outs and retries
  .github/workflows/e2e.yml
  playwright.config.js
Due: app-prettier

chore: fix e2e tests being cancelled with no error (#2741)
  .github/workflows/e2e.yml
  playwright.config.js
Due: app-prettier

refactor(data): share the SimaPro strategies and linking
  data/common/bw/strategies.py
  data/common/import_.py
  data/import_ecoinvent.py
  data/import_food.py
Due: app-ruff-check, app-ruff-format

chore: fix linting
  data/common/import_.py
  data/import_ecoinvent.py
  data/import_food.py
Due: app-ruff-check, app-ruff-format

feat(data): create taxonomy
  data/common/infer_metadata.py
  data/food/base_ingredients.json
  data/food/taxonomy.json
  data/migrations/2026-08-25-generate-taxonomy.py
  data/tests/test_taxonomy.py
Due: app-prettier, app-ruff-check, app-ruff-format

feat: handle default value precedence order
  src/CheckDb.elm
  src/Data/Component.elm
  src/Page/Generic.elm
  src/Views/Component.elm
Due: none

fix: fix tests and add more
  tests/Data/ComponentTest.elm
Due: none

chore: remove useless test
  data/common/infer_metadata.py
  data/tests/test_taxonomy.py
Due: app-ruff-check, app-ruff-format

feat(generic): add product category default consumptions (#2744)
  public/data/food2/categories.json
  src/CheckDb.elm
  src/Data/Component.elm
  src/Data/Component/ProductCategory.elm
  src/Page/Explore/ProductCategories.elm
  src/Page/Generic.elm
  src/Views/Component.elm
  tests/Data/ComponentTest.elm
Due: app-prettier

refactor(data): share the SimaPro strategies and linking (#2745)
  data/common/bw/strategies.py
  data/common/import_.py
  data/import_ecoinvent.py
  data/import_food.py
Due: app-ruff-check, app-ruff-format

chore: wait longer for things to be displayed
  playwright.config.js
Due: app-prettier

chore: wait longer for things to be displayed (#2748)
  playwright.config.js
Due: app-prettier

fix(generic,ui): hide tabs and categ selector on empty query
  src/Page/Generic.elm
  src/Views/Component.elm
Due: none

fix(generic,ui): hide tabs and categ selector on empty query (#2750)
  src/Page/Generic.elm
  src/Views/Component.elm
Due: none

chore: add assembly ops to veli product categories
  public/data/veli/categories.json
Due: app-prettier

refactor: clean code
  tests/Data/ComponentTest.elm
Due: none

feat: add support for product category default assembly ops
  src/CheckDb.elm
  src/Data/Component.elm
  src/Data/Component/ProductCategory.elm
  src/Page/Explore/ProductCategories.elm
  src/Page/Generic.elm
  src/Views/Component.elm
  tests/Data/ComponentTest.elm
Due: none

chore: correct naming
  data/bin/export.py
  data/create_activities.py
  data/tests/test_base_ingredient.py
  data/tests/test_export.py
Due: app-ruff-check, app-ruff-format

refactor: clean code
  src/Data/Component.elm
  src/Page/Explore/ProductCategories.elm
  tests/Data/ComponentTest.elm
Due: none

chore: simplify by using direct dict access instead of .get()
  data/migrations/2026-08-25-generate-taxonomy.py
  data/tests/test_taxonomy.py
Due: app-ruff-check, app-ruff-format

fix: explorer facet display when empty
  src/Page/Explore/ProductCategories.elm
Due: none

feat: add taxonomy_with_aliases.json file to audit taxonomy
  data/bin/export.py
  data/bin/generate_taxonomy_with_aliases.py
  data/food/taxonomy_with_aliases.json
Due: app-prettier, app-ruff-check, app-ruff-format

fix: hide facet when no options are available
  src/Page/Explore/ProductCategories.elm
  src/Page/Explore/Table.elm
Due: none

refactor: generalize use of Table.emptyLabel
  src/Page/Explore/Components.elm
  src/Page/Explore/Countries.elm
  src/Page/Explore/FoodIngredients.elm
  src/Page/Explore/Impacts.elm
  src/Page/Explore/Processes.elm
  src/Page/Explore/Table.elm
  src/Page/Explore/TextileMaterials.elm
  tests/Data/ComponentTest.elm
Due: none

chore: add test to ensure taxonomy_with_aliases is up to date
  .justfile
  data/tests/test_taxonomy.py
Due: app-ruff-check, app-ruff-format

chore: delete useless data
  data/ecobalyse_data/export/export_generic.py
  data/export/processes_generic.json
  data/models/process.py
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier, app-ruff-check, app-ruff-format

feat(generic): handle product category default assembly operations (#2753)
  public/data/veli/categories.json
  src/CheckDb.elm
  src/Data/Component.elm
  src/Data/Component/ProductCategory.elm
  src/Page/Explore/Components.elm
  src/Page/Explore/Countries.elm
  src/Page/Explore/FoodIngredients.elm
  src/Page/Explore/Impacts.elm
  src/Page/Explore/Processes.elm
  src/Page/Explore/ProductCategories.elm
  src/Page/Explore/Table.elm
  src/Page/Explore/TextileMaterials.elm
  src/Page/Generic.elm
  src/Views/Component.elm
  tests/Data/ComponentTest.elm
Due: app-prettier

chore: updated fn comment
  src/Data/Component.elm
Due: none

refactor: strengthen tests
  tests/Data/ComponentTest.elm
Due: none

fix(generic): apply item qty to assembly transports
  src/Data/Component.elm
  tests/Data/ComponentTest.elm
Due: none

refactor: consistent typing
  src/Data/Component.elm
  src/Views/Component.elm
Due: none

chore: upgrade rapidoc to v9.3.8
  public/vendor/rapidoc-9.3.4.min.js
  public/vendor/rapidoc-9.3.8.min.js
  src/Page/Api.elm
Due: app-prettier

refactor: load rapidoc from npm
  .pre-commit-config.yaml
  .prettierignore
  index.js
  package-lock.json
  package.json
  public/vendor/rapidoc-9.3.8.min.js
  src/Page/Api.elm
  src/Ports.elm
Due: app-prettier

fix test
  data/tests/fixtures/processes_generic_impacts_output.json
  data/tests/snapshots/processes_generic_impacts.json
Due: app-prettier

fix(generic): apply item qty to assembly transports (#2755)
  src/Data/Component.elm
  src/Views/Component.elm
  tests/Data/ComponentTest.elm
Due: none
