Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
      exclude: (svg|icomoon|rapidoc-9.3.4.min.js)
    - id: trailing-whitespace
      exclude: (vendor|rapidoc-9.3.4.min.js)
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, master]

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier
        language: system
        files: ^.*$
        types_or: [javascript, json]
        entry: |
          bash -c 'npm --prefix . run fix:prettier --write "${@}"' --

      - id: app-ruff-check
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:check "${@}"' --

      - id: app-ruff-format
        name: run ruff format
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:format "${@}"' --

      - id: app-elm-format
        name: run elm-format
        language: system
        files: ^.*$
        types_or: [elm]
        entry: |
          bash -c 'npm --prefix . run fix:elm-format "${@}"' --

fix: close modals when clicking outside of it
  src/Views/Modal.elm
Due: none

fix: auto-focus on the search field when opening some modals
  src/Page/Admin/Component.elm
  src/Page/Food.elm
  src/Page/Object.elm
Due: none

same on textile
  src/Page/Textile.elm
Due: none

forest complements 2
  public/data/metadata.json
  public/data/processes_generic.json
Due: app-prettier

reduce CognitiveComplexity
  src/Page/Textile.elm
Due: none

fix: avoid recomputing the whole DOM when hovering over a list in a modal
  src/Views/AutocompleteSelector.elm
Due: none

fix: add missing toId field to AutocompleteSelectorView calls
  src/Page/Admin/Component.elm
  src/Page/Food.elm
  src/Page/Object.elm
Due: none

try with a uuid as the Key
  src/Data/Example.elm
  src/Page/Textile.elm
  src/Views/AutocompleteSelector.elm
Due: none

rather try no remove CSS transition
  src/Data/Example.elm
  src/Page/Admin/Component.elm
  src/Page/Food.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Views/AutocompleteSelector.elm
  styles.scss
Due: none

restore files
  src/Page/Admin/Component.elm
  src/Page/Food.elm
  src/Page/Object.elm
  src/Page/Textile.elm
Due: none

fix: auto-focus on the search field when opening some modals (#1824)
  src/Page/Admin/Component.elm
  src/Page/Food.elm
  src/Page/Object.elm
  src/Page/Textile.elm
Due: none

fix: remove CSS transition on the autocomplete modals (#1826)
  styles.scss
Due: none

refactor: improve autocomplete input autofocus impl.
  src/App.elm
  src/Page/Food.elm
  src/Page/Object.elm
  src/Page/Textile.elm
Due: none

chore: move focus event to autocomplete view module
  src/Page/Food.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Views/AutocompleteSelector.elm
Due: none

feat: improve bookmarks icons (stable backport)
  public/icomoon/fonts/icomoon.eot
  public/icomoon/fonts/icomoon.svg
  public/icomoon/fonts/icomoon.ttf
  public/icomoon/fonts/icomoon.woff
  public/icomoon/selection.json
  public/icomoon/style.css
Due: app-prettier

feat: improve bookmarks icons (#1823)
  public/icomoon/fonts/icomoon.eot
  public/icomoon/fonts/icomoon.svg
  public/icomoon/fonts/icomoon.ttf
  public/icomoon/fonts/icomoon.woff
  public/icomoon/selection.json
  public/icomoon/style.css
Due: app-prettier

refactor: improve autocomplete input autofocus impl. (#1834)
  src/App.elm
  src/Page/Food.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Views/AutocompleteSelector.elm
Due: none

feat: improve bookmarks icons (stable backport) (#1837)
  public/icomoon/fonts/icomoon.eot
  public/icomoon/fonts/icomoon.svg
  public/icomoon/fonts/icomoon.ttf
  public/icomoon/fonts/icomoon.woff
  public/icomoon/selection.json
  public/icomoon/style.css
Due: app-prettier

fix: use target-checking decoder instead of stopPropagation to close modal
  src/Views/Modal.elm
Due: none

chore: improve formatting of API changelog
  src/Page/Api.elm
Due: none

fix: @n1k0’s review
  src/Page/Api.elm
Due: none

chore: add more user facing information about API authentication
  public/pages/api-faq.md
  src/Page/Api.elm
  src/Page/Auth.elm
Due: none

chore: require auth for API calls
  server.js
  src/Page/Api.elm
  tests/server.spec.js
Due: app-prettier

chore: sort processes
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

fix: close modals when clicking outside of it (#1825)
  src/Views/Modal.elm
Due: none

chore: add road transport to airport or to port
  public/data/transports.json
Due: app-prettier

chore:exclude transports.json from prettier formatting
  .prettierignore
Due: none

feat: render avg distances in explorer
  public/data/countries.json
  src/Page/Explore/Countries.elm
Due: app-prettier

chore: revert the changes to transports.json
  .prettierignore
  public/data/transports.json
Due: app-prettier

feat: decode average internal country distances
  src/Data/Country.elm
Due: none

chore: add intra-country distances
  public/data/countries.json
Due: app-prettier

fix: backport #1825: close the modal when clicking outside also backport #1826: remove css transition on autocomplete lists
  src/Views/Modal.elm
  styles.scss
Due: none

fix: backport #1825 and #1826 (#1844)
  src/Views/Modal.elm
  styles.scss
Due: none

chore: require auth for API calls (#1779)
  public/pages/api-faq.md
  server.js
  src/Page/Api.elm
  src/Page/Auth.elm
  tests/server.spec.js
Due: app-prettier

fix: add dummy token to score history script
  bin/score_history/score_history.py
Due: app-ruff-check, app-ruff-format

fix: score_history auth fail (#1845)
  bin/score_history/score_history.py
Due: app-ruff-check, app-ruff-format

fix: only match and change `sslmode` parameter
  bin/load-fixtures.sh
  bin/start.sh
Due: none

chore: exit with error if sed fails
  bin/load-fixtures.sh
  bin/start.sh
Due: none

chore: pipefail for the whole script is enough
  bin/load-fixtures.sh
  bin/start.sh
Due: none
