Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format, dont-commit-detailed-processes

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
      exclude: (svg|icomoon|rapidoc-9.3.4.min.js)
    - id: trailing-whitespace
      exclude: (vendor|rapidoc-9.3.4.min.js)
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, master]

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier
        language: system
        files: ^.*$
        types_or: [javascript, json]
        entry: |
          bash -c 'npm --prefix . run fix:prettier --write "${@}"' --

      - id: app-ruff-check
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:check "${@}"' --

      - id: app-ruff-format
        name: run ruff format
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:format "${@}"' --

      - id: dont-commit-detailed-processes
        name: check that we don't commit processes_impacts.json
        language: system
        files: ^processes_impacts.json$
        entry: |
          bash -c 'echo "⚠️ Prevented pushing detailed impacts data to public git repository. To update these, clone and push to the ecobalyse-private repository.";exit 1'

refactor: clean test code
  tests/Data/ComponentTest.elm
Due: none

refactor: reformat JSON
  tests/Data/ComponentTest.elm
Due: none

refactor: improve code semantics
  public/data/components/config.json
  src/Data/Component.elm
  src/Data/Component/Config.elm
  tests/Data/ComponentTest.elm
Due: app-prettier

fix(ui): fix incomplete comparator chart legend when exported
  lib/charts/food-comparator.js
Due: app-prettier

export new ingredients after fixes on metadata
  public/data/food/ingredients.json
Due: app-prettier

chore(data): added organic flax after modeling
  public/data/processes.json
  public/data/processes_impacts.json
  public/data/textile/materials.json
Due: app-prettier

fix(ui): fix incomplete comparator chart legend when exported (#1704)
  lib/charts/food-comparator.js
Due: app-prettier

chore: change default electric mix to India’s (#1702)
  public/data/components/config.json
  src/Data/Component.elm
  src/Data/Component/Config.elm
  src/Data/Textile/WellKnown.elm
  src/Page/Admin/Component.elm
  src/Page/Explore.elm
  src/Page/Explore/Components.elm
  src/Views/Component.elm
  tests/Data/ComponentTest.elm
Due: app-prettier

chore: data update and add cff process
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

chore: data update and add cff process (#1708)
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

fix: fix comparator bug
  src/Main.elm
Due: none

fix: compile errors
  public/data/food/examples.json
  src/Data/Food/Recipe.elm
  src/Page/Food.elm
Due: app-prettier

chore(wip): change packaging type
  src/Data/Food/Query.elm
  src/Data/Food/Recipe.elm
  src/Data/Food/Validation.elm
  src/Page/Food.elm
Due: none

fix: add packaging mass back
  src/Data/Food/Recipe.elm
  src/Page/Food.elm
Due: none

chore: use autocomplete for packaging update
  src/Data/Food/Query.elm
  src/Data/Food/Recipe.elm
  src/Page/Food.elm
Due: none

fix: use Mass instead of Float
  src/Data/Food/Query.elm
  src/Data/Food/Recipe.elm
  src/Page/Food.elm
Due: none

chore: elm review
  src/Data/Food/Query.elm
  src/Data/Food/Recipe.elm
  src/Page/Food.elm
Due: none

chore: add packaging modal
  src/Data/Food/Recipe.elm
  src/Page/Food.elm
Due: none

refactor: allow float/int amount
  src/Data/Food/Query.elm
  src/Data/Food/Recipe.elm
  src/Data/Food/Validation.elm
  src/Page/Food.elm
Due: none

chore: fix constructor order
  src/Data/Food/Validation.elm
Due: none

chore: tests should compile
  tests/Server/RouteTest.elm
Due: none

test: fix server test
  tests/Server/RouteTest.elm
  tests/server.spec.js
Due: app-prettier

fix: modal types
  src/Data/Food/Query.elm
  src/Page/Food.elm
Due: none

refactor: add new packaging amount type
  src/Data/Food/Query.elm
Due: none

chore: add last packages and fix name proxy
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

feat: reload component config with fresh processes
  src/Main.elm
  src/Page/Auth.elm
Due: none

fix: detailed impacts bug on object/veli (#1709)
  src/Page/Auth.elm
Due: none

new export with improved organic flax
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

fix(bo,ui): constrain comment cell height in processes admin
  src/Page/Admin/Process.elm
Due: none

feat: add mass per unit
  backend/src/app/db/models/process.py
  backend/src/app/domain/processes/schemas.py
  src/Data/Process.elm
  tests/Data/ComponentTest.elm
  tests/backend/data_fixtures.py
  tests/backend/integration/test_processes.py
  tests/processes-schema.json
Due: app-prettier, app-ruff-check, app-ruff-format

fix(bo,ui): constrain comment cell height in processes admin (#1712)
  src/Page/Admin/Process.elm
Due: none

chore: simplify PackagingAmount type
  src/Data/Food/Query.elm
  src/Data/Food/Recipe.elm
  src/Page/Food.elm
  tests/Server/RouteTest.elm
Due: none

refactor: make massPerUnit nullable
  backend/src/app/db/migrations/versions/2026-01-15_rename_density_to_massperunit_and_make__af8f29751a13.py
  backend/src/app/db/models/process.py
  backend/src/app/domain/processes/schemas.py
  public/data/processes.json
  public/data/processes_impacts.json
  src/Data/Component.elm
  src/Data/Process.elm
  tests/backend/data_fixtures.py
  tests/backend/integration/test_load_processes_fixtures.py
  tests/backend/integration/test_processes.py
Due: app-prettier, app-ruff-check, app-ruff-format

chore: rename density -> massPerUnit
  src/Data/Component.elm
  src/Data/Process.elm
  src/Page/Admin/Process.elm
  src/Page/Explore/Processes.elm
  src/Views/Format.elm
Due: none

fix: preserve transformations ordering
  backend/src/app/db/migrations/versions/2026-01-08_order_transforms_dbe7e0aa7bfe.py
  backend/src/app/db/models/__init__.py
  backend/src/app/db/models/element.py
  backend/src/app/db/models/process.py
  backend/src/app/db/models/process_element_transform.py
  backend/src/app/domain/components/services.py
  tests/backend/integration/test_components.py
Due: app-ruff-check, app-ruff-format

chore: fix imports
  backend/src/app/db/models/element.py
Due: app-ruff-check, app-ruff-format

chore: limit the number of SQL requests emitted (review @vjousse)
  backend/src/app/domain/components/services.py
Due: app-ruff-check, app-ruff-format

fix: preserve transformations ordering (#1700)
  backend/src/app/db/migrations/versions/2026-01-08_order_transforms_dbe7e0aa7bfe.py
  backend/src/app/db/models/__init__.py
  backend/src/app/db/models/element.py
  backend/src/app/db/models/process.py
  backend/src/app/db/models/process_element_transform.py
  backend/src/app/domain/components/services.py
  tests/backend/integration/test_components.py
Due: app-ruff-check, app-ruff-format

style: make ui responsive
  src/Views/Component.elm
  styles.scss
Due: none

style: improve styling and a11y
  src/Views/Component.elm
Due: none
