Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format, dont-commit-detailed-processes

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
      exclude: (svg|icomoon|rapidoc-9.3.4.min.js)
    - id: trailing-whitespace
      exclude: (vendor|rapidoc-9.3.4.min.js)
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, master]

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier
        language: system
        files: ^.*$
        types_or: [javascript, json]
        entry: |
          bash -c 'npm --prefix . run fix:prettier --write "${@}"' --

      - id: app-ruff-check
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:check "${@}"' --

      - id: app-ruff-format
        name: run ruff format
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:format "${@}"' --

      - id: dont-commit-detailed-processes
        name: check that we don't commit processes_impacts.json
        language: system
        files: ^processes_impacts.json$
        entry: |
          bash -c 'echo "⚠️ Prevented pushing detailed impacts data to public git repository. To update these, clone and push to the ecobalyse-private repository.";exit 1'

wrong name for the newborn calf
  data/import_food.py
Due: app-ruff-check, app-ruff-format

PastoEco is in AGB in simapro
  data/common/__init__.py
Due: app-ruff-check, app-ruff-format

refactor: clean code.
  src/Data/Object/Component.elm
  src/Data/Object/Simulator.elm
  src/Page/Explore/ObjectComponents.elm
  src/Page/Object.elm
Due: none

fix: exclude empty columns from CSV exports.
  src/Page/Explore/Table.elm
Due: none

feat: introduce objects/veli components db and explorer (#841)
  bin/build-db
  public/data/object/components.json
  public/data/object/examples.json
  src/Data/Bookmark.elm
  src/Data/Dataset.elm
  src/Data/Object/Component.elm
  src/Data/Object/Db.elm
  src/Data/Object/Process.elm
  src/Data/Object/Query.elm
  src/Data/Object/Simulator.elm
  src/Page/Explore.elm
  src/Page/Explore/ObjectComponents.elm
  src/Page/Explore/Table.elm
  src/Page/Object.elm
  src/Static/Json.elm-template
  src/Views/Format.elm
Due: app-prettier

new export with the right pastoeco processes
  public/data/food/processes.json
Due: app-prettier

GITBOOK-1111: No subject
  textile/durabilite.md
Due: none

refactor: move weaving elec_pppm to textile wellknown.
  public/data/textile/processes.json
  src/Data/Textile/Process.elm
  src/Data/Textile/Simulator.elm
  src/Data/Textile/WellKnown.elm
  tests/Data/Textile/FormulaTest.elm
Due: app-prettier

chore: remove elec_pppm from activities.json.
  data/textile/activities.json
Due: app-prettier

@vjousse review.
  data/textile/export.py
Due: app-ruff-check, app-ruff-format

refactor: move weaving elec_pppm to textile wellknown. (#843)
  data/textile/activities.json
  data/textile/export.py
  public/data/textile/processes.json
  src/Data/Textile/Process.elm
  src/Data/Textile/Simulator.elm
  src/Data/Textile/WellKnown.elm
  tests/Data/Textile/FormulaTest.elm
Due: app-prettier, app-ruff-check, app-ruff-format

ci: we don't need to clone the detailed impacts anymore
  .github/workflows/node.js.yml
Due: none

refactor: add encrypted detailed files
  .buildpacks
  .gitattributes
  .github/workflows/create_release.yml
  .github/workflows/node.js.yml
  Aptfile
  README.md
  bin/build-db
  bin/build-specific-app-version.sh
  bin/transcrypt
  bin/update-version.sh
  buildpack-run.sh
  check-db.js
  lib/index.js
  packages/python/ecobalyse/ecobalyse/patch_files.py
  packages/python/ecobalyse/ecobalyse/tests/test_patch_old_versions.py
  public/data/food/processes_impacts.json
  public/data/object/processes_impacts.json
  public/data/textile/processes_impacts.json
  server.js
  tests/lib.spec.js
Due: app-prettier, app-ruff-check, app-ruff-format

fix: remove useless code
  .github/workflows/score_history.yml
  bin/checkout-ecobalyse-private-branch.sh
  bin/extract_data_branch_from_pr.py
Due: app-ruff-check, app-ruff-format

fix: update textile processes
  public/data/textile/processes_impacts.json
Due: app-prettier

doc: comment buildpacks
  .buildpacks
Due: none

test: revert test encrypted value back.
  public/data/object/processes_impacts.json
Due: app-prettier

test: trying to update an encrypted value.
  public/data/object/processes_impacts.json
Due: app-prettier

fix: remove useless private data dir
  .github/workflows/create_release.yml
  .github/workflows/node.js.yml
  .github/workflows/score_history.yml
Due: none

fix: use https URL to avoid ssh host key check
  buildpack-run.sh
Due: none

doc: comment buildpack
  .buildpacks
Due: none

fix: Scalingo doesn't support comments
  .buildpacks
Due: none

fix: install transcrypt on deploy
  .env.sample
  .github/workflows/create_release.yml
  .github/workflows/node.js.yml
  README.md
  bin/build-specific-app-version.sh
  bin/run-transcrypt.sh
  bin/transcrypt
  buildpack-run.sh
  package.json
Due: app-prettier

fix: @n1k0 review
  .github/workflows/create_release.yml
  .github/workflows/node.js.yml
  README.md
  bin/run-transcrypt.sh
  buildpack-run.sh
Due: none

refactor format function use jsonencoder
  data/common/__init__.py
  data/common/export.py
  data/food/export.py
  data/object/export.py
  data/textile/export.py
Due: app-ruff-check, app-ruff-format

GITBOOK-1112: Introduction du canal Textile cadre réglementaire
  communaute.md
Due: none

Prevent the editor to use an already existing name
  data/notebooks/ingredients.py
Due: app-ruff-check, app-ruff-format

patch only AGB, not CTCPA which also contains 'AGB' in the filename
  data/common/import_.py
Due: app-ruff-check, app-ruff-format

feat: add betagouv logo.
  public/img/logo_betagouv.jpg
  src/Views/Page.elm
  styles.scss
Due: none

refactor: patch only AGB, not CTCPA which also contains 'AGB' in the filename (#847)
  data/common/import_.py
Due: app-ruff-check, app-ruff-format

fix: update favicon
  index.html
  public/img/logo.png
  public/img/logo.svg
Due: none

remove unused function
  data/common/export.py
  data/food/export.py
  data/object/export.py
  data/textile/export.py
Due: app-ruff-check, app-ruff-format

feat: add api changelog entry.
  src/Page/Api.elm
Due: none

fix(food)!: rely on uuid for food processes.
  public/data/food/processes.json
  src/Data/Dataset.elm
  src/Data/Food/Process.elm
  src/Data/Food/Query.elm
  src/Data/Food/Recipe.elm
  src/Data/Food/Retail.elm
  src/Data/Food/WellKnown.elm
  src/Page/Explore.elm
  src/Page/Explore/FoodProcesses.elm
  src/Page/Food.elm
  src/Server/Query.elm
  tests/Data/Food/Fixtures.elm
  tests/Data/Food/ProcessTest.elm
  tests/Data/Food/RecipeTest.elm
  tests/Server/RouteTest.elm
Due: app-prettier

chore: update API docs.
  openapi.yaml
Due: none

fix: use uuids fo food process ids.
  data/food/activities_to_create.json
  public/data/food/processes.json
Due: app-prettier

refactor: remove unused typed process name.
  src/Data/Food/Process.elm
  src/Page/Explore.elm
  src/Page/Explore/FoodIngredients.elm
  src/Page/Explore/FoodProcesses.elm
  src/Page/Food.elm
Due: none

chore: improve explorer table styles
  src/Page/Explore/FoodProcesses.elm
Due: none
