Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format, dont-commit-detailed-processes

app-prettier:
  name: run prettier
  language: system
  entry: 'bash -c ''npm --prefix . run fix:prettier --write "${@}"'' --
  
    '

app-ruff-check:
  name: run ruff check
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:check "${@}"'' --
  
    '

app-ruff-format:
  name: run ruff format
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:format "${@}"'' --
  
    '

dont-commit-detailed-processes:
  name: check that we don't commit processes_impacts.json
  language: system
  entry: 'bash -c ''echo "⚠️ Prevented pushing detailed impacts data to public git repository. To update these, clone and push to the ecobalyse-private repository.";exit 1''
  
    '

GITBOOK-1548: No subject
  textile/cycle-de-vie-des-produits-textiles/etape-8-fin-de-vie.md
Due: none

chore: add docker release build
  README.md
  docker-compose.yml
  docker/.dockerignore
  docker/Dockerfile
  docker/compose.yaml
  docker/server-simple.js
Due: app-prettier

doc: enhance README
  README.md
Due: none

fix: typo
  README.md
Due: none

chore: add self hosting (#1324)
  README.md
  docker-compose.yml
  docker/.dockerignore
  docker/Dockerfile
  docker/compose.yaml
  docker/server-simple.js
Due: app-prettier

chore: add back pg docker-compose for dev
  docker-compose.yml
Due: none

chore: add back pg docker-compose for dev (#1409)
  docker-compose.yml
Due: none

GITBOOK-1549: No subject
  textile/cycle-de-vie-des-produits-textiles/transport-textile.md
Due: none

feat: end of life processes according to material type (#1273)
  backend/src/app/domain/processes/schemas.py
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_impacts.json
  src/Data/Process/Category.elm
  src/Data/Textile/Step/Label.elm
  tests/Data/Food/RecipeTest.elm
  tests/Data/Textile/SimulatorTest.elm
  tests/e2e-food.json
  tests/e2e-textile.json
Due: app-prettier, app-ruff-check, app-ruff-format

GITBOOK-1550: No subject
  textile/cycle-de-vie-des-produits-textiles/transport-textile.md
Due: none

fix: querytest return result instead of possibly invalid query
  tests/Data/Textile/QueryTest.elm
Due: none

GITBOOK-1551: No subject
  textile/durabilite-1.md
Due: none

chore: remove matomo tracking
  .env.sample
  README.md
  elm.json
  index.html
  index.js
  lib/http.js
  lib/index.js
  lib/matomo.js
  package.json
  server.js
  src/Data/Matomo.elm
  src/Data/Session.elm
  src/Main.elm
  src/Page/Stats.elm
  src/Ports.elm
  src/Request/Matomo.elm
  tests/lib/http.spec.js
  tests/rate-limiting.spec.js
Due: app-prettier

fix: update package-lock.json
  package-lock.json
Due: app-prettier

Revert "feat: end of life processes according to material type (#1273)"
  backend/src/app/domain/processes/schemas.py
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_impacts.json
  src/Data/Process/Category.elm
  src/Data/Textile/Step/Label.elm
  tests/Data/Food/RecipeTest.elm
  tests/Data/Textile/SimulatorTest.elm
  tests/e2e-food.json
  tests/e2e-textile.json
Due: app-prettier, app-ruff-check, app-ruff-format

fix: wrong impacts
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

chore: remove matomo tracking (#1410)
  .env.sample
  README.md
  elm.json
  index.html
  index.js
  lib/http.js
  lib/index.js
  lib/matomo.js
  package-lock.json
  package.json
  server.js
  src/Data/Matomo.elm
  src/Data/Session.elm
  src/Main.elm
  src/Page/Stats.elm
  src/Ports.elm
  src/Request/Matomo.elm
  tests/lib/http.spec.js
  tests/rate-limiting.spec.js
Due: app-prettier

fix: comment Query.elm jupeCotonAsie/tshirtCotonFrance should return Result
  src/Data/Textile/Query.elm
  tests/Data/Textile/InputsTest.elm
  tests/Data/Textile/LifeCycleTest.elm
  tests/Data/Textile/QueryTest.elm
  tests/Data/Textile/SimulatorTest.elm
  tests/Server/RouteTest.elm
  tests/TestUtils.elm
Due: none

test: fix component test
  tests/backend/integration/test_components.py
Due: app-ruff-check, app-ruff-format

feat: add elements to component model
  backend/src/app/db/migrations/versions/2025-09-03_add_elements_table_6bc73acbc57d.py
  backend/src/app/db/models/component.py
  backend/src/app/db/models/element.py
  backend/src/app/db/models/process.py
  backend/src/app/domain/components/deps.py
  backend/src/app/domain/components/schemas.py
  backend/src/app/domain/components/services.py
  bin/reset-docker-db.sh
  tests/backend/data_fixtures.py
  tests/backend/integration/test_access.py
  tests/backend/integration/test_components.py
  tests/backend/integration/test_elements.py
  tests/backend/integration/test_journal_entries.py
  tests/backend/integration/test_processes.py
Due: app-ruff-check, app-ruff-format

feat: add elements model
  backend/src/app/db/migrations/versions/2025-09-02_add_elements_369aba12b3cb.py
  backend/src/app/db/models/__init__.py
  backend/src/app/db/models/element.py
  backend/src/app/db/models/process.py
  backend/src/app/db/models/process_element_transform.py
Due: app-ruff-check, app-ruff-format

feat: add elements services and tests
  backend/src/app/domain/elements/deps.py
  backend/src/app/domain/elements/services.py
  backend/src/app/server/core.py
  tests/backend/data_fixtures.py
  tests/backend/integration/test_elements.py
Due: app-ruff-check, app-ruff-format

test: fix bad uuid
  tests/backend/integration/test_journal_entries.py
Due: app-ruff-check, app-ruff-format

fix: add transforms in any
  backend/src/app/domain/components/services.py
Due: app-ruff-check, app-ruff-format

fix: database fixture loading order
  backend/src/app/db/migrations/versions/2025-09-29_add_elements_table_6bc73acbc57d.py
  backend/src/app/domain/components/services.py
  backend/src/app/domain/elements/services.py
  bin/reset-docker-db.sh
Due: app-ruff-check, app-ruff-format

fix: element update
  backend/src/app/db/models/component.py
  backend/src/app/db/models/element.py
  backend/src/app/db/models/process.py
  backend/src/app/db/models/process_category.py
  backend/src/app/domain/components/controllers/component.py
  backend/src/app/domain/components/services.py
  tests/backend/data_fixtures.py
  tests/backend/integration/conftest.py
  tests/backend/integration/test_components.py
  tests/backend/integration/test_journal_entries.py
Due: app-ruff-check, app-ruff-format

fix: update elements for components
  backend/src/app/domain/components/deps.py
  backend/src/app/domain/components/services.py
  tests/backend/integration/test_components.py
Due: app-ruff-check, app-ruff-format

fix use uuid in recycledFrom
  public/data/textile/materials.json
  src/Data/Textile/Material.elm
  src/Page/Explore/TextileMaterials.elm
Due: app-prettier

GITBOOK-1552: No subject
  textile/cycle-de-vie-des-produits-textiles/ennoblissement/inventaires-enrichis.md
Due: none

GITBOOK-1553: No subject
  textile/cycle-de-vie-des-produits-textiles/ennoblissement-1/inventaires-enrichis.md
Due: none

fix: use 5 instead of 6 significant figures to mask arm x64 diff
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

fix: remove obsolete recycledProcessId field
  public/data/textile/materials.json
  src/Data/Textile/Material.elm
  src/Page/Explore/TextileMaterials.elm
Due: app-prettier

chore: add failing test
  backend/src/app/db/models/process.py
  backend/src/app/domain/components/services.py
  tests/backend/integration/test_components.py
Due: app-ruff-check, app-ruff-format

GITBOOK-1554: No subject
  textile/cycle-de-vie-des-produits-textiles/etape-1-matieres/autres-matieres-naturelles.md
Due: none

chore: add countries (2/2)
  public/data/countries.json
Due: app-prettier

GITBOOK-1555: No subject
  textile/cycle-de-vie-des-produits-textiles/etape-2-fabrication-du-fil-1.md
Due: none

chore: fix failing test, and SA warning
  backend/src/app/domain/components/services.py
  pyproject.toml
Due: app-ruff-check, app-ruff-format

chore: update tests
  tests/Data/Food/RecipeTest.elm
Due: none

chore: update e2e tests
  tests/e2e-food.json
  tests/e2e-textile.json
Due: app-prettier

chore: addressed remarks in n1k0's review
  src/Data/Textile/Query.elm
  src/Page/Explore/TextileMaterials.elm
  tests/Data/Textile/InputsTest.elm
  tests/Data/Textile/QueryTest.elm
  tests/Server/RouteTest.elm
  tests/TestUtils.elm
Due: none

Path conditions:
  app-prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.json$
  app-ruff-check: any of: ^.*$ and \.py$
  app-ruff-format: any of: ^.*$ and \.py$
  dont-commit-detailed-processes: any of: ^processes_impacts.json$
