Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format, dont-commit-detailed-processes

app-prettier:
  name: run prettier
  language: system
  entry: 'bash -c ''npm --prefix . run fix:prettier --write "${@}"'' --
  
    '

app-ruff-check:
  name: run ruff check
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:check "${@}"'' --
  
    '

app-ruff-format:
  name: run ruff format
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:format "${@}"'' --
  
    '

dont-commit-detailed-processes:
  name: check that we don't commit processes_impacts.json
  language: system
  entry: 'bash -c ''echo "⚠️ Prevented pushing detailed impacts data to public git repository. To update these, clone and push to the ecobalyse-private repository.";exit 1''
  
    '

fix: prettier formatting.
  data/food/activities_to_create.json
Due: app-prettier

test: upgrade tests.
  src/Server.elm
  tests/Server/RouteTest.elm
  tests/server.spec.js
Due: app-prettier

fix: migrate examples.
  public/data/food/examples.json
Due: app-prettier

chore: add uuids to activities.json.
  data/food/activities.json
Due: app-prettier

fix: readd external identifier column in explorer
  src/Page/Explore/FoodProcesses.elm
Due: none

add math.inf
  data/common/export.py
Due: app-ruff-check, app-ruff-format

allow to save the currently edited activity
  data/notebooks/ingredients.py
Due: app-ruff-check, app-ruff-format

also clear the save output
  data/notebooks/ingredients.py
Due: app-ruff-check, app-ruff-format

wrong clear location
  data/notebooks/ingredients.py
Due: app-ruff-check, app-ruff-format

GITBOOK-1113: No subject
  textile/mises-a-jour/README.md
Due: none

also clear the save_output
  data/notebooks/ingredients.py
Due: app-ruff-check, app-ruff-format

GITBOOK-1114: No subject
  .gitbook/assets/image (1) (1).png
  .gitbook/assets/image (1).png
  .gitbook/assets/image.png
  alimentaire-en-construction/old/etape-2-fabrication-du-fil/composants/autres-composants.md
  alimentaire-en-construction/old/pages-textiles-old/impacts-consideres.md
  ameublement/composants/transformation-finition.md
  textile/complements-hors-acv/export-hors-europe.md
  textile/cycle-de-vie-des-produits-textiles/ennoblissement/inventaires-enrichis.md
  textile/cycle-de-vie-des-produits-textiles/etape-1-matieres/focus-coton.md
  textile/cycle-de-vie-des-produits-textiles/etape-2-fabrication-du-fil.md
  textile/cycle-de-vie-des-produits-textiles/etape-6-utilisation.md
  textile/durabilite.md
  vehicules/cycle-de-vie/fabrication-des-composants/chassis-and-carrosserie/README.md
  vehicules/cycle-de-vie/fabrication-des-composants/chassis-and-carrosserie/transformation-finition.md
  vehicules/cycle-de-vie/fabrication-des-composants/pneumatiques.md
Due: none

fix(food)!: food processes identifiers are now UUIDs (#844)
  data/food/activities.json
  data/food/activities_to_create.json
  openapi.yaml
  public/data/food/examples.json
  public/data/food/processes.json
  src/Data/Dataset.elm
  src/Data/Food/Process.elm
  src/Data/Food/Query.elm
  src/Data/Food/Recipe.elm
  src/Data/Food/Retail.elm
  src/Data/Food/WellKnown.elm
  src/Page/Api.elm
  src/Page/Explore.elm
  src/Page/Explore/FoodIngredients.elm
  src/Page/Explore/FoodProcesses.elm
  src/Page/Food.elm
  src/Server.elm
  src/Server/Query.elm
  tests/Data/Food/Fixtures.elm
  tests/Data/Food/ProcessTest.elm
  tests/Data/Food/RecipeTest.elm
  tests/Server/RouteTest.elm
  tests/server.spec.js
Due: app-prettier

change simapro project
  data/common/__init__.py
Due: app-ruff-check, app-ruff-format

don't cache empty results
  data/spapi/simapro.py
Due: app-ruff-check, app-ruff-format

use loguru
  data/common/sync_datapackages.py
Due: app-ruff-check, app-ruff-format

hack because the open project seems different than the library project
  data/common/export.py
  data/spapi/simapro.py
Due: app-ruff-check, app-ruff-format

don't fail if the spapi returns a string
  data/common/__init__.py
  data/common/export.py
Due: app-ruff-check, app-ruff-format

GITBOOK-1115: Introduction de la notion de segment
  textile/durabilite.md
Due: none

GITBOOK-1116: No subject
  SUMMARY.md
  textile/cycle-de-vie-des-produits-textiles/etape-1-matieres/matieres-manquantes.md
Due: none

GITBOOK-1117: No subject
  .gitbook/assets/image (332).png
  textile/cycle-de-vie-des-produits-textiles/etape-1-matieres/matieres-manquantes.md
Due: none

refactor: remove step_usage from code
  src/Data/Textile/Process.elm
  src/Page/Explore/TextileProcesses.elm
  tests/Data/Textile/FormulaTest.elm
Due: none

refactor(data): migrate step_usage as categories.
  data/textile/activities.json
  data/textile/export.py
  public/data/textile/processes.json
Due: app-prettier, app-ruff-check, app-ruff-format

feat: render backported categories in explorer.
  src/Data/Textile/Process.elm
  src/Page/Explore/TextileProcesses.elm
  tests/Data/Textile/FormulaTest.elm
Due: none

use the name, not the displayName
  data/textile/export.py
Due: app-ruff-check, app-ruff-format

fix: encode categories.
  src/Data/Textile/Process.elm
Due: none

refactor: move textile step_usage field to categories. (#850)
  data/textile/activities.json
  data/textile/export.py
  public/data/textile/processes.json
  src/Data/Textile/Process.elm
  src/Page/Explore/TextileProcesses.elm
  tests/Data/Textile/FormulaTest.elm
Due: app-prettier, app-ruff-check, app-ruff-format

refactor(data): move correctif field to correctives.
  public/data/textile/processes.json
  src/Data/Textile/Process.elm
  src/Page/Explore/TextileProcesses.elm
  tests/Data/Textile/FormulaTest.elm
Due: app-prettier

fix: the versioned api should serve the encrypted files
  server.js
Due: app-prettier

refactor(data): migrate textile/activities.json
  data/textile/activities.json
  public/data/textile/processes.json
Due: app-prettier

refactor: correctif is actually a comment.
  data/textile/activities.json
  public/data/textile/processes.json
  src/Data/Textile/Process.elm
  src/Page/Explore/TextileProcesses.elm
  tests/Data/Textile/FormulaTest.elm
Due: app-prettier

fix: reintroduce comment tooltip
  src/Page/Explore/TextileProcesses.elm
Due: none

fix: migrate export field name as well
  data/textile/export.py
Due: app-ruff-check, app-ruff-format

refactor: Prevent the activity editor to use an already existing name (#846)
  data/notebooks/ingredients.py
Due: app-ruff-check, app-ruff-format

fix: deploy needs an old version of `ecobalyse-private`
  buildpack-run.sh
Due: none

refactor(data): move textile process "correctif" to comment (#852)
  data/textile/activities.json
  data/textile/export.py
  public/data/textile/processes.json
  src/Data/Textile/Process.elm
  src/Page/Explore/TextileProcesses.elm
  tests/Data/Textile/FormulaTest.elm
Due: app-prettier, app-ruff-check, app-ruff-format

chore: increase API test timeout
  package.json
Due: app-prettier

use json encoder
  data/common/__init__.py
  data/common/export.py
  tests/test_format_number.py
  tests/test_json_format_encoder.py
Due: app-ruff-check, app-ruff-format

Path conditions:
  app-prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.json$
  app-ruff-check: any of: ^.*$ and \.py$
  app-ruff-format: any of: ^.*$ and \.py$
  dont-commit-detailed-processes: any of: ^processes_impacts.json$
