Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format

app-prettier:
  name: run prettier
  language: system
  entry: 'bash -c ''npm --prefix . run fix:prettier --write "${@}"'' --
  
    '

app-ruff-check:
  name: run ruff check
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:check "${@}"'' --
  
    '

app-ruff-format:
  name: run ruff format
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:format "${@}"'' --
  
    '

fix(generic): do not apply transport ratios to default distances (#2307)
  src/Data/Component.elm
  tests/Data/ComponentTest.elm
Due: none

GITBOOK-1687: No subject
  .gitbook/assets/Ecobalyse - EoL processes - Clean (1).xlsx
  .gitbook/assets/Ecobalyse - EoL processes - Clean.xlsx
  methodes-transverses-specifiques/fin-de-vie-des-composants.md
Due: none

Revived the ecosold1 export in the merged repo
  data/bin/export_bw_db.py
  data/ecobalyse_data/bw/ecospold_export.py
  data/ecobalyse_data/typer.py
  data/justfile
Due: app-ruff-check, app-ruff-format

reorganize complements.py
  data/ecobalyse_data/export/complements.py
  data/ecobalyse_data/export/food.py
Due: app-ruff-check, app-ruff-format

remove cleanly coefficients from front
  src/Data/Food/EcosystemicServices.elm
  src/Data/Food/Recipe.elm
Due: none

update tests
  data/tests/fixtures/processes_generic_impacts_output.json
  data/tests/snapshots/food/ingredients.json
  data/tests/snapshots/processes_generic_impacts.json
  tests/Data/Food/RecipeTest.elm
Due: app-prettier

chore: update backend
  backend/src/app/db/migrations/versions/2026-05-22_rename_waste_qtyvariationratio_bcba8b753777.py
  backend/src/app/db/models/process.py
  backend/src/app/domain/processes/schemas.py
  tests/backend/data_fixtures.py
  tests/backend/integration/test_load_processes_fixtures.py
  tests/backend/integration/test_processes.py
Due: app-ruff-check, app-ruff-format

chore: update field
  data/lci_catalog/ecobalyse/battery-cell-cam-lfp-solid-state.json
  data/lci_catalog/ecobalyse/battery-cell-lfp-hydro-cn.json
Due: app-prettier

chore(deps): update pytest-databases[postgres] requirement from >=0.17.0 to >=0.18.0
  pyproject.toml
  uv.lock
Due: none

feat(food1): publish regulatory food section. (#2312)
  src/Page/Home.elm
  src/Views/Page.elm
Due: none

chore: accept dependabot pr (#2325)
  data/pyproject.toml
  data/uv.lock
  uv.lock
Due: none

chore: fix countries.json not being formatted by prettier
  .prettierignore
  public/data/countries.json
Due: app-prettier

fix: avoid adding multiple intra-country transports
  src/Data/Component.elm
Due: none

fix: apply transport ratios before applying hub distances
  src/Data/Component.elm
  tests/Data/ComponentTest.elm
Due: none

chore: update intra-country distances
  public/data/countries.json
  src/Data/Country.elm
Due: app-prettier

chore(deps): bump the npm_and_yarn group across 1 directory with 2 updates (#2330)
  package-lock.json
Due: app-prettier

chore(deps): update pytest-databases[postgres] requirement from >=0.17.0 to >=0.18.0 (#2321)
  pyproject.toml
  uv.lock
Due: none

fix(ci): improve e2e test runner resiliency
  playwright.config.js
Due: app-prettier

fix(ci): improve e2e test runner resiliency (#2342)
  playwright.config.js
Due: app-prettier

chore: @cedric’s review
  backend/src/app/db/migrations/versions/2026-05-22_rename_waste_qtyvariationratio_bcba8b753777.py
  backend/src/app/db/models/process.py
  backend/src/app/domain/processes/schemas.py
  src/Data/Textile/Formula.elm
  tests/Data/ComponentTest.elm
Due: app-ruff-check, app-ruff-format

feat(generic): update and apply intra-country distances (#2301)
  .prettierignore
  public/data/countries.json
  src/Data/Component.elm
  src/Data/Country.elm
  tests/Data/ComponentTest.elm
Due: app-prettier

chore: add test with ratio > 1
  tests/Data/ComponentTest.elm
Due: none

GITBOOK-1688: No subject
  methodes-transverses-specifiques/transport/README.md
Due: none

GITBOOK-1689: No subject
  .gitbook/assets/image (391).png
  methodes-transverses-specifiques/transport/cout-environnemental-par-voie-de-transport.md
Due: none

GITBOOK-1690: No subject
  methodes-transverses-specifiques/transport/cout-environnemental-par-voie-de-transport.md
Due: none

GITBOOK-1691: No subject
  methodes-transverses-specifiques/transport/cout-environnemental-par-voie-de-transport.md
Due: none

chore: add ADR for managing component location (#1900)
  docs/ADR/manage-component-location.md
Due: none

chore: @n1k0’s review
  src/Data/Component.elm
  src/Data/Unit.elm
  src/Page/Admin/Process.elm
  src/Page/Explore/Processes.elm
  src/Views/Format.elm
Due: none

fix(generic): handle hub distance when one country is known
  src/Data/Component.elm
  tests/Data/ComponentTest.elm
Due: none

Path conditions:
  app-prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.json$
  app-ruff-check: any of: ^.*$ and \.py$
  app-ruff-format: any of: ^.*$ and \.py$
