Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
      exclude: (svg|icomoon|rapidoc-9.3.4.min.js)
    - id: trailing-whitespace
      exclude: (vendor|rapidoc-9.3.4.min.js)
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, master]

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier
        language: system
        files: ^.*$
        types_or: [javascript, json]
        entry: |
          bash -c 'npm --prefix . run fix:prettier --write "${@}"' --

      - id: app-ruff-check
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:check "${@}"' --

      - id: app-ruff-format
        name: run ruff format
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:format "${@}"' --

      - id: app-elm-format
        name: run elm-format
        language: system
        files: ^.*$
        types_or: [elm]
        entry: |
          bash -c 'npm --prefix . run fix:elm-format "${@}"' --

chore: sort processes (#1843)
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

chore: @cedricr’s review
  bin/load-fixtures.sh
  bin/start.sh
Due: none

feat: forest-complements-2
  .gitattributes
  .prettierignore
  public/data/metadata.json
  public/data/processes_generic.json
  public/data/processes_generic_impacts.json
Due: app-prettier

fix: allow all values for `sslmode` parameter in PG DSN (#1852)
  bin/load-fixtures.sh
  bin/start.sh
Due: none

add forestManagement in generic displayNames
  .prettierignore
  public/data/processes_generic.json
  public/data/processes_generic_impacts.json
Due: app-prettier

fix: we don’t need to fail on unbound variable
  bin/load-fixtures.sh
Due: none

chore: add all regions to the food vertical
  public/data/countries.json
Due: app-prettier

fix: we don’t need to fail on unbound variable (#1855)
  bin/load-fixtures.sh
Due: none

add veli processes to generic export
  public/data/processes_generic.json
  public/data/processes_generic_impacts.json
Due: app-prettier

chore: upgrade nodejs dependencies, 2025-02-24
  package-lock.json
  package.json
Due: app-prettier

feat(textile,api): expose trims impacts to api responses.
  openapi.yaml
  src/Data/Textile/Simulator.elm
  src/Page/Api.elm
Due: none

fix: update ids in object/components.json
  public/data/object/components.json
  public/data/processes_generic.json
  public/data/processes_generic_impacts.json
Due: app-prettier

chore: upgrade nodejs dependencies, 2026-02-24 (#1842)
  package-lock.json
  package.json
Due: app-prettier

new export
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

new export after encoding fixes
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

update processes
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

feat(textile,api): expose trims impacts to api responses.
  openapi.yaml
  src/Page/Api.elm
  src/Server.elm
Due: none

fix: don’t log credential errors to sentry
  backend/src/app/config/app.py
Due: app-ruff-check, app-ruff-format

chore: remove useless comment
  backend/src/app/config/app.py
Due: app-ruff-check, app-ruff-format

fix: don’t log credential errors to sentry (#1858)
  backend/src/app/config/app.py
Due: app-ruff-check, app-ruff-format

feat(textile,api): expose trims impacts to api responses. (#1836)
  openapi.yaml
  src/Page/Api.elm
  src/Server.elm
Due: none

feat(textile,api): expose trims impacts to api responses. (#1835)
  openapi.yaml
  src/Data/Textile/Simulator.elm
  src/Page/Api.elm
Due: none

fix(data): new export using the new ginko db (#1820)
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

Update issue templates
  .github/ISSUE_TEMPLATE/task.md
Due: none

chore: add new changelog page
  public/pages/maj.md
  src/Views/Page.elm
Due: none

fix: time flies by…
  public/pages/maj.md
Due: none

fix: wording
  public/pages/maj.md
Due: none

chore: new changelog (#1859)
  .github/ISSUE_TEMPLATE/task.md
  public/pages/maj.md
  src/Views/Page.elm
Due: none

new export
  public/data/food/ingredients.json
Due: app-prettier

feat(food2): introduce food2 scope
  src/Data/Bookmark.elm
  src/Data/Dataset.elm
  src/Data/Scope.elm
  src/Data/Session.elm
  src/Main.elm
  src/Page/Explore.elm
  src/Route.elm
  src/Views/Bookmark.elm
  src/Views/Comparator.elm
  src/Views/Page.elm
Due: none

feat(food2): introduce food2 scope (#1861)
  src/Data/Bookmark.elm
  src/Data/Dataset.elm
  src/Data/Scope.elm
  src/Data/Session.elm
  src/Main.elm
  src/Page/Explore.elm
  src/Route.elm
  src/Views/Bookmark.elm
  src/Views/Comparator.elm
  src/Views/Page.elm
Due: none

GITBOOK-1645: No subject
  vehicules/cycle-de-vie/utilisation-du-vehicule/construction-des-procedes-carburant.md
Due: none

GITBOOK-1646: No subject
  vehicules/cycle-de-vie/utilisation-du-vehicule/construction-des-procedes-carburant.md
Due: none

GITBOOK-1647: No subject
  vehicules/cycle-de-vie/utilisation-du-vehicule/construction-des-procedes-carburant.md
Due: none

fix: update ids in object/components.json
  public/data/object/components.json
  public/data/processes_generic.json
  public/data/processes_generic_impacts.json
  public/data/processes_impacts.json
Due: app-prettier
