Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
      exclude: (svg|icomoon|rapidoc-9.3.4.min.js)
    - id: trailing-whitespace
      exclude: (vendor|rapidoc-9.3.4.min.js)
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, master]

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier
        language: system
        files: ^.*$
        types_or: [javascript, json]
        entry: |
          bash -c 'npm --prefix . run fix:prettier --write "${@}"' --

      - id: app-ruff-check
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:check "${@}"' --

      - id: app-ruff-format
        name: run ruff format
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:format "${@}"' --

      - id: app-elm-format
        name: run elm-format
        language: system
        files: ^.*$
        types_or: [elm]
        entry: |
          bash -c 'npm --prefix . run fix:elm-format "${@}"' --

chore: add ty to ci and pre-commit
  .pre-commit-config.yaml
  package.json
Due: app-prettier

fix: we can only load on json process file
  backend/src/app/cli/commands.py
Due: app-ruff-check, app-ruff-format

fix: bad ty error
  backend/src/app/cli/commands.py
Due: app-ruff-check, app-ruff-format

chore: use `ty` typechecker (#2728)
  .pre-commit-config.yaml
  backend/src/app/cli/commands.py
  backend/src/app/config/app.py
  backend/src/app/config/base.py
  backend/src/app/db/migrations/env.py
  backend/src/app/db/models/token.py
  backend/src/app/db/models/user.py
  backend/src/app/db/models/user_profile.py
  backend/src/app/db/models/user_role.py
  backend/src/app/domain/accounts/controllers/access.py
  backend/src/app/domain/accounts/guards.py
  backend/src/app/domain/accounts/services.py
  backend/src/app/domain/accounts/tasks.py
  backend/src/app/domain/components/controllers/component.py
  backend/src/app/domain/components/services.py
  backend/src/app/domain/contrib/controllers/contrib.py
  backend/src/app/domain/journal_entries/controllers/journal_entry.py
  backend/src/app/domain/processes/controllers/process.py
  backend/src/app/domain/processes/services.py
  backend/src/app/domain/system/controllers.py
  backend/src/app/lib/auth.py
  backend/src/app/lib/http.py
  backend/src/app/lib/schema.py
  bin/check_ingredient_hierarchy.py
  package.json
  packages/python/ecobalyse/setup.py
  pyproject.toml
  tests/backend/integration/conftest.py
  tests/backend/integration/test_access.py
  tests/backend/integration/test_components.py
  uv.lock
Due: app-prettier, app-ruff-check, app-ruff-format

chore: put ty conf in pyproject
  package.json
  pyproject.toml
Due: app-prettier

chore: add first batch for data dir
  data/common/import_.py
  data/ecobalyse_data/bw/analyzer.py
  data/ecobalyse_data/bw/ecospold_export.py
  data/ecobalyse_data/bw/search.py
  data/ecobalyse_data/bw/simapro_export.py
  data/ecobalyse_data/computation.py
  data/ecobalyse_data/export/export_generic.py
  data/ecobalyse_data/export/land_occupation.py
  data/import_method.py
  data/tests/conftest.py
  data/tests/test_bin_scripts.py
  pyproject.toml
Due: app-ruff-check, app-ruff-format

chore: apply ty to the data dir
  data/bin/export_bw_db.py
  data/bin/export_lcia.py
  data/bin/lcia_info.py
  data/common/__init__.py
  data/common/brightway_patch.py
  data/common/bw/simapro_json.py
  data/common/distances/compute_distances.py
  data/common/import_.py
  data/ecobalyse_data/computation.py
  pyproject.toml
  uv.lock
Due: app-ruff-check, app-ruff-format

chore: move default branch to main
  .github/dependabot.yml
  .github/workflows/ci-data.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/ingredient_hierarchy.yml
  .github/workflows/node.js.yml
  .github/workflows/score_history.yml
  README.md
  SECURITY.md
  backend/src/app/config/base.py
Due: app-ruff-check, app-ruff-format

chore: fix score_history readme
  bin/score_history/README.md
Due: none

chore: @n1k0’s review
  .env.sample
  .pre-commit-config.yaml
Due: none

chore: update branches to main (#2735)
  .env.sample
  .github/dependabot.yml
  .github/workflows/ci-data.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/ingredient_hierarchy.yml
  .github/workflows/node.js.yml
  .github/workflows/score_history.yml
  .pre-commit-config.yaml
  README.md
  SECURITY.md
  backend/src/app/config/base.py
  bin/score_history/README.md
Due: app-ruff-check, app-ruff-format

fix distances README
  .justfile
  data/common/distances/README.md
  data/common/distances/distances_raw.json
  data/common/distances/transports.py
Due: app-prettier, app-ruff-check, app-ruff-format

fix prettier formatting
  data/common/distances/distances_raw.json
Due: app-prettier

chore: apply `ty` to `data/` (#2731)
  .justfile
  data/bin/export_bw_db.py
  data/bin/export_lcia.py
  data/bin/lcia_info.py
  data/common/__init__.py
  data/common/brightway_patch.py
  data/common/bw/simapro_json.py
  data/common/distances/README.md
  data/common/distances/compute_distances.py
  data/common/distances/transports.py
  data/common/import_.py
  data/ecobalyse_data/bw/analyzer.py
  data/ecobalyse_data/bw/ecospold_export.py
  data/ecobalyse_data/bw/search.py
  data/ecobalyse_data/bw/simapro_export.py
  data/ecobalyse_data/computation.py
  data/ecobalyse_data/export/export_generic.py
  data/ecobalyse_data/export/land_occupation.py
  data/import_method.py
  data/tests/conftest.py
  data/tests/test_bin_scripts.py
  package.json
  pyproject.toml
  uv.lock
Due: app-prettier, app-ruff-check, app-ruff-format

fix: highcharts v13.0.1 module loading
  .pre-commit-config.yaml
  lib/charts/base.js
Due: app-prettier

fix: load a11y esm module
  lib/charts/index.js
Due: app-prettier

Revert "fix: highcharts v13.0.1 module loading"
  .pre-commit-config.yaml
  lib/charts/base.js
Due: app-prettier

Revert "fix: load a11y esm module"
  lib/charts/index.js
Due: app-prettier

fix: downgrade highcharts to v13.0.0
  .pre-commit-config.yaml
  package-lock.json
  package.json
Due: app-prettier

fix: downgrade highcharts to v13.0.0 (#2739)
  .pre-commit-config.yaml
  package-lock.json
  package.json
Due: app-prettier

refactor: better naming, TODOs, FIXMEs
  src/Main.elm
  src/Page/Explore/GenericExamples.elm
  src/Views/Bookmark.elm
  src/Views/Page.elm
Due: none

refactor: clean code
  src/Page/Explore/GenericExamples.elm
  src/Page/Generic.elm
Due: none

refactor: rename generic modules
  src/Main.elm
  src/Page/Generic.elm
  src/Views/Page.elm
Due: none

refactor: genericize everything
  src/CheckDb.elm
  src/Data/Db.elm
  src/Data/Session.elm
  src/Main.elm
  src/Page/Admin/Component.elm
  src/Page/Explore.elm
  src/Page/Explore/GenericExamples.elm
  src/Page/Explore/ProductCategories.elm
  src/Page/Generic.elm
  src/Views/Bookmark.elm
  src/Views/Comparator.elm
  src/Views/ImpactTabs.elm
  src/Views/Page.elm
  tests/Data/BookmarkTest.elm
Due: none

refactor: Object is now Generic
  src/Data/Db.elm
  src/Data/Generic/Db.elm
  src/Data/Generic/Simulator.elm
  src/Page/Explore.elm
  src/Page/Generic.elm
  src/Views/Comparator.elm
Due: none

refactor: genericaly scoped product category explorer
  src/Data/Dataset.elm
  src/Page/Explore.elm
  src/Page/Explore/ProductCategories.elm
Due: none

refactor: generic simulator routing
  src/Main.elm
  src/Page/Admin/Component.elm
  src/Page/Explore/GenericExamples.elm
  src/Page/Generic.elm
  src/Page/Home.elm
  src/Route.elm
  src/Views/Bookmark.elm
  src/Views/Page.elm
Due: none

feat: backport score per 100g to generic examples explorer
  src/Page/Explore.elm
  src/Page/Explore/GenericExamples.elm
Due: none

refactor: clean code
  src/Data/Generic/Db.elm
Due: none

refactor: clean code
  src/Data/Bookmark.elm
  src/Page/Generic.elm
  tests/Data/BookmarkTest.elm
Due: none

feat: add food2 examples explorer
  src/Data/Dataset.elm
  src/Data/Scope.elm
  src/Page/Explore.elm
  src/Page/Explore/GenericExamples.elm
  src/Page/Generic.elm
Due: none

refactor: ProductCategory can only have a generic scope
  src/Data/Component.elm
  src/Data/Component/ProductCategory.elm
  src/Data/Scope.elm
  src/Page/Explore.elm
  src/Page/Generic.elm
  src/Views/Component.elm
Due: none

chore: @vjousse review
  src/Page/Explore/ProductCategories.elm
Due: none

refactor: explicit genericity wherever applicable (#2721)
  src/CheckDb.elm
  src/Data/Bookmark.elm
  src/Data/Component.elm
  src/Data/Component/ProductCategory.elm
  src/Data/Dataset.elm
  src/Data/Db.elm
  src/Data/Generic/Db.elm
  src/Data/Generic/Simulator.elm
  src/Data/Scope.elm
  src/Data/Session.elm
  src/Main.elm
  src/Page/Admin/Component.elm
  src/Page/Explore.elm
  src/Page/Explore/GenericExamples.elm
  src/Page/Explore/ProductCategories.elm
  src/Page/Generic.elm
  src/Page/Home.elm
  src/Route.elm
  src/Views/Bookmark.elm
  src/Views/Comparator.elm
  src/Views/Component.elm
  src/Views/ImpactTabs.elm
  src/Views/Page.elm
  tests/Data/BookmarkTest.elm
Due: none

delete empty raw cow milk
  data/export/processes_legacy.json
  data/lci_catalog/wfldb/cow-milk-archetype-feed-mix-uk-149nw-raw.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

chore: delete empty raw cow milk activity (#2743)
  data/export/processes_legacy.json
  data/lci_catalog/wfldb/cow-milk-archetype-feed-mix-uk-149nw-raw.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

feat: add distribution data to food2 product categories
  public/data/food2/categories.json
Due: app-prettier

feat: add product category default consumption type
  src/Data/Component.elm
  src/Data/Component/ProductCategory.elm
Due: none

refactor: use helper to find test processes by name
  tests/Data/ComponentTest.elm
Due: none

chore: add tests
  tests/Data/ComponentTest.elm
Due: none
