Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format, dont-commit-detailed-processes

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
      exclude: (svg|icomoon|rapidoc-9.3.4.min.js)
    - id: trailing-whitespace
      exclude: (vendor|rapidoc-9.3.4.min.js)
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, master]

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier
        language: system
        files: ^.*$
        types_or: [javascript, json]
        entry: |
          bash -c 'npm --prefix . run fix:prettier --write "${@}"' --

      - id: app-ruff-check
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:check "${@}"' --

      - id: app-ruff-format
        name: run ruff format
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:format "${@}"' --

      - id: dont-commit-detailed-processes
        name: check that we don't commit processes_impacts.json
        language: system
        files: ^processes_impacts.json$
        entry: |
          bash -c 'echo "⚠️ Prevented pushing detailed impacts data to public git repository. To update these, clone and push to the ecobalyse-private repository.";exit 1'

fix(textile): fix toxicity impacts for printing
  src/Data/Textile/Formula.elm
  src/Data/Textile/Simulator.elm
  src/Views/Textile/Step.elm
  tests/e2e-textile.json
Due: app-prettier

chore: clean code
  src/Data/Textile/Formula.elm
Due: none

fix(textile): fix toxicity impacts computation for printing (#1203)
  src/Data/Textile/Formula.elm
  src/Data/Textile/Simulator.elm
  src/Views/Textile/Step.elm
  tests/e2e-textile.json
Due: app-prettier

fix: add missing `uv run`
  bin/update-version.sh
Due: none

feat(ui): add an alert about old user accounts deletion
  src/Page/Auth.elm
Due: none

feat(ui): exclude draft and pre-releases from version dropdown.
  src/Data/Github.elm
Due: none

fix: add missing `uv run` (#1204)
  bin/update-version.sh
Due: none

fix: tests
  e2e/versions.spec.js
Due: app-prettier

feat(ui): improve alert on existing user account
  src/Views/Page.elm
Due: none

GITBOOK-1397: No subject
  textile/cycle-de-vie-des-produits-textiles/ennoblissement-1/README.md
Due: none

fix: backend url rewriting
  .proxyrc.json
  bin/build-specific-app-version.sh
  bin/patch_files_for_versions_compat.py
  index.js
  packages/python/ecobalyse/ecobalyse/0002-patch-index-js-client-path-backend.patch
  packages/python/ecobalyse/ecobalyse/patch_files.py
  pyproject.toml
  servers.conf.erb
Due: app-prettier, app-ruff-check, app-ruff-format

GITBOOK-1395: CGU and privacy policy
  .gitbook/assets/Ecobalyse_Conditions d'utilisation données Base Empreinte et ecoinvent_clean_v2.0_vf (1).pdf
  conditions-dutilisation.md
  politique-de-confidentialite-de-donnees-personnelles.md
Due: none

GITBOOK-1398: No subject
  textile/parametrage.md
Due: none

GITBOOK-1399: No subject
  .gitbook/assets/image (1) (1) (1) (1) (1) (1) (1) (1) (1) (1) (1).png
  .gitbook/assets/image (1) (1) (1) (1) (1) (1) (1) (1) (1) (1).png
  .gitbook/assets/image (1) (1) (1) (1) (1) (1) (1) (1) (1).png
  .gitbook/assets/image (1) (1) (1) (1) (1) (1) (1) (1).png
  .gitbook/assets/image (1) (1) (1) (1) (1) (1) (1).png
  .gitbook/assets/image (1) (1) (1) (1) (1) (1).png
  .gitbook/assets/image (1) (1) (1) (1) (1).png
  .gitbook/assets/image (1) (1) (1) (1).png
  .gitbook/assets/image (1) (1) (1).png
  .gitbook/assets/image (1) (1).png
  .gitbook/assets/image (1).png
  .gitbook/assets/image.png
  alimentaire/impacts-consideres/etape-5-consommation.md
  ameublement/complement-hors-acv/biodiversitebois.md
  pages-en-cours-de-revue/fin-de-vie.md
  textile/exemples.md
  vehicules/cycle-de-vie/utilisation-du-vehicule/README.md
Due: none

GITBOOK-1400: No subject
  SUMMARY.md
  def-cout-environnemental/aide-api.md
  textile/durabilite.md
Due: none

GITBOOK-1401: No subject
  SUMMARY.md
  textile/aide-api.md
  textile/complements-hors-acv/export-hors-europe.md
  textile/complements-hors-acv/microfibres.md
Due: none

GITBOOK-1402: No subject
  textile/precisions-methodologiques/accessoires.md
Due: none

fix: avoid crashing on backend admins update
  backend/src/app/cli/commands.py
Due: app-ruff-check, app-ruff-format

feat(ui): add an alert about old user accounts deletion (#1205)
  src/Page/Auth.elm
Due: none

@vjousse review
  src/Views/Page.elm
Due: none

feat(ui): improve alert on existing user account (#1208)
  src/Views/Page.elm
Due: none

feat(ui): exclude draft and pre-releases from version dropdown. (#1206)
  e2e/versions.spec.js
  src/Data/Github.elm
Due: app-prettier

fix(backend): versions url rewriting (#1209)
  .proxyrc.json
  backend/src/app/cli/commands.py
  bin/build-specific-app-version.sh
  bin/patch_files_for_versions_compat.py
  index.js
  packages/python/ecobalyse/ecobalyse/0002-patch-index-js-client-path-backend.patch
  packages/python/ecobalyse/ecobalyse/patch_files.py
  pyproject.toml
  servers.conf.erb
Due: app-prettier, app-ruff-check, app-ruff-format

chore: add debug
  bin/update-version.sh
Due: none

fix: typo
  bin/update-version.sh
Due: none

chore: try to call uv
  bin/update-version.sh
Due: none

chore: display debug only on scalingo
  bin/update-version.sh
Due: none

fix: path for scalingo
  bin/update-version.sh
Due: none

chore: force running the script
  bin/update-version.sh
Due: none

fix: add uv to the path on scalingo
  bin/update-version.sh
Due: none

fix: add uv to scalingo when updating version (#1210)
  bin/update-version.sh
Due: none

fix: JSON parsing in versions
  server.js
Due: app-prettier

fix: JSON parsing in versions (#1212)
  server.js
Due: app-prettier

feat(sec): allow configuring rate limiting.
  README.md
  server.js
Due: app-prettier

docs: update FAQ
  public/pages/api-faq.md
Due: none

test: add tests
  lib/index.js
  package.json
  server.js
  tests/rate-limiting.spec.js
Due: app-prettier

fix: ci configuration
  .github/workflows/node.js.yml
  .github/workflows/rate-limiting.yml
  package.json
  server.js
Due: app-prettier

Revert "fix: ci configuration"
  .github/workflows/node.js.yml
  .github/workflows/rate-limiting.yml
  package.json
  server.js
Due: app-prettier

Revert "test: add tests"
  lib/index.js
  package.json
  server.js
  tests/rate-limiting.spec.js
Due: app-prettier
