Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
      exclude: (svg|icomoon|rapidoc-9.3.4.min.js)
    - id: trailing-whitespace
      exclude: (vendor|rapidoc-9.3.4.min.js)
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, master]

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier
        language: system
        files: ^.*$
        types_or: [javascript, json]
        entry: |
          bash -c 'npm --prefix . run fix:prettier --write "${@}"' --

      - id: app-ruff-check
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:check "${@}"' --

      - id: app-ruff-format
        name: run ruff format
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:format "${@}"' --

      - id: app-elm-format
        name: run elm-format
        language: system
        files: ^.*$
        types_or: [elm]
        entry: |
          bash -c 'npm --prefix . run fix:elm-format "${@}"' --

feat(generic): apply pre-assembly transport cooling from process data
  public/data/processes.json
  public/data/processes_impacts.json
  src/Data/Component.elm
  src/Data/Process.elm
  src/Data/Process/Category.elm
  src/Views/Component.elm
  tests/Data/ComponentTest.elm
Due: app-prettier

refactor: dry togglers
  src/Data/Split.elm
  src/Views/Component.elm
  tests/Data/SplitTest.elm
Due: none

modify use processes
  data/lci_catalog/ecobalyse_custom_lci/vehicle-use-diesel-directco2-30kkm.json
  data/lci_catalog/ecobalyse_custom_lci/vehicle-use-diesel-euro4-30kkm.json
  data/lci_catalog/ecobalyse_manual_lcia/vehicle-use-disel-upstream-30kkm.json
  data/lci_catalog/ecobalyse_manual_lcia/vehicle-use-elec-30kkm.json
Due: app-prettier

refactor: clean code
  src/Views/Component.elm
Due: none

fix processes
  data/custom_lci.json
  data/lci_catalog/ecobalyse_custom_lci/vehicle-use-diesel-directco2-30kkm.json
  data/lci_catalog/ecobalyse_custom_lci/vehicle-use-diesel-euro4-30kkm.json
  data/lci_catalog/ecobalyse_custom_lci/vehicle-use-diesel-upstream-30kkm.json
  data/lci_catalog/ecobalyse_manual_lcia/vehicle-use-elec-30kkm.json
Due: app-prettier

add new vehicle consumption
  data/custom_lci.json
  data/lci_catalog/ecobalyse_custom_lci/vehicle-use-diesel-directco2-200kkm.json
  data/lci_catalog/ecobalyse_custom_lci/vehicle-use-diesel-euro4-200kkm.json
  data/lci_catalog/ecobalyse_custom_lci/vehicle-use-diesel-upstream-200kkm.json
  data/lci_catalog/ecobalyse_custom_lci/vehicle-use-petrol-directco2-200kkm.json
  data/lci_catalog/ecobalyse_custom_lci/vehicle-use-petrol-euro6-200kkm.json
  data/lci_catalog/ecobalyse_custom_lci/vehicle-use-petrol-upstream-200kkm.json
  data/lci_catalog/ecobalyse_manual_lcia/vehicle-use-elec-150kkm.json
  data/lci_catalog/ecobalyse_manual_lcia/vehicle-use-elec-200kkm.json
  data/lci_catalog/ecobalyse_manual_lcia/vehicle-use-elec-45kkm.json
  data/lci_catalog/ecobalyse_manual_lcia/vehicle-use-elec-75kkm.json
Due: app-prettier

fix custom_lci
  data/custom_lci.json
Due: app-prettier

add processes for modeling according to ev regulation
  data/custom_lci.json
  data/lci_catalog/ecobalyse_custom_lci/ev-other-materials-rer.json
  data/lci_catalog/ecobalyse_custom_lci/ev-other-materials-row.json
  data/lci_catalog/ecobalyse_manual_lcia/metal-transforming-ecoscore.json
Due: app-prettier

add assembling
  data/lci_catalog/ecobalyse_manual_lcia/vehicle-assembling-regulatory.json
Due: app-prettier

fix heat lci source
  data/custom_lci.json
Due: app-prettier

chore: export processes
  data/public/data/processes_generic.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

chore: restore initial processes db
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

feat(generic): apply pre-assembly transport cooling from process data (#2616)
  backend/src/app/domain/processes/schemas.py
  src/Data/Component.elm
  src/Data/Process.elm
  src/Data/Process/Category.elm
  src/Data/Split.elm
  src/Views/Component.elm
  tests/Data/ComponentTest.elm
  tests/Data/SplitTest.elm
Due: app-ruff-check, app-ruff-format

feat(data,veli): Processes integrating mileage for vehicle use phase (#2619)
  backend/src/app/domain/processes/schemas.py
  data/custom_lci.json
  data/lci_catalog/ecobalyse_custom_lci/vehicle-use-diesel-b7-euro4.json
  data/lci_catalog/ecobalyse_custom_lci/vehicle-use-diesel-b7-euro6.json
  data/lci_catalog/ecobalyse_custom_lci/vehicle-use-diesel-directco2-200kkm.json
  data/lci_catalog/ecobalyse_custom_lci/vehicle-use-diesel-euro4-200kkm.json
  data/lci_catalog/ecobalyse_custom_lci/vehicle-use-diesel-upstream-200kkm.json
  data/lci_catalog/ecobalyse_custom_lci/vehicle-use-petrol-directco2-200kkm.json
  data/lci_catalog/ecobalyse_custom_lci/vehicle-use-petrol-e10-euro6.json
  data/lci_catalog/ecobalyse_custom_lci/vehicle-use-petrol-euro6-200kkm.json
  data/lci_catalog/ecobalyse_custom_lci/vehicle-use-petrol-upstream-200kkm.json
  data/lci_catalog/ecobalyse_manual_lcia/vehicle-use-elec-150kkm.json
  data/lci_catalog/ecobalyse_manual_lcia/vehicle-use-elec-200kkm.json
  data/lci_catalog/ecobalyse_manual_lcia/vehicle-use-elec-30kkm.json
  data/lci_catalog/ecobalyse_manual_lcia/vehicle-use-elec-45kkm.json
  data/lci_catalog/ecobalyse_manual_lcia/vehicle-use-elec-75kkm.json
  data/public/data/processes_generic.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier, app-ruff-check, app-ruff-format

import bafu from a simapro csv export
  data/import_bafu.py
  data/justfile
  data/schemas/lci-schema.json
  data/settings.toml
Due: app-prettier, app-ruff-check, app-ruff-format

feat(data,veli): add processes for modeling according to ev regulation (#2622)
  data/custom_lci.json
  data/lci_catalog/ecobalyse_custom_lci/ev-other-materials-rer.json
  data/lci_catalog/ecobalyse_custom_lci/ev-other-materials-row.json
  data/lci_catalog/ecobalyse_manual_lcia/metal-transforming-ecoscore.json
  data/lci_catalog/ecobalyse_manual_lcia/vehicle-assembling-regulatory.json
  data/public/data/processes_generic.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

fix: reload config after detailed processes received
  src/Main.elm
Due: none

add pedaling processes
  data/lci_catalog/ecobalyse_manual_lcia/vehicle-use-pedaling-25kmh-30kkm.json
  data/lci_catalog/ecobalyse_manual_lcia/vehicle-use-pedaling-45kmh-45kkm.json
  data/lci_catalog/ecobalyse_manual_lcia/vehicle-use-pedaling-45kmh-75kkm.json
  data/lci_catalog/ecobalyse_manual_lcia/vehicle-use-pedaling-90kmh-150kkm.json
  data/lci_catalog/ecobalyse_manual_lcia/vehicle-use-pedaling-nakmh-200kkm.json
  data/lci_catalog/ecobalyse_manual_lcia/vehicle-use-pedaling-nakmh-75kkm.json
Due: app-prettier

change examples
  public/data/veli/examples.json
Due: app-prettier

fix id sorting
  public/data/veli/examples.json
Due: app-prettier

fix uuid
  public/data/veli/examples.json
Due: app-prettier

add ecoscore example add Fr mention in assembling
  data/lci_catalog/ecobalyse_manual_lcia/vehicle-assembling-regulatory.json
  data/lci_catalog/ecobalyse_manual_lcia/vehicle-assembling.json
  public/data/veli/examples.json
Due: app-prettier

fix: reload config after detailed processes received (#2627)
  src/Main.elm
Due: none

fix uuid sorting
  public/data/veli/examples.json
Due: app-prettier

delete obsolete fuel processes
  data/lci_catalog/ecobalyse_custom_lci/vehicle-use-diesel-b7-euro4.json
  data/lci_catalog/ecobalyse_custom_lci/vehicle-use-diesel-b7-euro6.json
  data/lci_catalog/ecobalyse_custom_lci/vehicle-use-petrol-e10-euro6.json
Due: app-prettier

fix(data): switch BAFU source to 2025v2 export
  data/schemas/lci-schema.json
  data/settings.toml
Due: app-prettier

feat(generic,ui): implement scoped labels
  src/Page/Admin/Component.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Views/Component.elm
Due: none

feat: add custom name
  src/Page/Object.elm
  src/Views/Component.elm
Due: none

feat: use material display name for added component
  src/Data/Component.elm
Due: none

fix: e2e tests
  e2e/object-simulator.spec.js
Due: app-prettier

chore: move e2e test suite to a scheduled job
  .github/workflows/e2e.yml
Due: none

export
  data/public/data/processes_generic.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

feat(generic,ui): implement scoped labels (#2632)
  e2e/object-simulator.spec.js
  src/Data/Component.elm
  src/Page/Admin/Component.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Views/Component.elm
Due: app-prettier

adapted source filename
  data/settings.toml
Due: none

chore: mise à jour du md5 de la BDD bafu
  data/settings.toml
Due: none

Update .github/workflows/e2e.yml
  .github/workflows/e2e.yml
Due: none

chore: upgrade pg engine version used
  .github/workflows/e2e.yml
  .github/workflows/node.js.yml
  docker-compose.yml
Due: none

chore: move e2e test suite to a scheduled job (#2633)
  .github/workflows/e2e.yml
  docker-compose.yml
Due: none

feat(generic): localize added transforms using sensible defaults
  src/Data/Component.elm
  tests/Data/ComponentTest.elm
Due: none
