Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format, dont-commit-detailed-processes

app-prettier:
  name: run prettier
  language: system
  entry: 'bash -c ''npm --prefix . run fix:prettier --write "${@}"'' --
  
    '

app-ruff-check:
  name: run ruff check
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:check "${@}"'' --
  
    '

app-ruff-format:
  name: run ruff format
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:format "${@}"'' --
  
    '

dont-commit-detailed-processes:
  name: check that we don't commit processes_impacts.json
  language: system
  entry: 'bash -c ''echo "⚠️ Prevented pushing detailed impacts data to public git repository. To update these, clone and push to the ecobalyse-private repository.";exit 1''
  
    '

refactor: mutualize server test helpers.
  tests/Server/RouteTest.elm
  tests/Server/ServerTest.elm
  tests/TestUtils.elm
Due: none

remove docker syntax warning
  data/docker/Dockerfile
Due: none

last impacts
  public/data/food/processes.json
Due: app-prettier

GITBOOK-1042: change request with no subject merged in GitBook
  SUMMARY.md
  alimentaire-en-construction/etape-2-fabrication-du-fil-1/consommation-des-vehicules/README.md
  alimentaire-en-construction/etape-2-fabrication-du-fil-1/consommation-des-vehicules/energie-apportee-par-des-panneaux-solaires-photovoltaique.md
  alimentaire-en-construction/etape-2-fabrication-du-fil-1/transport-des-composants.md
  alimentaire-en-construction/etape-2-fabrication-du-fil-1/transport-des-vehicules.md
Due: none

GITBOOK-1043: change request with no subject merged in GitBook
  alimentaire-en-construction/etape-2-fabrication-du-fil-1/composants-specifiques-vehicules.md
  alimentaire-en-construction/etape-2-fabrication-du-fil-1/consommation-des-vehicules/README.md
  alimentaire-en-construction/etape-2-fabrication-du-fil-1/consommation-des-vehicules/energie-apportee-par-des-panneaux-solaires-photovoltaique.md
Due: none

GITBOOK-1044: change request with no subject merged in GitBook
  alimentaire-en-construction/etape-2-fabrication-du-fil-1/composants-specifiques-vehicules.md
  alimentaire-en-construction/etape-2-fabrication-du-fil-1/duree-de-vie-des-vehicules.md
Due: none

fix: upgrade @sentry/tracing from 7.114.0 to 7.119.0
  package-lock.json
  package.json
Due: app-prettier

fix: upgrade @sentry/browser from 8.27.0 to 8.28.0
  package-lock.json
  package.json
Due: app-prettier

fix: upgrade piwik from 1.0.9 to 1.0.10
  package-lock.json
  package.json
Due: app-prettier

fix: don't try to load object files for old versions
  server.js
Due: app-prettier

fix: sync food (#759)
  public/data/food/processes.json
Due: app-prettier

fix: don't hide version number on staging
  src/Views/Page.elm
Due: none

use the right key to check missing material processes
  data/textile/activities.py
Due: app-ruff-check, app-ruff-format

Recreated activities.json from processes and materials
  data/textile/activities.json
  data/textile/activities.py
Due: app-prettier, app-ruff-check, app-ruff-format

fix: typo
  src/Page/Object.elm
Due: none

GITBOOK-1049: change request with no subject merged in GitBook
  SUMMARY.md
  alimentaire-en-construction/etape-2-fabrication-du-fil-1/composants-specifiques-vehicules.md
  alimentaire-en-construction/etape-2-fabrication-du-fil-1/fabrication-des-composants/README.md
  alimentaire-en-construction/etape-2-fabrication-du-fil-1/fabrication-des-composants/assise.md
  alimentaire-en-construction/etape-2-fabrication-du-fil-1/fabrication-des-composants/autres-composants.md
  alimentaire-en-construction/etape-2-fabrication-du-fil-1/fabrication-des-composants/batterie.md
  alimentaire-en-construction/etape-2-fabrication-du-fil-1/fabrication-des-composants/chassis-carrosserie/README.md
  alimentaire-en-construction/etape-2-fabrication-du-fil-1/fabrication-des-composants/chassis-carrosserie/acier-et-aluminium-methodes-detaillees.md
  alimentaire-en-construction/etape-2-fabrication-du-fil-1/fabrication-des-composants/moteur.md
  alimentaire-en-construction/etape-2-fabrication-du-fil-1/fabrication-des-composants/moyeu-et-jantes.md
  alimentaire-en-construction/etape-2-fabrication-du-fil-1/fabrication-des-composants/pneumatiques.md
  alimentaire-en-construction/etape-2-fabrication-du-fil-1/transport-des-composants.md
  alimentaire-en-construction/etape-2-fabrication-du-fil-1/transport-des-vehicules.md
  alimentaire-en-construction/etape-2-fabrication-du-fil-1/transport-des-vehicules0.md
Due: none

GITBOOK-1050: change request with no subject merged in GitBook
  SUMMARY.md
  alimentaire-en-construction/etape-2-fabrication-du-fil-1/acier-et-aluminium-methodes-detaillees.md
  alimentaire-en-construction/etape-2-fabrication-du-fil-1/composants-specifiques-vehicules.md
  alimentaire-en-construction/etape-2-fabrication-du-fil-1/transport-des-composants.md
  alimentaire-en-construction/etape-2-fabrication-du-fil-1/transport-des-vehicules.md
  alimentaire-en-construction/etape-2-fabrication-du-fil-1/transport-des-vehicules0.md
Due: none

GITBOOK-1051: change request with no subject merged in GitBook
  SUMMARY.md
  alimentaire-en-construction/etape-2-fabrication-du-fil-1/consommation-des-vehicules/README.md
  alimentaire-en-construction/etape-2-fabrication-du-fil-1/transport-des-composants.md
Due: none

GITBOOK-1052: change request with no subject merged in GitBook
  SUMMARY.md
  alimentaire-en-construction/etape-2-fabrication-du-fil-1/methodes.md
Due: none

GITBOOK-1045: change request with no subject merged in GitBook
  .gitbook/assets/image (125).png
  SUMMARY.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil-1/README.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil-1/consommation-des-vehicules/README.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil-1/consommation-des-vehicules/energie-apportee-par-des-panneaux-solaires-photovoltaique.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil-1/duree-de-vie-des-vehicules.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil-1/fabrication-des-composants/README.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil-1/fabrication-des-composants/assise.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil-1/fabrication-des-composants/autres-composants.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil-1/fabrication-des-composants/batterie.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil-1/fabrication-des-composants/chassis-carrosserie/README.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil-1/fabrication-des-composants/chassis-carrosserie/acier-et-aluminium-methodes-detaillees.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil-1/fabrication-des-composants/moteur.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil-1/fabrication-des-composants/moyeu-et-jantes.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil-1/fabrication-des-composants/pneumatiques.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil-1/methodes.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil-1/transport-des-composants.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil-1/transport-des-vehicules.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil/README.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil/assemblage.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil/composants/README.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil/composants/autres-composants.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil/composants/composants-en-bois.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil/composants/transformation-finition.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil/transport.md
Due: none

GITBOOK-1053: change request with no subject merged in GitBook
  SUMMARY.md
  alimentaire-en-construction/etape-2-fabrication-du-fil-1/README.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil-1/caracterisation-du-vehicule.md
Due: none

GITBOOK-1054: change request with no subject merged in GitBook
  SUMMARY.md
  alimentaire-en-construction/etape-2-fabrication-du-fil-1/README.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil-1/caracteristiques-du-vehicule.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil-1/fabrication-des-composants/chassis-carrosserie/README.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil-1/fabrication-des-composants/chassis-carrosserie/cellules-photovoltaiques.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil-1/methodes.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil-1/utilisation-du-vehicule/README.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil-1/utilisation-du-vehicule/duree-de-vie-des-vehicules.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil-1/utilisation-du-vehicule/energie-apportee-par-des-panneaux-solaires-photovoltaique.md
Due: none

GITBOOK-1055: change request with no subject merged in GitBook
  alimentaire-en-construction/old/etape-2-fabrication-du-fil-1/methodes.md
Due: none

chore(Snyk): Upgrade @sentry/tracing from 7.114.0 to 7.119.0 (#774)
  package-lock.json
  package.json
Due: app-prettier

chore(Snyk): Upgrade @sentry/browser from 8.27.0 to 8.28.0 (#775)
  package-lock.json
  package.json
Due: app-prettier

chore(Snyk): Upgrade piwik from 1.0.9 to 1.0.10 (#776)
  package-lock.json
  package.json
Due: app-prettier

fix: don't hide version information on staging (#778)
  src/Views/Page.elm
Due: none

fix: upgrade @sentry/node from 8.28.0 to 8.29.0
  package-lock.json
  package.json
Due: app-prettier

chore(Snyk): Upgrade @sentry/node from 8.28.0 to 8.29.0 (#779)
  package-lock.json
  package.json
Due: app-prettier

fix: upgrade @sentry/profiling-node from 8.28.0 to 8.29.0
  package-lock.json
  package.json
Due: app-prettier

chore(Snyk): Upgrade @sentry/profiling-node from 8.28.0 to 8.29.0 (#780)
  package-lock.json
  package.json
Due: app-prettier

feat: introduce first version of object interface (#756)
  bin/build-db
  check-db.js
  lib/index.js
  package.json
  public/data/object/examples.json
  public/data/object/processes.json
  server.js
  src/CheckDb.elm
  src/Data/Dataset.elm
  src/Data/Object/Db.elm
  src/Data/Object/Process.elm
  src/Data/Object/Query.elm
  src/Data/Object/Simulator.elm
  src/Data/Scope.elm
  src/Data/Session.elm
  src/Data/Uuid.elm
  src/Main.elm
  src/Page/Explore.elm
  src/Page/Food.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Route.elm
  src/Static/Db.elm
  src/Static/Json.elm-template
  src/Views/Bookmark.elm
  src/Views/Page.elm
  src/Views/Sidebar.elm
  tests/Data/Object/SimulatorTest.elm
  tests/Data/Textile/SimulatorTest.elm
  tests/Server/RouteTest.elm
  tests/Server/ServerTest.elm
  tests/TestUtils.elm
Due: app-prettier

GITBOOK-1056: change request with no subject merged in GitBook
  SUMMARY.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil-1/fabrication-des-composants/cellules-photovoltaiques.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil-1/fabrication-des-composants/chassis-carrosserie/README.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil-1/methodes.md
Due: none

GITBOOK-1057: change request with no subject merged in GitBook
  SUMMARY.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil-1/caracteristiques-du-vehicule.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil-1/fabrication-des-composants/assise.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil-1/fabrication-des-composants/chassis-carrosserie/README.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil-1/fabrication-des-composants/chassis-carrosserie/transformation-finition.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil/composants/autres-composants.md
Due: none

GITBOOK-1058: change request with no subject merged in GitBook
  alimentaire-en-construction/old/etape-2-fabrication-du-fil-1/fabrication-des-composants/chassis-carrosserie/README.md
Due: none

GITBOOK-1059: change request with no subject merged in GitBook
  alimentaire-en-construction/old/etape-2-fabrication-du-fil-1/fabrication-des-composants/autres-composants.md
Due: none

GITBOOK-1060: change request with no subject merged in GitBook
  SUMMARY.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil-1/fabrication-des-composants/jantes.md
Due: none

fixed mountpoint and working dir
  data/Makefile
Due: none

GITBOOK-1062: change request with no subject merged in GitBook
  SUMMARY.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil-1/utilisation-du-vehicule/README.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil-1/utilisation-du-vehicule/duree-de-vie-des-vehicules.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil-1/utilisation-du-vehicule/wmtc.md
Due: none

Path conditions:
  app-prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.json$
  app-ruff-check: any of: ^.*$ and \.py$
  app-ruff-format: any of: ^.*$ and \.py$
  dont-commit-detailed-processes: any of: ^processes_impacts.json$
