Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format, dont-commit-detailed-processes

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
      exclude: (svg|icomoon|rapidoc-9.3.4.min.js)
    - id: trailing-whitespace
      exclude: (vendor|rapidoc-9.3.4.min.js)
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, master]

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier
        language: system
        files: ^.*$
        types_or: [javascript, json]
        entry: |
          bash -c 'npm --prefix . run fix:prettier --write "${@}"' --

      - id: app-ruff-check
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:check "${@}"' --

      - id: app-ruff-format
        name: run ruff format
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:format "${@}"' --

      - id: dont-commit-detailed-processes
        name: check that we don't commit processes_impacts.json
        language: system
        files: ^processes_impacts.json$
        entry: |
          bash -c 'echo "⚠️ Prevented pushing detailed impacts data to public git repository. To update these, clone and push to the ecobalyse-private repository.";exit 1'

fix: Warn on session data decoding error.
  src/Data/Session.elm
  src/Main.elm
Due: none

fix tests
  tests/e2e-textile.json
Due: app-prettier

chore: improve messaging.
  src/Data/Session.elm
  src/Views/Page.elm
Due: none

refactor: use warning instead of blocking error
  src/Views/Alert.elm
  src/Views/Page.elm
Due: none

fix: typo
  src/Views/Page.elm
Due: none

add displayName Laiton
  data/textile/activities.json
  public/data/textile/processes.json
  public/data/textile/processes_impacts.json
Due: app-prettier

fix: actually persist session reset
  src/Data/Session.elm
  src/Main.elm
  src/Views/Page.elm
Due: none

fix: correct data on trims (#879)
  data/textile/activities.json
  public/data/textile/components.json
  public/data/textile/processes.json
  public/data/textile/processes_impacts.json
  tests/e2e-textile.json
Due: app-prettier

@vjousse review
  src/Views/Page.elm
Due: none

fix: Warn on session data decoding error. (#884)
  src/Data/Session.elm
  src/Main.elm
  src/Views/Alert.elm
  src/Views/Page.elm
Due: none

GITBOOK-1133: No subject
  textile/correctifs-donnees/corr3-pre-traitements-teinture-et-impressions.md
Due: none

chore(security): upgrade django to >=5.1.4.
  Pipfile
  Pipfile.lock
Due: none

fix(textile): apply durability to trims impacts.
  src/Data/Textile/Simulator.elm
  tests/e2e-textile.json
Due: app-prettier

fix(textile,ui): remove trims from detailed impacts sidebar views.
  src/Views/Comparator.elm
  src/Views/ImpactTabs.elm
Due: none

GITBOOK-1134: Ajout d'une page sur les accessoires textiles
  SUMMARY.md
  textile/cycle-de-vie-des-produits-textiles/accessoires.md
Due: none

fix(textile): apply durability to trims impacts. (#886)
  src/Data/Textile/Simulator.elm
  src/Views/Comparator.elm
  src/Views/ImpactTabs.elm
  tests/e2e-textile.json
Due: app-prettier

fix: update aquatic pollution scenario ratios.
  src/Data/Country.elm
  tests/Data/Textile/SimulatorTest.elm
  tests/e2e-textile.json
Due: app-prettier

fix: Update PEF score label.
  public/data/impacts.json
Due: app-prettier

fix: Update PEF score label. (#887)
  public/data/impacts.json
Due: app-prettier

GITBOOK-1135: No subject
  SUMMARY.md
  documentation-transverse/page-1.md
  documentation-transverse/transport.md
  vehicules/cycle-de-vie/README.md
  vehicules/cycle-de-vie/transport-des-composants.md
  vehicules/cycle-de-vie/transport-des-vehicules.md
  vehicules/parametrage/README.md
Due: none

GITBOOK-1136: No subject
  documentation-transverse/transport.md
Due: none

GITBOOK-1137: No subject
  documentation-transverse/transport.md
Due: none

GITBOOK-1138: No subject
  documentation-transverse/transport.md
Due: none

GITBOOK-1139: No subject
  documentation-transverse/transport.md
Due: none

chore: update data files
  public/data/food/ingredients.json
  public/data/food/processes.json
  public/data/food/processes_impacts.json
  public/data/object/processes.json
  public/data/object/processes_impacts.json
  public/data/textile/materials.json
  public/data/textile/processes.json
  public/data/textile/processes_impacts.json
Due: app-prettier

fix: rounding diff in tests
  tests/Data/Food/RecipeTest.elm
Due: none

GITBOOK-1141: No subject
  documentation-transverse/transport.md
Due: none

chore: remove obsolete refs to /data dir.
  .slugignore
  README.md
Due: none

chore: remove obsolete code and commands.
  bin/decrypt
  bin/encrypt
  bin/generate-crypto-key
  package.json
Due: app-prettier

Revert "chore: remove obsolete code and commands."
  bin/decrypt
  bin/encrypt
  bin/generate-crypto-key
  package.json
Due: app-prettier

GITBOOK-1142: No subject
  documentation-transverse/transport.md
Due: none

docs: update encryption docs.
  README.md
Due: none

Update README.md
  README.md
Due: none

chore: update crypto-related docs. (#890)
  .slugignore
  README.md
Due: none

chore: readd score_history
  .github/workflows/score_history.yml
  bin/score_history/create_table_score_history.sql
  bin/score_history/score_history.py
Due: app-ruff-check, app-ruff-format
