Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
      exclude: (svg|icomoon|rapidoc-9.3.4.min.js)
    - id: trailing-whitespace
      exclude: (vendor|rapidoc-9.3.4.min.js)
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, master]

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier
        language: system
        files: ^.*$
        types_or: [javascript, json]
        entry: |
          bash -c 'npm --prefix . run fix:prettier --write "${@}"' --

      - id: app-ruff-check
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:check "${@}"' --

      - id: app-ruff-format
        name: run ruff format
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:format "${@}"' --

      - id: app-elm-format
        name: run elm-format
        language: system
        files: ^.*$
        types_or: [elm]
        entry: |
          bash -c 'npm --prefix . run fix:elm-format "${@}"' --

feat: move element edition in its own modal
  src/Page/Admin/Component.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Views/Component.elm
Due: none

refactor: fix elm-review cognitive complexity warning
  src/Page/Object.elm
Due: none

feat: add icons for elements rows
  src/Page/Admin/Component.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Views/Component.elm
Due: none

titles to improve issue template readability
  .github/ISSUE_TEMPLATE/bug_template.md
  .github/ISSUE_TEMPLATE/task.md
Due: none

revert unwanted changes
  .github/ISSUE_TEMPLATE/bug_template.md
Due: none

remove livestock density
  src/Data/Food/EcosystemicServices.elm
  src/Data/Food/Recipe.elm
Due: none

fix tests
  tests/Data/Food/RecipeTest.elm
Due: none

chore: titles to improve issue template readability (#2122)
  .github/ISSUE_TEMPLATE/task.md
Due: none

chore: remove cookie auth
  backend/src/app/config/app.py
  backend/src/app/domain/accounts/controllers/access.py
  backend/src/app/domain/accounts/guards.py
  backend/src/app/domain/accounts/urls.py
  backend/src/app/lib/auth.py
  backend/src/app/lib/middleware/__init__.py
  backend/src/app/lib/middleware/custom_auth_middleware.py
  playwright.config.js
  tests/backend/integration/test_access.py
Due: app-prettier, app-ruff-check, app-ruff-format

fix: remove harcoder playwright
  playwright.config.js
Due: app-prettier

chore: remove logout API call
  src/Page/Auth.elm
  src/Request/Auth.elm
Due: none

fix: remove cookies from auth response
  backend/src/app/domain/accounts/guards.py
  backend/src/app/lib/auth.py
  backend/src/app/lib/middleware/custom_auth_middleware.py
Due: app-ruff-check, app-ruff-format

fix: use None for cookies as they are nullable
  backend/src/app/lib/auth.py
Due: app-ruff-check, app-ruff-format

chore: remove cookie auth (#2110)
  backend/src/app/config/app.py
  backend/src/app/domain/accounts/controllers/access.py
  backend/src/app/domain/accounts/guards.py
  backend/src/app/domain/accounts/urls.py
  backend/src/app/lib/auth.py
  backend/src/app/lib/middleware/__init__.py
  backend/src/app/lib/middleware/custom_auth_middleware.py
  src/Page/Auth.elm
  src/Request/Auth.elm
  tests/backend/integration/test_access.py
Due: app-ruff-check, app-ruff-format

feat(generic): edit elements in their own modal window (#2111)
  e2e/object-simulator.spec.js
  src/Page/Admin/Component.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Views/Component.elm
Due: app-prettier

fix: scroll facet value list to top on deep click
  index.js
  src/Page/Explore.elm
  src/Page/Explore/Table.elm
  src/Page/Food.elm
  src/Page/Textile.elm
Due: app-prettier

refactor: move facet update fn to Table
  src/Page/Explore.elm
  src/Page/Explore/Table.elm
Due: none

chore: clean code
  src/Page/Explore.elm
Due: none

refactor: coherent fn signatures
  src/Page/Explore/Table.elm
Due: none

chore: remove debug
  index.js
Due: app-prettier

feat: group active filters first
  src/Page/Explore/Table.elm
Due: none

feat: add facets to textile materials: it works \o/
  src/Page/Explore/TextileMaterials.elm
Due: none

feat: improve country identifications
  src/Page/Explore/Processes.elm
  src/Page/Explore/TextileMaterials.elm
Due: none

refactor: share yesNow helper
  src/Data/Text.elm
  src/Page/Admin/Account.elm
  src/Page/Explore/TextileMaterials.elm
Due: none

refactor: move inline styles to stylesheet
  src/Page/Explore/Table.elm
  styles.scss
Due: none

feat: group facet options by selection status
  src/Page/Explore/Table.elm
  src/Page/Explore/TextileMaterials.elm
  styles.scss
Due: none

feat: disable facets with no results
  src/Page/Explore/Table.elm
Due: none

fix: handle complex scroll ids
  src/Page/Explore.elm
Due: none

refactor: simplify everything
  src/Page/Explore/Table.elm
Due: none

feat: sort facet values the i18n way
  src/Data/Text.elm
  src/Page/Explore/Table.elm
Due: none

fix: fix empoty results message
  src/Page/Explore/Table.elm
Due: none

style: improve checkboxes styling
  src/Page/Explore.elm
  src/Page/Explore/Table.elm
  styles.scss
Due: none

feat: use OR within a facet and AND across facets
  src/Page/Explore/Table.elm
Due: none

refactor: improve naming
  src/Data/Text.elm
  src/Page/Explore/Table.elm
Due: none
