Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
      exclude: (svg|icomoon|rapidoc-9.3.4.min.js)
    - id: trailing-whitespace
      exclude: (vendor|rapidoc-9.3.4.min.js)
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, master]

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier
        language: system
        files: ^.*$
        types_or: [javascript, json]
        entry: |
          bash -c 'npm --prefix . run fix:prettier --write "${@}"' --

      - id: app-ruff-check
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:check "${@}"' --

      - id: app-ruff-format
        name: run ruff format
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:format "${@}"' --

      - id: app-elm-format
        name: run elm-format
        language: system
        files: ^.*$
        types_or: [elm]
        entry: |
          bash -c 'npm --prefix . run fix:elm-format "${@}"' --

fix material type in various lci
  data/lci_catalog/ecobalyse_manual_lcia/battery-assembling.json
  data/lci_catalog/ecoinvent-3-11/lead-acid-battery.json
  data/lci_catalog/ecoinvent-3-9-1/eol-incineration-plastics-from-electronic-components.json
  data/lci_catalog/ecoinvent-3-9-1/eol-landfilling-household-wastes.json
Due: app-prettier

delete average battery
  data/export/processes_generic.json
  public/data/processes.json
Due: app-prettier

fix formatting
  data/lci_catalog/ecobalyse_manual_lcia/battery-assembling.json
  data/lci_catalog/ecoinvent-3-9-1/eol-incineration-plastics-from-electronic-components.json
Due: app-prettier

new export
  data/export/processes_generic.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

chore: fix formatting
  public/data/components/config.json
  src/Data/Process/Category.elm
Due: app-prettier

chore: fix export
  public/data/processes_impacts.json
Due: app-prettier

delete average cell recycling
  data/lci_catalog/ecobalyse_custom_lci/eol-recycling-battery-cell-rer-cff.json
Due: app-prettier

chore:  fix ty warnings
  backend/src/app/cli/commands.py
  backend/src/app/config/_utils.py
  backend/src/app/config/base.py
  packages/python/ecobalyse/ecobalyse/scalingo.py
Due: app-ruff-check, app-ruff-format

GITBOOK-1772: Précisions sur le vocabulaire dans la page "production de matériaux"
  .gitbook/assets/Composant.png
  .gitbook/assets/Sauce tomate.png
  SUMMARY.md
  methodes-transverses/production/README.md
Due: none

fix Hydro treatment amount
  data/custom_lci.json
Due: app-prettier

modify eol non collected treatments
  public/data/components/config.json
Due: app-prettier

refactor: clean code and add tests
  src/Data/Component.elm
  tests/Data/ComponentTest.elm
Due: none

chore: improve server init error message
  src/Server.elm
Due: none

chore: new export
  data/export/processes_generic.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

add alkaline batteries
  data/lci_catalog/ecobalyse_custom_lci/battery-aa.json
  data/lci_catalog/ecobalyse_custom_lci/battery-aaa.json
Due: app-prettier

fix format
  data/lci_catalog/ecobalyse_custom_lci/battery-aa.json
  data/lci_catalog/ecobalyse_custom_lci/battery-aaa.json
Due: app-prettier

fix sources names
  data/lci_catalog/ecobalyse_custom_lci/battery-aa.json
  data/lci_catalog/ecobalyse_custom_lci/battery-aaa.json
Due: app-prettier

chore: export processes
  data/export/processes_generic.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

feat: imporove server test concision and accuracy
  tests/server.spec.js
Due: app-prettier

chore: improve ingredient hierarchy report (#2787)
  bin/check_ingredient_hierarchy.py
Due: app-ruff-check, app-ruff-format

chore: revert unrelated Python changes
  backend/src/app/cli/commands.py
  backend/src/app/config/_utils.py
  backend/src/app/config/base.py
  packages/python/ecobalyse/ecobalyse/scalingo.py
  uv.lock
Due: app-ruff-check, app-ruff-format

fix formatting
  data/custom_lci.json
Due: app-prettier

update battery material type and recycling processes
  backend/src/app/domain/processes/schemas.py
  data/custom_lci.json
  data/lci_catalog/ecobalyse_custom_lci/battery-cell-lfp-hydro-cn.json
  data/lci_catalog/ecobalyse_custom_lci/battery-cell-lfp-solid-cn.json
  data/lci_catalog/ecobalyse_custom_lci/battery-cell-nmc622-cn.json
  data/lci_catalog/ecobalyse_custom_lci/battery-cell-nmc811-cn.json
  data/lci_catalog/ecobalyse_custom_lci/battery-cell-nmc811-fr.json
  data/lci_catalog/ecobalyse_custom_lci/eol-recycling-battery-alkaline.json
  data/lci_catalog/ecobalyse_custom_lci/eol-recycling-battery-cell-lfp-cff.json
  data/lci_catalog/ecobalyse_custom_lci/eol-recycling-battery-cell-nmc622.json
  public/data/components/config.json
  src/Data/Process/Category.elm
  uv.lock
Due: app-prettier, app-ruff-check, app-ruff-format

clean obsolete metadata files
  data/food/metadata/README.md
  data/food/metadata/agb_inedible.csv
  data/food/metadata/cooked_to_raw.csv
  data/food/metadata/cropgroup.csv
  data/food/metadata/density.csv
  data/food/metadata/fao_density.csv
  data/food/metadata/food_type.csv
  data/food/metadata/food_type_cooked_to_raw.csv
  data/food/metadata/food_type_density.csv
  data/food/metadata/food_type_inedible_part.csv
  data/food/metadata/inedible_part.csv
  data/food/metadata/nova_classification.csv
  data/food/metadata/processing_state.csv
  data/food/metadata/transport_cooling.csv
Due: none

chore: update battery material types and recycling processes (#2825)
  backend/src/app/domain/processes/schemas.py
  data/custom_lci.json
  data/export/processes_generic.json
  data/lci_catalog/ecobalyse_custom_lci/battery-cell-lfp-hydro-cn.json
  data/lci_catalog/ecobalyse_custom_lci/battery-cell-lfp-solid-cn.json
  data/lci_catalog/ecobalyse_custom_lci/battery-cell-nmc622-cn.json
  data/lci_catalog/ecobalyse_custom_lci/battery-cell-nmc811-cn.json
  data/lci_catalog/ecobalyse_custom_lci/battery-cell-nmc811-fr.json
  data/lci_catalog/ecobalyse_custom_lci/eol-recycling-battery-alkaline.json
  data/lci_catalog/ecobalyse_custom_lci/eol-recycling-battery-cell-lfp-cff.json
  data/lci_catalog/ecobalyse_custom_lci/eol-recycling-battery-cell-nmc622.json
  data/lci_catalog/ecobalyse_custom_lci/eol-recycling-battery-cell-rer-cff.json
  data/lci_catalog/ecobalyse_manual_lcia/battery-assembling.json
  data/lci_catalog/ecoinvent-3-11/lead-acid-battery.json
  data/lci_catalog/ecoinvent-3-9-1/eol-incineration-plastics-from-electronic-components.json
  data/lci_catalog/ecoinvent-3-9-1/eol-landfilling-household-wastes.json
  public/data/components/config.json
  public/data/processes.json
  public/data/processes_impacts.json
  src/Data/Process/Category.elm
Due: app-prettier, app-ruff-check, app-ruff-format

feat(data,object): add alkaline batteries (#2828)
  data/export/processes_generic.json
  data/lci_catalog/ecobalyse_custom_lci/battery-aa.json
  data/lci_catalog/ecobalyse_custom_lci/battery-aaa.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

feat: add betauser flag
  backend/src/app/cli/commands.py
  backend/src/app/db/migrations/versions/2026-09-17_add_beta_test_user_fbae656f0ee6.py
  backend/src/app/db/models/user.py
  backend/src/app/domain/accounts/controllers/access.py
  backend/src/app/domain/accounts/guards.py
  backend/src/app/domain/accounts/schemas.py
  tests/backend/data_fixtures.py
  tests/backend/integration/test_access.py
Due: app-ruff-check, app-ruff-format

fix: users creation
  backend/src/app/cli/commands.py
Due: app-ruff-check, app-ruff-format
