Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format

app-prettier:
  name: run prettier
  language: system
  entry: 'bash -c ''npm --prefix . run fix:prettier --write "${@}"'' --
  
    '

app-ruff-check:
  name: run ruff check
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:check "${@}"'' --
  
    '

app-ruff-format:
  name: run ruff format
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:format "${@}"'' --
  
    '

feat: remove material element removal btn in modal
  src/Views/Component.elm
Due: none

fix: avoid double ratios application
  src/Data/Component.elm
Due: none

fix: only allow selecting scoped countries
  src/Views/Component.elm
Due: none

fix: avoid invalid country code
  src/Views/Component.elm
Due: none

test: strengthen tests
  tests/Data/ComponentTest.elm
Due: none

fix: don’t serve impacts at all with invalid token
  backend/src/app/domain/processes/controllers/process.py
  backend/src/app/lib/middleware/custom_auth_middleware.py
  server.js
  tests/backend/integration/test_processes.py
  tests/server.spec.js
Due: app-prettier, app-ruff-check, app-ruff-format

fix: no token needed in test env
  bin/score_history/score_history.py
Due: app-ruff-check, app-ruff-format

fix: bypass token validation in test mode
  server.js
Due: app-prettier

chore: comment improvement
  data/settings.toml
Due: none

fix tests
  tests/Data/Textile/SimulatorTest.elm
  tests/e2e-textile.json
Due: app-prettier

test: access in always granted in tests
  tests/server.spec.js
Due: app-prettier

GITBOOK-1648: No subject
  alimentaire/impacts-consideres/etape-1-ingredients/impacts-consideres-2.md
Due: none

fix(generic): handle hub distance when one country is known (#2347)
  src/Data/Component.elm
  src/Views/Component.elm
  tests/Data/ComponentTest.elm
Due: none

fix: don’t serve impacts at all with invalid token (#2353)
  backend/src/app/domain/processes/controllers/process.py
  backend/src/app/lib/middleware/custom_auth_middleware.py
  bin/score_history/score_history.py
  server.js
  tests/backend/integration/test_processes.py
  tests/server.spec.js
Due: app-prettier, app-ruff-check, app-ruff-format

feat(data,veli): add “Composant - Batterie Li-ion NMC811, Chine” example
  public/data/veli/examples.json
Due: app-prettier

modify-lci
  data/lci_catalog/ecoinvent-3-9-1/electronic-components.json
Due: app-prettier

GITBOOK-1692: No subject
  SUMMARY.md
  alimentaire/impacts-consideres/etape-3-emballages/README.md
  alimentaire/impacts-consideres/etape-3-emballages/materiaux-demballage.md
Due: none

GITBOOK-1693: No subject
  alimentaire/impacts-consideres/etape-3-emballages/materiaux-demballage.md
Due: none

GITBOOK-1694: No subject
  SUMMARY.md
  methodes-transverses-specifiques/composants/README.md
  methodes-transverses-specifiques/composants/energies-des-etapes-de-transformation.md
  methodes-transverses-specifiques/composants/procedes-acier-et-aluminium.md
  methodes-transverses-specifiques/electricite-a-lutilisation.md
Due: none

use processes_generic instead of api
  .gitignore
  bin/check_ingredient_hierarchy.py
Due: app-ruff-check, app-ruff-format

deleted obsolete processes
  data/lci_catalog/custom/bleaching-average-aquatic-pollution-scenario.json
  data/lci_catalog/ecoinvent-3-9-1/recycled-aluminum.json
Due: app-prettier

GITBOOK-1695: No subject
  .gitbook/assets/image (392).png
  vehicules/cycle-de-vie/fabrication-des-composants/batterie.md
Due: none

GITBOOK-1696: No subject
  .gitbook/assets/image (393).png
  vehicules/cycle-de-vie/fabrication-des-composants/batterie.md
Due: none

create-food-packaging-ecobalyse-lci
  data/activities_to_create.json
Due: app-prettier

delete obsolete proceses from catalog
  data/lci_catalog/agribalyse-3-2/aluminium.json
  data/lci_catalog/agribalyse-3-2/cardboard.json
  data/lci_catalog/agribalyse-3-2/glass.json
  data/lci_catalog/agribalyse-3-2/hdpe.json
  data/lci_catalog/agribalyse-3-2/ldpe.json
  data/lci_catalog/agribalyse-3-2/paper.json
  data/lci_catalog/agribalyse-3-2/pet.json
  data/lci_catalog/agribalyse-3-2/pp.json
  data/lci_catalog/agribalyse-3-2/ps.json
  data/lci_catalog/agribalyse-3-2/pvc.json
Due: app-prettier

fix duplicate uuid
  data/lci_catalog/ecobalyse/packaging-food-aluminium.json
Due: app-prettier

add packaging processes in lci catalog
  data/activities_to_create.json
  data/lci_catalog/ecobalyse/packaging-food-aluminium.json
  data/lci_catalog/ecobalyse/packaging-food-cardboard.json
  data/lci_catalog/ecobalyse/packaging-food-glass.json
  data/lci_catalog/ecobalyse/packaging-food-pehd.json
  data/lci_catalog/ecobalyse/packaging-food-peld.json
  data/lci_catalog/ecobalyse/packaging-food-pet.json
  data/lci_catalog/ecobalyse/packaging-food-pp.json
  data/lci_catalog/ecobalyse/packaging-food-ps.json
  data/lci_catalog/ecobalyse/packaging-food-pvc.json
  data/lci_catalog/ecobalyse/packaging-food-steel.json
Due: app-prettier

Path conditions:
  app-prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.json$
  app-ruff-check: any of: ^.*$ and \.py$
  app-ruff-format: any of: ^.*$ and \.py$
