Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format, dont-commit-detailed-processes

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
      exclude: (svg|icomoon|rapidoc-9.3.4.min.js)
    - id: trailing-whitespace
      exclude: (vendor|rapidoc-9.3.4.min.js)
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, master]

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier
        language: system
        files: ^.*$
        types_or: [javascript, json]
        entry: |
          bash -c 'npm --prefix . run fix:prettier --write "${@}"' --

      - id: app-ruff-check
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:check "${@}"' --

      - id: app-ruff-format
        name: run ruff format
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:format "${@}"' --

      - id: dont-commit-detailed-processes
        name: check that we don't commit processes_impacts.json
        language: system
        files: ^processes_impacts.json$
        entry: |
          bash -c 'echo "⚠️ Prevented pushing detailed impacts data to public git repository. To update these, clone and push to the ecobalyse-private repository.";exit 1'

refactor: introduce ExpandedItem
  src/Data/Component.elm
  src/Views/Component.elm
Due: none

feat: resolve country
  src/Data/Component.elm
  src/Page/Admin/Component.elm
  src/Page/Explore/Components.elm
Due: none

refactor: propagate db
  src/Data/Component.elm
  tests/Data/ComponentTest.elm
Due: none

refactor: expand country
  src/Data/Component.elm
  src/Page/Explore/Components.elm
  tests/Data/ComponentTest.elm
Due: none

feat: basic country selector
  src/Views/Component.elm
Due: none

feat: view update item country
  src/Page/Admin/Component.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Views/Component.elm
Due: none

feat: update item country
  src/Data/Component.elm
  src/Page/Object.elm
  src/Views/Component.elm
Due: none

feat: load energy mixes from country
  src/Data/Component.elm
  src/Page/Explore/Components.elm
  tests/Data/ComponentTest.elm
Due: none

feat: detailed notif error on detailed process load err
  src/Main.elm
Due: none

chore: clean code
  src/Data/Component.elm
Due: none

feat: render tooltip with energy mix processes names
  src/Data/Component.elm
  src/Views/Component.elm
Due: none

chore: clean code
  src/Page/Object.elm
Due: none

refactor: use decode pipeline for distances decoding
  src/Data/Transport.elm
Due: none

fix: render empty distances as N/A in transport tables
  src/Page/Explore/Countries.elm
Due: none

chore: corrections following n1k0 review
  tests/Data/ComponentTest.elm
  tests/backend/data_fixtures.py
  tests/backend/integration/test_journal_entries.py
  tests/backend/integration/test_load_processes_fixtures.py
  tests/backend/integration/test_processes.py
Due: app-ruff-check, app-ruff-format

feat: improve a11y with labelling
  src/Views/Component.elm
Due: none

chore: fix tests
  backend/src/app/db/models/process.py
  backend/src/app/domain/processes/schemas.py
  tests/backend/integration/test_processes.py
Due: app-ruff-check, app-ruff-format

feat(object): compute impacts against localized energy mixes (#1511)
  src/Data/Component.elm
  src/Main.elm
  src/Page/Admin/Component.elm
  src/Page/Explore/Components.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Views/Component.elm
  tests/Data/ComponentTest.elm
  tests/Server/RouteTest.elm
Due: none

fix(explorer): render empty distances as N/A in transport tables (#1515)
  src/Data/Transport.elm
  src/Page/Explore/Countries.elm
Due: none

GITBOOK-1580: No subject
  pages-en-cours-de-revue/transport/cout-environnemental-par-voie-de-transport/transport-par-avion-prise-en-compte-des-trainees.md
Due: none

chore: add db migration
  backend/src/app/db/migrations/versions/2025-11-05_rename_sourceid_to_activityname_50072787e828.py
Due: app-ruff-check, app-ruff-format

chore: add location to db model, api and migration
  backend/src/app/db/migrations/versions/2025-11-05_rename_add_location.py
  backend/src/app/db/models/process.py
  backend/src/app/domain/processes/schemas.py
  tests/processes-schema.json
Due: app-prettier, app-ruff-check, app-ruff-format

chore: add location to fixtures and set location to nullable
  backend/src/app/db/migrations/versions/2025-11-05_rename_add_location.py
  backend/src/app/db/models/process.py
  tests/backend/data_fixtures.py
  tests/backend/integration/test_load_processes_fixtures.py
  tests/backend/integration/test_processes.py
Due: app-ruff-check, app-ruff-format

fix: change the unit displayed in the comparator from µPts to Pts
  lib/charts/food-comparator.js
Due: app-prettier

fix: removing another ref to µPts, and fixing the `ecs` definition
  openapi.yaml
  public/data/impacts.json
Due: app-prettier

test: add non null location in tests
  tests/backend/data_fixtures.py
  tests/backend/integration/test_processes.py
Due: app-ruff-check, app-ruff-format

chore: sort fields by name
  backend/src/app/domain/processes/schemas.py
Due: app-ruff-check, app-ruff-format

chore: add location and rename sourceId->activityName (#1507)
  backend/src/app/db/migrations/versions/2025-11-05_rename_add_location.py
  backend/src/app/db/migrations/versions/2025-11-05_rename_sourceid_to_activityname_50072787e828.py
  backend/src/app/db/models/process.py
  backend/src/app/domain/processes/schemas.py
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_impacts.json
  src/Data/Process.elm
  src/Page/Explore/Processes.elm
  tests/Data/ComponentTest.elm
  tests/backend/data_fixtures.py
  tests/backend/integration/test_journal_entries.py
  tests/backend/integration/test_load_processes_fixtures.py
  tests/backend/integration/test_processes.py
  tests/processes-schema.json
Due: app-prettier, app-ruff-check, app-ruff-format

fix: change the unit displayed in the comparator from µPts to Pts (#1522)
  lib/charts/food-comparator.js
  openapi.yaml
  public/data/impacts.json
Due: app-prettier

new export
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

chore: @n1k0 review
  src/Page/Food.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Views/Bookmark.elm
Due: none

feat: rename bookmark in storage
  src/Data/Session.elm
  src/Page/Food.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Views/Bookmark.elm
  src/Views/Sidebar.elm
Due: none

chore: add missing class
  src/Views/Bookmark.elm
Due: none

chore: draft renaming events
  src/Page/Food.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Views/Bookmark.elm
  src/Views/Sidebar.elm
Due: none

fix: icon overflow
  src/Views/Bookmark.elm
Due: none

chore: update input value
  src/Views/Bookmark.elm
Due: none

chore: @n1k0 review
  src/Data/Session.elm
Due: none

refactor: make process location a country code
  src/Data/Component.elm
  src/Data/Country.elm
  src/Data/Country/Code.elm
  src/Data/Dataset.elm
  src/Data/Food/Query.elm
  src/Data/Food/Recipe.elm
  src/Data/Process.elm
  src/Data/Textile/Inputs.elm
  src/Data/Textile/Material.elm
  src/Data/Textile/Query.elm
  src/Data/Textile/Step.elm
  src/Data/Transport.elm
  src/Page/Explore.elm
  src/Page/Explore/Countries.elm
  src/Page/Explore/Processes.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Server.elm
  src/Views/BaseElement.elm
  src/Views/Component.elm
  src/Views/CountrySelect.elm
  src/Views/Textile/Step.elm
  tests/Data/Food/RecipeTest.elm
  tests/Data/Textile/InputsTest.elm
  tests/Data/Textile/LifeCycleTest.elm
  tests/Data/Textile/QueryTest.elm
  tests/Data/Textile/SimulatorTest.elm
  tests/Data/TransportTest.elm
  tests/Server/RouteTest.elm
  tests/TestUtils.elm
Due: none

adapted wellknown
  src/Data/Textile/WellKnown.elm
Due: none
