Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format

app-prettier:
  name: run prettier
  language: system
  entry: 'bash -c ''npm --prefix . run fix:prettier --write "${@}"'' --
  
    '

app-ruff-check:
  name: run ruff check
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:check "${@}"'' --
  
    '

app-ruff-format:
  name: run ruff format
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:format "${@}"'' --
  
    '

test: add non recyclable test
  tests/Data/ComponentTest.elm
Due: none

fix: collection ratio rates
  src/Data/Component.elm
  src/Views/Component.elm
Due: none

feat: add recyclable to query
  src/Data/Component.elm
  src/Page/Object.elm
  src/Views/Component.elm
Due: none

chore: add missing space
  tests/Data/ComponentTest.elm
Due: none

chore: @n1k0’s review
  public/data/object/examples.json
  src/Page/Object.elm
Due: app-prettier

chore: remove unused icon
  public/icomoon/fonts/icomoon.eot
  public/icomoon/fonts/icomoon.svg
  public/icomoon/fonts/icomoon.ttf
  public/icomoon/fonts/icomoon.woff
  public/icomoon/selection.json
  public/icomoon/style.css
Due: app-prettier

style: use a regular, explicit radio button
  src/Data/Component.elm
  src/Views/Component.elm
  src/Views/Icon.elm
Due: none

fix: apply correct collection rates
  src/Data/Component.elm
  src/Data/Example.elm
  src/Views/Component.elm
  tests/Data/ComponentTest.elm
Due: none

chore: rollback styles
  src/Page/Food.elm
  styles.scss
Due: none

chore: remove default values from examples
  public/data/veli/examples.json
Due: app-prettier

chore: apply suggestion from @n1k0
  tests/Data/ComponentTest.elm
Due: none

chore: fix tests
  data/tests/snapshots/food/ingredients.json
  data/tests/snapshots/processes_generic_impacts.json
  data/tests/snapshots/processes_impacts.json
  data/tests/test_json_format_encoder.py
  tests/Data/ComponentTest.elm
  tests/Data/Food/RecipeTest.elm
  tests/Data/Textile/SimulatorTest.elm
  tests/e2e-food.json
  tests/e2e-textile.json
Due: app-prettier, app-ruff-check, app-ruff-format

waste -> qtyVariationRatio p.1
  data/bin/export_datagouv.py
  data/ecobalyse_data/computation.py
  data/ecobalyse_data/export/export_generic.py
  data/lci_catalog/custom/aluminum-extrusion.json
  data/lci_catalog/custom/aluminum-rolling-0-2-mm.json
  data/lci_catalog/custom/aluminum-rolling-0-26-mm.json
  data/lci_catalog/custom/bleaching-average-aquatic-pollution-scenario.json
  data/lci_catalog/custom/bleaching.json
  data/lci_catalog/custom/carbon-fiber-manufacturing.json
  data/lci_catalog/custom/conventional-spinning-40-nm.json
Due: app-prettier, app-ruff-check, app-ruff-format

put back tests/fixtures/ activities.json
  data/tests/fixtures/activities.json
Due: app-prettier

fix: only migrate auth (#2280)
  .github/workflows/node.js.yml
  lib/store.js
  tests/lib/store.spec.js
Due: app-prettier

Update docs/ADR/manage-component-location.md
  docs/ADR/manage-component-location.md
Due: none

feat: add recyclable field (#2229)
  public/data/object/examples.json
  public/data/veli/examples.json
  src/Data/Component.elm
  src/Data/Example.elm
  src/Page/Admin/Component.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Views/Component.elm
  tests/Data/ComponentTest.elm
Due: app-prettier

fix: always reset air transport
  src/Data/Component.elm
Due: none

fix(generic): do not apply transport ratios to default distances
  src/Data/Component.elm
  tests/Data/ComponentTest.elm
Due: none

test: add tests
  tests/Data/ComponentTest.elm
Due: none

feat(data,food2): add “Compote de pomme FR” example
  public/data/food2/examples.json
Due: app-prettier

feat(data,food2): add “Compote de pomme FR frais” example
  public/data/food2/examples.json
Due: app-prettier

feat(data,food2): add “Purée de carotte surgelé” example
  public/data/food2/examples.json
Due: app-prettier

deleted obsolete processes
  data/lci_catalog/custom/bleaching-average-aquatic-pollution-scenario.json
  data/lci_catalog/ecoinvent-3-9-1/recycled-aluminum.json
Due: app-prettier

chore: migrate `waste` to `qtyVariationRatio`
  src/Data/Component.elm
  src/Data/Process.elm
  src/Data/Textile/Formula.elm
  src/Data/Textile/Simulator.elm
  src/Data/Unit.elm
  src/Page/Admin/Process.elm
  src/Page/Explore/Processes.elm
  src/Views/Component.elm
  tests/Data/ComponentTest.elm
  tests/Data/Textile/FormulaTest.elm
Due: none

docs: add link to important comment
  src/Data/Component.elm
Due: none

put back cooking
  data/lci_catalog/custom/cooking-eggs.json
  data/lci_catalog/custom/cooking-fish-shellfish.json
  data/lci_catalog/custom/cooking-fruits-vegetables.json
  data/lci_catalog/custom/cooking-offal.json
  data/lci_catalog/custom/cooking-others.json
  data/lci_catalog/custom/cooking-poultry.json
  data/lci_catalog/custom/cooking-red-meats.json
Due: app-prettier

feat(food1): publish regulatory food section.
  src/Page/Home.elm
  src/Views/Page.elm
Due: none

fix: for now just reuse es.elm values
  data/ecobalyse_data/export/complements.py
  src/Data/Food/EcosystemicServices.elm
Due: app-ruff-check, app-ruff-format

Path conditions:
  app-prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.json$
  app-ruff-check: any of: ^.*$ and \.py$
  app-ruff-format: any of: ^.*$ and \.py$
