Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format, dont-commit-detailed-processes

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
      exclude: (svg|icomoon|rapidoc-9.3.4.min.js)
    - id: trailing-whitespace
      exclude: (vendor|rapidoc-9.3.4.min.js)
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, master]

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier
        language: system
        files: ^.*$
        types_or: [javascript, json]
        entry: |
          bash -c 'npm --prefix . run fix:prettier --write "${@}"' --

      - id: app-ruff-check
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:check "${@}"' --

      - id: app-ruff-format
        name: run ruff format
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:format "${@}"' --

      - id: dont-commit-detailed-processes
        name: check that we don't commit processes_impacts.json
        language: system
        files: ^processes_impacts.json$
        entry: |
          bash -c 'echo "⚠️ Prevented pushing detailed impacts data to public git repository. To update these, clone and push to the ecobalyse-private repository.";exit 1'

write the aggregated impacts in python during export
  data/Makefile
  data/common/export.py
  data/food/export.py
Due: app-ruff-check, app-ruff-format

readd category
  public/data/food/processes.json
Due: app-prettier

add aggregation compute
  data/common/export.py
  data/food/export.py
Due: app-ruff-check, app-ruff-format

new export
  public/data/food/processes.json
Due: app-prettier

I001 order import
  data/common/import_.py
  data/food/export.py
Due: app-ruff-check, app-ruff-format

no categories yet
  data/food/export.py
Due: app-ruff-check, app-ruff-format

use ordereddict
  data/food/export.py
Due: app-ruff-check, app-ruff-format

revert feedlot changes
  public/data/food/processes.json
Due: app-prettier

fixed `import common`
  data/Makefile
Due: none

formatting
  data/common/import_.py
  data/food/export.py
Due: app-ruff-check, app-ruff-format

first textile export
  data/textile/export.py
  public/data/textile/processes.json
Due: app-prettier, app-ruff-check, app-ruff-format

fixed path for zip extraction
  data/common/import_.py
Due: app-ruff-check, app-ruff-format

less parenthesis
  src/Data/Food/Process.elm
Due: none

remove the double category test
  public/data/food/processes.json
Due: app-prettier

try to blind fix linter error
  data/common/import_.py
  data/food/export.py
Due: app-ruff-check, app-ruff-format

fixed path for zip extraction
  data/import_method.py
Due: app-ruff-check, app-ruff-format

noqa: I001. Can't figure out why it is not positive in local
  data/common/import_.py
  data/food/export.py
Due: app-ruff-check, app-ruff-format

export categories on process and ingredients
  data/food/activities.json
  data/food/export.py
Due: app-prettier, app-ruff-check, app-ruff-format

restore original ordering
  src/Data/Food/Process.elm
Due: none

turn food process category into a list
  public/data/food/processes.json
  src/Data/Food/Process.elm
  src/Page/Explore/FoodProcesses.elm
  src/Server.elm
Due: app-prettier

reorder encoder and change function name
  src/Data/Food/Process.elm
Due: none

moved the noqa
  data/food/export.py
Due: app-ruff-check, app-ruff-format

keep original name
  src/Data/Food/Process.elm
Due: none

elm review
  src/Page/Explore/FoodProcesses.elm
Due: none

chore: remove noqa
  data/common/import_.py
  data/food/export.py
Due: app-ruff-check, app-ruff-format

refactor: turn food process category into a list (#795)
  data/common/import_.py
  data/food/activities.json
  data/food/export.py
  data/import_method.py
  public/data/food/processes.json
  src/Data/Food/Process.elm
  src/Page/Explore/FoodProcesses.elm
  src/Server.elm
Due: app-prettier, app-ruff-check, app-ruff-format

share code between food and textile
  data/common/export.py
  data/food/export.py
  data/textile/export.py
Due: app-ruff-check, app-ruff-format

feat: add object explorer pages. (#803)
  .env.sample
  README.md
  index.js
  src/Data/Dataset.elm
  src/Data/Object/Process.elm
  src/Data/Session.elm
  src/Main.elm
  src/Page/Explore.elm
  src/Page/Explore/ObjectExamples.elm
  src/Page/Explore/ObjectProcesses.elm
  src/Page/Object.elm
  src/Views/Format.elm
  src/Views/Page.elm
Due: app-prettier

hardcoded impacts
  data/common/export.py
Due: app-ruff-check, app-ruff-format

more purity
  data/common/export.py
  data/food/export.py
  data/textile/export.py
Due: app-ruff-check, app-ruff-format

feat: add impacts per 100g for example objects.
  src/Page/Explore.elm
  src/Page/Explore/ObjectExamples.elm
Due: none

fix: remove debug statements.
  src/Page/Explore.elm
Due: none

some more refactoring
  data/common/__init__.py
  data/common/export.py
  data/common/impacts.py
  data/food/export.py
  data/textile/export.py
Due: app-ruff-check, app-ruff-format

export update
  data/food/export.py
  public/data/food/processes.json
Due: app-prettier, app-ruff-check, app-ruff-format

more tolerance in tests
  tests/Data/Food/RecipeTest.elm
Due: none

tolerance for e2e tests
  tests/server.spec.js
Due: app-prettier

add tolerance to tests
  tests/Data/Food/RecipeTest.elm
  tests/server.spec.js
Due: app-prettier

change tolerance
  tests/server.spec.js
Due: app-prettier

increase tolerance
  tests/server.spec.js
Due: app-prettier
