Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format, dont-commit-detailed-processes

app-prettier:
  name: run prettier
  language: system
  entry: 'bash -c ''npm --prefix . run fix:prettier --write "${@}"'' --
  
    '

app-ruff-check:
  name: run ruff check
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:check "${@}"'' --
  
    '

app-ruff-format:
  name: run ruff format
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:format "${@}"'' --
  
    '

dont-commit-detailed-processes:
  name: check that we don't commit processes_impacts.json
  language: system
  entry: 'bash -c ''echo "⚠️ Prevented pushing detailed impacts data to public git repository. To update these, clone and push to the ecobalyse-private repository.";exit 1''
  
    '

remove log file
  data/object/export.py
Due: app-ruff-check, app-ruff-format

refactor: small textile explorer improvements (#773)
  public/data/textile/processes.json
  src/Data/Gitbook.elm
  src/Page/Explore/Common.elm
  src/Page/Explore/Countries.elm
  src/Page/Explore/Impacts.elm
  src/Page/Explore/TextileMaterials.elm
Due: app-prettier

debug
  data/object/export.py
Due: app-ruff-check, app-ruff-format

chore: update tests
  tests/e2e-textile.json
Due: app-prettier

chore: remove airTransportRatio from examples
  public/data/textile/examples.json
Due: app-prettier

fix: reset physical durablility in regulatory mode
  src/Data/Textile/Query.elm
Due: none

turn food process category into a list
  public/data/food/processes.json
  src/Data/Food/Process.elm
  src/Page/Explore/FoodProcesses.elm
  src/Server.elm
Due: app-prettier

remove the double category test
  public/data/food/processes.json
Due: app-prettier

chore: cleanup package-lock.json.
  package-lock.json
Due: app-prettier

fix(api,food): nullable fields weren't nullable anymore.
  src/Data/Common/DecodeUtils.elm
  src/Data/Food/Query.elm
  tests/Data/Food/QueryTest.elm
Due: none

fix: encode decoding errors as json for post endpoints.
  src/Server.elm
Due: none

chore: remove `airTransportRatio` from examples (#785)
  public/data/textile/examples.json
Due: app-prettier

fix: reset physical durablility in regulatory mode (#786)
  src/Data/Textile/Query.elm
Due: none

chore: cleanup package-lock.json. (#787)
  package-lock.json
Due: app-prettier

fix(api,food): nullable fields weren't nullable anymore. (#789)
  src/Data/Common/DecodeUtils.elm
  src/Data/Food/Query.elm
  src/Server.elm
  tests/Data/Food/QueryTest.elm
Due: none

fix!: remove PEF scoring.
  public/data/impacts.json
  src/Data/Impact.elm
  src/Data/Impact/Definition.elm
  src/Page/Explore/Impacts.elm
  tests/Data/DefinitionTest.elm
  tests/Data/Food/RecipeTest.elm
  tests/Data/ImpactTest.elm
  tests/e2e-food.json
  tests/e2e-textile.json
  tests/server.spec.js
Due: app-prettier

Update changelog
  CHANGELOG-cliff.md
Due: none

fixed path for zip extraction
  data/common/import_.py
Due: app-ruff-check, app-ruff-format

fixed path for zip extraction
  data/import_method.py
Due: app-ruff-check, app-ruff-format

export categories on process and ingredients
  data/food/activities.json
  data/food/export.py
Due: app-prettier, app-ruff-check, app-ruff-format

debug export
  data/common/export.py
  data/object/activities.json
  data/object/export.py
Due: app-prettier, app-ruff-check, app-ruff-format

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: app-prettier

GITBOOK-1072: change request with no subject merged in GitBook
  impacts-consideres.md
Due: none

use ordereddict
  data/food/export.py
Due: app-ruff-check, app-ruff-format

write the aggregated impacts in python during export
  data/Makefile
  data/common/export.py
  data/food/export.py
Due: app-ruff-check, app-ruff-format

chore: update CHANGELOG.md for v2.4.0
  CHANGELOG-cliff.md
Due: none

fix: use builtin python action cache for pipenv
  .github/workflows/node.js.yml
Due: none

fix: add pipenv cache to score history
  .github/workflows/score_history.yml
Due: none

ci: use builtin python action cache for pipenv (#796)
  .github/workflows/node.js.yml
  .github/workflows/score_history.yml
Due: none

chore: enhance CHANGELOG.md generation
  .github/actions/build-release/action.yml
  .github/workflows/changelog.yml
  bin/download_github_releases.py
  cliff.toml
  package-lock.json
  package.json
Due: app-prettier, app-ruff-check, app-ruff-format

fix: remove Snyk upgrades from changelog
  cliff.toml
Due: none

fix: base is master, not main
  .github/workflows/create_pr_for_changelog.yml
Due: none

fix: step name
  .github/workflows/create_pr_for_changelog.yml
Due: none

chore: remove test conditions
  .github/workflows/create_pr_for_changelog.yml
  .github/workflows/create_release.yml
Due: none

feat: create PR and release
  .github/workflows/changelog.yml
  .github/workflows/create_pr_for_changelog.yml
  .github/workflows/create_release.yml
Due: none

fix: remove closed scope to test release generation
  .github/workflows/create_release.yml
Due: none

chore: trigger tag and release creation for test purposes
  .github/workflows/create_release.yml
Due: none

fix: don't use useless remote and skip release commits
  cliff.toml
Due: none

fix: changelog file
  .github/workflows/create_pr_for_changelog.yml
Due: none

Path conditions:
  app-prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.json$
  app-ruff-check: any of: ^.*$ and \.py$
  app-ruff-format: any of: ^.*$ and \.py$
  dont-commit-detailed-processes: any of: ^processes_impacts.json$
