Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format

app-prettier:
  name: run prettier
  language: system
  entry: 'bash -c ''npm --prefix . run fix:prettier --write "${@}"'' --
  
    '

app-ruff-check:
  name: run ruff check
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:check "${@}"'' --
  
    '

app-ruff-format:
  name: run ruff format
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:format "${@}"'' --
  
    '

fix: signup
  backend/src/app/domain/accounts/controllers/access.py
  backend/src/app/domain/accounts/schemas.py
  backend/src/app/server/core.py
Due: app-ruff-check, app-ruff-format

chore: fix access tests
  backend/src/app/domain/accounts/controllers/access.py
  backend/src/app/domain/accounts/schemas.py
  tests/backend/integration/test_access.py
Due: app-ruff-check, app-ruff-format

chore: fix latest tests
  backend/src/app/cli/commands.py
  tests/backend/integration/test_components.py
Due: app-ruff-check, app-ruff-format

chore: remove deprecated list use
  tests/backend/integration/test_access.py
  tests/backend/integration/test_components.py
  tests/backend/integration/test_journal_entries.py
  tests/backend/integration/test_load_processes_fixtures.py
Due: app-ruff-check, app-ruff-format

chore: upgrade packages
  uv.lock
Due: none

chore: silence advanced-sqlalchemy warnings
  pyproject.toml
Due: none

chore: fix merge
  pyproject.toml
  uv.lock
Due: none

fix: remove unused aiofiles
  pyproject.toml
Due: none

fix: add jsonb field management back
  backend/src/app/config/base.py
Due: app-ruff-check, app-ruff-format

fix(ui): skip OS-level dark styles in Highcharts (#2690)
  src/Views/Page.elm
Due: none

@vjousse review
  lib/store.js
Due: app-prettier

fix(stable): prevent bookmarks data loss (#2699)
  lib/store.js
  tests/lib/store.spec.js
Due: app-prettier

chore: upgrade elm to 1.9.2
  elm.json
  package-lock.json
  package.json
  review/elm.json
Due: app-prettier

chore: fix data export sync
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

chore: fix data export sync (#2707)
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

chore: update pyproject.toml
  pyproject.toml
Due: none

chore: @cedricr’s review and remove useless code
  backend/src/app/config/base.py
  backend/src/app/db/models/component.py
  tests/backend/integration/conftest.py
  uv.lock
Due: app-ruff-check, app-ruff-format

chore: replace msgspec with pydantic (#2686)
  backend/src/app/asgi.py
  backend/src/app/cli/commands.py
  backend/src/app/config/app.py
  backend/src/app/config/base.py
  backend/src/app/db/models/component.py
  backend/src/app/db/models/journal_entry.py
  backend/src/app/db/models/user.py
  backend/src/app/db/models/user_profile.py
  backend/src/app/domain/accounts/controllers/access.py
  backend/src/app/domain/accounts/schemas.py
  backend/src/app/domain/components/controllers/component.py
  backend/src/app/domain/components/schemas.py
  backend/src/app/domain/components/services.py
  backend/src/app/domain/contrib/controllers/contrib.py
  backend/src/app/domain/contrib/schemas.py
  backend/src/app/domain/journal_entries/controllers/journal_entry.py
  backend/src/app/domain/journal_entries/schemas.py
  backend/src/app/domain/processes/controllers/process.py
  backend/src/app/domain/processes/schemas.py
  backend/src/app/domain/system/controllers.py
  backend/src/app/lib/schema.py
  backend/src/app/server/core.py
  pyproject.toml
  tests/backend/integration/conftest.py
  tests/backend/integration/test_access.py
  tests/backend/integration/test_components.py
  tests/backend/integration/test_journal_entries.py
  tests/backend/integration/test_load_processes_fixtures.py
  tests/backend/integration/test_processes.py
  uv.lock
Due: app-ruff-check, app-ruff-format

feat(data,food2): add “Mangue (transport par avion)” example
  public/data/food2/examples.json
Due: app-prettier

feat(data,food2): add “Mangue (transport par avion)” example (#2711)
  public/data/food2/examples.json
Due: app-prettier

feat(data,food2): add “Haricots verts (transportés par avion, origine inconnue)” example
  public/data/food2/examples.json
Due: app-prettier

feat(data,food2): add “Haricots verts (transportés par avion, origine inconnue)” example (#2712)
  public/data/food2/examples.json
Due: app-prettier

GITBOOK-1764: No subject
  SUMMARY.md
  textile/accessoires-et-lingerie.md
  textile/linges-de-maison.md
Due: none

chore: add default categ for food2
  public/data/food2/categories.json
  public/data/object/categories.json
  public/data/veli/categories.json
Due: app-prettier

chore: add default empty categories for veli and object
  public/data/food2/categories.json
  public/data/object/categories.json
  public/data/veli/categories.json
Due: app-prettier

feat(food2): add food2 product categories
  public/data/food2/categories.json
Due: app-prettier

feat(generic): implement product category selector
  bin/build-db
  public/data/components/config.json
  public/data/food2/examples.json
  public/data/object/examples.json
  public/data/veli/examples.json
  src/Data/Bookmark.elm
  src/Data/Component.elm
  src/Data/Component/Config.elm
  src/Data/Component/Product.elm
  src/Data/Db.elm
  src/Data/Example.elm
  src/Data/Object/Db.elm
  src/Data/Scope.elm
  src/Data/Session.elm
  src/Data/Textile/Simulator.elm
  src/Main.elm
  src/Page/Admin/Component.elm
  src/Page/Explore.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Request/Db.elm
  src/Route.elm
  src/Static/Db.elm
  src/Static/Json.elm-template
  src/Views/Bookmark.elm
  src/Views/Component.elm
  tests/Data/BookmarkTest.elm
  tests/Data/ComponentTest.elm
Due: app-prettier

fix: json serialization for jsonb
  backend/src/app/config/base.py
  backend/src/app/domain/journal_entries/schemas.py
  tests/backend/integration/test_components.py
  tests/backend/integration/test_journal_entries.py
Due: app-ruff-check, app-ruff-format

refactor: optional product category param
  public/data/food2/examples.json
  public/data/object/examples.json
  public/data/veli/examples.json
  src/Data/Bookmark.elm
  src/Data/Component.elm
  src/Data/Component/Config.elm
  src/Data/Component/Product.elm
  src/Data/Example.elm
  src/Data/Object/Db.elm
  src/Data/Session.elm
  src/Data/Textile/Simulator.elm
  src/Main.elm
  src/Page/Admin/Component.elm
  src/Page/Explore.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Route.elm
  src/Views/Bookmark.elm
  src/Views/Component.elm
  tests/Data/BookmarkTest.elm
  tests/Data/ComponentTest.elm
Due: app-prettier

refactor: rename Object* routes to Generic*
  src/Data/Bookmark.elm
  src/Data/Db.elm
  src/Main.elm
  src/Page/Admin/Component.elm
  src/Page/Explore/ObjectExamples.elm
  src/Page/Home.elm
  src/Page/Object.elm
  src/Route.elm
  src/Views/Bookmark.elm
  src/Views/Page.elm
Due: none

refactor: rename things
  src/Data/Component.elm
  src/Views/Component.elm
Due: none

refactor: ensure distrib fallback to config defaults
  public/data/components/config.json
  src/Data/Component.elm
  src/Data/Component/Config.elm
  src/Data/Scope.elm
  src/Page/Object.elm
  tests/Data/ComponentTest.elm
Due: app-prettier

style: improve styling
  src/Views/Component.elm
Due: none

fix: format json with prettier cli
  public/data/food2/categories.json
  public/data/object/categories.json
  public/data/veli/categories.json
Due: app-prettier

feat: hide product categ selector when no categ avail
  public/data/object/categories.json
  public/data/veli/categories.json
  src/Views/Component.elm
Due: app-prettier

chore: remove dead code
  src/Data/Component.elm
  src/Data/Component/Product.elm
  src/Views/Component.elm
Due: none

chore: clean code
  src/Data/Component/Config.elm
  src/Views/Component.elm
  tests/Data/ComponentTest.elm
Due: none

feat: hide product categ selector when empty query
  src/Page/Object.elm
  src/Views/Component.elm
Due: none

refactor: clean code
  src/Page/Object.elm
Due: none

fix: remove obsolete json default category
  public/data/food2/categories.json
Due: app-prettier

Path conditions:
  app-prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.json$
  app-ruff-check: any of: ^.*$ and \.py$
  app-ruff-format: any of: ^.*$ and \.py$
