Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format, dont-commit-detailed-processes

app-prettier:
  name: run prettier
  language: system
  entry: 'bash -c ''npm --prefix . run fix:prettier --write "${@}"'' --
  
    '

app-ruff-check:
  name: run ruff check
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:check "${@}"'' --
  
    '

app-ruff-format:
  name: run ruff format
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:format "${@}"'' --
  
    '

dont-commit-detailed-processes:
  name: check that we don't commit processes_impacts.json
  language: system
  entry: 'bash -c ''echo "⚠️ Prevented pushing detailed impacts data to public git repository. To update these, clone and push to the ecobalyse-private repository.";exit 1''
  
    '

remove new ingredients
  public/data/food/ingredients.json
Due: app-prettier

chore(ui): Rename learning tab to exploratory tab.
  src/Page/Textile.elm
Due: none

chore(data,food): Added Organic tomatos (#665)
  data/Makefile
  data/food/activities.json
  data/food/activities_to_create.json
  data/import_agribalyse.py
  public/data/food/ingredients.json
  public/data/food/processes.json
Due: app-prettier, app-ruff-check, app-ruff-format

chore(ui): Rename learning tab to exploratory tab. (#684)
  src/Page/Textile.elm
Due: none

refactor: use python instead of bash to get data branch
  .github/workflows/node.js.yml
  bin/checkout-ecobalyse-private-branch.sh
  bin/extract-data-branch-from-pr.sh
  bin/extract_data_branch_from_pr.py
  bin/get-tag-for-commit.py
  bin/get_tag_for_commit.py
  bin/update-version.sh
  lib/ecobalyse_github.py
  pyproject.toml
  tests/test_data_branch.py
Due: app-ruff-check, app-ruff-format

refactor: test bad branch name
  bin/extract_data_branch_from_pr.py
  lib/ecobalyse_github.py
  tests/test_data_branch.py
Due: app-ruff-check, app-ruff-format

fix: add PYTHONPATH to github workflows
  .github/workflows/node.js.yml
  .github/workflows/score_history.yml
Due: none

chore: keep track of data-dir hash
  bin/update-version.sh
Due: none

GITBOOK-969: Ajout canal Ameublement dans la page Communauté
  communaute.md
Due: none

GITBOOK-970: change request with no subject merged in GitBook
  communaute.md
Due: none

Changed ingredients (contributed by Écobalyse)
  data/food/activities.json
Due: app-prettier

reformat
  data/food/activities.json
Due: app-prettier

run format:json after copying the file
  data/notebooks/ingredients.py
Due: app-ruff-check, app-ruff-format

chore(ui): revamp durability form field layout.
  src/Page/Textile.elm
Due: none

chore: remove obsolete code comments.
  src/Data/Textile/Economics.elm
Due: none

feat!: update repair incentive index computation.
  src/Data/Textile/Economics.elm
  tests/Data/Textile/EconomicsTest.elm
  tests/e2e-textile.json
Due: app-prettier

feat(api)update openapi spec to reflect these removals.
  openapi.yaml
Due: none

feat(api, textile)!: remove marketingDuration API parameter.
  src/Data/Textile/Inputs.elm
  src/Data/Textile/Query.elm
  src/Server/Query.elm
Due: none

fix: update unit tests.
  tests/Data/Textile/SimulatorTest.elm
Due: none

feat: remove material origin shares computations.
  src/Data/Textile/Economics.elm
  src/Data/Textile/Inputs.elm
  src/Data/Textile/Material/Origin.elm
  src/Data/Textile/Simulator.elm
  src/Page/Textile.elm
  tests/Data/Textile/EconomicsTest.elm
Due: none

fix: update e2e tests.
  package.json
  tests/e2e-textile.json
Due: app-prettier

feat!: update durability impact component weightings.
  src/Data/Textile/Economics.elm
  tests/Data/Textile/EconomicsTest.elm
  tests/Data/Textile/SimulatorTest.elm
  tests/e2e-textile.json
Due: app-prettier

feat: update min and max durability index.
  src/Data/Unit.elm
Due: none

chore(ui): update API changelog
  src/Page/Api.elm
Due: none

chore: restore previous wiehgting values, waiting for official ones.
  src/Data/Textile/Economics.elm
Due: none

feat!: update computation of number of references index.
  src/Data/Textile/Economics.elm
  tests/Data/Textile/EconomicsTest.elm
Due: none

chore(data,textile): remove product default marketing durations.
  public/data/textile/products.json
Due: app-prettier

feat: use new formula for durability coef
  src/Data/Textile/Economics.elm
Due: none

feat: remove marketing duration field.
  src/Data/Textile/Economics.elm
  src/Data/Textile/Simulator.elm
  src/Page/Explore/TextileProducts.elm
  src/Page/Textile.elm
  tests/Data/Textile/EconomicsTest.elm
Due: none

test: fix repair cost
  tests/Data/Textile/EconomicsTest.elm
Due: none

Allow the button to download what is displayed
  data/notebooks/explore.py
Due: app-ruff-check, app-ruff-format

test: update fixtures
  tests/e2e-textile.json
Due: app-prettier

update readme
  README.md
Due: none

docs: update readme ecobalyse private (#687)
  README.md
Due: none

fix test
  tests/Data/Food/RecipeTest.elm
Due: none

chore: keep track of data-dir hash (#686)
  bin/update-version.sh
Due: none

Display the download button on the analysis
  data/notebooks/explore.py
Due: app-ruff-check, app-ruff-format

GITBOOK-971: change request with no subject merged in GitBook
  .gitbook/assets/20221215 ICV bio moyen ecobalyse.xlsx
  .gitbook/assets/image (1) (1) (6).png
  .gitbook/assets/image (1) (1).png
  .gitbook/assets/image (1).png
  .gitbook/assets/image (2) (1) (4) (1).png
  .gitbook/assets/image (2) (1) (4).png
  .gitbook/assets/image (2) (1).png
  .gitbook/assets/image (2).png
  .gitbook/assets/image (3) (1) (1) (1) (1) (1) (1) (1) (1) (1) (1) (1) (1).png
  .gitbook/assets/image (3) (1) (1) (1) (1) (1) (1) (1) (1) (1) (1) (1).png
  .gitbook/assets/image (3) (1) (1) (1) (1) (1) (1) (1) (1) (1) (1).png
  .gitbook/assets/image (3) (1) (1) (1) (1) (1) (1) (1) (1) (1).png
  .gitbook/assets/image (3) (1) (1) (1) (1) (1) (1) (1) (1).png
  .gitbook/assets/image (3) (1) (1) (1) (1) (1) (1) (1).png
  .gitbook/assets/image (3) (1) (1) (1) (1) (1) (1).png
  .gitbook/assets/image (3) (1) (1) (1) (1) (1).png
  .gitbook/assets/image (3) (1) (1) (1) (1).png
  .gitbook/assets/image (3) (1) (1) (1).png
  .gitbook/assets/image (3) (1).png
  .gitbook/assets/image (3).png
  .gitbook/assets/image.png
  SUMMARY.md
  alimentaire-en-construction/impacts-consideres/boeuf-hache-1.md
  alimentaire-en-construction/impacts-consideres/boeuf-hache.md
  alimentaire-en-construction/impacts-consideres/impacts-consideres-1.md
  alimentaire-en-construction/impacts-consideres/transport-1.md
  alimentaire-en-construction/impacts-consideres/transport.md
  textile/aide-api.md
  textile/cycle-de-vie-des-produits-textiles/ennoblissement/inventaires-enrichis.md
  textile/cycle-de-vie-des-produits-textiles/etape-1-matieres/focus-polyester.md
  textile/durabilite-1.md
  textile/durabilite.md
Due: none

Path conditions:
  app-prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.json$
  app-ruff-check: any of: ^.*$ and \.py$
  app-ruff-format: any of: ^.*$ and \.py$
  dont-commit-detailed-processes: any of: ^processes_impacts.json$
