Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format, dont-commit-detailed-processes

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
      exclude: (svg|icomoon|rapidoc-9.3.4.min.js)
    - id: trailing-whitespace
      exclude: (vendor|rapidoc-9.3.4.min.js)
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, master]

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier
        language: system
        files: ^.*$
        types_or: [javascript, json]
        entry: |
          bash -c 'npm --prefix . run fix:prettier --write "${@}"' --

      - id: app-ruff-check
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:check "${@}"' --

      - id: app-ruff-format
        name: run ruff format
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:format "${@}"' --

      - id: dont-commit-detailed-processes
        name: check that we don't commit processes_impacts.json
        language: system
        files: ^processes_impacts.json$
        entry: |
          bash -c 'echo "⚠️ Prevented pushing detailed impacts data to public git repository. To update these, clone and push to the ecobalyse-private repository.";exit 1'

adapted tests
  tests/server.spec.js
Due: app-prettier

unused file
  data/textile/activities.py
Due: app-ruff-check, app-ruff-format

avoid duplicated CFs
  data/import_method.py
Due: app-ruff-check, app-ruff-format

new food export
  public/data/food/processes.json
Due: app-prettier

fixed pco
  data/docker/simapro-biosphere.json
Due: app-prettier

Revert "fixed pco"
  data/docker/simapro-biosphere.json
Due: app-prettier

Revert "Revert "fixed pco""
  data/docker/simapro-biosphere.json
Due: app-prettier

Changed ingredients (contributed by Écobalyse)
  data/food/activities.json
Due: app-prettier

feat: Textile export (#808)
  data/Makefile
  data/common/__init__.py
  data/common/export.py
  data/common/impacts.py
  data/docker/simapro-biosphere.json
  data/food/export.py
  data/import_ecoinvent.py
  data/import_food.py
  data/import_method.py
  data/textile/activities.json
  data/textile/activities.py
  data/textile/export.py
  public/data/food/processes.json
  public/data/textile/materials.json
  public/data/textile/processes.json
  src/Data/Food/Process.elm
  tests/Data/Food/RecipeTest.elm
  tests/Data/Textile/SimulatorTest.elm
  tests/e2e-food.json
  tests/e2e-textile.json
  tests/server.spec.js
Due: app-prettier, app-ruff-check, app-ruff-format

add aggregated impacts to export
  data/object/export.py
Due: app-ruff-check, app-ruff-format

aggregated in python
  public/data/object/processes.json
Due: app-prettier

remove unused computeAggregated files
  compute-aggregated.js
  src/ComputeAggregated.elm
Due: app-prettier

add density
  data/object/activities.json
  data/object/activities_to_create.json
  public/data/object/processes.json
Due: app-prettier

fix tests
  tests/Data/Object/SimulatorTest.elm
Due: none

fix elm errors
  src/Data/Impact.elm
  src/Data/Impact/Definition.elm
Due: none

pipfile revert
  Pipfile
  Pipfile.lock
Due: none

sort json prettier
  .prettierignore
  .prettierrc
Due: none

add .prettierignore
  .prettierignore
Due: none

reorder json
  data/common/distances/distances_raw.json
  data/food/activities.json
  data/food/activities_to_create.json
  data/food/ecosystemic_services/feed.json
  data/textile/activities.json
  data/textile/codes.json
  public/data/countries.json
  public/data/food/examples.json
  public/data/food/ingredients.json
  public/data/food/processes.json
  public/data/impacts.json
  public/data/object/examples.json
  public/data/object/processes.json
  public/data/textile/examples.json
  public/data/textile/materials.json
  public/data/textile/processes.json
  public/data/textile/products.json
  public/data/transports.json
Due: app-prettier

sort json recursively at export time
  data/common/__init__.py
Due: app-ruff-check, app-ruff-format

refactor: give uv a try
  bin/download_github_releases.py
  bin/extract_data_branch_from_pr.py
  bin/get_tag_for_commit.py
  bin/patch_files_for_versions_compat.py
  packages/python/ecobalyse-lib/pyproject.toml
  packages/python/ecobalyse-lib/src/ecobalyse_lib/0001-feat-patch-homepage-link-and-inject-and-inject-versi.patch
  packages/python/ecobalyse-lib/src/ecobalyse_lib/__init__.py
  packages/python/ecobalyse-lib/src/ecobalyse_lib/github.py
  packages/python/ecobalyse-lib/src/ecobalyse_lib/logging_config.py
  packages/python/ecobalyse-lib/src/ecobalyse_lib/patch_files.py
  packages/python/ecobalyse-lib/tests/test_data_branch.py
  packages/python/ecobalyse-lib/tests/test_patch_old_versions.py
  packages/python/ecobalyse/setup.py
  pyproject.toml
  uv.lock
Due: app-ruff-check, app-ruff-format

feat: object export (#812)
  compute-aggregated.js
  data/Makefile
  data/common/__init__.py
  data/common/export.py
  data/create_activities.py
  data/docker/requirements.txt
  data/object/__init__.py
  data/object/activities.json
  data/object/activities_to_create.json
  data/object/export.py
  public/data/object/processes.json
  public/data/textile/processes.json
  src/ComputeAggregated.elm
  src/Data/Impact.elm
  src/Data/Impact/Definition.elm
  src/Data/Object/Process.elm
  tests/Data/Object/SimulatorTest.elm
Due: app-prettier, app-ruff-check, app-ruff-format

variable nams
  data/notebooks/ingredients.py
Due: app-ruff-check, app-ruff-format

Show translated fields for SE, and add a None option
  data/notebooks/ingredients.py
Due: app-ruff-check, app-ruff-format

Remove empty SE when saving
  data/notebooks/ingredients.py
Due: app-ruff-check, app-ruff-format

forgot a field name change
  data/notebooks/ingredients.py
Due: app-ruff-check, app-ruff-format

new export
  data/food/activities.json
  public/data/food/ingredients.json
  public/data/food/processes.json
Due: app-prettier

same name in encoder and decoder
  src/Data/Object/Process.elm
Due: none

fix: upgrade @sentry/tracing from 7.119.1 to 7.119.2
  package-lock.json
  package.json
Due: app-prettier

new export
  public/data/food/processes.json
  public/data/object/processes.json
  public/data/textile/processes.json
Due: app-prettier

adapted test
  tests/Data/Object/SimulatorTest.elm
Due: none

fix: fix encoded display name field.
  src/Data/Object/Process.elm
Due: none

fix: fix encoded display name field. (#820)
  src/Data/Object/Process.elm
Due: none

add activities_to_create.json to prettierignore bc order is important here
  .prettierignore
  data/food/activities_to_create.json
Due: app-prettier

switch to brightway
  data/common/export.py
Due: app-ruff-check, app-ruff-format

adapted tests
  tests/Data/Food/RecipeTest.elm
  tests/Data/Object/SimulatorTest.elm
  tests/Data/Textile/SimulatorTest.elm
Due: none

changed precision
  tests/server.spec.js
Due: app-prettier

precision
  tests/server.spec.js
Due: app-prettier

adapted tests
  tests/e2e-food.json
  tests/e2e-textile.json
Due: app-prettier
