Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format, dont-commit-detailed-processes

app-prettier:
  name: run prettier
  language: system
  entry: 'bash -c ''npm --prefix . run fix:prettier --write "${@}"'' --
  
    '

app-ruff-check:
  name: run ruff check
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:check "${@}"'' --
  
    '

app-ruff-format:
  name: run ruff format
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:format "${@}"'' --
  
    '

dont-commit-detailed-processes:
  name: check that we don't commit processes_impacts.json
  language: system
  entry: 'bash -c ''echo "⚠️ Prevented pushing detailed impacts data to public git repository. To update these, clone and push to the ecobalyse-private repository.";exit 1''
  
    '

GITBOOK-972: change request with no subject merged in GitBook
  SUMMARY.md
Due: none

GITBOOK-973: change request with no subject merged in GitBook
  SUMMARY.md
  alimentaire-en-construction/impacts-consideres/transport.md
Due: none

reorder analysis columns and fix one button data
  data/notebooks/explore.py
Due: app-ruff-check, app-ruff-format

download button above the list of activities
  data/notebooks/ingredients.py
Due: app-ruff-check, app-ruff-format

upload CSV
  data/notebooks/ingredients.py
Due: app-ruff-check, app-ruff-format

forgotten print
  data/notebooks/explore.py
Due: app-ruff-check, app-ruff-format

fix: update pull examples data
  public/data/textile/examples.json
Due: app-prettier

feat: Brightway explorer download buttons (#688)
  data/notebooks/explore.py
Due: app-ruff-check, app-ruff-format

feat: download and upload buttons above the list of activities (#689)
  data/notebooks/ingredients.py
Due: app-ruff-check, app-ruff-format

GITBOOK-975: change request with no subject merged in GitBook
  SUMMARY.md
  alimentaire-en-construction/impacts-consideres/transport-1.md
  alimentaire-en-construction/impacts-consideres/transport.md
Due: none

feat(textile,api,ui,data)!: update durability index computation (#673)
  openapi.yaml
  package.json
  public/data/textile/products.json
  src/Data/Textile/Economics.elm
  src/Data/Textile/Inputs.elm
  src/Data/Textile/Material/Origin.elm
  src/Data/Textile/Query.elm
  src/Data/Textile/Simulator.elm
  src/Data/Unit.elm
  src/Page/Api.elm
  src/Page/Explore/TextileProducts.elm
  src/Page/Textile.elm
  src/Server/Query.elm
  tests/Data/Textile/EconomicsTest.elm
  tests/Data/Textile/SimulatorTest.elm
  tests/e2e-textile.json
Due: app-prettier

fix: update pull examples data (#690)
  public/data/textile/examples.json
Due: app-prettier

chore: rename business services
  backend/textile/choices.py
  openapi.yaml
  src/Data/Textile/Economics.elm
Due: app-ruff-check, app-ruff-format

GITBOOK-976: change request with no subject merged in GitBook
  SUMMARY.md
  alimentaire-en-construction/impacts-consideres/transport-1.md
Due: none

GITBOOK-978: change request with no subject merged in GitBook
  alimentaire-en-construction/complements-hors-acv-1/complements-hors-acv.md
Due: none

chore: rename business services (#692)
  backend/textile/choices.py
  openapi.yaml
  src/Data/Textile/Economics.elm
Due: app-ruff-check, app-ruff-format

fix(food): correct default origin for ingredients (#683)
  public/data/food/ingredients.json
  tests/Data/Food/RecipeTest.elm
Due: app-prettier

GITBOOK-979: MàJ Durabilité
  SUMMARY.md
  textile/durabilite-1.md
  textile/durabilite.md
  textile/exemples.md
Due: none

chore: serve version file with relative path
  src/Request/Version.elm
Due: none

GITBOOK-981: change request with no subject merged in GitBook
  textile/cycle-de-vie-des-produits-textiles/etape-6-utilisation.md
Due: none

GITBOOK-982: change request with no subject merged in GitBook
  .gitbook/assets/image (113).png
  .gitbook/assets/image (114).png
  textile/durabilite.md
Due: none

changed the prettier version and call in the ingredient editor
  data/docker/Dockerfile
  data/notebooks/ingredients.py
Due: app-ruff-check, app-ruff-format

Changed ingredients (contributed by Écobalyse)
  data/food/activities.json
Due: app-prettier

chore: serve version file with relative path (#693)
  src/Request/Version.elm
Due: none

feat: load encrypted files in memory
  server.js
Due: app-prettier

fix: missing import
  server.js
Due: app-prettier

fix: script to build app versions
  bin/build-specific-app-version.sh
  bin/build-standalone-app.sh
  bin/download-github-releases.sh
Due: none

feat: handle ecobalyse data dir in build script
  bin/build-specific-app-version.sh
Due: none

feat: add script to build a specific app version
  bin/build-specific-app-version.sh
Due: none

feat: download GH releases at build
  buildpack-run.sh
  server.js
Due: app-prettier

feat: add script to download releases
  bin/download-github-releases.sh
Due: none

feat: serve version specific impacts files
  server.js
Due: app-prettier

fix: try to comply with CodeQL
  bin/build-specific-app-version.sh
  server.js
Due: app-prettier

fix: redirect to the good version on auth
  backend/authentication/forms.py
  bin/build-specific-app-version.sh
  index.html
Due: app-ruff-check, app-ruff-format

fix: husky is not needed anymore
  package.json
Due: app-prettier

fix: add versions to proxy
  .proxyrc.json
  servers.conf.erb
Due: app-prettier

feat: provide tag name to version script
  .github/workflows/release-please.yml
  bin/update-version.sh
Due: none

chore: @n1k0 review
  server.js
  servers.conf.erb
Due: app-prettier

Path conditions:
  app-prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.json$
  app-ruff-check: any of: ^.*$ and \.py$
  app-ruff-format: any of: ^.*$ and \.py$
  dont-commit-detailed-processes: any of: ^processes_impacts.json$
