Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format, dont-commit-detailed-processes

app-prettier:
  name: run prettier
  language: system
  entry: 'bash -c ''npm --prefix . run fix:prettier --write "${@}"'' --
  
    '

app-ruff-check:
  name: run ruff check
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:check "${@}"'' --
  
    '

app-ruff-format:
  name: run ruff format
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:format "${@}"'' --
  
    '

dont-commit-detailed-processes:
  name: check that we don't commit processes_impacts.json
  language: system
  entry: 'bash -c ''echo "⚠️ Prevented pushing detailed impacts data to public git repository. To update these, clone and push to the ecobalyse-private repository.";exit 1''
  
    '

adapted tests
  tests/Data/Food/RecipeTest.elm
  tests/Data/Textile/SimulatorTest.elm
Due: none

fixed test adaptation
  tests/Data/Food/RecipeTest.elm
Due: none

adapted tests
  tests/e2e-food.json
  tests/e2e-textile.json
Due: app-prettier

new export
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

fix: remove negative LDU by better balancing Transformation to arable land (#1144)
  public/data/processes.json
  public/data/processes_impacts.json
  tests/Data/Food/RecipeTest.elm
  tests/Data/Textile/SimulatorTest.elm
  tests/e2e-food.json
  tests/e2e-textile.json
Due: app-prettier

feat: display land occupation explorer (#1125)
  src/Data/Food/Ingredient.elm
  src/Page/Explore/FoodIngredients.elm
Due: none

fix(textile): exclude trims weight before the Making step
  src/Data/Textile/Simulator.elm
  src/Data/Textile/Step/Label.elm
  tests/e2e-textile.json
Due: app-prettier

fix(textile): exclude trims weight before the Making step (#1139)
  src/Data/Textile/Simulator.elm
  src/Data/Textile/Step/Label.elm
  tests/e2e-textile.json
Due: app-prettier

chore: update tests
  tests/Data/Food/RecipeTest.elm
  tests/Data/Textile/SimulatorTest.elm
Due: none

chore: update e2e tests
  tests/e2e-food.json
  tests/e2e-textile.json
Due: app-prettier

chore: update e2e tests
  tests/e2e-textile.json
Due: app-prettier

chore: new import export
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

chore: update test
  tests/Data/Food/RecipeTest.elm
  tests/Data/Textile/SimulatorTest.elm
  tests/e2e-food.json
  tests/e2e-textile.json
Due: app-prettier

data: add new processes
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

GITBOOK-1377: No subject
  textile/cycle-de-vie-des-produits-textiles/etape-2-fabrication-du-fil-1.md
Due: none

chore: reduce sentry tracesSampleRate (#1147)
  lib/instrument.js
Due: app-prettier

adapted tests
  tests/Data/Food/RecipeTest.elm
Due: none

new export
  public/data/food/ingredients.json
Due: app-prettier

adapted tests
  tests/e2e-textile.json
Due: app-prettier

adapted tests
  tests/Data/Food/RecipeTest.elm
  tests/e2e-textile.json
Due: app-prettier

fix: force recomputation of land occupations (#1132)
  public/data/food/ingredients.json
  tests/Data/Food/RecipeTest.elm
Due: app-prettier

chore: use enum type and move from SQLite to PG
  .github/workflows/node.js.yml
  backend/src/app/config/base.py
  backend/src/app/db/migrations/versions/2025-06-11_add_scopes_8455e285aafc.py
  backend/src/app/db/migrations/versions/2025-06-18_add_scopes_f3596fc1e583.py
  backend/src/app/db/models/__init__.py
  backend/src/app/db/models/component.py
  backend/src/app/db/models/component_scope.py
  backend/src/app/db/models/scope.py
  backend/src/app/domain/components/controllers/component.py
  backend/src/app/domain/components/deps.py
  backend/src/app/domain/components/schemas.py
  backend/src/app/domain/components/services.py
  backend/src/app/server/core.py
  bin/check-db.sh
  docker-compose.yml
  package.json
  playwright.config.js
  tests/backend/integration/conftest.py
  tests/backend/integration/test_components.py
Due: app-prettier, app-ruff-check, app-ruff-format

fix: allow saving components with more than 2 decimals precision
  src/Views/Component.elm
Due: none

feat: return scopes
  backend/src/app/domain/components/controllers/component.py
  backend/src/app/domain/components/deps.py
  backend/src/app/domain/components/schemas.py
Due: app-ruff-check, app-ruff-format

ci: wait for PG to start
  docker-compose.yml
Due: none

feat: render scopes in components admin table
  src/Data/Component.elm
  src/Page/Admin.elm
  styles.scss
Due: none

ci: remove `test:server-ci` as I don’t get the point
  .github/workflows/node.js.yml
  bin/start.sh
  package.json
Due: app-prettier

feat(bo): allow editing component scopes
  public/data/object/components.json
  public/data/textile/components.json
  src/Data/Component.elm
  src/Page/Admin.elm
  src/Request/Component.elm
  src/Static/Db.elm
  tests/Data/ComponentTest.elm
Due: app-prettier

feat: allow filtering scopes in the component admin
  src/Data/Component.elm
  src/Data/Scope.elm
  src/Page/Admin.elm
Due: none

feat(bo,objects): allow edit component scopes
  src/Page/Admin.elm
Due: none

doc: load component fixtures
  backend/README.md
Due: none

ci: use PostgreSQL from GH
  .github/workflows/node.js.yml
  bin/check-db.sh
  bin/playwright-webserver.sh
  playwright.config.js
Due: app-prettier

chore: load components fixtures on review apps
  Procfile
  bin/load-fixtures.sh
Due: none

ci: start docker on GH action
  .github/workflows/node.js.yml
  package.json
Due: app-prettier

test: add unit tests
  tests/Data/ComponentTest.elm
Due: none

doc: remove duplicated line
  backend/README.md
Due: none

feat: add scopes update
  backend/src/app/db/models/scope.py
  backend/src/app/domain/components/controllers/component.py
  backend/src/app/domain/components/schemas.py
  backend/src/app/domain/components/services.py
  tests/backend/data_fixtures.py
  tests/backend/integration/conftest.py
  tests/backend/integration/test_components.py
Due: app-ruff-check, app-ruff-format

fix: avoid SA warning abou component not present in session
  backend/src/app/cli/commands.py
  backend/src/app/db/models/component.py
  backend/src/app/db/models/scope.py
Due: app-ruff-check, app-ruff-format

chore: add scopes to DB
  backend/src/app/db/migrations/versions/2025-06-11_add_scopes_8455e285aafc.py
  backend/src/app/db/models/__init__.py
  backend/src/app/db/models/component.py
  backend/src/app/db/models/component_scope.py
  backend/src/app/db/models/scope.py
  backend/src/app/domain/components/controllers/component.py
  backend/src/app/domain/components/deps.py
  backend/src/app/domain/components/schemas.py
  backend/src/app/domain/components/services.py
  backend/src/app/domain/components/urls.py
  backend/src/app/server/core.py
Due: app-ruff-check, app-ruff-format

Path conditions:
  app-prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.json$
  app-ruff-check: any of: ^.*$ and \.py$
  app-ruff-format: any of: ^.*$ and \.py$
  dont-commit-detailed-processes: any of: ^processes_impacts.json$
