Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format, dont-commit-detailed-processes

app-prettier:
  name: run prettier
  language: system
  entry: 'bash -c ''npm --prefix . run fix:prettier --write "${@}"'' --
  
    '

app-ruff-check:
  name: run ruff check
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:check "${@}"'' --
  
    '

app-ruff-format:
  name: run ruff format
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:format "${@}"'' --
  
    '

dont-commit-detailed-processes:
  name: check that we don't commit processes_impacts.json
  language: system
  entry: 'bash -c ''echo "⚠️ Prevented pushing detailed impacts data to public git repository. To update these, clone and push to the ecobalyse-private repository.";exit 1''
  
    '

chore: delete unused shortName
  public/data/textile/materials.json
  src/Data/Textile/Inputs.elm
  src/Data/Textile/Material.elm
  src/Page/Explore/TextileMaterials.elm
  src/Page/Textile.elm
  src/Views/Textile/Step.elm
Due: app-prettier

feat: list slowest queries
  bin/scalingo_api.py
  packages/python/ecobalyse/ecobalyse/scalingo.py
Due: app-ruff-check, app-ruff-format

feat: show statuses and errors
  bin/scalingo_api.py
Due: app-ruff-check, app-ruff-format

feat: add option for days
  bin/scalingo_api.py
Due: app-ruff-check, app-ruff-format

chore: add scalingo api token to sample
  .env.sample
Due: none

chore: list and parse scalingo logs (#1293)
  .env.sample
  .gitignore
  bin/scalingo_api.py
  packages/python/ecobalyse/ecobalyse/scalingo.py
Due: app-ruff-check, app-ruff-format

fix: patch old versions selector to hide unreleased versions
  packages/python/ecobalyse/ecobalyse/0001-feat-patch-homepage-link-and-inject-and-inject-versi.patch
Due: none

fix: patch elm for prereleases
  bin/build-specific-app-version.sh
  bin/patch_files_for_versions_compat.py
  packages/python/ecobalyse/ecobalyse/0003-patch-prerelease-selector.patch
  packages/python/ecobalyse/ecobalyse/patch_files.py
Due: app-ruff-check, app-ruff-format

chore: avoid git conflict by overwriting the Github file
  bin/build-specific-app-version.sh
  bin/patch_files_for_versions_compat.py
  packages/python/ecobalyse/ecobalyse/patch_files.py
Due: app-ruff-check, app-ruff-format

chore: add script to build all versions locally
  bin/build-all-versions.sh
Due: none

fix: remove useless patch file
  bin/patch_files_for_versions_compat.py
  packages/python/ecobalyse/ecobalyse/0003-patch-prerelease-selector.patch
Due: app-ruff-check, app-ruff-format

fix: apply prerelease filter
  packages/python/ecobalyse/ecobalyse/patch_files.py
Due: app-ruff-check, app-ruff-format

GITBOOK-1443: No subject
  SUMMARY.md
  alimentaire/impacts-consideres/etape-1-ingredients/modifications-cibles-des-icv-ingredients.md
Due: none

GITBOOK-1444: No subject
  SUMMARY.md
  alimentaire/impacts-consideres/etape-1-ingredients/modifications-ciblees-des-icv-ingredients.md
  alimentaire/impacts-consideres/etape-1-ingredients/modifications-cibles-des-icv-ingredients.md
Due: none

new export
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

new export (fixed Almonds)
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

new export after renaming Ginko DB
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

chore: add missing versions
  bin/build-all-versions.sh
Due: none

new export without azadirachtin on the apples
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

fix: patch old versions selector to hide unreleased versions (#1297)
  bin/build-all-versions.sh
  bin/build-specific-app-version.sh
  bin/patch_files_for_versions_compat.py
  packages/python/ecobalyse/ecobalyse/0001-feat-patch-homepage-link-and-inject-and-inject-versi.patch
  packages/python/ecobalyse/ecobalyse/patch_files.py
Due: app-ruff-check, app-ruff-format

GITBOOK-1446: No subject
  .gitbook/assets/graphique_sans_FR_2023_sans_biodiv.png
  .gitbook/assets/https___files.gitbook.com_v0_b_gitbook-x-prod.appspot.com_o_spaces_2F-MexpTrvmqKNzuVtxdad_2Fuploads_2F4kc4xzZ6Lwpdy8NsVeFR_2Fimage-1.png
  .gitbook/assets/image (358).png
  def-cout-environnemental/categories-dimpact-acv/README.md
Due: none

GITBOOK-1447: No subject
  alimentaire/impacts-consideres/README.md
  def-cout-environnemental/categories-dimpact-acv/README.md
Due: none

GITBOOK-1448: No subject
  def-cout-environnemental/principes-cles.md
Due: none

GITBOOK-1450: No subject
  alimentaire/impacts-consideres/etape-1-ingredients/modifications-ciblees-des-icv-ingredients.md
Due: none

GITBOOK-1451: No subject
  SUMMARY.md
  lequipe-ecobalyse.md
Due: none

GITBOOK-1452: No subject
  .gitbook/assets/Vincent 2024.jpg
  lequipe-ecobalyse.md
Due: none

GITBOOK-1453: No subject
  lequipe-ecobalyse.md
Due: none

fix: upgrade posthog-js from 1.257.0 to 1.257.2
  package-lock.json
  package.json
Due: app-prettier

fix: upgrade posthog-node from 5.5.1 to 5.6.0
  package-lock.json
  package.json
Due: app-prettier

GITBOOK-1454: No subject
  lequipe-ecobalyse.md
Due: none

GITBOOK-1455: No subject
  lequipe-ecobalyse.md
Due: none

GITBOOK-1456: No subject
  lequipe-ecobalyse.md
Due: none

GITBOOK-1457: No subject
  .gitbook/assets/1733309007918.jpg
  lequipe-ecobalyse.md
Due: none

GITBOOK-1458: No subject
  lequipe-ecobalyse.md
Due: none

new export
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

feat: Implement Agribalyse 3.2 (#1201)
  public/data/countries.json
  public/data/food/examples.json
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_impacts.json
  src/Data/Food/WellKnown.elm
  tests/Data/ComponentTest.elm
  tests/Data/Food/PreparationTest.elm
  tests/Data/Food/RecipeTest.elm
  tests/Data/Textile/SimulatorTest.elm
  tests/e2e-food.json
  tests/e2e-textile.json
  tests/server.spec.js
Due: app-prettier

GITBOOK-1459: No subject
  lequipe-ecobalyse.md
Due: none

GITBOOK-1460: No subject
  lequipe-ecobalyse.md
Due: none

refactor: new files and modifs
  public/data/food/ingredients.json
  public/data/metadata.json
  public/data/processes_impacts.json
  public/data/processes_metadata.json
  public/data/processes_metadata_impacts.json
  public/data/textile/materials.json
Due: app-prettier

Path conditions:
  app-prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.json$
  app-ruff-check: any of: ^.*$ and \.py$
  app-ruff-format: any of: ^.*$ and \.py$
  dont-commit-detailed-processes: any of: ^processes_impacts.json$
