Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format, dont-commit-detailed-processes

app-prettier:
  name: run prettier
  language: system
  entry: 'bash -c ''npm --prefix . run fix:prettier --write "${@}"'' --
  
    '

app-ruff-check:
  name: run ruff check
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:check "${@}"'' --
  
    '

app-ruff-format:
  name: run ruff format
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:format "${@}"'' --
  
    '

dont-commit-detailed-processes:
  name: check that we don't commit processes_impacts.json
  language: system
  entry: 'bash -c ''echo "⚠️ Prevented pushing detailed impacts data to public git repository. To update these, clone and push to the ecobalyse-private repository.";exit 1''
  
    '

fix source and name of process
  public/data/textile/processes.json
Due: app-prettier

fix: make scalingo not segfaulting. (#728)
  package.json
Due: app-prettier

refactor: improve sentry node integration.
  lib/instrument.js
  package-lock.json
  package.json
  server.js
Due: app-prettier

fix: fix Sentry not properly initialized in server.
  server.js
Due: app-prettier

@vjousse review.
  lib/instrument.js
Due: app-prettier

GITBOOK-998: change request with no subject merged in GitBook
  .gitbook/assets/Coût environnemental (uPts _ kg) des différents types de coton disponibles dans Ecobalyse (1).png
  textile/cycle-de-vie-des-produits-textiles/etape-1-matieres/focus-coton.md
Due: none

fix: ensure express app is properly monitored by Sentry. (#729)
  lib/instrument.js
  package-lock.json
  package.json
  server.js
Due: app-prettier

shorter makefile
  data/Makefile
Due: none

improved the makefile output, remove the root_shell
  data/Makefile
  data/README.md
  data/docker/Dockerfile
  data/docker/entrypoint.sh
Due: none

GITBOOK-999: change request with no subject merged in GitBook
  textile/donnees/corr1-coton-recycle.md
Due: none

GITBOOK-1000: change request with no subject merged in GitBook
  textile/donnees/corr1-coton-recycle.md
Due: none

avoid to pollute cache with root owned files
  data/docker/entrypoint.sh
Due: none

chore: security upgrades 2024-09-05 (#730)
  Pipfile.lock
  package-lock.json
Due: app-prettier

feat: add gh workflow.
  .github/workflows/mdbook.yml
  tech-docs/src/chapter_1.md
Due: none

feat: add a few sample docs.
  tech-docs/book.toml
  tech-docs/src/README.md
  tech-docs/src/SUMMARY.md
  tech-docs/src/chapter_1.md
  tech-docs/src/format-de-données-lca-acv.md
  tech-docs/src/gestion-des-tests.md
Due: none

chore: remove obsolete file.
  tech-docs/src/format-de-données-lca-acv.md
Due: none

Fix typos.
  README.md
  tech-docs/src/gestion-des-tests.md
Due: none

feat: serve tech docs along the app.
  .github/workflows/mdbook.yml
  .github/workflows/node.js.yml
  .gitignore
Due: none

feat: add tech-dfocs mdbook folder.
  tech-docs/.gitignore
  tech-docs/book.toml
  tech-docs/src/SUMMARY.md
  tech-docs/src/chapter_1.md
Due: none

fix: Conform README syntax to mdbook requirements.
  README.md
Due: none

chore: Better makefile (#731)
  data/Makefile
  data/README.md
  data/docker/Dockerfile
  data/docker/entrypoint.sh
Due: none

chore(data): new impacts recycled cotton (#718)
  public/data/textile/materials.json
  public/data/textile/processes.json
Due: app-prettier

refactor: build and serve docs locally.
  .github/workflows/node.js.yml
  README.md
  package.json
  server.js
Due: app-prettier

no need for a setup.py as it's not distributed as a package. We just need to import it
  data/docker/entrypoint.sh
  data/setup.py
Due: app-ruff-check, app-ruff-format

chore: remove unneeded python package (#732)
  data/docker/entrypoint.sh
  data/setup.py
Due: app-ruff-check, app-ruff-format

adapted tests
  tests/Data/Food/RecipeTest.elm
Due: none

wrong result
  tests/Data/Food/RecipeTest.elm
Due: none

fix(ci): use personal token for REST calls
  .github/workflows/node.js.yml
Due: none

fix for private access
  .github/workflows/node.js.yml
Due: none

fix: display physical durability only in exp tab
  src/Page/Textile.elm
Due: none

feat: display non physical durability
  src/Data/Textile/Simulator.elm
  src/Page/Textile.elm
Due: none

feat: add holistic durability concept
  src/Data/Textile/Simulator.elm
  src/Data/Unit.elm
  src/Page/Textile.elm
Due: none

feat: add physical durability to the API
  openapi.yaml
  src/Page/Api.elm
  src/Server/Query.elm
Due: none

fix: use updateQuery to change physical durability
  src/Data/Textile/Economics.elm
  src/Data/Textile/Simulator.elm
  src/Data/Unit.elm
  src/Page/Textile.elm
  src/Views/RangeSlider.elm
Due: none

refactor: update physical durability
  src/Page/Textile.elm
Due: none

fix: elm review
  src/Data/Unit.elm
  src/Page/Textile.elm
Due: none

fix: slider view
  src/Views/RangeSlider.elm
Due: none

feat: add durability to query
  src/Data/Textile/Inputs.elm
  src/Data/Textile/Query.elm
Due: none

refactor: use different types for physical and non physical
  src/Data/Textile/Economics.elm
  src/Data/Textile/Inputs.elm
  src/Data/Textile/Query.elm
  src/Data/Textile/Simulator.elm
  src/Data/Textile/Step.elm
  src/Data/Unit.elm
  src/Page/Textile.elm
  src/Server/Query.elm
  src/Views/RangeSlider.elm
  tests/Data/Textile/EconomicsTest.elm
  tests/Data/UnitTest.elm
Due: none

feat: update physical durability
  src/Page/Textile.elm
  src/Views/RangeSlider.elm
Due: none

Path conditions:
  app-prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.json$
  app-ruff-check: any of: ^.*$ and \.py$
  app-ruff-format: any of: ^.*$ and \.py$
  dont-commit-detailed-processes: any of: ^processes_impacts.json$
