Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format, dont-commit-detailed-processes

app-prettier:
  name: run prettier
  language: system
  entry: 'bash -c ''npm --prefix . run fix:prettier --write "${@}"'' --
  
    '

app-ruff-check:
  name: run ruff check
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:check "${@}"'' --
  
    '

app-ruff-format:
  name: run ruff format
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:format "${@}"'' --
  
    '

dont-commit-detailed-processes:
  name: check that we don't commit processes_impacts.json
  language: system
  entry: 'bash -c ''echo "⚠️ Prevented pushing detailed impacts data to public git repository. To update these, clone and push to the ecobalyse-private repository.";exit 1''
  
    '

fix: correct wrong impacts and hide ARM-x86/64 diff (#1415)
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_impacts.json
  tests/Data/Food/RecipeTest.elm
  tests/e2e-food.json
  tests/e2e-textile.json
Due: app-prettier

chore: add countries (1/2)
  public/data/countries.json
  public/data/transports.json
Due: app-prettier

chore: fix data export after rebasing
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

chore: add countries (2/2)
  public/data/countries.json
Due: app-prettier

fix: process tranforms loading
  backend/src/app/db/models/component.py
  backend/src/app/db/models/element.py
  backend/src/app/domain/components/deps.py
  backend/src/app/domain/components/services.py
  tests/backend/integration/test_components.py
Due: app-ruff-check, app-ruff-format

chore: require owner for component
  backend/src/app/domain/components/services.py
  tests/backend/data_fixtures.py
  tests/backend/integration/test_components.py
  tests/backend/integration/test_journal_entries.py
Due: app-ruff-check, app-ruff-format

chore: don’t drop column to allow data migration
  backend/src/app/db/migrations/versions/2025-09-29_add_elements_table_6bc73acbc57d.py
Due: app-ruff-check, app-ruff-format

feat: add vehicle processes
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

GITBOOK-1556: No subject
  SUMMARY.md
  comment-lire-cette-documentation.md
Due: none

GITBOOK-1557: No subject
  vehicules/cycle-de-vie/fabrication-des-composants/batterie.md
Due: none

GITBOOK-1558: No subject
  vehicules/cycle-de-vie/assemblage.md
Due: none

GITBOOK-1559: No subject
  vehicules/cycle-de-vie/assemblage.md
Due: none

GITBOOK-1560: No subject
  vehicules/cycle-de-vie/assemblage.md
Due: none

GITBOOK-1561: No subject
  vehicules/cycle-de-vie/utilisation-du-vehicule/README.md
Due: none

GITBOOK-1562: No subject
  vehicules/cycle-de-vie/fabrication-des-composants/README.md
Due: none

GITBOOK-1563: No subject
  vehicules/cycle-de-vie/utilisation-du-vehicule/README.md
Due: none

chore: uv lock
  pyproject.toml
  uv.lock
Due: none

fix: change scope processes from object to veli
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

chore: add countries (1/2) (#1401)
  public/data/countries.json
  public/data/processes.json
  public/data/processes_impacts.json
  public/data/transports.json
Due: app-prettier

chore: fix python version to 3.13.x to avoid 3.14 incompatibility
  pyproject.toml
  uv.lock
Due: none

chore: add data migration script
  backend/src/app/cli/commands.py
  backend/src/app/db/models/component.py
  backend/src/app/server/core.py
Due: app-ruff-check, app-ruff-format

fix(openapi): add missing properties and schema
  openapi.yaml
Due: none

chore: pin python version to 3.13.x to avoid psycop incompatibility
  pyproject.toml
  uv.lock
Due: none

chore: change python 3.13.x to 3.12.x because CI use 3.12
  pyproject.toml
  uv.lock
Due: none

chore: update ruff target version from py311 to py312
  pyproject.toml
Due: none

fix: elements detection
  backend/src/app/cli/commands.py
Due: app-ruff-check, app-ruff-format

chore: pin python version to 3.12.x to avoid psycopg-binary incompatibility (#1425)
  pyproject.toml
  uv.lock
Due: none

fix: test build
  e2e/setup-version-fixture.sh
  e2e/versions.spec.js
Due: app-prettier

fix: validate version number param
  server.js
Due: app-prettier

fix: validate version number param (#1426)
  e2e/setup-version-fixture.sh
  e2e/versions.spec.js
  server.js
Due: app-prettier

feat: add elements model
  backend/src/app/db/migrations/versions/2025-09-02_add_elements_369aba12b3cb.py
  backend/src/app/db/models/__init__.py
  backend/src/app/db/models/element.py
  backend/src/app/db/models/process.py
  backend/src/app/db/models/process_element_transform.py
Due: app-ruff-check, app-ruff-format

chore: fix failing test, and SA warning
  backend/src/app/domain/components/services.py
  pyproject.toml
Due: app-ruff-check, app-ruff-format

feat: add elements services and tests
  backend/src/app/domain/elements/deps.py
  backend/src/app/domain/elements/services.py
  backend/src/app/server/core.py
  tests/backend/data_fixtures.py
  tests/backend/integration/test_elements.py
Due: app-ruff-check, app-ruff-format

fix: database fixture loading order
  backend/src/app/db/migrations/versions/2025-09-29_add_elements_table_6bc73acbc57d.py
  backend/src/app/domain/components/services.py
  backend/src/app/domain/elements/services.py
  bin/reset-docker-db.sh
Due: app-ruff-check, app-ruff-format

Path conditions:
  app-prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.json$
  app-ruff-check: any of: ^.*$ and \.py$
  app-ruff-format: any of: ^.*$ and \.py$
  dont-commit-detailed-processes: any of: ^processes_impacts.json$
