Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format, dont-commit-detailed-processes

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
      exclude: (svg|icomoon|rapidoc-9.3.4.min.js)
    - id: trailing-whitespace
      exclude: (vendor|rapidoc-9.3.4.min.js)
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, master]

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier
        language: system
        files: ^.*$
        types_or: [javascript, json]
        entry: |
          bash -c 'npm --prefix . run fix:prettier --write "${@}"' --

      - id: app-ruff-check
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:check "${@}"' --

      - id: app-ruff-format
        name: run ruff format
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:format "${@}"' --

      - id: dont-commit-detailed-processes
        name: check that we don't commit processes_impacts.json
        language: system
        files: ^processes_impacts.json$
        entry: |
          bash -c 'echo "⚠️ Prevented pushing detailed impacts data to public git repository. To update these, clone and push to the ecobalyse-private repository.";exit 1'

fix: search zone label instead of identifier
  src/Data/Country.elm
  src/Data/Zone.elm
Due: none

refactor: clean code
  src/Data/Text.elm
  src/Page/Explore/Table.elm
  tests/Data/TextTest.elm
Due: none

feat: index material process source
  src/Data/Textile/Material.elm
Due: none

feat(explorer): make explorer datasets searchable (#1663)
  src/Data/AutocompleteSelector.elm
  src/Data/Component.elm
  src/Data/Country.elm
  src/Data/Example.elm
  src/Data/Food/Ingredient.elm
  src/Data/Impact/Definition.elm
  src/Data/Process.elm
  src/Data/Text.elm
  src/Data/Textile/Material.elm
  src/Data/Textile/Product.elm
  src/Data/Zone.elm
  src/Page/Admin/Component.elm
  src/Page/Admin/Process.elm
  src/Page/Explore.elm
  src/Page/Explore/Components.elm
  src/Page/Explore/Countries.elm
  src/Page/Explore/FoodExamples.elm
  src/Page/Explore/FoodIngredients.elm
  src/Page/Explore/Impacts.elm
  src/Page/Explore/ObjectExamples.elm
  src/Page/Explore/Processes.elm
  src/Page/Explore/Table.elm
  src/Page/Explore/TextileExamples.elm
  src/Page/Explore/TextileMaterials.elm
  src/Page/Explore/TextileProducts.elm
  tests/Data/TextTest.elm
Due: none

chore: update components from staging db (#1666)
  public/data/object/components.json
Due: app-prettier

test: fix ’ usage
  e2e/auth.spec.js
Due: app-prettier

chore: update components from staging db
  public/data/object/components.json
Due: app-prettier

chore: update components from staging db (#1667)
  public/data/object/components.json
Due: app-prettier

Update list of Object examples
  public/data/object/examples.json
Due: app-prettier

chore: linting
  public/data/object/examples.json
Due: app-prettier

chore: Update list of Object examples (#1662)
  public/data/object/examples.json
Due: app-prettier

new export
  public/data/food/ingredients.json
Due: app-prettier

missing processes
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

chore(wip): change packaging type
  src/Data/Food/Query.elm
  src/Data/Food/Recipe.elm
  src/Data/Food/Validation.elm
  src/Page/Food.elm
Due: none

feat(explorer): freeze table header position to top when scrolling
  src/Page/Admin/Account.elm
  src/Page/Explore.elm
  src/Page/Explore/Table.elm
  src/Views/Table.elm
  styles.scss
Due: none

feat: freeze accounts admin table header
  src/Page/Admin/Account.elm
  styles.scss
Due: none

feat: freeze component and processes admin table
  src/Page/Admin/Component.elm
  src/Page/Admin/Process.elm
  src/Views/Table.elm
Due: none

refactor: clean code
  src/Page/Admin/Account.elm
  src/Page/Explore/Table.elm
  src/Views/Table.elm
Due: none

feat(explorer): freeze table header position to top when scrolling (#1677)
  src/Page/Admin/Account.elm
  src/Page/Admin/Component.elm
  src/Page/Admin/Process.elm
  src/Page/Explore.elm
  src/Page/Explore/Table.elm
  src/Views/Table.elm
  styles.scss
Due: none

feat: add new packaging processes
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

chore: upgrade elm-review
  review/elm.json
  src/Data/Component.elm
  src/Data/Country.elm
  src/Data/Food/Ingredient/Category.elm
  src/Data/Session.elm
  src/Data/Textile/Material/Spinning.elm
  src/Data/Textile/Query.elm
  src/Data/Unit.elm
  src/Data/Validation.elm
  src/Main.elm
  src/Page/Admin/Account.elm
  src/Page/Admin/Component.elm
  src/Page/Admin/Process.elm
  src/Page/Api.elm
  src/Page/Auth.elm
  src/Page/Editorial.elm
  src/Page/Explore.elm
  src/Page/Explore/FoodIngredients.elm
  src/Page/Food.elm
  src/Page/Home.elm
  src/Page/Object.elm
  src/Page/Stats.elm
  src/Page/Textile.elm
  src/Request/Auth.elm
  src/Views/Comparator.elm
  src/Views/Component.elm
  src/Views/Modal.elm
  src/Views/Page.elm
  src/Views/Textile/Step.elm
Due: app-prettier

chore: upgrade elm-review (#1686)
  review/elm.json
  src/Data/Component.elm
  src/Data/Country.elm
  src/Data/Food/Ingredient/Category.elm
  src/Data/Session.elm
  src/Data/Textile/Material/Spinning.elm
  src/Data/Textile/Query.elm
  src/Data/Unit.elm
  src/Data/Validation.elm
  src/Main.elm
  src/Page/Admin/Account.elm
  src/Page/Admin/Component.elm
  src/Page/Admin/Process.elm
  src/Page/Api.elm
  src/Page/Auth.elm
  src/Page/Editorial.elm
  src/Page/Explore.elm
  src/Page/Explore/FoodIngredients.elm
  src/Page/Food.elm
  src/Page/Home.elm
  src/Page/Object.elm
  src/Page/Stats.elm
  src/Page/Textile.elm
  src/Request/Auth.elm
  src/Views/Comparator.elm
  src/Views/Component.elm
  src/Views/Modal.elm
  src/Views/Page.elm
  src/Views/Textile/Step.elm
Due: app-prettier

chore: upgrade dependencies, 2026-01-05
  package-lock.json
  package.json
Due: app-prettier

chore: upgrade dependencies, 2026-01-05 (#1687)
  package-lock.json
  package.json
Due: app-prettier

new export with new ingredients
  public/data/food/ingredients.json
Due: app-prettier

chore(sec): upgrade qs package
  package-lock.json
Due: app-prettier

chore(security): upgrade qs package (#1688)
  package-lock.json
Due: app-prettier

fix: don’t validate token if terms are not accepted
  backend/src/app/domain/accounts/controllers/access.py
  src/Data/Session.elm
  src/Views/Sidebar.elm
Due: app-ruff-check, app-ruff-format

fix: don’t require terms to be accepted
  backend/src/app/domain/accounts/schemas.py
  src/Data/User.elm
  src/Page/Auth.elm
  tests/Data/UserTest.elm
  tests/backend/integration/test_access.py
Due: app-ruff-check, app-ruff-format

chore: update login message
  src/Page/Auth.elm
Due: none

fix: bo tests
  tests/backend/integration/test_processes.py
Due: app-ruff-check, app-ruff-format

fix: e2e tests
  src/Page/Auth.elm
Due: none

fix: tests
  tests/backend/integration/test_processes.py
Due: app-ruff-check, app-ruff-format

fix: notification message
  src/Data/Session.elm
  src/Page/Auth.elm
  src/Views/Sidebar.elm
Due: none

test(bo): test token validation
  backend/src/app/domain/accounts/controllers/access.py
  backend/src/app/domain/accounts/services.py
  tests/backend/data_fixtures.py
  tests/backend/integration/test_access.py
Due: app-ruff-check, app-ruff-format

fix: terms update
  backend/src/app/domain/accounts/schemas.py
  src/Data/User.elm
  src/Page/Auth.elm
  tests/backend/integration/test_access.py
Due: app-ruff-check, app-ruff-format

chore: elm-review
  src/Data/Session.elm
Due: none

chore: add link to CGU
  src/Page/Auth.elm
Due: none

fix: e2e tests
  backend/src/app/db/fixtures/user.json
Due: app-prettier
