Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format, dont-commit-detailed-processes

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
      exclude: (svg|icomoon|rapidoc-9.3.4.min.js)
    - id: trailing-whitespace
      exclude: (vendor|rapidoc-9.3.4.min.js)
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, master]

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier
        language: system
        files: ^.*$
        types_or: [javascript, json]
        entry: |
          bash -c 'npm --prefix . run fix:prettier --write "${@}"' --

      - id: app-ruff-check
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:check "${@}"' --

      - id: app-ruff-format
        name: run ruff format
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:format "${@}"' --

      - id: dont-commit-detailed-processes
        name: check that we don't commit processes_impacts.json
        language: system
        files: ^processes_impacts.json$
        entry: |
          bash -c 'echo "⚠️ Prevented pushing detailed impacts data to public git repository. To update these, clone and push to the ecobalyse-private repository.";exit 1'

fix: don’t hardcode magic link url
  backend/src/app/config/base.py
  backend/src/app/domain/accounts/controllers/access.py
  backend/src/app/domain/accounts/tasks.py
  backend/src/app/lib/http.py
  backend/tests/integration/test_access.py
Due: app-ruff-check, app-ruff-format

fix: lint
  backend/src/app/domain/accounts/controllers/access.py
Due: app-ruff-check, app-ruff-format

fix: create admin upsert script
  backend/src/app/domain/accounts/services.py
Due: app-ruff-check, app-ruff-format

fix: use static backend url (#1135)
  .env.sample
  .gitignore
  README.md
  backend/src/app/config/base.py
  backend/src/app/domain/accounts/controllers/access.py
  backend/src/app/domain/accounts/services.py
  backend/src/app/domain/accounts/tasks.py
  backend/src/app/lib/http.py
  backend/tests/integration/test_access.py
  db_test.sqlite3
  index.js
  playwright.config.js
  server.js
  src/Data/Session.elm
  src/Main.elm
  src/Page/Api.elm
  src/Request/Auth.elm
  src/Request/BackendHttp.elm
  src/Request/BackendHttp/Error.elm
  src/Views/Alert.elm
Due: app-prettier, app-ruff-check, app-ruff-format

chore(textile): update upcycled tshirt example.
  public/data/textile/examples.json
Due: app-prettier

fix(textile): siwtch to default price on product category change.
  src/Data/Textile/Query.elm
Due: none

fix(textile): update skirt category default repair cost
  public/data/textile/products.json
  tests/e2e-textile.json
Due: app-prettier

chore: upgade node dependencies, 2025-06
  package-lock.json
  package.json
Due: app-prettier

fix(textile): exclude trims weight before the Making step
  src/Data/Textile/Simulator.elm
  src/Data/Textile/Step/Label.elm
  tests/e2e-textile.json
Due: app-prettier

fix: handle reusing outdated magic links.
  src/Page/Auth.elm
Due: none

fix(textile): update skirt category default repair cost (#1138)
  public/data/textile/products.json
  tests/e2e-textile.json
Due: app-prettier

feat: add plastic extrusion (#1123)
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

fix(textile): siwtch to default price on product category change. (#1137)
  src/Data/Textile/Query.elm
Due: none

chore: upgade node dependencies, 2025-06 (#1140)
  package-lock.json
  package.json
Due: app-prettier

GITBOOK-1375: No subject
  textile/cycle-de-vie-des-produits-textiles/ennoblissement-1/README.md
Due: none

fix: handle reusing outdated magic links. (#1141)
  src/Page/Auth.elm
Due: none

chore: improve playwright test config
  playwright.config.js
Due: app-prettier

chore: improve playwright test config (#1142)
  playwright.config.js
Due: app-prettier

new export
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

fix: negative impacts on lentils (#1127)
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

chore(textile): update upcycled tshirt example. (#1136)
  public/data/textile/examples.json
Due: app-prettier

feat(bo,objects): allow edit component scopes
  src/Page/Admin.elm
Due: none

feat: return scopes
  backend/src/app/domain/components/controllers/component.py
  backend/src/app/domain/components/deps.py
  backend/src/app/domain/components/schemas.py
Due: app-ruff-check, app-ruff-format

feat: add scopes update
  backend/src/app/db/models/scope.py
  backend/src/app/domain/components/controllers/component.py
  backend/src/app/domain/components/schemas.py
  backend/src/app/domain/components/services.py
  tests/backend/data_fixtures.py
  tests/backend/integration/conftest.py
  tests/backend/integration/test_components.py
Due: app-ruff-check, app-ruff-format

chore: add scopes to DB
  backend/src/app/db/migrations/versions/2025-06-11_add_scopes_8455e285aafc.py
  backend/src/app/db/models/__init__.py
  backend/src/app/db/models/component.py
  backend/src/app/db/models/component_scope.py
  backend/src/app/db/models/scope.py
  backend/src/app/domain/components/controllers/component.py
  backend/src/app/domain/components/deps.py
  backend/src/app/domain/components/schemas.py
  backend/src/app/domain/components/services.py
  backend/src/app/domain/components/urls.py
  backend/src/app/server/core.py
Due: app-ruff-check, app-ruff-format

test: add unit tests
  tests/Data/ComponentTest.elm
Due: none

feat(bo): allow editing component scopes
  public/data/object/components.json
  public/data/textile/components.json
  src/Data/Component.elm
  src/Page/Admin.elm
  src/Request/Component.elm
  src/Static/Db.elm
  tests/Data/ComponentTest.elm
Due: app-prettier

feat: render scopes in components admin table
  src/Data/Component.elm
  src/Page/Admin.elm
  styles.scss
Due: none

feat: allow filtering scopes in the component admin
  src/Data/Component.elm
  src/Data/Scope.elm
  src/Page/Admin.elm
Due: none

chore: move backend tests to be able to run specific test
  tests/backend/__init__.py
  tests/backend/conftest.py
  tests/backend/data_fixtures.py
  tests/backend/integration/conftest.py
  tests/backend/integration/test_access.py
  tests/backend/integration/test_components.py
  tests/backend/integration/test_health.py
  tests/conftest.py
Due: app-ruff-check, app-ruff-format

adapted tests
  tests/Data/Food/RecipeTest.elm
  tests/Data/Textile/SimulatorTest.elm
Due: none

fixed test adaptation
  tests/Data/Food/RecipeTest.elm
Due: none

adapted tests
  tests/e2e-food.json
  tests/e2e-textile.json
Due: app-prettier

feat: add success notification on api token copied.
  src/Page/Auth.elm
Due: none

GITBOOK-1376: No subject
  pages-en-cours-de-revue/fin-de-vie.md
Due: none

chore: Update instrument.js
  lib/instrument.js
Due: app-prettier

feat: add success notification on api token copied. (#1145)
  src/Page/Auth.elm
Due: none

refactor: activities to create
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier
