Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
      exclude: (svg|icomoon|rapidoc-9.3.4.min.js)
    - id: trailing-whitespace
      exclude: (vendor|rapidoc-9.3.4.min.js)
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, master]

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier
        language: system
        files: ^.*$
        types_or: [javascript, json]
        entry: |
          bash -c 'npm --prefix . run fix:prettier --write "${@}"' --

      - id: app-ruff-check
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:check "${@}"' --

      - id: app-ruff-format
        name: run ruff format
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:format "${@}"' --

      - id: app-elm-format
        name: run elm-format
        language: system
        files: ^.*$
        types_or: [elm]
        entry: |
          bash -c 'npm --prefix . run fix:elm-format "${@}"' --

chore: import rapidoc from npm (#2756)
  .pre-commit-config.yaml
  .prettierignore
  index.js
  package-lock.json
  package.json
  public/vendor/rapidoc-9.3.4.min.js
  src/Page/Api.elm
  src/Ports.elm
Due: app-prettier

chore: test to fold generated files in PR
  .gitattributes
Due: none

chore: correct naming (#2752)
  data/bin/export.py
  data/create_activities.py
  data/tests/test_base_ingredient.py
  data/tests/test_export.py
Due: app-ruff-check, app-ruff-format

revert gitattributes change
  .gitattributes
Due: none

feat: test pr stats
  .github/workflows/pr-stats.yml
  bin/pr-stats
Due: none

fix(data): keep the method in sync with the biosphere it characterizes
  .justfile
  data/common/import_.py
  data/common/sync_datapackages.py
  data/import_method.py
  data/tests/test_colliding_cfs.py
  data/tests/test_dropped_cfs.py
Due: app-ruff-check, app-ruff-format

use settings and don't ignore "ressources" (anyway they're unused for us)
  data/common/import_.py
  data/import_method.py
Due: app-ruff-check, app-ruff-format

fix: ty warning
  data/tests/test_dropped_cfs.py
Due: app-ruff-check, app-ruff-format

fix(data): keep the method in sync with the biosphere it characterizes (#2761)
  .justfile
  data/common/import_.py
  data/common/sync_datapackages.py
  data/import_method.py
  data/tests/test_colliding_cfs.py
  data/tests/test_dropped_cfs.py
Due: app-ruff-check, app-ruff-format

test diff in crypted
  public/data/processes_impacts.json
Due: app-prettier

test diff
  public/data/processes.json
Due: app-prettier

count ciphertext
  bin/pr-stats
Due: none

test code diff
  data/bin/export.py
Due: app-ruff-check, app-ruff-format

formatting
  bin/pr-stats
Due: none

following review
  data/bin/export.py
  data/bin/generate_taxonomy_with_aliases.py
  data/common/infer_metadata.py
  data/tests/test_export.py
Due: app-ruff-check, app-ruff-format

chore: delete useless food2 data like rawToCookedRatio (#2759)
  data/ecobalyse_data/export/export_generic.py
  data/export/processes_generic.json
  data/models/process.py
  data/tests/fixtures/processes_generic_impacts_output.json
  data/tests/snapshots/processes_generic_impacts.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier, app-ruff-check, app-ruff-format

fix following review
  data/bin/export.py
  data/bin/generate_taxonomy_with_aliases.py
  data/settings.toml
Due: app-ruff-check, app-ruff-format

fix typo
  data/tests/test_taxonomy.py
Due: app-ruff-check, app-ruff-format

feat(data): introduce taxonomy.json, replace `base_ingredients.json` (#2746)
  .justfile
  data/bin/export.py
  data/bin/generate_taxonomy_with_aliases.py
  data/common/infer_metadata.py
  data/food/base_ingredients.json
  data/food/taxonomy.json
  data/food/taxonomy_with_aliases.json
  data/migrations/2026-08-25-generate-taxonomy.py
  data/settings.toml
  data/tests/test_base_ingredient.py
  data/tests/test_export.py
  data/tests/test_taxonomy.py
Due: app-prettier, app-ruff-check, app-ruff-format

feat: add formatter for lists on one line
  bin/json_formatter.py
  packages/python/ecobalyse/ecobalyse/json.py
Due: app-ruff-check, app-ruff-format

refactor: json formatting
  bin/json_formatter.py
  data/bin/export.py
  data/common/__init__.py
  data/common/export.py
  data/ecobalyse_data/export/export_generic.py
  data/ecobalyse_data/export/food.py
  data/tests/test_json_format_encoder.py
  package.json
  packages/python/ecobalyse/ecobalyse/json.py
  packages/python/ecobalyse/ecobalyse/logging.py
  pyproject.toml
Due: app-prettier, app-ruff-check, app-ruff-format

chore: apply new json formatting
  .justfile
  backend/src/app/db/fixtures/user.json
  data/tests/snapshots/processes_generic_impacts.json
  data/tests/snapshots/processes_legacy_impacts.json
  data/tests/snapshots/processes_legacy_impacts_full.json
  nodemon.json
  package.json
  public/data/components/config.json
  public/data/processes_impacts.json
  public/data/transports.json
  schemas/lci-schema.json
  schemas/process-schema.json
Due: app-prettier

fix: json tests
  data/tests/test_json_format_encoder.py
Due: app-ruff-check, app-ruff-format

chore: reformat processes_impacts
  bin/json_formatter.py
  public/data/processes_impacts.json
Due: app-prettier, app-ruff-check, app-ruff-format

chore: remove dead code
  bin/json_formatter.py
Due: app-ruff-check, app-ruff-format

fix: export precision
  data/bin/export.py
  data/common/export.py
  data/ecobalyse_data/export/export_generic.py
  data/ecobalyse_data/export/food.py
  data/ecobalyse_data/export/textile.py
  data/tests/test_export.py
  packages/python/ecobalyse/ecobalyse/json.py
Due: app-ruff-check, app-ruff-format

fix: use separate file for json formatting ignore
  .jsonformatignore
  .prettierignore
  package.json
Due: app-prettier

ci: add rg to deps
  .github/workflows/node.js.yml
Due: none

doc: add rg requirement
  README.md
Due: none

refactor: package.json
  package.json
Due: app-prettier

ci: remove maybe useless gettext
  .github/workflows/node.js.yml
Due: none

chore: update README.md
  README.md
Due: none

chore: run json formatter on commit
  .pre-commit-config.yaml
  bin/filter_ignored.sh
  package.json
Due: app-prettier

chore: format new files
  data/food/taxonomy.json
  data/food/taxonomy_with_aliases.json
Due: app-prettier

fix: tests with new max_width for objects
  data/tests/test_json_format_encoder.py
Due: app-ruff-check, app-ruff-format

chore: add new bases and reclassify ingredients
  data/export/processes_generic.json
  data/food/taxonomy.json
  data/food/taxonomy_with_aliases.json
  data/tests/test_taxonomy.py
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier, app-ruff-check, app-ruff-format

fix: remove json from prettier pre-commit
  .pre-commit-config.yaml
Due: none

fix: put precision as a flag of the cli
  bin/json_formatter.py
Due: app-ruff-check, app-ruff-format
