Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
      exclude: (svg|icomoon|rapidoc-9.3.4.min.js)
    - id: trailing-whitespace
      exclude: (vendor|rapidoc-9.3.4.min.js)
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, master]

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier
        language: system
        files: ^.*$
        types_or: [javascript, json]
        entry: |
          bash -c 'npm --prefix . run fix:prettier --write "${@}"' --

      - id: app-ruff-check
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:check "${@}"' --

      - id: app-ruff-format
        name: run ruff format
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:format "${@}"' --

      - id: app-elm-format
        name: run elm-format
        language: system
        files: ^.*$
        types_or: [elm]
        entry: |
          bash -c 'npm --prefix . run fix:elm-format "${@}"' --

feat: add uv command to update beta status
  backend/src/app/cli/commands.py
Due: app-ruff-check, app-ruff-format

chore: @cedricr review
  backend/src/app/cli/commands.py
  backend/src/app/domain/accounts/guards.py
Due: app-ruff-check, app-ruff-format

feat: add betauser flag (#2832)
  backend/src/app/cli/commands.py
  backend/src/app/db/migrations/versions/2026-09-17_add_beta_test_user_fbae656f0ee6.py
  backend/src/app/db/models/user.py
  backend/src/app/domain/accounts/controllers/access.py
  backend/src/app/domain/accounts/schemas.py
  tests/backend/data_fixtures.py
  tests/backend/integration/test_access.py
Due: app-ruff-check, app-ruff-format

chore: cache db to improve api server performances
  src/Server.elm
Due: none

chore: encode product categ
  src/Data/Component/ProductCategory.elm
Due: none

chore: add api changelog
  src/Page/Api.elm
Due: none

refactor: add a bunch of FIXME
  openapi.yaml
Due: none

chore: remove obsoleete comment
  src/Views/Bookmark.elm
Due: none

refactor: api paths, eager config loaded in server
  openapi.yaml
  src/Data/Process.elm
  src/Server.elm
  src/Server/Route.elm
  tests/Server/RouteTest.elm
Due: none

feat: add generic api server endpoints
  src/Server.elm
Due: none

chore: add api server tests
  tests/server.spec.js
Due: app-prettier

chore: add tests
  tests/Server/RouteTest.elm
  tests/Server/ServerTest.elm
Due: none

chore: add draft generic section to openapi.yml
  openapi.yaml
Due: none

chore: add server routes
  src/Data/Scope.elm
  src/Server/Route.elm
Due: none

refactor: identify expected test objects by name
  tests/server.spec.js
Due: app-prettier

refactor: strengthen consumption validation
  openapi.yaml
  public/data/food2/examples.json
  public/pages/api-docs.md
  src/CheckDb.elm
  src/Data/Bookmark.elm
  src/Data/Component.elm
  src/Data/Component/Consumption.elm
  src/Data/Component/ProductCategory.elm
  src/Data/Db.elm
  src/Data/Generic/Db.elm
  src/Page/Generic.elm
  src/Server/Route.elm
  src/Views/Component.elm
  tests/Data/ComponentTest.elm
  tests/server.spec.js
Due: app-prettier

feat: improve api docs
  openapi.yaml
  public/pages/api-docs.md
Due: none

feat: expose and encode process category
  openapi.yaml
  src/Server.elm
Due: none

docs: resync docs against latest changes
  openapi.yaml
  public/pages/api-docs.md
Due: none

feat: complete query string representation
  src/Data/Component.elm
  src/Server.elm
  tests/Data/ComponentTest.elm
  tests/TestUtils.elm
Due: none

refactor: improve filtering api$
  src/Server.elm
Due: none

chore: add a few FIXME to address before landing
  src/Data/Component.elm
Due: none

fix: accept empty queries
  openapi.yaml
  src/Data/Common/DecodeUtils.elm
  src/Server/Route.elm
  tests/Server/RouteTest.elm
  tests/server.spec.js
Due: app-prettier

chore: add tests for disabled scopes->403
  docker/server-simple.js
  openapi.yaml
  public/pages/api-docs.md
  server.js
  tests/lib/scopes.spec.js
  tests/server.spec.js
Due: app-prettier

fix: ensure strict parsing of custom property
  src/Data/Component.elm
Due: none

feat: improve api ux
  public/pages/api-docs.md
  src/Data/Component.elm
Due: none

fix: dedupe env sample flags
  .env.sample
Due: none

feat: finish api docs draft
  public/pages/api-docs.md
Due: none

feat: enable compact item queries w/o custom nested obj
  openapi.yaml
  public/data/food2/examples.json
  public/data/object/examples.json
  public/data/veli/examples.json
  public/pages/api-docs.md
  src/Data/Component.elm
  tests/Data/ComponentTest.elm
Due: app-prettier

feat: allow reloading md pages in browser
  nodemon.json
  package-lock.json
  package.json
Due: app-prettier

fix: reorder generic endpoints
  openapi.yaml
Due: none

refactor: avoid encoding default values
  src/Data/Component.elm
Due: none

refactor: clean code
  src/Data/Component/Consumption.elm
  src/Data/Process.elm
  tests/Data/ComponentTest.elm
Due: none

docs: leverage food2 component in api tutorial
  public/pages/api-docs.md
Due: none

feat: enforce selecting compatible material type
  openapi.yaml
  public/pages/api-docs.md
  src/Data/Process/Category.elm
  src/Server.elm
  src/Server/Route.elm
  tests/Server/RouteTest.elm
  tests/Server/ServerTest.elm
  tests/server.spec.js
Due: app-prettier

feat: force food2 default scope for generic endpoints
  openapi.yaml
Due: none

refactor: DRY test http requests
  tests/Server/RouteTest.elm
  tests/Server/ServerTest.elm
  tests/TestUtils.elm
Due: none

feat: link to api docs
  openapi.yaml
Due: none

fix: proofreading
  public/pages/api-docs.md
Due: none

chore: improve server init error message
  src/Server.elm
Due: none
