Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format

app-prettier:
  name: run prettier
  language: system
  entry: 'bash -c ''npm --prefix . run fix:prettier --write "${@}"'' --
  
    '

app-ruff-check:
  name: run ruff check
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:check "${@}"'' --
  
    '

app-ruff-format:
  name: run ruff format
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:format "${@}"'' --
  
    '

feat(generic,ux): single production item add button (#2664)
  src/Data/Component.elm
  src/Page/Admin/Component.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Views/Component.elm
Due: none

fix: data tests warnings (#2671)
  data/ecobalyse_data/tests.py
  pyproject.toml
Due: app-ruff-check, app-ruff-format

chore: use upterm for debugging
  .github/workflows/score_history.yml
Due: none

chore: force region
  .github/workflows/score_history.yml
Due: none

chore: use ecobalyse-data DB for score_history
  .github/workflows/score_history.yml
Due: none

chore: remove debug
  .github/workflows/score_history.yml
Due: none

refactor: use python async
  bin/score_history/score_history.py
Due: app-ruff-check, app-ruff-format

chore: add upterm debug
  .github/workflows/score_history.yml
Due: none

chore: remove upterm session
  .github/workflows/score_history.yml
Due: none

chore: remove useless env vars
  .github/workflows/score_history.yml
Due: none

chore: use ecobalyse-data DB for score_history (#2580)
  .github/workflows/score_history.yml
  bin/score_history/score_history.py
Due: app-ruff-check, app-ruff-format

GITBOOK-1759: No subject
  alimentaire/impacts-consideres/etape-1-ingredients/cas-particulier-des-produits-issu-de-la-peche.md
Due: none

GITBOOK-1760: No subject
  alimentaire/impacts-consideres/etape-1-ingredients/cas-particulier-des-produits-issu-de-la-peche.md
Due: none

chore: upgrade to elm 0.19.2
  elm.json
  package-lock.json
  package.json
  review/elm.json
Due: app-prettier

hiding fish ingredients ; adding fish secondary ingredients with salmon as proxy
  data/lci_catalog/agribalyse-3-2/anchovy-fr.json
  data/lci_catalog/agribalyse-3-2/beef-without-bone.json
  data/lci_catalog/agribalyse-3-2/cod-eu.json
  data/lci_catalog/agribalyse-3-2/hake-eu.json
  data/lci_catalog/agribalyse-3-2/large-trout.json
  data/lci_catalog/agribalyse-3-2/salmon-raw-eu.json
  data/lci_catalog/agribalyse-3-2/sardine-eu.json
  data/lci_catalog/agribalyse-3-2/sardine-fr.json
  data/lci_catalog/ecobalyse_custom_lci/chicken-breast-br-max-2025.json
Due: app-prettier

change alias
  data/lci_catalog/agribalyse-3-2/salmon-raw-eu.json
Due: app-prettier

hiding shrimps
  data/lci_catalog/agribalyse-3-2/fresh-shrimps.json
Due: app-prettier

fix custom_lci json for alu RER and RoW
  data/custom_lci.json
Due: app-prettier

chore: export processes
  data/export/processes_generic.json
  data/food/base_ingredients.json
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

Update data/lci_catalog/agribalyse-3-2/salmon-raw-eu.json
  data/lci_catalog/agribalyse-3-2/salmon-raw-eu.json
Due: app-prettier

fix custom_lci json steel
  data/custom_lci.json
Due: app-prettier

GITBOOK-1761: No subject
  methodes-transverses/production/procedes-acier-et-aluminium.md
Due: none

GITBOOK-1762: No subject
  SUMMARY.md
  methodes-transverses/production/README.md
Due: none

fix processes display names
  data/lci_catalog/ecobalyse_custom_lci/alu-market-fr.json
  data/lci_catalog/ecobalyse_custom_lci/alu-market-kr.json
  data/lci_catalog/ecobalyse_custom_lci/alu-market-virgin-cn.json
  data/lci_catalog/ecobalyse_custom_lci/alu-market-virgin-fr.json
  data/lci_catalog/ecobalyse_custom_lci/alu-market-virgin-in.json
  data/lci_catalog/ecobalyse_custom_lci/alu-market-virgin-kr.json
Due: app-prettier

chore: fix defaultOrigins
  data/export/processes_generic.json
  data/lci_catalog/agribalyse-3-2/salmon-raw-eu.json
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

chore: export processes
  data/custom_lci.json
  data/export/processes_generic.json
  data/export/processes_legacy.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

chore: hide fish ingredients ; add fish secondary ingredients (#2676)
  data/export/processes_generic.json
  data/food/base_ingredients.json
  data/lci_catalog/agribalyse-3-2/anchovy-fr.json
  data/lci_catalog/agribalyse-3-2/beef-without-bone.json
  data/lci_catalog/agribalyse-3-2/cod-eu.json
  data/lci_catalog/agribalyse-3-2/fresh-shrimps.json
  data/lci_catalog/agribalyse-3-2/hake-eu.json
  data/lci_catalog/agribalyse-3-2/large-trout.json
  data/lci_catalog/agribalyse-3-2/salmon-raw-eu.json
  data/lci_catalog/agribalyse-3-2/sardine-eu.json
  data/lci_catalog/agribalyse-3-2/sardine-fr.json
  data/lci_catalog/ecobalyse_custom_lci/chicken-breast-br-max-2025.json
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

fix steel alu processes
  data/custom_lci.json
  data/lci_catalog/ecobalyse_custom_lci/alu-market-fr.json
  data/lci_catalog/ecobalyse_custom_lci/alu-market-kr.json
  data/lci_catalog/ecobalyse_custom_lci/alu-market-virgin-cn.json
  data/lci_catalog/ecobalyse_custom_lci/alu-market-virgin-fr.json
  data/lci_catalog/ecobalyse_custom_lci/alu-market-virgin-in.json
  data/lci_catalog/ecobalyse_custom_lci/alu-market-virgin-kr.json
  data/lci_catalog/ecobalyse_custom_lci/steel-market-cn.json
  data/lci_catalog/ecobalyse_custom_lci/steel-market-fr.json
Due: app-prettier

chore: export processes
  data/export/processes_generic.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

fix alu market cn name
  data/lci_catalog/ecobalyse_custom_lci/alu-market-cn.json
Due: app-prettier

fix: remove useless package
  package.json
Due: app-prettier

refactor: don’t duplicate defs for schemas
  .justfile
  README.md
  data/schemas/lci-schema.json
  data/tests/processes-schema.json
  package.json
  schemas/lci-catalog-schema.json
  schemas/process-schema.json
  schemas/processes-schema.json
Due: app-prettier

chore: don’t duplicate processes schema
  README.md
  package.json
  tests/processes-schema.json
Due: app-prettier

chore: fix update package-lock
  package-lock.json
Due: app-prettier

fix: add just to node ci
  .github/workflows/node.js.yml
Due: none

fix: don’t check front files in ci-data
  .justfile
Due: none

fix: uv is required for json validation
  .github/workflows/node.js.yml
Due: none

feat(data): fix alu and steel processes (#2679)
  data/custom_lci.json
  data/export/processes_generic.json
  data/export/processes_legacy.json
  data/lci_catalog/ecobalyse_custom_lci/alu-market-cn.json
  data/lci_catalog/ecobalyse_custom_lci/alu-market-fr.json
  data/lci_catalog/ecobalyse_custom_lci/alu-market-kr.json
  data/lci_catalog/ecobalyse_custom_lci/alu-market-virgin-fr.json
  data/lci_catalog/ecobalyse_custom_lci/alu-market-virgin-in.json
  data/lci_catalog/ecobalyse_custom_lci/alu-market-virgin-kr.json
  data/lci_catalog/ecobalyse_custom_lci/steel-market-cn.json
  data/lci_catalog/ecobalyse_custom_lci/steel-market-fr.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

Update package.json
  package.json
Due: app-prettier

chore: remove just dep for package.json
  .github/workflows/node.js.yml
  .justfile
  README.md
  package.json
Due: app-prettier

Path conditions:
  app-prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.json$
  app-ruff-check: any of: ^.*$ and \.py$
  app-ruff-format: any of: ^.*$ and \.py$
