Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format, dont-commit-detailed-processes

app-prettier:
  name: run prettier
  language: system
  entry: 'bash -c ''npm --prefix . run fix:prettier --write "${@}"'' --
  
    '

app-ruff-check:
  name: run ruff check
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:check "${@}"'' --
  
    '

app-ruff-format:
  name: run ruff format
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:format "${@}"'' --
  
    '

dont-commit-detailed-processes:
  name: check that we don't commit processes_impacts.json
  language: system
  entry: 'bash -c ''echo "⚠️ Prevented pushing detailed impacts data to public git repository. To update these, clone and push to the ecobalyse-private repository.";exit 1''
  
    '

fix(bo): no detailed impacts if toc not accepted
  backend/src/app/domain/processes/services.py
  tests/backend/data_fixtures.py
  tests/backend/integration/conftest.py
  tests/backend/integration/test_access.py
  tests/backend/integration/test_processes.py
Due: app-ruff-check, app-ruff-format

chore: change terms wording
  src/Page/Auth.elm
Due: none

chore: reviews
  backend/src/app/domain/accounts/controllers/access.py
  backend/src/app/domain/processes/services.py
  src/Data/Session.elm
  src/Page/Auth.elm
  tests/backend/integration/conftest.py
Due: app-ruff-check, app-ruff-format

chore: add categories and add prefix
  backend/src/app/domain/processes/schemas.py
  public/data/processes.json
  public/data/processes_impacts.json
  src/Data/Process/Category.elm
Due: app-prettier, app-ruff-check, app-ruff-format

chore: remove useless export
  src/Data/Process/Category.elm
Due: none

chore: add ecoinvent terms
  src/Data/Env.elm
  src/Data/User.elm
  src/Page/Auth.elm
Due: none

chore: elm-review
  src/Data/User.elm
Due: none

fix: elm tests
  tests/Data/UserTest.elm
Due: none

fix: form encoding
  e2e/lib.js
  src/Data/User.elm
  src/Page/Auth.elm
Due: app-prettier

Update src/Data/Process/Category.elm
  src/Data/Process/Category.elm
Due: none

feat: add new packaging processes (#1685)
  backend/src/app/domain/processes/schemas.py
  public/data/processes.json
  public/data/processes_impacts.json
  src/Data/Process/Category.elm
Due: app-prettier, app-ruff-check, app-ruff-format

feat: unselect all in comparator
  lib/charts/food-comparator.js
  src/Views/Comparator.elm
Due: app-prettier

chore: elasthane and wool
  public/data/processes.json
  public/data/processes_impacts.json
  public/data/textile/materials.json
Due: app-prettier

chore: update flax
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

chore: remove unused and obsolete npm dependencies
  package-lock.json
  package.json
Due: app-prettier

chore: various data updates : flax, elasthane and wool (#1696)
  public/data/processes.json
  public/data/processes_impacts.json
  public/data/textile/materials.json
Due: app-prettier

feat: add responsive block in basechart
  lib/charts/food-comparator.js
  src/Views/Comparator.elm
Due: app-prettier

chore: remove unused and obsolete npm dependencies (#1698)
  package-lock.json
  package.json
Due: app-prettier

chore: keep old hamburger menu
  lib/charts/food-comparator.js
Due: app-prettier

feat: non-destructive bookmark validation & serialization
  src/Data/Bookmark.elm
  src/Data/Session.elm
  src/Page/Food.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Views/Bookmark.elm
  src/Views/Comparator.elm
Due: none

Revert "fix(ui): fix losing session data when navigating different versions"
  index.js
Due: app-prettier

chore: minimalize bookmarks JSON serialization
  src/Data/Bookmark.elm
Due: none

fix: filter out invalid bookmarks on decoding
  src/Data/Bookmark.elm
  src/Data/Session.elm
  tests/Data/BookmarkTest.elm
Due: none

chore: update tests
  src/Data/Bookmark.elm
  tests/Data/BookmarkTest.elm
Due: none

fix(ui): fix losing session data when navigating different versions
  index.js
Due: app-prettier

chore: remove redundant code
  lib/charts/food-comparator.js
Due: app-prettier

refactor: soften session reset warning
  src/Views/Page.elm
Due: none

chore: for mobile set min height
  lib/charts/food-comparator.js
Due: app-prettier

fix(ui): fix losing session data when navigating different versions (#1694)
  src/Data/Bookmark.elm
  src/Data/Session.elm
  src/Page/Food.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Views/Bookmark.elm
  src/Views/Comparator.elm
  src/Views/Page.elm
  tests/Data/BookmarkTest.elm
Due: none

feat: unselect all in comparator (#1695)
  lib/charts/food-comparator.js
  src/Views/Comparator.elm
Due: app-prettier

Revert "fix(ui): fix losing session data when navigating different versions (#1694)"
  src/Data/Bookmark.elm
  src/Data/Session.elm
  src/Page/Food.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Views/Bookmark.elm
  src/Views/Comparator.elm
  src/Views/Page.elm
  tests/Data/BookmarkTest.elm
Due: none

GITBOOK-1613: No subject
  textile/cycle-de-vie-des-produits-textiles/etape-1-matieres/autres-matieres-naturelles.md
Due: none

fix: revert bookmarks local storage update (#1699)
  src/Data/Bookmark.elm
  src/Data/Session.elm
  src/Page/Food.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Views/Bookmark.elm
  src/Views/Comparator.elm
  src/Views/Page.elm
  tests/Data/BookmarkTest.elm
Due: none

chore: change default electric mix to India’s
  src/Data/Component.elm
  src/Data/Textile/WellKnown.elm
  tests/Data/ComponentTest.elm
Due: none

feat: add generic energy process to config.json
  public/data/components/config.json
  src/Data/Component.elm
  src/Data/Component/Config.elm
  tests/Data/ComponentTest.elm
Due: app-prettier

refactor: use requirements for impacts computation
  src/Data/Component.elm
  src/Page/Admin/Component.elm
  src/Page/Explore.elm
  src/Page/Explore/Components.elm
  tests/Data/ComponentTest.elm
Due: none

refactor: use default energy mixes from config
  src/Data/Component.elm
  src/Views/Component.elm
  tests/Data/ComponentTest.elm
Due: none

refactor: remove unused wellknown
  src/Data/Textile/WellKnown.elm
Due: none

Path conditions:
  app-prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.json$
  app-ruff-check: any of: ^.*$ and \.py$
  app-ruff-format: any of: ^.*$ and \.py$
  dont-commit-detailed-processes: any of: ^processes_impacts.json$
