Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format

app-prettier:
  name: run prettier
  language: system
  entry: 'bash -c ''npm --prefix . run fix:prettier --write "${@}"'' --
  
    '

app-ruff-check:
  name: run ruff check
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:check "${@}"'' --
  
    '

app-ruff-format:
  name: run ruff format
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:format "${@}"'' --
  
    '

Decode processes from JSON value.
  src/Data/Session.elm
  src/Page/Auth.elm
Due: none

fix: check token and serve appropriate files
  backend/authentication/views.py
  backend/backend/urls.py
  backend/internal/urls.py
  backend/internal/views.py
  server.js
Due: app-prettier, app-ruff-check, app-ruff-format

fix: always provide full impacts in test mode
  .env.sample
  backend/backend/settings.py
  server.js
Due: app-prettier, app-ruff-check, app-ruff-format

Revert "Decode processes from JSON value."
  src/Data/Session.elm
  src/Page/Auth.elm
Due: none

fix: pass strings to Elm
  server.js
Due: app-prettier

fix: remove unused variable
  .github/workflows/score_history.yml
Due: none

add complements to ingredients
  data/common/score_history/score_history.py
Due: app-ruff-check, app-ruff-format

fix domain error
  data/common/score_history/score_history.py
Due: app-ruff-check, app-ruff-format

fix: retrieve detailed processes after login.
  src/Data/Session.elm
  src/Page/Auth.elm
Due: none

chore: give uv a try
  .github/workflows/node.js.yml
  requirements.txt
Due: none

fix: remove .venv formatting with prettier
  .prettierignore
Due: none

fix: remove hardcoded pipenv
  package.json
Due: app-prettier

chore: extract auth request code to Request.Auth.
  src/Data/Session.elm
  src/Page/Auth.elm
  src/Request/Auth.elm
Due: none

fix: remove pipenv references
  .github/workflows/node.js.yml
Due: none

chore: Move AllProcessesJson to Static.Db.
  src/Data/Session.elm
  src/Page/Auth.elm
  src/Request/Auth.elm
  src/Static/Db.elm
Due: none

chore: add upterm debug session
  .github/workflows/node.js.yml
Due: none

chore: move user stuff to User.module.
  src/Data/User.elm
  src/Page/Auth.elm
Due: none

rename ingredients
  data/food/activities.json
Due: app-prettier

fix: use specific action for uv
  .github/workflows/node.js.yml
Due: none

fix: remove upterm debug session
  .github/workflows/node.js.yml
Due: none

rename ingredients in all files
  public/data/food/ingredients.json
  public/data/food/processes.json
  public/data/food/processes_impacts.json
Due: app-prettier

chore: Move static Json related stuff to Static.Json.
  src/Data/Session.elm
  src/Page/Auth.elm
  src/Request/Auth.elm
  src/Server/Request.elm
  src/Static/Db.elm
  src/Static/Json.elm-template
Due: none

chore: remove encryption code
  .env.sample
  .github/workflows/node.js.yml
  backend/backend/settings.py
  bin/decrypt
  bin/encrypt
  bin/generate-encrypt-key
  lib/crypto.js
  server.js
Due: app-prettier, app-ruff-check, app-ruff-format

test: use pytest instead of Danjgo builtin
  Pipfile
  Pipfile.lock
  backend/authentication/tests.py
  backend/tests/authentication/test_profile.py
  backend/tests/authentication/test_registration.py
  package.json
  pytest.ini
Due: app-prettier, app-ruff-check, app-ruff-format

chore: compute undetailed processes at server load
  compute-aggregated.js
  data/Makefile
  package.json
  server.js
  src/ComputeAggregated.elm
  src/Data/Impact.elm
  src/Data/Impact/Definition.elm
Due: app-prettier

fix test
  tests/server.spec.js
Due: app-prettier

test: use pytest instead of Django builtin (#654)
  Pipfile
  Pipfile.lock
  backend/authentication/tests.py
  backend/tests/authentication/test_profile.py
  backend/tests/authentication/test_registration.py
  package.json
  pytest.ini
Due: app-prettier, app-ruff-check, app-ruff-format

fix: we don't need to encrypt files directly
  package.json
Due: app-prettier

feat: encrypt files server side
  .proxyrc.json
  bin/generate-encrypt-key
  server.js
Due: app-prettier

fix: add 32 chars encryption key
  .env.sample
  .github/workflows/node.js.yml
Due: none

chore: Django app `processes` is not needed anymore
  backend/backend/urls.py
  backend/processes/urls.py
  backend/processes/views.py
Due: app-ruff-check, app-ruff-format

chore: remove fast-memoize
  package-lock.json
  package.json
Due: app-prettier

Add tooling to encrypt and decrypt files.
  .env.sample
  bin/decrypt
  bin/encrypt
  lib/crypto.js
  package.json
Due: app-prettier

fix: modify nginx conf
  servers.conf.erb
Due: none

fix: we don't need status
  server.js
Due: app-prettier

fix: read processes only once
  server.js
Due: app-prettier

fix: compute everything at server start
  server.js
Due: app-prettier

fix: food impacts path
  server.js
Due: app-prettier

chore: don't use django to serve files
  server.js
Due: app-prettier

fix: processes values should be strings
  server.js
Due: app-prettier

Path conditions:
  app-prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.json$
  app-ruff-check: any of: ^.*$ and \.py$
  app-ruff-format: any of: ^.*$ and \.py$
