Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format

app-prettier:
  name: run prettier
  language: system
  entry: 'bash -c ''npm --prefix . run fix:prettier --write "${@}"'' --
  
    '

app-ruff-check:
  name: run ruff check
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:check "${@}"'' --
  
    '

app-ruff-format:
  name: run ruff format
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:format "${@}"'' --
  
    '

feat: add config validation to db:check command
  check-db.js
  lib/index.js
  src/CheckDb.elm
Due: app-prettier

fix: remove obsolete recycling strategy
  public/data/components/config.json
  src/Main.elm
Due: app-prettier

refactor: clean code
  src/CheckDb.elm
Due: none

GITBOOK-1673: No subject
  lequipe-ecobalyse.md
Due: none

GITBOOK-1674: No subject
  lequipe-ecobalyse.md
Due: none

Update docs/ADR/manage-component-location.md
  docs/ADR/manage-component-location.md
Due: none

Add object example: sqdqsdqsd
  public/data/object/examples.json
Due: app-prettier

feat: check ingredient variants
  .github/workflows/variant_hierarchy.yml
  .gitignore
  bin/check_variant_hierarchy.py
Due: app-ruff-check, app-ruff-format

feat(experimental): allow contributing examples
  .env.sample
  README.md
  backend/src/app/domain/generic_contributions/__init__.py
  backend/src/app/domain/generic_contributions/controllers/__init__.py
  backend/src/app/domain/generic_contributions/controllers/contribution.py
  backend/src/app/domain/generic_contributions/schemas.py
  backend/src/app/domain/generic_contributions/services.py
  backend/src/app/domain/generic_contributions/urls.py
  backend/src/app/server/core.py
  src/Page/Food.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Request/GenericContribution.elm
  src/Views/Bookmark.elm
  src/Views/Sidebar.elm
  tests/backend/integration/test_generic_contributions.py
Due: app-ruff-check, app-ruff-format

feat(object): add “blah” example
  public/data/object/examples.json
Due: app-prettier

fix: add examples files to .prettierignore
  .prettierignore
Due: none

feat(object): add “sample thing” example
  public/data/object/examples.json
Due: app-prettier

feat(veli): add “un joli vélo” example
  public/data/veli/examples.json
Due: app-prettier

trigger gh action on PR for this
  .github/workflows/variant_hierarchy.yml
Due: none

don't put detailed impacts in release archive
  bin/build-specific-app-version.sh
Due: none

fix: create clickable link to PR in success notif
  src/Page/Object.elm
  src/Views/Page.elm
Due: none

fix: reset contrib resp loading state on err
  src/Page/Object.elm
Due: none

refactor: rename contrib app
  .env.sample
  backend/src/app/domain/contrib/__init__.py
  backend/src/app/domain/contrib/controllers/__init__.py
  backend/src/app/domain/contrib/controllers/contrib.py
  backend/src/app/domain/contrib/schemas.py
  backend/src/app/domain/contrib/services.py
  backend/src/app/domain/contrib/urls.py
  backend/src/app/domain/generic_contributions/controllers/__init__.py
  backend/src/app/domain/generic_contributions/controllers/contribution.py
  backend/src/app/domain/generic_contributions/urls.py
  backend/src/app/server/core.py
  src/Page/Object.elm
  src/Request/Contrib.elm
  src/Request/GenericContribution.elm
  src/Views/Bookmark.elm
  tests/backend/integration/test_contrib.py
Due: app-ruff-check, app-ruff-format

refactor: naming consistency
  src/Page/Food.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Views/Bookmark.elm
  src/Views/Sidebar.elm
Due: none

chore: improve comment
  backend/src/app/domain/contrib/services.py
Due: app-ruff-check, app-ruff-format

refactor: move github settings to a dedicated class
  backend/src/app/config/__init__.py
  backend/src/app/config/base.py
  backend/src/app/domain/contrib/controllers/contrib.py
  backend/src/app/domain/contrib/services.py
  tests/backend/integration/test_contrib.py
Due: app-ruff-check, app-ruff-format

clean code
  src/Views/Bookmark.elm
Due: none

refactor: avoid unnecessary symbol exposure
  backend/src/app/config/__init__.py
  backend/src/app/domain/contrib/services.py
Due: app-ruff-check, app-ruff-format

refactor: create_contrib_pr now returns ContribResponse
  backend/src/app/domain/contrib/controllers/contrib.py
  backend/src/app/domain/contrib/services.py
  tests/backend/integration/test_contrib.py
Due: app-ruff-check, app-ruff-format

refactor: simplify github_request impl
  backend/src/app/domain/contrib/services.py
Due: app-ruff-check, app-ruff-format

chore: improve styling and ux
  src/Views/Bookmark.elm
Due: none

feat: check if an example already exists
  src/Request/Contrib.elm
  src/Views/Bookmark.elm
Due: none

Path conditions:
  app-prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.json$
  app-ruff-check: any of: ^.*$ and \.py$
  app-ruff-format: any of: ^.*$ and \.py$
