Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format, dont-commit-detailed-processes

app-prettier:
  name: run prettier
  language: system
  entry: 'bash -c ''npm --prefix . run fix:prettier --write "${@}"'' --
  
    '

app-ruff-check:
  name: run ruff check
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:check "${@}"'' --
  
    '

app-ruff-format:
  name: run ruff format
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:format "${@}"'' --
  
    '

dont-commit-detailed-processes:
  name: check that we don't commit processes_impacts.json
  language: system
  entry: 'bash -c ''echo "⚠️ Prevented pushing detailed impacts data to public git repository. To update these, clone and push to the ecobalyse-private repository.";exit 1''
  
    '

Added FR-only organic tomato
  data/food/activities_to_create.json
Due: app-prettier

Changed ingredients (contributed by Écobalyse)
  data/food/activities.json
Due: app-prettier

reformat
  data/food/activities.json
Due: app-prettier

fix: branch name detection
  bin/extract-data-branch-from-pr.sh
Due: none

fix: remove debug
  bin/extract-data-branch-from-pr.sh
Due: none

refactor: try to get python into buildpack-run
  .buildpacks
  buildpack-run.sh
Due: none

GITBOOK-967: change request with no subject merged in GitBook
  alimentaire-en-construction/impacts-consideres/README.md
  alimentaire-en-construction/impacts-consideres/impacts-consideres.md
Due: none

feat: Allow to switch to a different DB while navigating (#674)
  data/notebooks/explore.py
Due: app-ruff-check, app-ruff-format

fix: remove dead code
  src/Request/Version.elm
Due: none

fix: consider new tag as new version
  src/Request/Version.elm
  tests/Request/VersionTest.elm
Due: none

feat: display tag in footer if any
  Pipfile
  Pipfile.lock
  bin/get-tag-for-commit.py
  bin/update-version.sh
  src/Main.elm
  src/Request/Version.elm
  src/Views/Page.elm
Due: app-ruff-check, app-ruff-format

fix: give SOURCE_VERSION to release please
  .github/workflows/release-please.yml
Due: none

feat: display current version in the footer (#677)
  .github/workflows/release-please.yml
  Pipfile
  Pipfile.lock
  bin/get-tag-for-commit.py
  bin/update-version.sh
  src/Main.elm
  src/Request/Version.elm
  src/Views/Page.elm
  tests/Request/VersionTest.elm
Due: app-ruff-check, app-ruff-format

fixed the plastic case and run an export
  data/import_agribalyse.py
  public/data/food/ingredients.json
  public/data/food/processes.json
Due: app-prettier, app-ruff-check, app-ruff-format

brightway migration to remove the transformation from urban on greenhouses
  data/Makefile
  data/import_agribalyse.py
Due: app-ruff-check, app-ruff-format

new export
  public/data/food/ingredients.json
  public/data/food/processes.json
Due: app-prettier

Added ES-only tomato
  data/food/activities.json
  data/food/activities_to_create.json
  data/import_agribalyse.py
  public/data/food/ingredients.json
  public/data/food/processes.json
Due: app-prettier, app-ruff-check, app-ruff-format

keep other than urban, not urban :-(
  data/import_agribalyse.py
Due: app-ruff-check, app-ruff-format

new export
  public/data/food/processes.json
Due: app-prettier

chore: provide a way to synchronise a branch of `ecobalyse-private` with a PR (#672)
  .buildpacks
  .github/workflows/node.js.yml
  .github/workflows/score_history.yml
  bin/checkout-ecobalyse-private-branch.sh
  bin/extract-data-branch-from-pr.sh
  buildpack-run.sh
Due: none

fix: add ecobalyse-private to release please
  .github/workflows/release-please.yml
Due: none

fix: add ecobalyse-private to release please (#679)
  .github/workflows/release-please.yml
Due: none

better ids and name
  data/food/activities.json
  public/data/food/ingredients.json
  public/data/food/processes.json
Due: app-prettier

fix: data-dir is needed before build
  .github/workflows/release-please.yml
Due: none

fix: data-dir is needed before build (#681)
  .github/workflows/release-please.yml
Due: none

fix default origin
  public/data/food/ingredients.json
Due: app-prettier

Path conditions:
  app-prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.json$
  app-ruff-check: any of: ^.*$ and \.py$
  app-ruff-format: any of: ^.*$ and \.py$
  dont-commit-detailed-processes: any of: ^processes_impacts.json$
