Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
      exclude: (svg|icomoon|rapidoc-9.3.4.min.js)
    - id: trailing-whitespace
      exclude: (vendor|rapidoc-9.3.4.min.js)
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, master]

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier
        language: system
        files: ^.*$
        types_or: [javascript, json]
        entry: |
          bash -c 'npm --prefix . run fix:prettier --write "${@}"' --

      - id: app-ruff-check
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:check "${@}"' --

      - id: app-ruff-format
        name: run ruff format
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:format "${@}"' --

      - id: app-elm-format
        name: run elm-format
        language: system
        files: ^.*$
        types_or: [elm]
        entry: |
          bash -c 'npm --prefix . run fix:elm-format "${@}"' --

Move flaxseed-fr to flaxseed-default
  data/lci_catalog/agribalyse-3-2/flaxseed-default.json
  data/lci_catalog/agribalyse-3-2/flaxseed-fr.json
Due: app-prettier

move poppy-seed-eu and cucurbitacae-seed-eu to flaxseed-default
  data/lci_catalog/agribalyse-3-2/flaxseed-default.json
  data/lci_catalog/agribalyse-3-2/linseed-seed.json
Due: app-prettier

chore: upgrade node deps
  package-lock.json
  package.json
Due: app-prettier

move rye-whole-grain-default to rye-grain
  data/lci_catalog/agribalyse-3-2/rye-grain.json
  data/lci_catalog/ecoinvent-3-11/rye-whole-default.json
Due: app-prettier

chore: update node deps
  package-lock.json
  package.json
Due: app-prettier

move soybean-organic to soybean-organic-2025
  data/lci_catalog/agribalyse-3-2/soybean-organic-2025.json
  data/lci_catalog/ginko-2025/soybean-organic.json
Due: app-prettier

chore(current): upgrade python deps, 2026-06-04 (#2399)
  backend/src/app/cli/commands.py
  backend/src/app/domain/accounts/controllers/access.py
  backend/src/app/domain/components/controllers/component.py
  backend/src/app/domain/components/services.py
  backend/src/app/domain/journal_entries/controllers/journal_entry.py
  backend/src/app/domain/processes/controllers/process.py
  uv.lock
Due: app-ruff-check, app-ruff-format

fix tests
  data/tests/test_json_consistency.py
Due: app-ruff-check, app-ruff-format

fix check_ingredient_hierarchy
  .github/workflows/ingredient_hierarchy.yml
  bin/check_ingredient_hierarchy.py
Due: app-ruff-check, app-ruff-format

change path for ingredient hierarchy
  .github/workflows/ingredient_hierarchy.yml
  bin/check_ingredient_hierarchy.py
Due: app-ruff-check, app-ruff-format

remove LOCAL_DIR var
  data/compose.yaml
Due: none

suppr empty file
  data/lci_catalog/ecoinvent-3-11/broccoli.json
Due: app-prettier

suppr empty file
  data/lci_catalog/agribalyse-3-2/wheat-grain-in.json
Due: app-prettier

suppr empty file
  data/lci_catalog/ecoinvent-3-11/lima-bean-default.json
Due: app-prettier

chore: fix formatting
  data/lci_catalog/ginko-2025/soybean-organic.json
Due: app-prettier

chore: upgrade node deps (#2486)
  package-lock.json
  package.json
Due: app-prettier

chore(stable): update node deps (#2489)
  package-lock.json
  package.json
Due: app-prettier

suppr empty file
  data/lci_catalog/agribalyse-3-2/flaxseed-fr.json
Due: app-prettier

suppr empty file
  data/lci_catalog/agribalyse-3-2/linseed-seed.json
Due: app-prettier

suppr empty file
  data/lci_catalog/ecoinvent-3-11/rye-whole-default.json
Due: app-prettier

chore: remove ruff checks
  package.json
Due: app-prettier

ci: remove backend tests
  .github/workflows/node.js.yml
Due: none

suppr empty file
  data/lci_catalog/ginko-2025/soybean-organic.json
Due: app-prettier

chore(deps): update sentry-sdk[litestar] requirement (#2500)
  pyproject.toml
  uv.lock
Due: none

chore(deps): bump the npm_and_yarn group across 1 directory with 4 updates (#2499)
  package-lock.json
Due: app-prettier

Change lcia for orange-organic ; move grapefruit-organic to orange-organic.json
  data/lci_catalog/ginko-2025/grapefruit-organic.json
  data/lci_catalog/ginko-2025/orange-organic.json
Due: app-prettier

Change lcia for tomato-organic & Move cherry-tomato-organic to tomato-organic & suppr empty file
  data/lci_catalog/ginko-2025/cherry-tomato-organic.json
  data/lci_catalog/ginko-2025/tomato-organic.json
Due: app-prettier

clean organic compound dependant: wire and PAN
  data/lci_catalog/ecoinvent-3-9-1/ei-acrylique.json
  public/data/object/components.json
Due: app-prettier

fix PAN material type
  data/lci_catalog/ecoinvent-3-9-1/ei-acrylique.json
Due: app-prettier
