Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format, dont-commit-detailed-processes

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
      exclude: (svg|icomoon|rapidoc-9.3.4.min.js)
    - id: trailing-whitespace
      exclude: (vendor|rapidoc-9.3.4.min.js)
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, master]

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier
        language: system
        files: ^.*$
        types_or: [javascript, json]
        entry: |
          bash -c 'npm --prefix . run fix:prettier --write "${@}"' --

      - id: app-ruff-check
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:check "${@}"' --

      - id: app-ruff-format
        name: run ruff format
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:format "${@}"' --

      - id: dont-commit-detailed-processes
        name: check that we don't commit processes_impacts.json
        language: system
        files: ^processes_impacts.json$
        entry: |
          bash -c 'echo "⚠️ Prevented pushing detailed impacts data to public git repository. To update these, clone and push to the ecobalyse-private repository.";exit 1'

new export
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

adapted tests
  tests/Data/Food/RecipeTest.elm
Due: none

adapted tests
  tests/Data/Textile/SimulatorTest.elm
  tests/e2e-food.json
  tests/e2e-textile.json
Due: app-prettier

fix: upgrade posthog-js from 1.257.0 to 1.257.2
  package-lock.json
  package.json
Due: app-prettier

fix: upgrade posthog-node from 5.5.1 to 5.6.0
  package-lock.json
  package.json
Due: app-prettier

GITBOOK-1461: No subject
  textile/durabilite.md
Due: none

feat: don’t serve detailed impacts when not authenticated
  backend/src/app/cli/commands.py
  backend/src/app/domain/accounts/controllers/access.py
  backend/src/app/domain/accounts/deps.py
  backend/src/app/domain/accounts/guards.py
  backend/src/app/domain/processes/controllers/process.py
  backend/src/app/domain/processes/services.py
  backend/src/app/lib/middleware/__init__.py
  backend/src/app/lib/middleware/custom_auth_middleware.py
  backend/src/app/server/core.py
  bin/reset-docker-db.sh
  tests/backend/data_fixtures.py
  tests/backend/integration/conftest.py
  tests/backend/integration/test_processes.py
Due: app-ruff-check, app-ruff-format

test: check that units are ok
  tests/backend/integration/test_processes.py
Due: app-ruff-check, app-ruff-format

fix: migrations order
  backend/src/app/db/migrations/versions/2025-06-16_add_journal_entries_041c77a5f1fe.py
  backend/src/app/db/migrations/versions/2025-06-18_add_scopes_f3596fc1e583.py
  backend/src/app/db/migrations/versions/2025-06-26_add_full_processes_4e9df9c39c35.py
Due: app-ruff-check, app-ruff-format

feat: add journaling of actions
  backend/src/app/db/migrations/versions/2025-06-16_add_journal_entries_041c77a5f1fe.py
  backend/src/app/domain/components/controllers/component.py
  backend/src/app/domain/components/services.py
  backend/src/app/domain/journal_entries/controllers/journal_entry.py
  backend/src/app/domain/journal_entries/schemas.py
Due: app-ruff-check, app-ruff-format

feat(bo): allow editing component scopes
  tests/Data/ComponentTest.elm
Due: none

fix: avoid SA warning abou component not present in session
  backend/src/app/db/models/scope.py
Due: app-ruff-check, app-ruff-format

feat: add a component journal viewer
  src/Page/Admin/Component.elm
Due: none

feat: remove impacts from list view
  backend/src/app/domain/processes/controllers/process.py
  backend/src/app/domain/processes/services.py
  tests/backend/integration/test_processes.py
Due: app-ruff-check, app-ruff-format

feat: add full process model
  backend/src/app/cli/commands.py
  backend/src/app/db/migrations/versions/2025-06-23_add_full_processes_4e9df9c39c35.py
  backend/src/app/db/models/process.py
  backend/src/app/domain/components/services.py
  backend/src/app/domain/processes/schemas.py
Due: app-ruff-check, app-ruff-format

chore: load processes fixtures
  bin/load-fixtures.sh
Due: none

feat: return scopes
  backend/src/app/domain/components/controllers/component.py
  backend/src/app/domain/components/deps.py
Due: app-ruff-check, app-ruff-format

feat: display impacts for processes
  backend/src/app/cli/commands.py
  backend/src/app/db/models/process.py
  backend/src/app/db/models/process_category.py
  backend/src/app/domain/processes/deps.py
  backend/src/app/domain/processes/schemas.py
  backend/src/app/domain/processes/services.py
  tests/backend/integration/test_processes.py
Due: app-ruff-check, app-ruff-format

feat: add scopes update
  backend/src/app/db/models/scope.py
  backend/src/app/domain/components/controllers/component.py
  backend/src/app/domain/components/schemas.py
Due: app-ruff-check, app-ruff-format

chore: add scopes to DB
  backend/src/app/db/migrations/versions/2025-06-11_add_scopes_8455e285aafc.py
  backend/src/app/db/models/__init__.py
  backend/src/app/db/models/component_scope.py
  backend/src/app/db/models/scope.py
  backend/src/app/domain/components/controllers/component.py
  backend/src/app/domain/components/deps.py
Due: app-ruff-check, app-ruff-format

chore: add journal entry for processes
  backend/src/app/cli/commands.py
  backend/src/app/db/models/process.py
  backend/src/app/db/models/user.py
  backend/src/app/domain/processes/services.py
  tests/backend/integration/conftest.py
  tests/backend/integration/test_journal_entries.py
Due: app-ruff-check, app-ruff-format

style: improve diff readability
  src/Views/Format.elm
Due: none

feat: add processes list endpoint
  backend/src/app/db/migrations/versions/2025-06-30_add_categories_for_processes_b97f52901f2a.py
  backend/src/app/db/migrations/versions/2025-06-30_add_full_processes_d60f64478dd6.py
  backend/src/app/db/models/process.py
  backend/src/app/domain/processes/controllers/__init__.py
  backend/src/app/domain/processes/controllers/process.py
  backend/src/app/domain/processes/deps.py
  backend/src/app/domain/processes/schemas.py
  backend/src/app/domain/processes/urls.py
  backend/src/app/server/core.py
Due: app-ruff-check, app-ruff-format

fix: bad rebase merge
  src/Page/Admin/Component.elm
Due: none

feat: add process categories
  backend/src/app/db/migrations/versions/2025-06-30_add_categories_for_processes_b97f52901f2a.py
  backend/src/app/db/models/__init__.py
  backend/src/app/db/models/process.py
  backend/src/app/db/models/process_category.py
  backend/src/app/db/models/process_process_category.py
  backend/src/app/domain/processes/services.py
Due: app-ruff-check, app-ruff-format

feat: render a diff in journal entries
  src/Page/Admin/Component.elm
  src/Views/Format.elm
Due: none

test: add unit tests
  tests/Data/ComponentTest.elm
Due: none

chore: rebase on master
  backend/src/app/db/migrations/versions/2025-06-11_add_scopes_8455e285aafc.py
  backend/src/app/db/migrations/versions/2025-06-16_add_journal_entries_041c77a5f1fe.py
  backend/src/app/db/migrations/versions/2025-06-18_add_scopes_f3596fc1e583.py
  backend/src/app/db/models/__init__.py
  backend/src/app/db/models/component_scope.py
  backend/src/app/db/models/scope.py
  backend/src/app/domain/components/controllers/component.py
  backend/src/app/domain/components/deps.py
  backend/src/app/domain/components/schemas.py
  backend/src/app/domain/components/services.py
Due: app-ruff-check, app-ruff-format

feat: display all processes fields
  backend/src/app/db/migrations/versions/2025-07-01_add_full_processes_8b6326faa9c7.py
  backend/src/app/db/models/process.py
  backend/src/app/domain/processes/controllers/process.py
  backend/src/app/domain/processes/schemas.py
  backend/src/app/domain/processes/urls.py
Due: app-ruff-check, app-ruff-format

GITBOOK-1462: No subject
  textile/cycle-de-vie-des-produits-textiles/confection.md
  textile/parametrage.md
Due: none

feat: allow using eco_api token
  backend/src/app/domain/accounts/services.py
  backend/src/app/lib/middleware/custom_auth_middleware.py
  tests/backend/integration/test_access.py
Due: app-ruff-check, app-ruff-format

chore: update token last_accessed_at
  backend/src/app/domain/accounts/guards.py
  backend/src/app/lib/middleware/custom_auth_middleware.py
  tests/backend/integration/test_access.py
Due: app-ruff-check, app-ruff-format

chore: upgrade posthog deps (#1301)
  package-lock.json
  package.json
Due: app-prettier

GITBOOK-1465: No subject
  textile/precisions-methodologiques/pertes-et-rebus.md
Due: none

GITBOOK-1466: No subject
  textile/precisions-methodologiques/pertes-et-rebus.md
Due: none

chore: run elm-format
  src/Data/Food/Ingredient/Scenario.elm
  src/Data/Textile/Material.elm
  src/Data/Textile/Query.elm
  src/Page/Explore/FoodIngredients.elm
  src/Page/Textile.elm
  tests/Data/Textile/InputsTest.elm
  tests/Server/RouteTest.elm
Due: none

chore: order keys alphabetically
  src/Data/Textile/Material.elm
Due: none

refactor: use test helpers suiteFromResult instead of patternmatching
  tests/Data/Textile/InputsTest.elm
  tests/Data/Textile/QueryTest.elm
  tests/Server/RouteTest.elm
Due: none

feat(bo): add API to list processes (#1167)
  backend/src/app/cli/commands.py
  backend/src/app/db/migrations/versions/2025-07-01_add_full_processes_8b6326faa9c7.py
  backend/src/app/db/models/__init__.py
  backend/src/app/db/models/process.py
  backend/src/app/db/models/process_category.py
  backend/src/app/db/models/process_process_category.py
  backend/src/app/db/models/user.py
  backend/src/app/domain/accounts/controllers/access.py
  backend/src/app/domain/accounts/deps.py
  backend/src/app/domain/accounts/guards.py
  backend/src/app/domain/accounts/services.py
  backend/src/app/domain/journal_entries/controllers/journal_entry.py
  backend/src/app/domain/journal_entries/schemas.py
  backend/src/app/domain/processes/controllers/__init__.py
  backend/src/app/domain/processes/controllers/process.py
  backend/src/app/domain/processes/deps.py
  backend/src/app/domain/processes/schemas.py
  backend/src/app/domain/processes/services.py
  backend/src/app/domain/processes/urls.py
  backend/src/app/lib/middleware/__init__.py
  backend/src/app/lib/middleware/custom_auth_middleware.py
  backend/src/app/server/core.py
  bin/load-fixtures.sh
  bin/reset-docker-db.sh
  tests/backend/data_fixtures.py
  tests/backend/integration/conftest.py
  tests/backend/integration/test_access.py
  tests/backend/integration/test_journal_entries.py
  tests/backend/integration/test_processes.py
Due: app-ruff-check, app-ruff-format
