Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format, dont-commit-detailed-processes

app-prettier:
  name: run prettier
  language: system
  entry: 'bash -c ''npm --prefix . run fix:prettier --write "${@}"'' --
  
    '

app-ruff-check:
  name: run ruff check
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:check "${@}"'' --
  
    '

app-ruff-format:
  name: run ruff format
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:format "${@}"'' --
  
    '

dont-commit-detailed-processes:
  name: check that we don't commit processes_impacts.json
  language: system
  entry: 'bash -c ''echo "⚠️ Prevented pushing detailed impacts data to public git repository. To update these, clone and push to the ecobalyse-private repository.";exit 1''
  
    '

feat: improve unauthorized page
  src/Views/Page.elm
Due: none

feat: add a confirmation prompt before deleting an api token
  src/Page/Auth2.elm
Due: none

chore: update wording
  src/Page/Auth.elm
Due: none

style: improve styling
  src/Page/Auth2.elm
Due: none

feat: parse and render datetimes
  elm.json
  src/Data/ApiToken.elm
  src/Data/Common/EncodeUtils.elm
  src/Data/User2.elm
  src/Page/Auth2.elm
  src/Views/Format.elm
Due: app-prettier

feat: ensure fetching freshest user data in account page
  src/Page/Auth2.elm
  src/Request/Auth2.elm
Due: none

fix: upgrade user json decoding tests
  tests/Data/Auth2Test.elm
Due: none

test: update ci config
  .github/workflows/node.js.yml
  .github/workflows/playwright.yml
  package.json
  playwright.config.js
Due: app-prettier

feat(bo,objects): allow edit component scopes
  src/Page/Admin.elm
Due: none

chore: delete planche feuillus
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

feat(bo): allow editing component scopes
  public/data/object/components.json
  public/data/textile/components.json
  src/Data/Component.elm
  src/Page/Admin.elm
  src/Request/Component.elm
  src/Static/Db.elm
  tests/Data/ComponentTest.elm
Due: app-prettier

GITBOOK-1364: Complément BiodiversitéBois
  ameublement/complement-hors-acv/biodiversitebois.md
Due: none

test: add unit tests
  tests/Data/ComponentTest.elm
Due: none

feat: allow users to update their profile
  src/Data/User.elm
  src/Page/Auth.elm
  src/Request/Auth.elm
Due: none

feat: render profile email as readonly
  src/Page/Auth.elm
Due: none

feat: render profile org as readonly
  src/Page/Auth.elm
Due: none

fix: encrypt impacts with transcrypt
  .gitattributes
Due: none

fix: touch impacts
  public/data/processes_impacts.json
Due: app-prettier

chore: deploy config
  .buildpacks
  .proxyrc.json
  Procfile
  bin/start.sh
  buildpack-run.sh
  servers.conf.erb
Due: app-prettier

fix: use uv in build scripts
  bin/build-specific-app-version.sh
Due: none

ci: adapt to uv
  .github/workflows/node.js.yml
  .github/workflows/score_history.yml
Due: none

chore: use uv for ruff
  backend/src/app/cli/commands.py
  backend/src/app/domain/accounts/controllers/access.py
  backend/src/app/domain/accounts/deps.py
  backend/src/app/domain/accounts/guards.py
  backend/src/app/domain/accounts/schemas.py
  backend/src/app/domain/accounts/services.py
  backend/src/app/domain/accounts/signals.py
  backend/src/app/domain/components/controllers/component.py
  backend/src/app/domain/components/schemas.py
  backend/src/app/domain/components/services.py
  backend/src/app/domain/processes/services.py
  backend/src/app/server/core.py
  backend/src/app/server/plugins.py
  backend/tests/conftest.py
  backend/tests/data_fixtures.py
  backend/tests/integration/conftest.py
  backend/tests/integration/test_access.py
  backend/tests/integration/test_health.py
  package.json
  tests/conftest.py
Due: app-prettier, app-ruff-check, app-ruff-format

chore: install uv when needed
  buildpack-run.sh
Due: none

chore: remove python buildpack
  .buildpacks
  buildpack-run.sh
Due: none

fix: use port 8002 for scalingo
  bin/start.sh
Due: none

chore: add uv to path
  buildpack-run.sh
Due: none

fix: scalingo start script
  bin/start.sh
Due: none

chore: install uv globally
  bin/start.sh
  buildpack-run.sh
Due: none

chore: add export path to profile
  buildpack-run.sh
Due: none

chore: add some debugging
  bin/start.sh
Due: none

chore: add more debug
  bin/start.sh
  buildpack-run.sh
Due: none

feat: improve backend error alerts
  src/Views/Alert.elm
  src/Views/Page.elm
Due: none

style: improve profile form UX
  src/Page/Auth.elm
Due: none

feat: render scopes in components admin table
  src/Data/Component.elm
  src/Page/Admin.elm
  styles.scss
Due: none

feat: allow filtering scopes in the component admin
  src/Data/Component.elm
  src/Data/Scope.elm
  src/Page/Admin.elm
Due: none

GITBOOK-1365: No subject
  alimentaire/complement-hors-acv.md
Due: none

GITBOOK-1367: Ameublement _ Fin de vie (cutoff)
  .gitbook/assets/Coût environnement (Pt _ kg) des scénarios de fin de vie (1).png
  .gitbook/assets/Coût environnement (Pt _ kg) des scénarios de fin de vie.png
  .gitbook/assets/Tableau fin de vie.png
  ameublement/cycle-de-vie/etape-4-fin-de-vie.md
Due: none

chore: try to reduce scalingo image size
  package.json
Due: app-prettier

Path conditions:
  app-prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.json$
  app-ruff-check: any of: ^.*$ and \.py$
  app-ruff-format: any of: ^.*$ and \.py$
  dont-commit-detailed-processes: any of: ^processes_impacts.json$
