Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format, dont-commit-detailed-processes

app-prettier:
  name: run prettier
  language: system
  entry: 'bash -c ''npm --prefix . run fix:prettier --write "${@}"'' --
  
    '

app-ruff-check:
  name: run ruff check
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:check "${@}"'' --
  
    '

app-ruff-format:
  name: run ruff format
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:format "${@}"'' --
  
    '

dont-commit-detailed-processes:
  name: check that we don't commit processes_impacts.json
  language: system
  entry: 'bash -c ''echo "⚠️ Prevented pushing detailed impacts data to public git repository. To update these, clone and push to the ecobalyse-private repository.";exit 1''
  
    '

test: fix bad uuid
  tests/backend/integration/test_journal_entries.py
Due: app-ruff-check, app-ruff-format

chore: don’t drop column to allow data migration
  backend/src/app/db/migrations/versions/2025-09-29_add_elements_table_6bc73acbc57d.py
Due: app-ruff-check, app-ruff-format

feat: add elements to component model
  backend/src/app/db/migrations/versions/2025-09-03_add_elements_table_6bc73acbc57d.py
  backend/src/app/db/models/component.py
  backend/src/app/db/models/element.py
  backend/src/app/db/models/process.py
  backend/src/app/domain/components/deps.py
  backend/src/app/domain/components/schemas.py
  backend/src/app/domain/components/services.py
  bin/reset-docker-db.sh
  tests/backend/data_fixtures.py
  tests/backend/integration/test_access.py
  tests/backend/integration/test_components.py
  tests/backend/integration/test_elements.py
  tests/backend/integration/test_journal_entries.py
  tests/backend/integration/test_processes.py
Due: app-ruff-check, app-ruff-format

fix: element update
  backend/src/app/db/models/component.py
  backend/src/app/db/models/element.py
  backend/src/app/db/models/process.py
  backend/src/app/db/models/process_category.py
  backend/src/app/domain/components/controllers/component.py
  backend/src/app/domain/components/services.py
  tests/backend/data_fixtures.py
  tests/backend/integration/conftest.py
  tests/backend/integration/test_components.py
  tests/backend/integration/test_journal_entries.py
Due: app-ruff-check, app-ruff-format

fix: update elements for components
  backend/src/app/domain/components/deps.py
  backend/src/app/domain/components/services.py
  tests/backend/integration/test_components.py
Due: app-ruff-check, app-ruff-format

fix: add transforms in any
  backend/src/app/domain/components/services.py
Due: app-ruff-check, app-ruff-format

test: fix component test
  tests/backend/integration/test_components.py
Due: app-ruff-check, app-ruff-format

chore: add failing test
  backend/src/app/db/models/process.py
  backend/src/app/domain/components/services.py
  tests/backend/integration/test_components.py
Due: app-ruff-check, app-ruff-format

chore: transport data (2/2) (#1404)
  public/data/countries.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

fix: missing paraffin processes
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

chore: remove useless `uselist`
  backend/src/app/db/models/component.py
  backend/src/app/db/models/process.py
  backend/src/app/db/models/user.py
  backend/src/app/db/models/user_profile.py
  backend/src/app/db/models/user_role.py
Due: app-ruff-check, app-ruff-format

refactor: use consistent field name with relations
  backend/src/app/db/migrations/versions/2025-09-29_add_elements_table_6bc73acbc57d.py
  backend/src/app/db/models/element.py
  backend/src/app/domain/components/services.py
  backend/src/app/domain/elements/services.py
Due: app-ruff-check, app-ruff-format

revert: filterwarnings, will be handled in another PR
  pyproject.toml
Due: none

chore: remove useless test
  backend/src/app/domain/components/services.py
Due: app-ruff-check, app-ruff-format

fix(ui): fix styling issue in textile layout
  src/Page/Textile.elm
Due: none

chore: rebase on main
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

fix: missing paraffin processes (#1428)
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

chore: add comment about the deepcopy utility
  backend/src/app/domain/components/services.py
Due: app-ruff-check, app-ruff-format

fix(ui): fix styling issue in textile layout (#1443)
  src/Page/Textile.elm
Due: none

chore: fix to dict
  backend/src/app/domain/components/services.py
Due: app-ruff-check, app-ruff-format

fix: upgrade posthog-js from 1.266.0 to 1.268.2
  package-lock.json
  package.json
Due: app-prettier

fix: upgrade posthog-node from 5.8.4 to 5.9.0
  package-lock.json
  package.json
Due: app-prettier

fix: upgrade @sentry/browser from 10.12.0 to 10.14.0
  package-lock.json
  package.json
Due: app-prettier

fix: upgrade @sentry/node from 10.12.0 to 10.14.0
  package-lock.json
  package.json
Due: app-prettier

fix: upgrade @sentry/profiling-node from 10.12.0 to 10.14.0
  package-lock.json
  package.json
Due: app-prettier

chore: new processes following vcolomb comments
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

chore: update significant digits : 6 digits -> 5 digits
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

chore: test data migration and remove useless service
  backend/src/app/cli/commands.py
  backend/src/app/domain/elements/deps.py
  backend/src/app/domain/elements/services.py
  backend/src/app/server/core.py
  tests/backend/data_fixtures.py
  tests/backend/integration/conftest.py
  tests/backend/integration/test_command_migate_elements.py
  tests/backend/integration/test_components.py
  tests/backend/integration/test_elements.py
Due: app-ruff-check, app-ruff-format

chore: fix test name
  tests/backend/integration/test_command_migrate_elements.py
Due: app-ruff-check, app-ruff-format

chore: upgrade node dependencies, 2025-10-15
  package-lock.json
  package.json
Due: app-prettier

fix: force auto commit on update
  backend/src/app/cli/commands.py
Due: app-ruff-check, app-ruff-format

chore: fix psycopg-binary compatibility
  pyproject.toml
  uv.lock
Due: none

refactor: add elements model to the DB (#1341)
  backend/src/app/cli/commands.py
  backend/src/app/db/migrations/versions/2025-09-29_add_elements_table_6bc73acbc57d.py
  backend/src/app/db/models/__init__.py
  backend/src/app/db/models/component.py
  backend/src/app/db/models/element.py
  backend/src/app/db/models/process.py
  backend/src/app/db/models/process_category.py
  backend/src/app/db/models/process_element_transform.py
  backend/src/app/db/models/user.py
  backend/src/app/db/models/user_profile.py
  backend/src/app/db/models/user_role.py
  backend/src/app/domain/components/controllers/component.py
  backend/src/app/domain/components/deps.py
  backend/src/app/domain/components/schemas.py
  backend/src/app/domain/components/services.py
  backend/src/app/server/core.py
  bin/reset-docker-db.sh
  tests/backend/data_fixtures.py
  tests/backend/integration/conftest.py
  tests/backend/integration/test_access.py
  tests/backend/integration/test_command_migrate_elements.py
  tests/backend/integration/test_components.py
  tests/backend/integration/test_journal_entries.py
  tests/backend/integration/test_processes.py
Due: app-ruff-check, app-ruff-format

chore: remove unwanted veli processes
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

chore: remove obsolete object processes
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

chore: add test steel component
  public/data/veli/components.json
Due: app-prettier

chore: fix duplicate id component
  public/data/veli/components.json
Due: app-prettier

chore: upgrade node dependencies, 2025-10-15 (#1451)
  package-lock.json
  package.json
Due: app-prettier

feat: render used shares
  src/Data/Component.elm
  src/Views/Component.elm
Due: none

feat: render eolstragy detailed impacts
  src/Data/Component.elm
  src/Data/Process.elm
  src/Data/Process/Category.elm
  src/Views/Component.elm
Due: none

Path conditions:
  app-prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.json$
  app-ruff-check: any of: ^.*$ and \.py$
  app-ruff-format: any of: ^.*$ and \.py$
  dont-commit-detailed-processes: any of: ^processes_impacts.json$
