Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format, dont-commit-detailed-processes

app-prettier:
  name: run prettier
  language: system
  entry: 'bash -c ''npm --prefix . run fix:prettier --write "${@}"'' --
  
    '

app-ruff-check:
  name: run ruff check
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:check "${@}"'' --
  
    '

app-ruff-format:
  name: run ruff format
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:format "${@}"'' --
  
    '

dont-commit-detailed-processes:
  name: check that we don't commit processes_impacts.json
  language: system
  entry: 'bash -c ''echo "⚠️ Prevented pushing detailed impacts data to public git repository. To update these, clone and push to the ecobalyse-private repository.";exit 1''
  
    '

fix: use consistent json field naming. (#1503)
  public/data/countries.json
  src/Data/Country.elm
Due: app-prettier

wip: plausible integration
  index.html
  index.js
  lib/http.js
Due: app-prettier

feat(component): load component life cycle configuration over HTTP/JSON (#1482)
  public/data/components/config.json
  review/src/ReviewConfig.elm
  src/App.elm
  src/Data/Component.elm
  src/Data/Component/Config.elm
  src/Data/Object/Simulator.elm
  src/Data/Process.elm
  src/Data/Process/Category.elm
  src/Data/Scope.elm
  src/Data/Session.elm
  src/Data/Split.elm
  src/Data/Textile/Query.elm
  src/Data/Textile/Simulator.elm
  src/Main.elm
  src/Page/Admin/Component.elm
  src/Page/Explore.elm
  src/Page/Explore/TextileExamples.elm
  src/Page/Explore/TextileProducts.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Server.elm
  src/Views/Comparator.elm
  src/Views/Component.elm
  styles.scss
  tests/Data/ComponentTest.elm
  tests/Data/SplitTest.elm
  tests/Data/Textile/SimulatorTest.elm
Due: app-prettier

wip: allow localhost tracking
  index.html
Due: none

chore: remove obsolete `elements_json` field (#1481)
  backend/src/app/cli/commands.py
  backend/src/app/db/migrations/versions/2025-10-27_remove_obsolete_elements_field_ada6511cec65.py
  backend/src/app/db/models/component.py
  backend/src/app/server/core.py
  tests/backend/data_fixtures.py
  tests/backend/integration/test_command_migrate_elements.py
Due: app-ruff-check, app-ruff-format

feat: basic frontend itegration
  index.html
  index.js
  src/Data/Plausible.elm
  src/Main.elm
Due: app-prettier

feat: update frontend to use plausible treacking
  index.js
  src/Data/Plausible.elm
  src/Main.elm
  src/Page/Auth.elm
  src/Page/Food.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Ports.elm
Due: app-prettier

fix: remove debug statement
  index.js
  src/Data/Plausible.elm
Due: app-prettier

feat: track auth status
  index.js
  src/Data/Plausible.elm
  src/Main.elm
  src/Page/Auth.elm
  src/Page/Food.elm
  src/Page/Object.elm
  src/Page/Textile.elm
Due: app-prettier

feat: add client url to custom props
  src/Data/Plausible.elm
  src/Ports.elm
Due: none

feat: track app version
  src/Data/Plausible.elm
Due: none

fix: resynchronize the processes files with the ecobalyse-data repository
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

feat: track admin status
  src/Data/Plausible.elm
Due: none

feat: don't actually collect on dev
  index.js
Due: app-prettier

fix: s/context/subsystem for consistency with sentry
  src/Data/Plausible.elm
Due: none

fix: resynchronize the processes files with the ecobalyse-data repository (#1505)
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

refactor: clean code
  src/Data/Plausible.elm
Due: none

feat: api tracking
  lib/plausible.js
  lib/posthog.js
  server.js
Due: app-prettier

feat: post api events, update tests
  .env.sample
  README.md
  lib/http.js
  lib/plausible.js
  package-lock.json
  package.json
  server.js
  tests/lib/http.spec.js
  tests/lib/posthog.spec.js
  tests/rate-limiting.spec.js
Due: app-prettier

fix: handle async
  lib/plausible.js
Due: app-prettier

feat: expose scalingo app name prop in frontend tracking
  index.js
  lib/plausible.js
  src/Data/Plausible.elm
  src/Data/Session.elm
  src/Main.elm
  tests/lib/posthog.spec.js
Due: app-prettier

fix: update tests
  tests/lib/posthog.spec.js
Due: app-prettier

chore: clean code
  README.md
  docker/server-simple.js
  tests/lib/plausible.spec.js
Due: app-prettier

fix: don't hardcode host in frontend
  index.html
  index.js
Due: app-prettier

fix: only console.debug in dev
  index.js
Due: app-prettier

fix: remove hash url auto-collection for security
  index.js
Due: app-prettier

chore: remove dead code
  docker/server-simple.js
Due: app-prettier

chore: change from ecobalyse-data
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

fix: forward ip and user agent
  lib/plausible.js
Due: app-prettier

fix: less scary obfuscated placeholder
  src/Data/Plausible.elm
Due: none

fix: remove production plausible host from sample env
  .env.sample
Due: none

fix: typo
  src/Ports.elm
Due: none

fix: improve anon hash generation
  lib/crypto.js
  lib/plausible.js
  tests/lib/plausible.spec.js
Due: app-prettier

chore: fix tests and display location
  src/Data/Process.elm
  src/Page/Explore/Processes.elm
  tests/Data/ComponentTest.elm
  tests/processes-schema.json
Due: app-prettier

chore: formatting
  tests/Data/ComponentTest.elm
Due: none

feat: Replace Posthog with Plausible. (#1504)
  .env.sample
  README.md
  docker/server-simple.js
  index.js
  lib/crypto.js
  lib/http.js
  lib/plausible.js
  lib/posthog.js
  package-lock.json
  package.json
  server.js
  src/Data/Plausible.elm
  src/Data/Posthog.elm
  src/Data/Session.elm
  src/Main.elm
  src/Page/Auth.elm
  src/Page/Food.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Ports.elm
  tests/lib/http.spec.js
  tests/lib/plausible.spec.js
  tests/rate-limiting.spec.js
Due: app-prettier

GITBOOK-1578: No subject
  textile/durabilite-1.md
Due: none

feat: add country to component Item
  src/Data/Component.elm
  tests/Data/ComponentTest.elm
  tests/Server/RouteTest.elm
Due: none

Path conditions:
  app-prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.json$
  app-ruff-check: any of: ^.*$ and \.py$
  app-ruff-format: any of: ^.*$ and \.py$
  dont-commit-detailed-processes: any of: ^processes_impacts.json$
