Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format, dont-commit-detailed-processes

app-prettier:
  name: run prettier
  language: system
  entry: 'bash -c ''npm --prefix . run fix:prettier --write "${@}"'' --
  
    '

app-ruff-check:
  name: run ruff check
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:check "${@}"'' --
  
    '

app-ruff-format:
  name: run ruff format
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:format "${@}"'' --
  
    '

dont-commit-detailed-processes:
  name: check that we don't commit processes_impacts.json
  language: system
  entry: 'bash -c ''echo "⚠️ Prevented pushing detailed impacts data to public git repository. To update these, clone and push to the ecobalyse-private repository.";exit 1''
  
    '

chore: adapt ComponentTests and processes-schema
  tests/Data/ComponentTest.elm
  tests/processes-schema.json
Due: app-prettier

chore: for massPerUnit set exclusiveMinimum to 0
  tests/processes-schema.json
Due: app-prettier

fix(object,ui): align impacts in object simulator details (#1720)
  src/Views/Component.elm
Due: none

chore: reorder Process
  src/Data/Process.elm
Due: none

refactor: allow float/int amount
  src/Data/Food/Query.elm
  src/Data/Food/Recipe.elm
  src/Data/Food/Validation.elm
  src/Page/Food.elm
Due: none

chore: fix constructor order
  src/Data/Food/Validation.elm
Due: none

chore: elm review
  src/Data/Food/Query.elm
  src/Data/Food/Recipe.elm
  src/Page/Food.elm
Due: none

chore: reviews
  src/Data/Food/Query.elm
  src/Data/Food/Recipe.elm
  src/Page/Food.elm
  tests/Server/RouteTest.elm
Due: none

fix: use Mass instead of Float
  src/Data/Food/Query.elm
  src/Data/Food/Recipe.elm
  src/Page/Food.elm
Due: none

chore: simplify PackagingAmount type
  src/Data/Food/Query.elm
  src/Data/Food/Recipe.elm
  src/Page/Food.elm
  tests/Server/RouteTest.elm
Due: none

chore(wip): change packaging type
  src/Data/Food/Query.elm
  src/Data/Food/Recipe.elm
  src/Data/Food/Validation.elm
  src/Page/Food.elm
Due: none

fix: compile errors
  public/data/food/examples.json
  src/Data/Food/Recipe.elm
  src/Page/Food.elm
Due: app-prettier

fix: modal types
  src/Data/Food/Query.elm
  src/Page/Food.elm
Due: none

chore: @n1k0 review
  src/Data/Food/Query.elm
Due: none

fix: add packaging mass back
  src/Data/Food/Recipe.elm
  src/Page/Food.elm
Due: none

refactor: add new packaging amount type
  src/Data/Food/Query.elm
Due: none

chore: tests should compile
  tests/Server/RouteTest.elm
Due: none

chore: add packaging modal
  src/Data/Food/Recipe.elm
  src/Page/Food.elm
Due: none

chore: use autocomplete for packaging update
  src/Data/Food/Query.elm
  src/Data/Food/Recipe.elm
  src/Page/Food.elm
Due: none

test: fix server test
  tests/Server/RouteTest.elm
  tests/server.spec.js
Due: app-prettier

feat: do not convert masses in compute land
  src/Data/Food/Query.elm
  src/Data/Food/Recipe.elm
  src/Page/Food.elm
Due: none

chore: fix migration conflict
  backend/src/app/db/migrations/versions/2026-01-15_rename_density_to_massperunit_and_make__af8f29751a13.py
Due: app-ruff-check, app-ruff-format

chore: elm-format
  src/Views/Format.elm
Due: none

feat: express json masses in kg
  public/data/food/examples.json
Due: app-prettier

Update examples.json
  public/data/veli/examples.json
Due: app-prettier

chore: clean code
  src/Data/Food/Recipe.elm
  src/Page/Food.elm
Due: none

chore: reformat
  public/data/veli/examples.json
Due: app-prettier

chore: update veli examples (#1716)
  public/data/veli/examples.json
Due: app-prettier

Ajout exemple de véli
  public/data/veli/examples.json
Due: app-prettier

feat(explorer): add countries to object/veli explorers
  src/Data/Dataset.elm
Due: none

feat(explorer): add countries to object/veli explorers (#1724)
  src/Data/Dataset.elm
Due: none

feat: add ctcpa packaging selection (#1697)
  public/data/food/examples.json
  src/Data/Food/Query.elm
  src/Data/Food/Recipe.elm
  src/Data/Food/Validation.elm
  src/Page/Food.elm
  tests/Server/RouteTest.elm
  tests/server.spec.js
Due: app-prettier

merge and fix tests
  openapi.yaml
  public/data/food/examples.json
  public/data/processes.json
  public/data/processes_impacts.json
  tests/Data/Food/RecipeTest.elm
  tests/server.spec.js
Due: app-prettier

fix(object,veli): distinguish material & transform stage impacts in comparator
  src/Data/Component.elm
  src/Data/Object/Simulator.elm
Due: none

chore: fix format
  src/Data/Process.elm
  src/Data/Process/Category.elm
  tests/backend/integration/test_processes.py
Due: app-ruff-check, app-ruff-format

chore: upgrade node dependencies, 2026-01
  package-lock.json
  package.json
Due: app-prettier

new export
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

fix(object,veli): distinguish material & transform stage impacts in comparator (#1734)
  src/Data/Component.elm
  src/Data/Object/Simulator.elm
Due: none

chore: upgrade node dependencies, 2026-01 (#1737)
  package-lock.json
  package.json
Due: app-prettier

feat: add elm formatting to precommit
  .pre-commit-config.yaml
  package.json
  src/Data/Process/Category.elm
Due: app-prettier

Path conditions:
  app-prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.json$
  app-ruff-check: any of: ^.*$ and \.py$
  app-ruff-format: any of: ^.*$ and \.py$
  dont-commit-detailed-processes: any of: ^processes_impacts.json$
