Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format, dont-commit-detailed-processes

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
      exclude: (svg|icomoon|rapidoc-9.3.4.min.js)
    - id: trailing-whitespace
      exclude: (vendor|rapidoc-9.3.4.min.js)
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, master]

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier
        language: system
        files: ^.*$
        types_or: [javascript, json]
        entry: |
          bash -c 'npm --prefix . run fix:prettier --write "${@}"' --

      - id: app-ruff-check
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:check "${@}"' --

      - id: app-ruff-format
        name: run ruff format
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:format "${@}"' --

      - id: dont-commit-detailed-processes
        name: check that we don't commit processes_impacts.json
        language: system
        files: ^processes_impacts.json$
        entry: |
          bash -c 'echo "⚠️ Prevented pushing detailed impacts data to public git repository. To update these, clone and push to the ecobalyse-private repository.";exit 1'

added ecoinvent 3.10
  data/common/import_.py
  data/import_ecoinvent.py
Due: app-ruff-check, app-ruff-format

added agribalyse 3.2
  data/common/import_.py
  data/import_agribalyse.py
Due: app-ruff-check, app-ruff-format

move db files into a subfolder
  data/Makefile
  data/README.md
  data/import_ecoinvent.py
  data/import_food.py
  data/import_method.py
Due: app-ruff-check, app-ruff-format

fixex path
  data/import_ecoinvent.py
Due: app-ruff-check, app-ruff-format

cache cleaning should be unnecessary
  data/docker/entrypoint.sh
Due: none

GITBOOK-1018: change request with no subject merged in GitBook
  alimentaire-en-construction/etape-2-fabrication-du-fil/autres-composants.md
Due: none

fix: actually validate optional param values.
  src/Data/Textile/Query.elm
  src/Data/Unit.elm
  tests/Server/RouteTest.elm
  tests/server.spec.js
Due: app-prettier

refactor: clean code.
  src/Data/Textile/Query.elm
Due: none

test venve
  .github/workflows/test.yml
Due: none

update test
  .github/workflows/test.yml
Due: none

test: refactor and add POST param validation test.
  tests/Server/RouteTest.elm
Due: none

GITBOOK-1017: change request with no subject merged in GitBook
  SUMMARY.md
  alimentaire-en-construction/etape-2-fabrication-du-fil/composants-specifiques-vehicules.md
Due: none

GITBOOK-1019: change request with no subject merged in GitBook
  SUMMARY.md
  alimentaire-en-construction/etape-2-fabrication-du-fil/composants-specifiques-vehicules.md
Due: none

test: introduce failing tests for invalid country codes.
  src/Data/Textile/Query.elm
  tests/Server/RouteTest.elm
Due: none

move the db files above the repo
  data/README.md
  data/import_ecoinvent.py
  data/import_food.py
  data/import_method.py
Due: app-ruff-check, app-ruff-format

fix: implement actual textile POST query validation.
  src/Server/Query.elm
  src/Server/Route.elm
  tests/Server/RouteTest.elm
Due: none

refactor: improve route parding code legibility.
  src/Server/Route.elm
Due: none

chore: remove obsolete debug attempt.
  tests/server.spec.js
Due: app-prettier

fix: stricter validation of POST json body passed to the textile API. (#760)
  src/Data/Textile/Query.elm
  src/Data/Unit.elm
  src/Server.elm
  src/Server/Query.elm
  src/Server/Route.elm
  tests/Server/RouteTest.elm
  tests/server.spec.js
Due: app-prettier

add a dbfiles bind volume
  data/Makefile
Due: none

fix(textile): distribution step had no inland road transports added. (#761)
  src/Data/Textile/Step.elm
  tests/Data/Textile/LifeCycleTest.elm
  tests/Data/Textile/SimulatorTest.elm
  tests/e2e-textile.json
Due: app-prettier

fix: decode and validate all optionals.
  src/Data/Common/DecodeUtils.elm
  src/Data/Food/Process.elm
  src/Data/Food/Query.elm
  src/Data/Textile/Query.elm
Due: none

fix: remove encode holistic
  src/Data/Unit.elm
Due: none

fix: comments
  src/Data/Textile/Simulator.elm
Due: none

fix: don't change unecessary code
  src/Data/Textile/Step.elm
  src/Data/Unit.elm
Due: none

feat: airTransportRatio depends on durability
  src/Data/Textile/Simulator.elm
  src/Data/Textile/Step.elm
  src/Data/Unit.elm
Due: none

test: jean from turquey has less impact
  tests/e2e-textile.json
Due: app-prettier

refactor: fallback to country default.
  src/Data/Textile/Simulator.elm
  src/Data/Textile/Step.elm
Due: none

fix: @n1k0 reviews
  src/Data/Country.elm
  src/Data/Split.elm
  src/Data/Textile/Simulator.elm
Due: none

fix: typo
  src/Data/Country.elm
  src/Data/Textile/Simulator.elm
Due: none

fix: remove useless airTransportRatio for country
  public/data/countries.json
  src/Data/Country.elm
  src/Data/Textile/Step.elm
Due: app-prettier

test: elm test for durability and airTransportRatio
  src/Data/Textile/Simulator.elm
  tests/Data/Textile/SimulatorTest.elm
Due: none

test: products coming from CN with durability >= 1
  tests/Data/Textile/SimulatorTest.elm
Due: none

chore: enhance code readability
  src/Data/Textile/Simulator.elm
Due: none

fix: remove obsolete airTransportRatio column in explorer.
  src/Data/Gitbook.elm
  src/Page/Explore/Countries.elm
Due: none

GITBOOK-1022: change request with no subject merged in GitBook
  SUMMARY.md
  alimentaire-en-construction/etape-2-fabrication-du-fil/aluminium-methodes-detaillees.md
Due: none

GITBOOK-1023: change request with no subject merged in GitBook
  SUMMARY.md
  alimentaire-en-construction/etape-2-fabrication-du-fil/acier-et-aluminium-methodes-detaillees.md
  alimentaire-en-construction/etape-2-fabrication-du-fil/aluminium-methodes-detaillees.md
Due: none

feat: airTransportRatio should depend on durability (#757)
  public/data/countries.json
  src/Data/Country.elm
  src/Data/Gitbook.elm
  src/Data/Split.elm
  src/Data/Textile/Simulator.elm
  src/Data/Textile/Step.elm
  src/Page/Explore/Countries.elm
  tests/Data/Textile/SimulatorTest.elm
  tests/e2e-textile.json
Due: app-prettier

fix: decode and validate all optionals. (#764)
  src/Data/Common/DecodeUtils.elm
  src/Data/Food/Process.elm
  src/Data/Food/Query.elm
  src/Data/Textile/Query.elm
Due: none

GITBOOK-1025: change request with no subject merged in GitBook
  alimentaire-en-construction/etape-2-fabrication-du-fil/composants-specifiques-vehicules.md
Due: none
