Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
      exclude: (svg|icomoon|rapidoc-9.3.4.min.js)
    - id: trailing-whitespace
      exclude: (vendor|rapidoc-9.3.4.min.js)
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, master]

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier
        language: system
        files: ^.*$
        types_or: [javascript, json]
        entry: |
          bash -c 'npm --prefix . run fix:prettier --write "${@}"' --

      - id: app-ruff-check
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:check "${@}"' --

      - id: app-ruff-format
        name: run ruff format
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:format "${@}"' --

      - id: app-elm-format
        name: run elm-format
        language: system
        files: ^.*$
        types_or: [elm]
        entry: |
          bash -c 'npm --prefix . run fix:elm-format "${@}"' --

score history multiprocessing
  bin/score_history/score_history.py
Due: app-ruff-check, app-ruff-format

feat(generic): handle global transport cooling (#2239)
  src/Data/Component.elm
  src/Data/Transport.elm
  src/Page/Admin/Component.elm
  src/Page/Explore/Components.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Views/Component.elm
  tests/Data/ComponentTest.elm
Due: none

lower connection to 9 (10 max)
  bin/score_history/score_history.py
Due: app-ruff-check, app-ruff-format

feat(generic): handle distance to hub
  src/Data/Component.elm
  src/Data/Transport.elm
Due: none

refactor: get rid of unused carried impacts
  src/Data/Component.elm
  src/Data/Transport.elm
Due: none

add processes_generic to ecobalyse_data sync
  bin/check-ecobalyse-data-sync.sh
Due: none

feat: naive implementation of hub transport calcululs
  public/data/components/config.json
  src/Data/Component.elm
  src/Data/Country.elm
  src/Data/Transport.elm
Due: app-prettier

refactor: handle distances computation errors
  src/Data/Component.elm
  src/Data/Transport.elm
  src/Views/Component.elm
Due: none

fix: update comments
  src/Data/Component.elm
  src/Data/Transport.elm
Due: none

feat: add tests
  src/Data/Component.elm
  tests/Data/ComponentTest.elm
Due: none

refactor: clean code
  src/Data/Component.elm
Due: none

chore: add processes_generic to ecobalyse_data sync (#2258)
  bin/check-ecobalyse-data-sync.sh
Due: none

test: strenghtened tests
  tests/Data/ComponentTest.elm
Due: none

new sunflower oil!
  public/data/food/examples.json
Due: app-prettier

@vjousse review: rename things
  src/Data/Component.elm
  src/Data/Food/Recipe.elm
  src/Data/Textile/Inputs.elm
  src/Data/Textile/Stage.elm
  src/Data/Transport.elm
  tests/Data/TransportTest.elm
Due: none

feat(generic): handle distance to hub (#2259)
  public/data/components/config.json
  src/Data/Component.elm
  src/Data/Country.elm
  src/Data/Food/Recipe.elm
  src/Data/Textile/Inputs.elm
  src/Data/Textile/Stage.elm
  src/Data/Transport.elm
  src/Views/Component.elm
  tests/Data/ComponentTest.elm
  tests/Data/TransportTest.elm
Due: app-prettier

GITBOOK-1685: Mise à jour des compléments hors ACV
  alimentaire/complement-hors-acv.md
Due: none

GITBOOK-1686: No subject
  .gitbook/assets/image (390).png
  alimentaire/complement-hors-acv.md
Due: none

chore: fix dependabot warnings
  pyproject.toml
  uv.lock
Due: none

chore: fix dependabot warnings (#2270)
  pyproject.toml
  uv.lock
Due: none

chore: fix dependabot warnings on stable branch
  pyproject.toml
  uv.lock
Due: none

chore: fix dependabot warnings on stable branch (#2271)
  pyproject.toml
  uv.lock
Due: none
