Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format, dont-commit-detailed-processes

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
      exclude: (svg|icomoon|rapidoc-9.3.4.min.js)
    - id: trailing-whitespace
      exclude: (vendor|rapidoc-9.3.4.min.js)
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, master]

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier
        language: system
        files: ^.*$
        types_or: [javascript, json]
        entry: |
          bash -c 'npm --prefix . run fix:prettier --write "${@}"' --

      - id: app-ruff-check
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:check "${@}"' --

      - id: app-ruff-format
        name: run ruff format
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:format "${@}"' --

      - id: dont-commit-detailed-processes
        name: check that we don't commit processes_impacts.json
        language: system
        files: ^processes_impacts.json$
        entry: |
          bash -c 'echo "⚠️ Prevented pushing detailed impacts data to public git repository. To update these, clone and push to the ecobalyse-private repository.";exit 1'

feat: add scope column in object examples explorer.
  src/Page/Explore/ObjectExamples.elm
Due: none

fixed path
  data/common/export.py
Due: app-ruff-check, app-ruff-format

replace / with _ in filenames
  data/common/export.py
Due: app-ruff-check, app-ruff-format

same strategies exclusion as for food
  data/import_ecoinvent.py
Due: app-ruff-check, app-ruff-format

feat: do not format decimals when a number is an int.
  src/Views/Format.elm
  tests/Views/FormatTest.elm
Due: none

GITBOOK-1076: No subject
  .gitbook/assets/image (329).png
  SUMMARY.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil/composants/README.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil/composants/autres-composants.md
  alimentaire-en-construction/old/etape-2-fabrication-du-fil/composants/composants-en-bois.md
  ameublement/fin-de-vie.md
  textile/cycle-de-vie-des-produits-textiles/ennoblissement/README.md
Due: none

feat: display score without durability
  src/Data/Textile/Simulator.elm
  src/Page/Food.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Views/Score.elm
  src/Views/Sidebar.elm
Due: none

fix: ensure highligting selected veli/object bookmarks.
  src/Data/Bookmark.elm
  src/Page/Food.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Views/Bookmark.elm
  src/Views/Comparator.elm
Due: none

chore: remove unused import
  src/Data/Textile/Simulator.elm
Due: none

new export
  public/data/food/ingredients.json
  public/data/food/processes.json
Due: app-prettier

GITBOOK-1079: No subject
  .gitbook/includes/untitled.md
  vehicules/README.md
Due: none

GITBOOK-1079: No subject
  vehicules/fabrication-des-composants/README.md
Due: none

feat: add to API detailed response
  src/Data/Textile/Simulator.elm
  src/Page/Textile.elm
  tests/server.spec.js
Due: app-prettier

adapted tests
  tests/Data/Food/RecipeTest.elm
Due: none

GITBOOK-1080: No subject
  vehicules/caracteristiques-du-vehicule.md
  vehicules/fabrication-des-composants/assise.md
  vehicules/fabrication-des-composants/autres-composants.md
  vehicules/fabrication-des-composants/cellules-photovoltaiques.md
  vehicules/fabrication-des-composants/jantes-roues.md
  vehicules/fabrication-des-composants/pneumatiques.md
  vehicules/transport-des-composants.md
  vehicules/transport-des-vehicules.md
  vehicules/utilisation-du-vehicule/README.md
Due: none

GITBOOK-1081: No subject
  vehicules/utilisation-du-vehicule/energie-apportee-par-des-panneaux-solaires-photovoltaique.md
Due: none

clearer var name
  data/common/__init__.py
Due: app-ruff-check, app-ruff-format

fix in case there is no impacts
  data/common/__init__.py
Due: app-ruff-check, app-ruff-format

better split impacts_json and impacts_py in order to merge them in the future
  data/common/export.py
  data/food/export.py
  data/textile/export.py
Due: app-ruff-check, app-ruff-format

fix after the renaming of the units
  data/common/export.py
Due: app-ruff-check, app-ruff-format

try to use the same strategies
  data/import_method.py
Due: app-ruff-check, app-ruff-format

GITBOOK-1082: No subject
  SUMMARY.md
  vehicules/fabrication-des-composants/README.md
  vehicules/fabrication-des-composants/cellules-photovoltaiques.md
  vehicules/fabrication-des-composants/systeme-photovoltaiques.md
  vehicules/utilisation-du-vehicule/README.md
  vehicules/utilisation-du-vehicule/energie-apportee-par-des-panneaux-solaires-photovoltaique.md
Due: none

GITBOOK-1083: No subject
  SUMMARY.md
  vehicules/durabilite-physique.md
Due: none

docs: specify new field in openapi
  src/Page/Api.elm
Due: none

Changed ingredients (contributed by Écobalyse)
  data/food/activities.json
Due: app-prettier

fixed right categories
  data/food/activities.json
Due: app-prettier

adapted feeds to new ingredient names
  data/food/ecosystemic_services/feed.json
Due: app-prettier

adapted the ingredients editor
  data/notebooks/ingredients.py
Due: app-ruff-check, app-ruff-format

Fixed some substances and strategies to get closer impacts to simapro
  data/docker/simapro-biosphere.json
  data/import_ecoinvent.py
  data/import_food.py
  data/import_method.py
Due: app-prettier, app-ruff-check, app-ruff-format

fixed impact definitions argument, renamed variables
  data/common/export.py
  data/food/export.py
  data/textile/export.py
Due: app-ruff-check, app-ruff-format

imports
  data/import_method.py
Due: app-ruff-check, app-ruff-format

make command to create activities
  data/Makefile
  data/common/__init__.py
  data/create_activities.py
Due: app-ruff-check, app-ruff-format

new export
  public/data/food/processes.json
Due: app-prettier

fix: encoded key name typo.
  src/Data/Object/Process.elm
Due: none

feat: distinct env vars for object and veli display.
  .env.sample
  README.md
  index.js
  src/Data/Session.elm
  src/Main.elm
  src/Page/Explore.elm
  src/Page/Home.elm
  src/Views/Page.elm
Due: app-prettier

refactor: @vjousse review.
  .env.sample
  README.md
  index.js
  src/Data/Scope.elm
  src/Route.elm
  src/Views/Page.elm
Due: app-prettier

feat: Distinguish Objects from Veli. (#813)
  .env.sample
  README.md
  index.js
  public/data/food/examples.json
  public/data/object/examples.json
  public/data/textile/examples.json
  src/Data/Bookmark.elm
  src/Data/Dataset.elm
  src/Data/Example.elm
  src/Data/Object/Process.elm
  src/Data/Object/Query.elm
  src/Data/Scope.elm
  src/Data/Session.elm
  src/Main.elm
  src/Page/Explore.elm
  src/Page/Explore/ObjectExamples.elm
  src/Page/Food.elm
  src/Page/Home.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Route.elm
  src/Views/Bookmark.elm
  src/Views/Comparator.elm
  src/Views/Format.elm
  src/Views/Page.elm
  tests/Views/FormatTest.elm
Due: app-prettier

feat: display score without durability (#815)
  src/Data/Textile/Simulator.elm
  src/Page/Api.elm
  src/Page/Food.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Views/Score.elm
  src/Views/Sidebar.elm
  tests/server.spec.js
Due: app-prettier
