Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format

app-prettier:
  name: run prettier
  language: system
  entry: 'bash -c ''npm --prefix . run fix:prettier --write "${@}"'' --
  
    '

app-ruff-check:
  name: run ruff check
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:check "${@}"'' --
  
    '

app-ruff-format:
  name: run ruff format
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:format "${@}"'' --
  
    '

refactor: use typesafe uuids for product ids
  src/Data/Component.elm
  src/Data/Component/Product.elm
  src/Views/Component.elm
  tests/Data/ComponentTest.elm
Due: none

refactor: clean code
  src/Page/Admin/Component.elm
  src/Page/Object.elm
Due: none

refactor: improve data container names
  bin/build-db
  src/Data/Db.elm
  src/Main.elm
  src/Request/Db.elm
  src/Static/Db.elm
  src/Static/Json.elm-template
Due: none

fix: http loading order
  src/Request/Db.elm
Due: none

feat: add product categories explorer
  src/Data/Component/Product.elm
  src/Data/Dataset.elm
  src/Page/Explore.elm
  src/Page/Explore/ProductCategories.elm
  src/Page/Explore/Table.elm
Due: none

refactor: use consistent type names
  bin/build-db
  src/Data/Component.elm
  src/Data/Component/ProductCategory.elm
  src/Data/Dataset.elm
  src/Data/Db.elm
  src/Data/Object/Db.elm
  src/Main.elm
  src/Page/Explore.elm
  src/Page/Explore/ProductCategories.elm
  src/Page/Object.elm
  src/Request/Db.elm
  src/Static/Db.elm
  src/Static/Json.elm-template
  src/Views/Component.elm
  tests/Data/ComponentTest.elm
Due: none

feat(generic): implement generic product categories (#2714)
  bin/build-db
  public/data/food2/categories.json
  public/data/object/categories.json
  public/data/veli/categories.json
  src/Data/Component.elm
  src/Data/Component/Config.elm
  src/Data/Component/ProductCategory.elm
  src/Data/Dataset.elm
  src/Data/Db.elm
  src/Data/Object/Db.elm
  src/Main.elm
  src/Page/Admin/Component.elm
  src/Page/Explore.elm
  src/Page/Explore/ObjectExamples.elm
  src/Page/Explore/ProductCategories.elm
  src/Page/Explore/Table.elm
  src/Page/Home.elm
  src/Page/Object.elm
  src/Request/Db.elm
  src/Route.elm
  src/Static/Db.elm
  src/Static/Json.elm-template
  src/Views/Bookmark.elm
  src/Views/Component.elm
  src/Views/Page.elm
  tests/Data/ComponentTest.elm
Due: app-prettier

refactor: rename generic modules
  src/Main.elm
  src/Page/Generic.elm
  src/Views/Page.elm
Due: none

refactor: Object is now Generic
  src/Data/Db.elm
  src/Data/Generic/Db.elm
  src/Data/Generic/Simulator.elm
  src/Page/Explore.elm
  src/Page/Generic.elm
  src/Views/Comparator.elm
Due: none

GITBOOK-1767: No subject
  .gitbook/assets/image (405).png
  SUMMARY.md
  ameublement/complement-hors-acv/biodiversitebois.md
  copy-of-alimentaire-en-construction/old/pages-textiles-old/impacts-consideres.md
  pages-en-cours-de-revue/old-transport.md
  textile/cycle-de-vie-des-produits-textiles/etape-1-matieres/focus-coton.md
  textile/cycle-de-vie-des-produits-textiles/etape-2-fabrication-du-fil-1.md
  textile/cycle-de-vie-des-produits-textiles/etape-2-fabrication-du-fil.md
  textile/cycle-de-vie-des-produits-textiles/etape-6-utilisation.md
  textile/cycle-de-vie-des-produits-textiles/tricotage-tissage.md
  textile/durabilite-1.md
  textile/linges-de-maison.md
  textile/pages-textiles-old/impacts-consideres.md
  vehicules/cycle-de-vie/fabrication-des-composants/pneumatiques.md
Due: none

feat: add food2 examples explorer
  src/Data/Dataset.elm
  src/Data/Scope.elm
  src/Page/Explore.elm
  src/Page/Explore/GenericExamples.elm
  src/Page/Generic.elm
Due: none

refactor: better naming, TODOs, FIXMEs
  src/Main.elm
  src/Page/Explore/GenericExamples.elm
  src/Views/Bookmark.elm
  src/Views/Page.elm
Due: none

refactor: genericaly scoped product category explorer
  src/Data/Dataset.elm
  src/Page/Explore.elm
  src/Page/Explore/ProductCategories.elm
Due: none

refactor: generic simulator routing
  src/Main.elm
  src/Page/Admin/Component.elm
  src/Page/Explore/GenericExamples.elm
  src/Page/Generic.elm
  src/Page/Home.elm
  src/Route.elm
  src/Views/Bookmark.elm
  src/Views/Page.elm
Due: none

refactor: clean code
  src/Data/Generic/Db.elm
Due: none

feat: backport score per 100g to generic examples explorer
  src/Page/Explore.elm
  src/Page/Explore/GenericExamples.elm
Due: none

feat(data, veli): create materials for vehicles (#2689)
  public/data/object/components.json
Due: app-prettier

create vehicule categories
  public/data/veli/categories.json
Due: app-prettier

add L6
  public/data/veli/categories.json
Due: app-prettier

add categories
  public/data/veli/examples.json
Due: app-prettier

add assembly operation
  public/data/veli/examples.json
Due: app-prettier

delete proxi ecoscore
  public/data/veli/examples.json
Due: app-prettier

feat(data,veli): create vehicule categories (#2724)
  public/data/veli/categories.json
Due: app-prettier

fix product category
  public/data/veli/examples.json
Due: app-prettier

fix categories for 2 examples
  public/data/veli/examples.json
Due: app-prettier

feat(data,veli): update vehicle examples (#2725)
  public/data/veli/examples.json
Due: app-prettier

fix: json serialization for jsonb (#2713)
  backend/src/app/config/base.py
  backend/src/app/domain/journal_entries/schemas.py
  tests/backend/integration/test_components.py
  tests/backend/integration/test_journal_entries.py
Due: app-ruff-check, app-ruff-format

fix: add BW patch back
  data/tests/conftest.py
Due: app-ruff-check, app-ruff-format

fix: don’t remove the hardcoded BW patch
  data/create_activities.py
  data/import_bafu.py
  data/import_ecoinvent.py
  data/import_food.py
  data/import_method.py
Due: app-ruff-check, app-ruff-format

chore: ruff format
  backend/src/app/config/_utils.py
  backend/src/app/config/app.py
  backend/src/app/config/base.py
  backend/src/app/domain/accounts/schemas.py
  backend/src/app/domain/components/controllers/component.py
  backend/src/app/domain/journal_entries/controllers/journal_entry.py
  backend/src/app/domain/processes/schemas.py
  data/common/infer_metadata.py
  data/ecobalyse_data/bw/migration.py
  data/ecobalyse_data/export/land_occupation.py
  data/ecobalyse_data/typer.py
  data/migrations/2026-06-03-add-food-type-cereals-legumes.py
  packages/python/ecobalyse/ecobalyse/github.py
  uv.lock
Due: app-ruff-check, app-ruff-format

fix: messy if statement
  data/ecobalyse_data/bw/search.py
Due: app-ruff-check, app-ruff-format

chore: apply some recommandations from ty
  backend/src/app/cli/commands.py
  backend/src/app/domain/accounts/services.py
  backend/src/app/domain/components/services.py
  backend/src/app/domain/processes/services.py
  backend/src/app/domain/system/controllers.py
  bin/scalingo_api.py
  packages/python/ecobalyse/ecobalyse/scalingo.py
  tests/backend/integration/conftest.py
  tests/backend/integration/test_access.py
  tests/backend/integration/test_journal_entries.py
Due: app-ruff-check, app-ruff-format

fix: remaining UTC
  bin/score_history/score_history.py
Due: app-ruff-check, app-ruff-format

fix: datetime imports
  bin/score_history/score_history.py
  data/common/distances/compute_distances.py
  data/ecobalyse_data/bw/ecospold_export.py
  data/ecobalyse_data/bw/simapro_export.py
Due: app-ruff-check, app-ruff-format

chore: fix merge
  backend/src/app/domain/journal_entries/schemas.py
Due: app-ruff-check, app-ruff-format

Add files via upload
  food2openapi.yaml
Due: none

chore: apply ty recommandations
  backend/src/app/cli/commands.py
  backend/src/app/config/app.py
  backend/src/app/config/base.py
  backend/src/app/db/migrations/env.py
  backend/src/app/db/models/token.py
  backend/src/app/db/models/user.py
  backend/src/app/db/models/user_profile.py
  backend/src/app/db/models/user_role.py
  backend/src/app/domain/accounts/controllers/access.py
  backend/src/app/domain/accounts/guards.py
  backend/src/app/domain/accounts/services.py
  backend/src/app/domain/accounts/tasks.py
  backend/src/app/domain/components/controllers/component.py
  backend/src/app/domain/components/services.py
  backend/src/app/domain/contrib/controllers/contrib.py
  backend/src/app/domain/journal_entries/controllers/journal_entry.py
  backend/src/app/domain/processes/controllers/process.py
  backend/src/app/domain/processes/services.py
  backend/src/app/domain/system/controllers.py
  backend/src/app/lib/auth.py
  backend/src/app/lib/http.py
  backend/src/app/lib/schema.py
  packages/python/ecobalyse/setup.py
  pyproject.toml
  tests/backend/integration/conftest.py
  tests/backend/integration/test_access.py
  tests/backend/integration/test_components.py
  uv.lock
Due: app-ruff-check, app-ruff-format

chore: fix ingredients hierarchy
  bin/check_ingredient_hierarchy.py
Due: app-ruff-check, app-ruff-format

Path conditions:
  app-prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.json$
  app-ruff-check: any of: ^.*$ and \.py$
  app-ruff-format: any of: ^.*$ and \.py$
