Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format, dont-commit-detailed-processes

app-prettier:
  name: run prettier
  language: system
  entry: 'bash -c ''npm --prefix . run fix:prettier --write "${@}"'' --
  
    '

app-ruff-check:
  name: run ruff check
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:check "${@}"'' --
  
    '

app-ruff-format:
  name: run ruff format
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:format "${@}"'' --
  
    '

dont-commit-detailed-processes:
  name: check that we don't commit processes_impacts.json
  language: system
  entry: 'bash -c ''echo "⚠️ Prevented pushing detailed impacts data to public git repository. To update these, clone and push to the ecobalyse-private repository.";exit 1''
  
    '

GITBOOK-1196: No subject
  documentation-transverse/transport/transport-alimentaire.md
  documentation-transverse/transport/transport-ameublement.md
  documentation-transverse/transport/transport-textile.md
  documentation-transverse/transport/transport-vehicules.md
Due: none

chore: rename elec_kWh to elecKWh
  src/Data/Textile/Step.elm
Due: none

feat(food): add transport cooling column to ingredients explorer.
  src/Data/Food/Ingredient.elm
  src/Page/Explore/FoodIngredients.elm
Due: none

feat: update wording
  src/Data/Food/Ingredient.elm
  src/Page/Explore/FoodIngredients.elm
Due: none

GITBOOK-1197: No subject
  documentation-transverse/transport/cout-environnemental-par-voie-de-transport.md
  documentation-transverse/transport/transport-alimentaire.md
Due: none

chore: add api changelog
  src/Page/Api.elm
Due: none

chore: update backend model names
  backend/textile/models.py
Due: app-ruff-check, app-ruff-format

fix: cancel quote replacement
  src/Page/Api.elm
Due: none

chore: formulation
  src/Page/Api.elm
Due: none

new export
  public/data/food/processes.json
  public/data/food/processes_impacts.json
  public/data/object/processes.json
  public/data/object/processes_impacts.json
Due: app-prettier

chore: convert to camelCase json keys (#946)
  backend/textile/admin.py
  backend/textile/models.py
  public/data/food/ingredients.json
  public/data/food/processes.json
  public/data/food/processes_impacts.json
  public/data/object/processes.json
  public/data/object/processes_impacts.json
  public/data/textile/processes.json
  public/data/textile/processes_impacts.json
  src/Data/Food/Ingredient.elm
  src/Data/Process.elm
  src/Data/Textile/Step.elm
  src/Page/Api.elm
  tests/processes-schema.json
Due: app-prettier, app-ruff-check, app-ruff-format

GITBOOK-1198: No subject
  SUMMARY.md
  documentation-transverse/energies-des-etapes-de-transformation.md
  draft-documentation-transverse/energies-des-etapes-de-transformation.md
  draft-documentation-transverse/impacts-consideres/README.md
  draft-documentation-transverse/impacts-consideres/correction-du-fossil-ressource-use.md
  draft-documentation-transverse/impacts-consideres/exclusion-des-emissions-a-long-terme.md
  draft-documentation-transverse/transport/README.md
  draft-documentation-transverse/transport/choix-des-voies-de-transport.md
  draft-documentation-transverse/transport/cout-environnemental-par-voie-de-transport.md
  draft-documentation-transverse/transport/old-transport.md
  draft-documentation-transverse/transport/transport-alimentaire.md
  draft-documentation-transverse/transport/transport-ameublement.md
  draft-documentation-transverse/transport/transport-textile.md
  draft-documentation-transverse/transport/transport-vehicules.md
  vehicules/cycle-de-vie/README.md
  vehicules/parametrage/README.md
Due: none

GITBOOK-1199: No subject
  SUMMARY.md
  transverse/energies-des-etapes-de-transformation.md
  transverse/impacts-consideres/README.md
  transverse/impacts-consideres/correction-du-fossil-ressource-use.md
  transverse/impacts-consideres/exclusion-des-emissions-a-long-terme.md
  transverse/transport/README.md
  transverse/transport/choix-des-voies-de-transport.md
  transverse/transport/cout-environnemental-par-voie-de-transport.md
  transverse/transport/old-transport.md
  transverse/transport/transport-alimentaire.md
  transverse/transport/transport-ameublement.md
  transverse/transport/transport-textile.md
  transverse/transport/transport-vehicules.md
  vehicules/cycle-de-vie/README.md
  vehicules/parametrage/README.md
Due: none

GITBOOK-1200: No subject
  SUMMARY.md
  draft-documentation-transverse/energies-des-etapes-de-transformation.md
  draft-documentation-transverse/impacts-consideres/README.md
  draft-documentation-transverse/impacts-consideres/correction-du-fossil-ressource-use.md
  draft-documentation-transverse/impacts-consideres/exclusion-des-emissions-a-long-terme.md
  draft-documentation-transverse/transport/README.md
  draft-documentation-transverse/transport/choix-des-voies-de-transport.md
  draft-documentation-transverse/transport/cout-environnemental-par-voie-de-transport.md
  draft-documentation-transverse/transport/old-transport.md
  draft-documentation-transverse/transport/transport-alimentaire.md
  draft-documentation-transverse/transport/transport-ameublement.md
  draft-documentation-transverse/transport/transport-textile.md
  draft-documentation-transverse/transport/transport-vehicules.md
  vehicules/cycle-de-vie/README.md
  vehicules/parametrage/README.md
Due: none

feat(food): add transport cooling column to ingredients explorer. (#950)
  src/Data/Food/Ingredient.elm
  src/Page/Explore/FoodIngredients.elm
Due: none

use ecoinvent3.9.1 instead of ei3.10
  public/data/object/processes.json
  public/data/object/processes_impacts.json
Due: app-prettier

chore: fix naming elec_MJ to elecMJ
  public/data/object/processes.json
  public/data/object/processes_impacts.json
Due: app-prettier

chore: enable food objects veli in review apps
  scalingo.json
Due: app-prettier

GITBOOK-1201: No subject
  SUMMARY.md
  transverse/impacts-consideres/bases-de-donnees-utilisees.md
  transverse/impacts-consideres/correction-wtu.md
Due: none

chore: enable all verticals in review apps (#953)
  scalingo.json
Due: app-prettier

chore: deprecate textile simulator API GET endpoints.
  openapi.yaml
Due: none

chore: add api changelog entry
  openapi.yaml
  src/Page/Api.elm
Due: none

GITBOOK-1202: No subject
  transverse/impacts-consideres/bases-de-donnees-utilisees.md
Due: none

chore: update ingredient name in score history (#948)
  bin/score_history/score_history.py
Due: app-ruff-check, app-ruff-format

GITBOOK-1203: No subject
  draft-documentation-transverse/transport/cout-environnemental-par-voie-de-transport.md
Due: none

chore: deprecate textile simulator API GET endpoints. (#954)
  openapi.yaml
  src/Page/Api.elm
Due: none

feat(object): add plastic transformation process (#949)
  public/data/object/processes.json
  public/data/object/processes_impacts.json
Due: app-prettier

chore: rename ingredients
  public/data/food/ingredients.json
  public/data/food/processes.json
  public/data/food/processes_impacts.json
Due: app-prettier

chore: migrate tests
  src/Data/Component.elm
  src/Data/Textile/Validation.elm
  tests/Server/RouteTest.elm
Due: none

chore: migrate even more tests
  openapi.yaml
  src/Data/Textile/Validation.elm
  src/Server/Route.elm
  tests/server.spec.js
Due: app-prettier

chore: remove unused dependency
  elm.json
Due: app-prettier

chore: migrate more e2e tests
  tests/server.spec.js
Due: app-prettier

chore: fix remaining failing tests
  openapi.yaml
  src/Data/Textile/Printing.elm
  src/Data/Textile/Validation.elm
  tests/e2e-textile.json
  tests/server.spec.js
Due: app-prettier

feat: remove query-string based api endpoints
  openapi.yaml
Due: none

feat: add module dedicated to textile query validation
  src/Data/Country.elm
  src/Data/Textile/Validation.elm
  src/Server/Route.elm
  tests/Server/RouteTest.elm
Due: none

chore: update tests
  tests/Server/RouteTest.elm
Due: none

chore: migrate more validators
  src/Data/Textile/Validation.elm
  tests/server.spec.js
Due: app-prettier

refactor: remove api endpoints from code
  src/Data/Textile/Printing.elm
  src/Data/Textile/Step/Label.elm
  src/Data/Unit.elm
  src/Server.elm
  src/Server/Query.elm
  src/Server/Route.elm
  tests/Server/RouteTest.elm
Due: none

WiP: errors dict
  src/Data/Textile/Validation.elm
  src/Server/Query.elm
Due: none

Path conditions:
  app-prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.json$
  app-ruff-check: any of: ^.*$ and \.py$
  app-ruff-format: any of: ^.*$ and \.py$
  dont-commit-detailed-processes: any of: ^processes_impacts.json$
