Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format, dont-commit-detailed-processes

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
      exclude: (svg|icomoon|rapidoc-9.3.4.min.js)
    - id: trailing-whitespace
      exclude: (vendor|rapidoc-9.3.4.min.js)
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, master]

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier
        language: system
        files: ^.*$
        types_or: [javascript, json]
        entry: |
          bash -c 'npm --prefix . run fix:prettier --write "${@}"' --

      - id: app-ruff-check
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:check "${@}"' --

      - id: app-ruff-format
        name: run ruff format
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:format "${@}"' --

      - id: dont-commit-detailed-processes
        name: check that we don't commit processes_impacts.json
        language: system
        files: ^processes_impacts.json$
        entry: |
          bash -c 'echo "⚠️ Prevented pushing detailed impacts data to public git repository. To update these, clone and push to the ecobalyse-private repository.";exit 1'

feat(admin,ux): render comment column in component admin
  src/Page/Admin/Component.elm
Due: none

chore: change terms wording
  src/Page/Auth.elm
Due: none

chore: update login message
  src/Page/Auth.elm
Due: none

fix(admin,ui): prevent unscrollable ui state (#1636)
  src/Page/Admin/Component.elm
  src/Page/Explore.elm
  src/Page/Food.elm
  src/Page/Object.elm
  src/Page/Textile.elm
Due: none

fix: e2e tests
  src/Page/Auth.elm
Due: none

fix: keep displaying composition
  src/Page/Admin/Component.elm
Due: none

chore: update components
  public/data/object/components.json
Due: app-prettier

chore: fix linting error
  backend/src/app/db/models/journal_entry.py
Due: app-ruff-check, app-ruff-format

chore: serialize the JournalEntries values as string (#1634)
  backend/src/app/db/models/journal_entry.py
  backend/src/app/domain/journal_entries/schemas.py
  src/Page/Admin/Component.elm
  src/Request/Component.elm
  src/Request/Journal.elm
  tests/backend/integration/test_journal_entries.py
Due: app-ruff-check, app-ruff-format

feat(admin,ui): render comment column in component admin (#1639)
  src/Page/Admin/Component.elm
Due: none

fix(explorer): sort string columns alphabetically
  src/Page/Explore/Table.elm
Due: none

chore: upgrade node dependencies, 2025-12_15
  package-lock.json
  package.json
Due: app-prettier

fix(explorer): sort string columns alphabetically (#1643)
  src/Page/Explore/Table.elm
Due: none

fix: silence annoying sass deprecation warnings
  .sassrc.json
Due: app-prettier

chore: upgrade node dependencies, 2025-12-15 (#1644)
  .sassrc.json
  package-lock.json
  package.json
Due: app-prettier

chore: add db migration
  backend/src/app/db/migrations/versions/2025-12-09_rename_item_s_to_item_ed08f55f73ad.py
Due: app-ruff-check, app-ruff-format

cleanup
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

chore: remove pef score (#1628)
  backend/src/app/db/migrations/versions/2025-12-10_remove_pef_40e15168080c.py
  backend/src/app/db/models/process.py
  backend/src/app/domain/processes/schemas.py
  lib/charts/index.js
  lib/charts/pefpie.js
  openapi.yaml
  public/data/impacts.json
  public/data/processes.json
  public/data/processes_impacts.json
  src/Data/Impact.elm
  src/Data/Impact/Definition.elm
  src/Page/Api.elm
  src/Page/Explore/Impacts.elm
  tests/Data/ComponentTest.elm
  tests/Data/DefinitionTest.elm
  tests/Data/Food/RecipeTest.elm
  tests/Data/ImpactTest.elm
  tests/backend/data_fixtures.py
  tests/backend/integration/test_load_processes_fixtures.py
  tests/backend/integration/test_processes.py
  tests/e2e-food.json
  tests/e2e-textile.json
  tests/processes-schema.json
  tests/server.spec.js
Due: app-prettier, app-ruff-check, app-ruff-format

fix density null and add aliases
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

feat(bo): add the token usage state to the users list
  src/Data/User.elm
  src/Page/Admin/Account.elm
  tests/Data/UserTest.elm
Due: none

chore: make User.hasActiveToken nullable
  src/Data/User.elm
  src/Page/Admin/Account.elm
Due: none

feat: add the token usage state to /api/accounts
  backend/src/app/db/models/token.py
  backend/src/app/db/models/user.py
  backend/src/app/domain/accounts/schemas.py
  tests/backend/integration/test_access.py
Due: app-ruff-check, app-ruff-format

chore: CR fixes @n1k0
  src/Data/User.elm
  src/Page/Admin/Account.elm
Due: none

fix: density null
  public/data/processes.json
  public/data/processes_impacts.json
  tests/processes-schema.json
Due: app-prettier

chore: remove pef
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

fix migration conflict
  backend/src/app/db/migrations/versions/2025-12-16_rename_item_s_to_item_ed08f55f73ad.py
Due: app-ruff-check, app-ruff-format

fix: cedric review
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

feat: add packaging from ctcpa (#1615)
  backend/src/app/db/migrations/versions/2025-12-16_rename_item_s_to_item_ed08f55f73ad.py
  backend/src/app/domain/processes/schemas.py
  public/data/processes.json
  public/data/processes_impacts.json
  src/Data/Process.elm
  tests/processes-schema.json
Due: app-prettier, app-ruff-check, app-ruff-format

chore: detailed comment
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

feat(bo): add the token usage state to the users table (#1633)
  backend/src/app/db/models/token.py
  backend/src/app/db/models/user.py
  backend/src/app/domain/accounts/schemas.py
  src/Data/User.elm
  src/Page/Admin/Account.elm
  tests/Data/UserTest.elm
  tests/backend/integration/test_access.py
Due: app-ruff-check, app-ruff-format

chore: revert density
  public/data/processes.json
  public/data/processes_impacts.json
  tests/processes-schema.json
Due: app-prettier

remove 'constructed by' in example
  tests/Data/ComponentTest.elm
Due: none

changes following cedric's review
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

chore: remove obsolete suffix and cleanup (#1651)
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_impacts.json
  tests/Data/ComponentTest.elm
Due: app-prettier

chore: remove composant acier
  public/data/veli/components.json
Due: app-prettier

chore: remove test nico
  public/data/object/components.json
Due: app-prettier

GITBOOK-1603: No subject
  methodes-transverses-specifiques/modelisation-fret-aerien.md
Due: none

GITBOOK-1604: No subject
  SUMMARY.md
  vehicules/exemples.md
Due: none

GITBOOK-1605: No subject
  vehicules/exemples.md
Due: none
