Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format, dont-commit-detailed-processes

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
      exclude: (svg|icomoon|rapidoc-9.3.4.min.js)
    - id: trailing-whitespace
      exclude: (vendor|rapidoc-9.3.4.min.js)
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, master]

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier
        language: system
        files: ^.*$
        types_or: [javascript, json]
        entry: |
          bash -c 'npm --prefix . run fix:prettier --write "${@}"' --

      - id: app-ruff-check
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:check "${@}"' --

      - id: app-ruff-format
        name: run ruff format
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:format "${@}"' --

      - id: dont-commit-detailed-processes
        name: check that we don't commit processes_impacts.json
        language: system
        files: ^processes_impacts.json$
        entry: |
          bash -c 'echo "⚠️ Prevented pushing detailed impacts data to public git repository. To update these, clone and push to the ecobalyse-private repository.";exit 1'

GITBOOK-1474: No subject
  pages-en-cours-de-revue/energies-des-etapes-de-transformation.md
Due: none

new export
  public/data/food/ingredients.json
Due: app-prettier

chore: add docker release build
  README.md
  docker-compose.yml
  docker/.dockerignore
  docker/Dockerfile
  docker/compose.yaml
  docker/server-simple.js
Due: app-prettier

GITBOOK-1475: No subject
  .gitbook/assets/image (359).png
  .gitbook/assets/image (360).png
  pages-en-cours-de-revue/energies-des-etapes-de-transformation.md
Due: none

GITBOOK-1476: No subject
  .gitbook/assets/image (361).png
  .gitbook/assets/image (362).png
  .gitbook/assets/image (363).png
  .gitbook/assets/image (364).png
  pages-en-cours-de-revue/energies-des-etapes-de-transformation.md
Due: none

chore: Fix food ids and densities (#1323)
  public/data/food/examples.json
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

restored last ingredient ids identity between v7.0.0 and next version
  public/data/food/ingredients.json
Due: app-prettier

adapted examples
  public/data/food/examples.json
Due: app-prettier

chore: add board processes
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

GITBOOK-1477: No subject
  textile/perimetre.md
Due: none

GITBOOK-1478: Fin de vie (page transverse)
  ameublement/cycle-de-vie/etape-4-fin-de-vie.md
  pages-en-cours-de-revue/fin-de-vie.md
Due: none

GITBOOK-1479: No subject
  SUMMARY.md
  pages-en-cours-de-revue/fin-de-vie.md
  pages-en-cours-de-revue/old-modele-dimpact-de-la-fin-de-vie.md
Due: none

GITBOOK-1481: Fin de vie (Ameublement)
  .gitbook/assets/image (365).png
  SUMMARY.md
  ameublement/cycle-de-vie/etape-4-fin-de-vie-final.md
  ameublement/cycle-de-vie/etape-4-fin-de-vie.md
Due: none

chore: restored last ingredient ids identity between v7.0.0 and next version (#1330)
  public/data/food/examples.json
  public/data/food/ingredients.json
Due: app-prettier

GITBOOK-1480: No subject
  ameublement/cycle-de-vie/etape-4-fin-de-vie-ameublement.md
  pages-en-cours-de-revue/old-modele-dimpact-de-la-fin-de-vie.md
Due: none

GITBOOK-1482: No subject
  pages-en-cours-de-revue/fin-de-vie.md
Due: none

GITBOOK-1483: No subject
  ameublement/cycle-de-vie/etape-4-fin-de-vie-ameublement.md
Due: none

GITBOOK-1484: No subject
  ameublement/cycle-de-vie/etape-4-fin-de-vie-ameublement.md
Due: none

GITBOOK-1485: No subject
  SUMMARY.md
  ameublement/cycle-de-vie/etape-4-fin-de-vie-ameublement.md
  pages-en-cours-de-revue/fin-de-vie-des-composants.md
Due: none

GITBOOK-1486: FinDeVieAmeublement
  SUMMARY.md
  ameublement/cycle-de-vie/etape-4-fin-de-vie-ameublement.md
  ameublement/cycle-de-vie/etape-4-fin-de-vie-final.md
  ameublement/cycle-de-vie/etape-4-fin-de-vie.md
Due: none

chore: add missing processes
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

chore: fix export
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

feat(bo): allow exporting selected components.
  src/Page/Admin/Component.elm
Due: none

fix: add missing Category
  backend/src/app/domain/processes/schemas.py
Due: app-ruff-check, app-ruff-format

feat(bo): allow exporting selected processes
  src/Page/Admin/Process.elm
Due: none

refactor: factor selection helpers out
  src/Page/Admin/Component.elm
  src/Page/Admin/Process.elm
  src/Views/Admin.elm
Due: none

refactor: factorize checkbox views
  src/Page/Admin/Component.elm
  src/Page/Admin/Process.elm
  src/Views/Admin.elm
Due: none

refactor: factor download button code out
  src/Page/Admin/Component.elm
  src/Page/Admin/Process.elm
  src/Views/Admin.elm
Due: none

new export from https://github.com/MTES-MCT/ecobalyse-data/pull/128
  public/data/food/ingredients.json
Due: app-prettier

fix: density
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

doc: enhance README
  README.md
Due: none

GITBOOK-1487: No subject
  textile/parametrage.md
Due: none

chore: clean code
  src/Page/Admin/Component.elm
  src/Page/Admin/Process.elm
  src/Views/Admin.elm
Due: none

GITBOOK-1488: No subject
  lequipe-ecobalyse.md
Due: none

feat(bo): allow exporting selected components. (#1339)
  src/Page/Admin/Component.elm
  src/Page/Admin/Process.elm
  src/Views/Admin.elm
Due: none

GITBOOK-1489: No subject
  .gitbook/assets/image (366).png
  textile/cycle-de-vie-des-produits-textiles/etape-1-matieres/matieres-manquantes.md
Due: none

GITBOOK-1491: No subject
  SUMMARY.md
  textile/cycle-de-vie-des-produits-textiles/etape-6-distribution-new.md
Due: none

GITBOOK-1492: No subject
  SUMMARY.md
  pages-en-cours-de-revue/transport/cout-environnemental-par-voie-de-transport.md
  textile/cycle-de-vie-des-produits-textiles/transport-textile.md
Due: none
