Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
      exclude: (svg|icomoon|rapidoc-9.3.4.min.js)
    - id: trailing-whitespace
      exclude: (vendor|rapidoc-9.3.4.min.js)
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, master]

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier
        language: system
        files: ^.*$
        types_or: [javascript, json]
        entry: |
          bash -c 'npm --prefix . run fix:prettier --write "${@}"' --

      - id: app-ruff-check
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:check "${@}"' --

      - id: app-ruff-format
        name: run ruff format
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:format "${@}"' --

      - id: app-elm-format
        name: run elm-format
        language: system
        files: ^.*$
        types_or: [elm]
        entry: |
          bash -c 'npm --prefix . run fix:elm-format "${@}"' --

feat: handle default distances
  src/Data/Component.elm
  src/Views/Component.elm
Due: none

fix: tests
  tests/Data/ComponentTest.elm
Due: none

test: add tests
  tests/Data/ComponentTest.elm
Due: none

chore(stable): upgrade npm deps, 2026-06-03 (#2390)
  package-lock.json
  package.json
Due: app-prettier

fix tests
  data/tests/fixtures/processes_generic_impacts_output.json
  data/tests/fixtures/processes_generic_output.json
  data/tests/snapshots/processes_generic_impacts.json
Due: app-prettier

chore(current): upgrade npm deps, 2026-06-03 (#2389)
  package-lock.json
  package.json
Due: app-prettier

fix: update the plane process id
  public/data/components/config.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

feat(generic): handle air transport (#2377)
  public/data/components/config.json
  src/Data/Component.elm
  src/Data/Split.elm
  src/Page/Admin/Component.elm
  src/Page/Explore/Components.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Views/Component.elm
  tests/Data/ComponentTest.elm
Due: app-prettier

Added nonwoven polyester
  data/lci_catalog/ecoinvent-3-11/nonwoven-polyester.json
  data/public/data/processes.json
  data/public/data/textile/materials.json
  public/data/processes.json
  public/data/processes_impacts.json
  public/data/textile/materials.json
Due: app-prettier

fix: use JSON to store components
  backend/src/app/db/migrations/versions/2026-06-03_store_component_as_json_21f0598992ca.py
  backend/src/app/db/models/__init__.py
  backend/src/app/db/models/component.py
  backend/src/app/db/models/element.py
  backend/src/app/db/models/journal_entry.py
  backend/src/app/db/models/process.py
  backend/src/app/db/models/process_element_transform.py
  backend/src/app/domain/components/controllers/component.py
  backend/src/app/domain/components/deps.py
  backend/src/app/domain/components/schemas.py
  backend/src/app/domain/components/services.py
  src/Page/Admin/Component.elm
  src/Request/BackendHttp.elm
  src/Request/Component.elm
  tests/backend/data_fixtures.py
  tests/backend/integration/test_components.py
  tests/backend/integration/test_journal_entries.py
Due: app-ruff-check, app-ruff-format

test: add new transform format test
  tests/backend/integration/test_components.py
Due: app-ruff-check, app-ruff-format

fix(generic): remove any air transport between transform steps
  src/Data/Component.elm
Due: none

chore(stable): upgrade python deps, 2026-06-04
  uv.lock
Due: none

test: add test
  tests/Data/ComponentTest.elm
Due: none

chore: add cereals and legumes materials
  backend/src/app/domain/processes/schemas.py
  src/Data/Process/Category.elm
Due: app-ruff-check, app-ruff-format

chore: add migration script
  data/migrations/2026-06-03-add-food-type-cereals-legumes.py
Due: app-ruff-check, app-ruff-format

fix(generic): remove any air transport between transform steps (#2398)
  src/Data/Component.elm
  tests/Data/ComponentTest.elm
Due: none

chore: cleanup
  data/migrations/2026-06-03-add-food-type-cereals-legumes.py
Due: app-ruff-check, app-ruff-format

add-road-transport-morocco
  public/data/transports.json
Due: app-prettier

feat(data): add road transport from morocco (#2144)
  public/data/transports.json
Due: app-prettier

add laminated glass
  data/activities_to_create.json
  data/lci_catalog/ecobalyse/glass-laminated.json
Due: app-prettier

GITBOOK-1697: No subject
  methodes-transverses-specifiques/transport/cout-environnemental-par-voie-de-transport.md
Due: none

add wood and papper packaging and open to object packaging
  data/activities_to_create.json
  data/lci_catalog/ecobalyse/packaging-material-aluminium.json
  data/lci_catalog/ecobalyse/packaging-material-cardboard.json
  data/lci_catalog/ecobalyse/packaging-material-glass.json
  data/lci_catalog/ecobalyse/packaging-material-papper.json
  data/lci_catalog/ecobalyse/packaging-material-pehd.json
  data/lci_catalog/ecobalyse/packaging-material-peld.json
  data/lci_catalog/ecobalyse/packaging-material-pet.json
  data/lci_catalog/ecobalyse/packaging-material-pp.json
  data/lci_catalog/ecobalyse/packaging-material-ps.json
  data/lci_catalog/ecobalyse/packaging-material-pvc.json
  data/lci_catalog/ecobalyse/packaging-material-steel.json
  data/lci_catalog/ecobalyse/packaging-material-wood.json
Due: app-prettier

fix scope
  data/lci_catalog/ecobalyse/packaging-material-cardboard.json
  data/lci_catalog/ecobalyse/packaging-material-papper.json
  data/lci_catalog/ecobalyse/packaging-material-wood.json
Due: app-prettier

New database Lyocel with just one activity and a migration to be able do link agains ecoinvent 3.11 from simapro
  data/common/import_.py
  data/ecobalyse_data/bw/migration.py
  data/import_ecoinvent.py
  data/settings.toml
Due: app-ruff-check, app-ruff-format

chore: fix activity name
  data/lci_catalog/ecobalyse/glass-laminated.json
Due: app-prettier

fix PVC amount
  data/activities_to_create.json
Due: app-prettier

fix wood eol processes
  data/activities_to_create.json
Due: app-prettier

fix wood transformation process amount
  data/activities_to_create.json
Due: app-prettier

change RoW process to CH process
  data/lci_catalog/ecoinvent-3-9-1/eol-landfilling-aluminum.json
  data/lci_catalog/ecoinvent-3-9-1/eol-landfilling-cardboard.json
  data/lci_catalog/ecoinvent-3-9-1/eol-landfilling-household-wastes.json
  data/lci_catalog/ecoinvent-3-9-1/eol-landfilling-plastic.json
  data/lci_catalog/ecoinvent-3-9-1/eol-landfilling-pur-foam.json
  data/lci_catalog/ecoinvent-3-9-1/eol-landfilling-wood.json
Due: app-prettier
