Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format

app-prettier:
  name: run prettier
  language: system
  entry: 'bash -c ''npm --prefix . run fix:prettier --write "${@}"'' --
  
    '

app-ruff-check:
  name: run ruff check
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:check "${@}"'' --
  
    '

app-ruff-format:
  name: run ruff format
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:format "${@}"'' --
  
    '

chore: setting up submodule
  .gitmodules
Due: none

chore: @cedricr’s review
  schemas/lci-catalog-schema.json
  schemas/lci-schema.json
  schemas/process-schema.json
Due: app-prettier

fix: schema name
  .justfile
  schemas/lci-schema.json
Due: app-prettier

chore: don’t duplicate processes schema (#2680)
  .github/workflows/node.js.yml
  .justfile
  README.md
  data/schemas/lci-schema.json
  data/tests/processes-schema.json
  package-lock.json
  package.json
  schemas/lci-schema.json
  schemas/process-schema.json
  schemas/processes-schema.json
  tests/processes-schema.json
Due: app-prettier

reset encryption
  .gitattributes
Due: none

feat(data): fix alu and steel processes (#2679)
  public/data/processes_impacts.json
Due: app-prettier

feat(generic): implement assembly impacts computations
  public/data/food2/examples.json
  public/data/object/examples.json
  public/data/veli/examples.json
  src/Data/Color.elm
  src/Data/Component.elm
  src/Data/Food/Recipe.elm
  src/Data/Impact.elm
  src/Data/Process/Category.elm
  src/Data/Stages.elm
  src/Data/Textile/Simulator.elm
  src/Page/Admin/Component.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Views/Component.elm
  src/Views/ImpactTabs.elm
  tests/Data/ComponentTest.elm
Due: app-prettier

refactor: single applyProcessStep helper
  src/Data/Component.elm
  tests/Data/ComponentTest.elm
Due: none

feat(generic): implement assembly processes
  data/export/processes_generic.json
  data/lci_catalog/ecobalyse_manual_lcia/vehicle-assembling-regulatory.json
  data/lci_catalog/ecobalyse_manual_lcia/vehicle-assembling.json
  public/data/processes.json
Due: app-prettier

chore: clean code
  src/Data/Component.elm
Due: none

feat: render waste and intermediary masses
  src/Views/Component.elm
Due: none

feat: tmp disable operation custom localization
  src/Data/Component.elm
  src/Data/Country.elm
  src/Views/Component.elm
  tests/Data/ComponentTest.elm
  tests/Data/CountryTest.elm
Due: none

chore: add missing tests for Country
  src/Data/Country.elm
  tests/Data/CountryTest.elm
  tests/Server/RouteTest.elm
Due: none

refactor: simplify computeAssemblyImpacts
  src/Data/Component.elm
  src/Views/Component.elm
Due: none

refactor: clean code
  src/Views/Component.elm
  tests/Data/ComponentTest.elm
Due: none

feat: backward compatible assembly field decoder
  src/Data/Component.elm
Due: none

fix: disabled attr disables input event handler
  src/Views/Component.elm
Due: none

refactor: factor assembly test helpers, add fake test process
  tests/Data/ComponentTest.elm
  tests/TestUtils.elm
Due: none

data: add the assembly categ to backend schema
  backend/src/app/domain/processes/schemas.py
Due: app-ruff-check, app-ruff-format

refactor: improve ui and styling
  src/Views/Component.elm
Due: none

fix: sbtn tyling
  src/Views/Component.elm
Due: none

chore: improve naming consistency
  src/Data/Component.elm
  src/Page/Admin/Component.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Views/Component.elm
Due: none

chore: clean code, typography
  src/Data/Component.elm
  src/Page/Object.elm
  src/Views/Component.elm
Due: none

chore: add waste application tests
  tests/Data/ComponentTest.elm
Due: none

refactor: simplify eol mass ratio logic
  src/Data/Component.elm
  src/Views/Component.elm
  tests/Data/ComponentTest.elm
Due: none

refactor: revamp tests
  tests/Data/ComponentTest.elm
Due: none

refactor: clean code
  src/Data/Component.elm
  src/Views/Component.elm
Due: none

refactor: remove ability to localize operations individually
  public/data/veli/examples.json
  src/Data/Component.elm
  src/Page/Admin/Component.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Views/Component.elm
  tests/Data/ComponentTest.elm
Due: app-prettier

fix: table align
  src/Views/Component.elm
Due: none

refactor: clean code
  src/Data/Component.elm
  src/Page/Object.elm
  src/Views/Component.elm
  tests/Data/ComponentTest.elm
Due: none

Update vehicle-assembling-regulatory.json
  data/lci_catalog/ecobalyse_manual_lcia/vehicle-assembling-regulatory.json
Due: app-prettier

Update vehicle-assembling.json
  data/lci_catalog/ecobalyse_manual_lcia/vehicle-assembling.json
Due: app-prettier

data: export assembly process from 85c0b0b884a07108aca851d8ea4db1e4ecb41a4d
  data/export/processes_generic.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

data: export asselbmy regul. from 5f677e51cd3a4f19eef42525f8c2eb5c5b8bc75d
  data/export/processes_generic.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

chore: remove obsolete test code
  tests/Data/ComponentTest.elm
Due: none

Path conditions:
  app-prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.json$
  app-ruff-check: any of: ^.*$ and \.py$
  app-ruff-format: any of: ^.*$ and \.py$
