Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format, dont-commit-detailed-processes

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
      exclude: (svg|icomoon|rapidoc-9.3.4.min.js)
    - id: trailing-whitespace
      exclude: (vendor|rapidoc-9.3.4.min.js)
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, master]

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier
        language: system
        files: ^.*$
        types_or: [javascript, json]
        entry: |
          bash -c 'npm --prefix . run fix:prettier --write "${@}"' --

      - id: app-ruff-check
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:check "${@}"' --

      - id: app-ruff-format
        name: run ruff format
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:format "${@}"' --

      - id: dont-commit-detailed-processes
        name: check that we don't commit processes_impacts.json
        language: system
        files: ^processes_impacts.json$
        entry: |
          bash -c 'echo "⚠️ Prevented pushing detailed impacts data to public git repository. To update these, clone and push to the ecobalyse-private repository.";exit 1'

I001 order import
  data/common/import_.py
  data/food/export.py
Due: app-ruff-check, app-ruff-format

no need for OrderedDict
  data/common/export.py
Due: app-ruff-check, app-ruff-format

revert feedlot changes
  public/data/food/processes.json
Due: app-prettier

chore: upgrade dependencies to their latest version, Oct. 2024. (#801)
  package-lock.json
  package.json
Due: app-prettier

formatting
  data/common/import_.py
  data/food/export.py
Due: app-ruff-check, app-ruff-format

refactor: aggregate in python (#794)
  data/Makefile
  data/common/export.py
  data/food/export.py
  public/data/food/processes.json
Due: app-prettier, app-ruff-check, app-ruff-format

add custom json encoder for numbers
  data/common/export.py
Due: app-ruff-check, app-ruff-format

fix-categories
  data/food/export.py
  public/data/food/processes.json
Due: app-prettier, app-ruff-check, app-ruff-format

Revert "refactor: aggregate in python (#794)"
  data/Makefile
  data/common/export.py
  data/food/export.py
  public/data/food/processes.json
Due: app-prettier, app-ruff-check, app-ruff-format

revert: "refactor: aggregate in python" (#806)
  data/Makefile
  data/common/export.py
  data/food/export.py
  public/data/food/processes.json
Due: app-prettier, app-ruff-check, app-ruff-format

no categories yet
  data/food/export.py
Due: app-ruff-check, app-ruff-format

feat: add object examples explorer page.
  src/Data/Dataset.elm
  src/Page/Explore.elm
  src/Page/Explore/ObjectExamples.elm
  src/Page/Object.elm
Due: none

chore: minor styling adjustements.
  src/Page/Object.elm
Due: none

fix: @vjousse review.
  src/Page/Explore.elm
Due: none

refactor: improve code readability.
  src/Page/Explore.elm
Due: none

chore: improve code readability.
  src/Page/Object.elm
Due: none

refactor: factor out density formating helper.
  src/Page/Explore/ObjectProcesses.elm
  src/Page/Object.elm
  src/Views/Format.elm
Due: none

feat: add link to processes explorer in simulator.
  src/Page/Object.elm
Due: none

feat: introduce ENABLE_OBJECT_SECTION env var.
  .env.sample
  README.md
  index.js
  src/Data/Session.elm
  src/Main.elm
  src/Page/Explore.elm
  src/Views/Page.elm
Due: app-prettier

feat: add object processes explorer page.
  src/Data/Dataset.elm
  src/Data/Object/Process.elm
  src/Page/Explore.elm
  src/Page/Explore/ObjectProcesses.elm
Due: none

fix: add density information to processes explorer.
  src/Page/Explore/ObjectProcesses.elm
Due: none

readd category
  public/data/food/processes.json
Due: app-prettier

add missing unit in activities
  data/textile/activities.json
Due: app-prettier

wrong syntax
  data/Makefile
Due: none

preliminary export
  data/textile/export.py
Due: app-ruff-check, app-ruff-format

directly use variables as a CONFIG might hide a missing config
  data/food/export.py
Due: app-ruff-check, app-ruff-format

get simapro impacts for EI from `ADEME UPR`
  data/common/export.py
Due: app-ruff-check, app-ruff-format

Recreated activities.json from processes and materials
  data/textile/activities.json
  data/textile/activities.py
Due: app-prettier, app-ruff-check, app-ruff-format

change Ecobalyse to Custom for processes created in a spreasheet
  data/textile/activities.json
Due: app-prettier

added category and search keys
  data/textile/activities.json
  data/textile/activities.py
Due: app-prettier, app-ruff-check, app-ruff-format

reformat and add missing `primary` keys
  data/textile/activities.json
Due: app-prettier

new materials export
  public/data/textile/materials.json
Due: app-prettier

unuseful variable
  data/food/export.py
Due: app-ruff-check, app-ruff-format

better variable name
  data/food/export.py
Due: app-ruff-check, app-ruff-format

added hardcoded impacts
  data/textile/activities.json
Due: app-prettier

no more aggregate here
  data/Makefile
Due: none

use the right key to check missing material processes
  data/textile/activities.py
Due: app-ruff-check, app-ruff-format

added `export_textile` to the Makefile
  data/Makefile
Due: none

order impacts for export
  data/common/export.py
  data/food/export.py
Due: app-ruff-check, app-ruff-format
