Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
      exclude: (svg|icomoon|rapidoc-9.3.4.min.js)
    - id: trailing-whitespace
      exclude: (vendor|rapidoc-9.3.4.min.js)
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, master]

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier
        language: system
        files: ^.*$
        types_or: [javascript, json]
        entry: |
          bash -c 'npm --prefix . run fix:prettier --write "${@}"' --

      - id: app-ruff-check
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:check "${@}"' --

      - id: app-ruff-format
        name: run ruff format
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:format "${@}"' --

      - id: app-elm-format
        name: run elm-format
        language: system
        files: ^.*$
        types_or: [elm]
        entry: |
          bash -c 'npm --prefix . run fix:elm-format "${@}"' --

revert alfalfa
  data/food/taxonomy.json
  data/food/taxonomy_with_aliases.json
Due: app-prettier

Revise Alimentaire BETA API documentation
  food2openapi.yaml
Due: none

fix: don’t load dynaconf by default
  packages/python/ecobalyse/ecobalyse/json.py
  packages/python/ecobalyse/ecobalyse/logging.py
Due: app-ruff-check, app-ruff-format

chore: reformat processes_impacts
  public/data/processes_impacts.json
Due: app-prettier

fix: move settings dep in the bin script
  data/bin/export.py
  data/ecobalyse_data/export/export_generic.py
Due: app-ruff-check, app-ruff-format

feat(generic,ui): render production item unit mass
  e2e/object-simulator.spec.js
  src/Data/Component.elm
  src/Views/Component.elm
  tests/Data/ComponentTest.elm
Due: app-prettier

refactor: improve test legibility
  tests/Data/ComponentTest.elm
Due: none

style: update layout to fit provided moclups
  e2e/object-simulator.spec.js
  src/Views/Component.elm
Due: app-prettier

fix following review
  data/export/processes_generic.json
  data/food/taxonomy.json
  data/food/taxonomy_with_aliases.json
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

feat(generic,ui): render production item unit mass (#2766)
  src/Data/Component.elm
  src/Views/Component.elm
  tests/Data/ComponentTest.elm
Due: none

chore: add new bases and reclassify ingredients (#2764)
  data/export/processes_generic.json
  data/food/taxonomy.json
  data/food/taxonomy_with_aliases.json
  data/tests/test_taxonomy.py
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier, app-ruff-check, app-ruff-format

chore: improve comment with initLogin fix
  e2e/object-simulator.spec.js
  src/Page/Auth.elm
Due: app-prettier

chore: remove excessive timeouts
  e2e/auth.spec.js
  e2e/food-simulator.spec.js
  e2e/global-setup.js
  e2e/homepage.spec.js
  e2e/lib.js
  e2e/object-simulator.spec.js
  e2e/textile-simulator.spec.js
  playwright.config.js
Due: app-prettier

fix(security): upgrade maildev to v3.x.
  e2e/auth.spec.js
  e2e/lib.js
  package-lock.json
  package.json
Due: app-prettier

fix: improve e2e tests reliablility
  e2e/auth.spec.js
  e2e/food-simulator.spec.js
  e2e/global-setup.js
  e2e/homepage.spec.js
  e2e/lib.js
  e2e/object-simulator.spec.js
  e2e/textile-simulator.spec.js
  playwright.config.js
  src/Page/Auth.elm
Due: app-prettier

chore: upgrade browserlist as per #2770
  package-lock.json
Due: app-prettier

fix(security): upgrade maildev to v3.x (#2771)
  e2e/auth.spec.js
  e2e/food-simulator.spec.js
  e2e/global-setup.js
  e2e/homepage.spec.js
  e2e/lib.js
  e2e/object-simulator.spec.js
  e2e/textile-simulator.spec.js
  package-lock.json
  package.json
  playwright.config.js
  src/Page/Auth.elm
Due: app-prettier

chore: reviews
  data/bin/export.py
  data/common/export.py
  data/ecobalyse_data/export/export_generic.py
  data/ecobalyse_data/export/food.py
Due: app-ruff-check, app-ruff-format

chore: reviews
  bin/json_formatter.py
  data/bin/generate_taxonomy_with_aliases.py
  data/common/export.py
  data/tests/test_export.py
  packages/python/ecobalyse/ecobalyse/json.py
  pyproject.toml
Due: app-ruff-check, app-ruff-format

fix: remove useless test
  packages/python/ecobalyse/ecobalyse/json.py
Due: app-ruff-check, app-ruff-format

chore: remove useless npm script
  package.json
Due: app-prettier

fix: format proxyrc too
  .jsonformatignore
  .prettierignore
  .proxyrc.json
Due: app-prettier

fix: package.json should be formatted
  .jsonformatignore
Due: none

fix: don’t silent possible errors
  .pre-commit-config.yaml
Due: none

fix(scalingo): enforce git compat with scalingo-22
  .gitconfig
Due: none

fix(scalingo): enforce git compat with scalingo-22 (#2776)
  .gitconfig
Due: none

chore: add tests
  tests/Data/ComponentTest.elm
Due: none

feat(generic): render component line elements shares
  src/Data/Component.elm
  src/Views/Component.elm
Due: none

fix: fix table layout
  src/Views/Component.elm
Due: none

refactor: introduce expectAllSucceed test helper
  tests/Data/ComponentTest.elm
  tests/TestUtils.elm
Due: none

fix: attempt at fixing scalingo builds
  scalingo.json
Due: app-prettier

fix: apply git fix suggested by scalingo
  scalingo.json
Due: app-prettier

style: fix table colspan issue
  src/Views/Component.elm
Due: none

Revert "style: move percent to first column"
  src/Views/Component.elm
Due: none

refactor(ui): revamp production table layout
  src/Views/Component.elm
Due: none

style: move percent to first column
  src/Views/Component.elm
Due: none

chore: reviews
  .jsonformatignore
Due: none

fix: render trims table header in legacy textile sim
  src/Views/Component.elm
Due: none

GITBOOK-1769: No subject
  methodes-transverses/transport/cout-environnemental-par-voie-de-transport.md
Due: none
