Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format, dont-commit-detailed-processes

app-prettier:
  name: run prettier
  language: system
  entry: 'bash -c ''npm --prefix . run fix:prettier --write "${@}"'' --
  
    '

app-ruff-check:
  name: run ruff check
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:check "${@}"'' --
  
    '

app-ruff-format:
  name: run ruff format
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:format "${@}"'' --
  
    '

dont-commit-detailed-processes:
  name: check that we don't commit processes_impacts.json
  language: system
  entry: 'bash -c ''echo "⚠️ Prevented pushing detailed impacts data to public git repository. To update these, clone and push to the ecobalyse-private repository.";exit 1''
  
    '

GITBOOK-1126: No subject
  .gitbook/assets/image (333).png
  textile/cycle-de-vie-des-produits-textiles/etape-1-matieres/matieres-manquantes.md
Due: none

GITBOOK-1127: No subject
  textile/cycle-de-vie-des-produits-textiles/etape-1-matieres/matieres-manquantes.md
Due: none

fix grassfed beef with new bw import
  public/data/food/processes.json
  public/data/food/processes_impacts.json
Due: app-prettier

fix tests
  tests/Data/Food/RecipeTest.elm
  tests/e2e-food.json
  tests/e2e-textile.json
Due: app-prettier

formatting
  tests/e2e-food.json
Due: app-prettier

Update data/common/__init__.py
  data/common/__init__.py
Due: app-ruff-check, app-ruff-format

move test_json_format.py
  data/common/__init__.py
  data/tests/test_json_format_encoder.py
Due: app-ruff-check, app-ruff-format

feat(data): validate generated processes files.
  package-lock.json
  package.json
  public/data/food/processes.json
  tests/process-schema.json
Due: app-prettier

fix: linting
  tests/Data/Food/RecipeTest.elm
Due: none

update export after single format PR merge
  public/data/object/processes.json
  public/data/object/processes_impacts.json
  public/data/textile/processes.json
  public/data/textile/processes_impacts.json
Due: app-prettier

chore: standardize number formatting across codebase (#804)
  Pipfile
  Pipfile.lock
  data/Makefile
  data/__init__.py
  data/common/__init__.py
  data/common/export.py
  data/common/import_.py
  data/food/export.py
  data/object/export.py
  data/tests/test_json_format_encoder.py
  data/textile/export.py
  lib/json.js
  package-lock.json
  public/data/food/processes.json
  public/data/food/processes_impacts.json
  public/data/object/processes.json
  public/data/object/processes_impacts.json
  public/data/textile/processes.json
  public/data/textile/processes_impacts.json
  pytest.ini
  server.js
  tests/Data/Food/RecipeTest.elm
  tests/e2e-food.json
  tests/e2e-textile.json
  tests/json.test.js
Due: app-prettier, app-ruff-check, app-ruff-format

standardize activities.json
  data/textile/activities.json
Due: app-prettier

export with tkm fix
  public/data/textile/processes.json
  public/data/textile/processes_impacts.json
Due: app-prettier

feat: validate UUIDs.
  .github/workflows/node.js.yml
  package-lock.json
  package.json
  tests/processes-schema.json
Due: app-prettier

feat: remove invalid unit.
  tests/processes-schema.json
Due: app-prettier

fix: remove obsolete local changes.
  public/data/food/processes.json
Due: app-prettier

Revert "chore: standardize number formatting across codebase (#804)"
  Pipfile
  Pipfile.lock
  data/Makefile
  data/__init__.py
  data/common/__init__.py
  data/common/export.py
  data/common/import_.py
  data/food/export.py
  data/object/export.py
  data/tests/test_json_format_encoder.py
  data/textile/export.py
  lib/json.js
  package-lock.json
  public/data/food/processes.json
  public/data/food/processes_impacts.json
  public/data/object/processes.json
  public/data/object/processes_impacts.json
  public/data/textile/processes.json
  public/data/textile/processes_impacts.json
  pytest.ini
  server.js
  tests/Data/Food/RecipeTest.elm
  tests/e2e-food.json
  tests/e2e-textile.json
  tests/json.test.js
Due: app-prettier, app-ruff-check, app-ruff-format

chore: standardize tkm unit (#868)
  data/textile/activities.json
  public/data/textile/processes.json
  public/data/textile/processes_impacts.json
Due: app-prettier

fix: remove positive integer validation for impacts.
  tests/processes-schema.json
Due: app-prettier

fix: JSON formating.
  tests/processes-schema.json
Due: app-prettier

feat(data): validate processes files against a JSON schema. (#869)
  .github/workflows/node.js.yml
  package-lock.json
  package.json
  tests/processes-schema.json
Due: app-prettier

fix(dev): npm ci error with `transcrypt`
  bin/run-transcrypt.sh
Due: none

new prettier config with prettier-plugin-sort-json
  .prettierignore
  .prettierrc
Due: none

activities to new format
  data/textile/activities.json
Due: app-prettier

fix(dev): fix npm ci error with `transcrypt` (#870)
  bin/run-transcrypt.sh
Due: none

delete duplicate activity
  data/textile/activities.json
Due: app-prettier

remove pet activity duplicate
  data/textile/activities.json
  public/data/textile/components.json
Due: app-prettier

export without duplicate pet
  public/data/textile/processes.json
Due: app-prettier

with processes_impacts
  public/data/textile/processes_impacts.json
Due: app-prettier

GITBOOK-1128: Détail du calcul des services écosystémiques
  .gitbook/assets/Notice calcul services écosystémiques.xlsx
  alimentaire-en-construction/complements-hors-acv.md
Due: none

GITBOOK-1129: Suppression xls services écosystémiques
  alimentaire-en-construction/complements-hors-acv.md
Due: none

refactor: move Data.Object.Component down a level.
  src/Data/Component.elm
  src/Data/Dataset.elm
  src/Data/Object/Db.elm
  src/Data/Object/Query.elm
  src/Data/Object/Simulator.elm
  src/Page/Explore.elm
  src/Page/Explore/ObjectComponents.elm
  src/Page/Object.elm
  src/Views/Format.elm
Due: none

GITBOOK-1130: Introduction d'une précision sur le multi-sourcing
  .gitbook/assets/{F1DBF5B3-6028-4CE4-BE07-6CA5F2D064BC}.png
  textile/parametrage.md
Due: none

refactor: make components object-agnostic.
  src/Data/Component.elm
  src/Data/Object/Simulator.elm
  src/Page/Explore.elm
  src/Page/Object.elm
  src/Views/Comparator.elm
  src/Views/ImpactTabs.elm
  tests/Data/Object/SimulatorTest.elm
Due: none

refactor: move component availability check to component module.
  src/Data/Component.elm
  src/Data/Object/Simulator.elm
  src/Page/Object.elm
Due: none

refactor: move compute() to the Component module.
  src/Data/Component.elm
  src/Data/Object/Simulator.elm
Due: none

docs: add code comments
  src/Data/Component.elm
Due: none

test: add minimalistic unit test
  tests/Data/ComponentTest.elm
Due: none

Path conditions:
  app-prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.json$
  app-ruff-check: any of: ^.*$ and \.py$
  app-ruff-format: any of: ^.*$ and \.py$
  dont-commit-detailed-processes: any of: ^processes_impacts.json$
