Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
      exclude: (svg|icomoon|rapidoc-9.3.4.min.js)
    - id: trailing-whitespace
      exclude: (vendor|rapidoc-9.3.4.min.js)
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, master]

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier
        language: system
        files: ^.*$
        types_or: [javascript, json]
        entry: |
          bash -c 'npm --prefix . run fix:prettier --write "${@}"' --

      - id: app-ruff-check
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:check "${@}"' --

      - id: app-ruff-format
        name: run ruff format
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:format "${@}"' --

      - id: app-elm-format
        name: run elm-format
        language: system
        files: ^.*$
        types_or: [elm]
        entry: |
          bash -c 'npm --prefix . run fix:elm-format "${@}"' --

feat(data): ecospold1 export (#2316)
  .justfile
  data/bin/export_bw_db.py
  data/ecobalyse_data/bw/ecospold_export.py
  data/ecobalyse_data/typer.py
  data/tests/test_bin_scripts.py
Due: app-ruff-check, app-ruff-format

Update bin/score_history/README.md
  bin/score_history/README.md
Due: none

add --dry-run flag
  bin/score_history/README.md
Due: none

trigger score_history on master push
  .github/workflows/score_history.yml
Due: none

chore: speed up score history (#2642)
  .github/workflows/score_history.yml
  bin/score_history/README.md
  bin/score_history/score_history.py
  data/common/score_history/create_table_score_history.sql
  data/common/score_history/score_history.py
  pyproject.toml
  uv.lock
Due: app-ruff-check, app-ruff-format

fix: deny access to detailed impacts
  server.js
Due: app-prettier

chore: add important code comment
  server.js
Due: app-prettier

chore: add test
  tests/server.spec.js
Due: app-prettier

fix(stable): prevent access to detailed impacts
  server.js
  tests/server.spec.js
Due: app-prettier

fix: deny access to detailed impacts (#2669)
  server.js
  tests/server.spec.js
Due: app-prettier

fix(stable): prevent access to detailed impacts (#2670)
  server.js
  tests/server.spec.js
Due: app-prettier

refactor(data): simpler, DRY processes detailed impacts
  bin/build-db
  check-db.js
  lib/index.js
  public/data/processes_impacts.json
  server.js
  src/Data/Db.elm
  src/Data/Process.elm
  src/Data/Session.elm
  src/Main.elm
  src/Page/Auth.elm
  src/Request/Auth.elm
  tests/Data/ProcessTest.elm
  tests/lib/index.spec.js
Due: app-prettier

chore: clean code
  src/Data/Db.elm
  src/Data/Process.elm
  tests/Data/ProcessTest.elm
Due: none

feat: add validation
  src/Data/Db.elm
  src/Data/Process.elm
  tests/Data/ProcessTest.elm
Due: none

feat: migration script
  bin/build-detailed-impacts
Due: none

chore: wording, wording
  src/Data/Process.elm
  src/Data/Session.elm
  src/Main.elm
  src/Page/Auth.elm
Due: none

fix: upgrade ingredient hierarchy check script.
  .github/workflows/ingredient_hierarchy.yml
  bin/check_ingredient_hierarchy.py
Due: app-ruff-check, app-ruff-format

chore: improve comments
  bin/build-db
  bin/build-detailed-impacts
  lib/index.js
Due: app-prettier

chore: mute hierarchy check workflow for now
  .github/workflows/ingredient_hierarchy.yml
Due: none

fix: validate impact details json data once
  package.json
Due: app-prettier

feat: validate impact details in check-db
  bin/build-detailed-impacts
  check-db.js
  src/CheckDb.elm
  src/Data/Db.elm
  src/Data/Process.elm
  src/Server.elm
  src/Static/Db.elm
  tests/TestUtils.elm
Due: app-prettier

fix: ensure loading backend fixtures works as previously
  README.md
  bin/build-detailed-processes-fixtures
  bin/load-fixtures.sh
  bin/reset-docker-db.sh
Due: none

refactor: consisteny naming
  src/Data/Db.elm
  src/Data/Session.elm
Due: none

refactor: rename ComponentOrMaterial -> ProductionItem
  src/Data/Component.elm
  src/Page/Admin/Component.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Views/Component.elm
Due: none

fix: remove category labels
  src/Page/Object.elm
Due: none

fix: no entry labelling
  src/Page/Object.elm
Due: none

refactor: config-like labels config
  src/Page/Object.elm
  src/Views/Component.elm
Due: none

refactor: clean code
  src/Page/Object.elm
Due: none

feat(generic): use a single btn to add component/material
  src/Views/Component.elm
Due: none

fix: @nicolaspkandeel feedback
  src/Page/Object.elm
  src/Views/Component.elm
Due: none

refactor: labels part of config
  src/Page/Admin/Component.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Views/Component.elm
Due: none

refactor: dry
  src/Page/Object.elm
Due: none

fix: improve code semantics
  src/Views/Component.elm
Due: none

chore: remove obsolete label
  src/Page/Object.elm
  src/Views/Component.elm
Due: none

feat(generic,ux): conditional component/element add buttons
  src/Views/Component.elm
Due: none

feat: add empty list labels
  src/Views/Component.elm
Due: none

refactor: simplify scopeLabels imple.
  src/Page/Admin/Component.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Views/Component.elm
Due: none

fix: switch back to appropriate category names
  src/Page/Object.elm
Due: none

fix: data tests warnings
  data/ecobalyse_data/tests.py
  pyproject.toml
Due: app-ruff-check, app-ruff-format
