Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format, dont-commit-detailed-processes

app-prettier:
  name: run prettier
  language: system
  entry: 'bash -c ''npm --prefix . run fix:prettier --write "${@}"'' --
  
    '

app-ruff-check:
  name: run ruff check
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:check "${@}"'' --
  
    '

app-ruff-format:
  name: run ruff format
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:format "${@}"'' --
  
    '

dont-commit-detailed-processes:
  name: check that we don't commit processes_impacts.json
  language: system
  entry: 'bash -c ''echo "⚠️ Prevented pushing detailed impacts data to public git repository. To update these, clone and push to the ecobalyse-private repository.";exit 1''
  
    '

also fixed the apiDocUrl
  src/Server.elm
Due: none

fix: remove unused import
  src/Server.elm
Due: none

fix: handle url protocol
  server.js
  src/Data/Textile/Simulator.elm
  src/Server.elm
  src/Server/Request.elm
  tests/Server/RouteTest.elm
  tests/Server/ServerTest.elm
  tests/TestUtils.elm
Due: app-prettier

chore: clean code
  src/Server.elm
  tests/Server/ServerTest.elm
Due: none

refactor: cleaner code
  tests/Server/RouteTest.elm
  tests/Server/ServerTest.elm
  tests/TestUtils.elm
Due: none

adapted tests
  tests/Server/RouteTest.elm
  tests/server.spec.js
Due: app-prettier

feat: patch urls to avoid reverse patching old versions
  server.js
  src/Server.elm
  src/Server/Request.elm
  tests/Server/RouteTest.elm
  tests/Server/ServerTest.elm
  tests/TestUtils.elm
Due: app-prettier

fix: fixed food API examples (food "Carton" and "Cuisson") (#1379)
  openapi.yaml
Due: none

fix: fixed mass validation message (#1380)
  src/Data/Food/Validation.elm
  src/Data/Textile/Validation.elm
  tests/Server/RouteTest.elm
  tests/server.spec.js
Due: app-prettier

refactor: clean test code
  tests/Server/RouteTest.elm
  tests/Server/ServerTest.elm
  tests/TestUtils.elm
Due: none

feat(ui): update textile CTA links to regulatory version, add banner (#1372)
  src/Page/Home.elm
  src/Views/Page.elm
  styles.scss
Due: none

chore: upgrade nodejs dependencies, 2025-09
  package-lock.json
  package.json
Due: app-prettier

fix: fix JSON number reformatting
  lib/json.js
  tests/lib/json.test.js
Due: app-prettier

chore: add versions stats to scalingo cli
  bin/scalingo_api.py
Due: app-ruff-check, app-ruff-format

fix(api): fix JSON number reformatting (#1383)
  lib/json.js
  tests/lib/json.test.js
Due: app-prettier

chore: upgrade nodejs dependencies, 2025-09 (#1382)
  package-lock.json
  package.json
Due: app-prettier

fix(api): expose server fqdn and version to urls in responses (#1381)
  server.js
  src/Data/Textile/Simulator.elm
  src/Server.elm
  src/Server/Request.elm
  tests/Server/RouteTest.elm
  tests/Server/ServerTest.elm
  tests/TestUtils.elm
Due: app-prettier

chore: add db comment field
  backend/src/app/db/migrations/versions/2025-09-22_add_component_comment_field_8fac496b9e57.py
  backend/src/app/db/models/component.py
  backend/src/app/domain/components/schemas.py
  tests/backend/integration/test_components.py
Due: app-ruff-check, app-ruff-format

feat(object,ui): add support for component comments
  src/Data/Component.elm
  src/Page/Explore/Components.elm
Due: none

feat: allow rendering & editing comments
  src/Data/Component.elm
  src/Page/Admin/Component.elm
  src/Views/Component.elm
  styles.scss
Due: none

feat: DECISION: use nullable field
  src/Data/Component.elm
  src/Page/Admin/Component.elm
  src/Page/Explore/Components.elm
Due: none

feat(object,ui): add support for component comments (#1371)
  backend/src/app/db/migrations/versions/2025-09-22_add_component_comment_field_8fac496b9e57.py
  backend/src/app/db/models/component.py
  backend/src/app/domain/components/schemas.py
  src/Data/Component.elm
  src/Page/Admin/Component.elm
  src/Page/Explore/Components.elm
  src/Views/Component.elm
  styles.scss
  tests/backend/integration/test_components.py
Due: app-ruff-check, app-ruff-format

GITBOOK-1540: No subject
  SUMMARY.md
  pages-en-cours-de-revue/procedes-ecobalyse-acier-et-aluminium.md
Due: none

GITBOOK-1541: Complément Biodiv Bois (Ameublement) _ tableau out
  ameublement/complement-hors-acv/biodiversitebois.md
Due: none

feat(object): improve results serialization
  src/Data/Component.elm
  tests/Data/ComponentTest.elm
Due: none

feat(object): improve json results serialization for debugging (#1385)
  src/Data/Component.elm
  tests/Data/ComponentTest.elm
Due: none

feat(food): render ingredient process technical name in explorer
  src/Page/Explore/FoodIngredients.elm
Due: none

fix: improve ingredient element rendering
  styles.scss
Due: none

chore: ingredient export
  public/data/food/ingredients.json
Due: app-prettier

fix: improve responsivity
  styles.scss
Due: none

feat: render texhnical name in explorer details
  src/Page/Explore/FoodIngredients.elm
Due: none

fix(food,ui): expose ingredient process technical name (#1386)
  src/Page/Explore/FoodIngredients.elm
  styles.scss
Due: none

chore: homepage textile wording
  src/Page/Home.elm
Due: none

chore: remove useless replace
  src/Page/Home.elm
Due: none

style: componentize top inner shadow
  src/Page/Home.elm
  src/Views/Page.elm
  styles.scss
Due: none

feat: revamp homepage contents
  src/Page/Home.elm
Due: none

feat: add sample tag as an illustration
  public/img/etiquette-exemple.png
  src/Page/Home.elm
  styles.scss
Due: none

chore: don’t deploy prereleases
  bin/download_github_releases.py
Due: app-ruff-check, app-ruff-format

feat: revamp and rephrase everything
  src/Page/Home.elm
Due: none

Path conditions:
  app-prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.json$
  app-ruff-check: any of: ^.*$ and \.py$
  app-ruff-format: any of: ^.*$ and \.py$
  dont-commit-detailed-processes: any of: ^processes_impacts.json$
