Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
      exclude: (svg|icomoon|rapidoc-9.3.4.min.js)
    - id: trailing-whitespace
      exclude: (vendor|rapidoc-9.3.4.min.js)
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, master]

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier
        language: system
        files: ^.*$
        types_or: [javascript, json]
        entry: |
          bash -c 'npm --prefix . run fix:prettier --write "${@}"' --

      - id: app-ruff-check
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:check "${@}"' --

      - id: app-ruff-format
        name: run ruff format
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:format "${@}"' --

      - id: app-elm-format
        name: run elm-format
        language: system
        files: ^.*$
        types_or: [elm]
        entry: |
          bash -c 'npm --prefix . run fix:elm-format "${@}"' --

refactor: specialize example contrib symbols/names
  backend/src/app/domain/contrib/controllers/__init__.py
  backend/src/app/domain/contrib/controllers/contrib.py
  backend/src/app/domain/contrib/schemas.py
  backend/src/app/domain/contrib/services.py
  backend/src/app/server/core.py
  src/Page/Food.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Request/Contrib.elm
  src/Views/Bookmark.elm
  src/Views/Sidebar.elm
  tests/backend/integration/test_contrib.py
Due: app-ruff-check, app-ruff-format

clean code
  src/Views/Bookmark.elm
Due: none

fix: add examples files to .prettierignore
  .prettierignore
Due: none

fix: create clickable link to PR in success notif
  src/Page/Object.elm
  src/Views/Page.elm
Due: none

feat: hide contribute tab for non-generic scopes
  src/Views/Bookmark.elm
Due: none

chore: improve styling and ux
  src/Views/Bookmark.elm
Due: none

chore: improve comment
  backend/src/app/domain/contrib/services.py
Due: app-ruff-check, app-ruff-format

refactor: naming consistency
  src/Page/Food.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Views/Bookmark.elm
  src/Views/Sidebar.elm
Due: none

refactor: simplify github_request impl
  backend/src/app/domain/contrib/services.py
Due: app-ruff-check, app-ruff-format

refactor: rename contrib app
  .env.sample
  backend/src/app/domain/contrib/__init__.py
  backend/src/app/domain/contrib/controllers/__init__.py
  backend/src/app/domain/contrib/controllers/contrib.py
  backend/src/app/domain/contrib/schemas.py
  backend/src/app/domain/contrib/services.py
  backend/src/app/domain/contrib/urls.py
  backend/src/app/domain/generic_contributions/controllers/__init__.py
  backend/src/app/domain/generic_contributions/controllers/contribution.py
  backend/src/app/domain/generic_contributions/urls.py
  backend/src/app/server/core.py
  src/Page/Object.elm
  src/Request/Contrib.elm
  src/Request/GenericContribution.elm
  src/Views/Bookmark.elm
  tests/backend/integration/test_contrib.py
Due: app-ruff-check, app-ruff-format

feat: check if an example already exists
  src/Request/Contrib.elm
  src/Views/Bookmark.elm
Due: none

fix: reset contrib resp loading state on err
  src/Page/Object.elm
Due: none

refactor: create_contrib_pr now returns ContribResponse
  backend/src/app/domain/contrib/controllers/contrib.py
  backend/src/app/domain/contrib/services.py
  tests/backend/integration/test_contrib.py
Due: app-ruff-check, app-ruff-format

refactor: move github settings to a dedicated class
  backend/src/app/config/__init__.py
  backend/src/app/config/base.py
  backend/src/app/domain/contrib/controllers/contrib.py
  backend/src/app/domain/contrib/services.py
  tests/backend/integration/test_contrib.py
Due: app-ruff-check, app-ruff-format

feat(object): add “Banc en chêne DIY” example
  public/data/object/examples.json
Due: app-prettier

feat(object): add “Tentative en me déconnectant de git” example
  public/data/object/examples.json
Due: app-prettier

chore: add 2000kms of road for some countries
  src/Data/Food/Recipe.elm
  tests/Data/Food/RecipeTest.elm
Due: none

GITBOOK-1675: No subject
  ameublement/complement-hors-acv/biodiversitebois.md
Due: none

refactor: clean code
  src/Request/Contrib.elm
Due: none

feat: assign reviewers
  .env.sample
  backend/src/app/domain/contrib/services.py
Due: app-ruff-check, app-ruff-format

feat(object): add “test ajout reviewers” example
  public/data/object/examples.json
Due: app-prettier

chore: improve PR success msg
  src/Page/Object.elm
Due: none

feat(object): add “test reviewers” example
  public/data/object/examples.json
Due: app-prettier

Revert "feat: assign reviewers"
  .env.sample
  backend/src/app/domain/contrib/services.py
Due: app-ruff-check, app-ruff-format

chore: backport improvements from e48927d191466e607968ed9974c2e283bbba65b9
  backend/src/app/domain/contrib/services.py
Due: app-ruff-check, app-ruff-format

chore: @n1k0’s review
  src/Data/Food/Recipe.elm
  tests/Data/Food/RecipeTest.elm
Due: none

feat(object): add “test reviewing team” example
  public/data/object/examples.json
Due: app-prettier

chore: upgrade npm deps, 2026-04-15
  package-lock.json
  package.json
Due: app-prettier

chore(stable): upgrade npm deps, 2026-04-15
  package-lock.json
  package.json
Due: app-prettier

chore: add 2000kms of road for some countries (#2068)
  src/Data/Food/Recipe.elm
  tests/Data/Food/RecipeTest.elm
Due: none

chore: upgrade npm deps, 2026-04-15 (#2080)
  package-lock.json
  package.json
Due: app-prettier
