Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format, dont-commit-detailed-processes

app-prettier:
  name: run prettier
  language: system
  entry: 'bash -c ''npm --prefix . run fix:prettier --write "${@}"'' --
  
    '

app-ruff-check:
  name: run ruff check
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:check "${@}"'' --
  
    '

app-ruff-format:
  name: run ruff format
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:format "${@}"'' --
  
    '

dont-commit-detailed-processes:
  name: check that we don't commit processes_impacts.json
  language: system
  entry: 'bash -c ''echo "⚠️ Prevented pushing detailed impacts data to public git repository. To update these, clone and push to the ecobalyse-private repository.";exit 1''
  
    '

chore: remove debug
  bin/start.sh
  buildpack-run.sh
  package.json
Due: app-prettier

fix(textile): compute printing impacts from surface
  src/Data/Textile/Formula.elm
  src/Data/Unit.elm
Due: none

chore: update tests accordingly
  tests/e2e-textile.json
Due: app-prettier

GITBOOK-1368: Ameublement Fin de vie
  .gitbook/assets/newplot.png
  ameublement/cycle-de-vie/etape-4-fin-de-vie.md
Due: none

GITBOOK-1369: No subject
  ameublement/cycle-de-vie/etape-4-fin-de-vie.md
Due: none

chore: try to reduce scalingo image size
  .env.sample
  .github/workflows/node.js.yml
  README.md
  backend/src/app/domain/accounts/signals.py
  e2e/auth.spec.js
  e2e/db.setup.js
  e2e/homepage.spec.js
  package-lock.json
  package.json
  playwright.config.js
Due: app-prettier, app-ruff-check, app-ruff-format

fix: relax timeout for e2e tests
  playwright.config.js
Due: app-prettier

fix: force NODE_ENV
  .github/workflows/node.js.yml
Due: none

fix: setup html report artifact output
  e2e/db.setup.js
  playwright.config.js
Due: app-prettier

fix: set required backend api url env var
  .github/workflows/node.js.yml
Due: none

feat: add full auth sequence test
  e2e/auth.spec.js
  e2e/db.setup.js
  e2e/homepage.spec.js
  e2e/lib.js
  src/Page/Auth.elm
Due: app-prettier

feat: async sqlite queries
  e2e/auth.spec.js
  e2e/db.setup.js
  e2e/lib.js
Due: app-prettier

fix: ensure deleting all emails before tests
  e2e/auth.spec.js
  e2e/lib.js
Due: app-prettier

fix: upgrade node requirements
  .github/workflows/node.js.yml
Due: none

chore: increase parcel proxy timeouts
  .proxyrc.json
Due: app-prettier

chore: update node version requirement
  package.json
Due: app-prettier

chore: add separate e2e cu config
  .github/workflows/e2e.yml
Due: none

chore: remove playwright tests from node ci, increase timeouts
  .github/workflows/node.js.yml
  playwright.config.js
Due: app-prettier

chore: build trace artifacts
  .github/workflows/e2e.yml
  package.json
Due: app-prettier

chore: adjust ci config
  .github/workflows/e2e.yml
  playwright.config.js
Due: app-prettier

fix: ci
  playwright.config.js
Due: app-prettier

desperate housewife
  playwright.config.js
Due: app-prettier

ci: add upterm debugging session
  .github/workflows/e2e.yml
Due: none

ci: remove upterm debug session
  .github/workflows/e2e.yml
Due: none

fix: don’t look for MATOMO vars in development
  server.js
Due: app-prettier

ci: add upterm debug session
  .github/workflows/node.js.yml
Due: none

chore: replace elec process medium voltage by low voltage
  public/data/countries.json
  public/data/processes.json
  public/data/processes_impacts.json
  src/Data/Food/WellKnown.elm
Due: app-prettier

test: use same dev server for pupeeter and playwright
  jest-puppeteer.config.js
Due: app-prettier

ci: remove upterm debug
  .github/workflows/node.js.yml
Due: none

GITBOOK-1370: No subject
  textile/durabilite.md
Due: none

chore: update tests
  tests/Data/Food/PreparationTest.elm
  tests/Data/Food/RecipeTest.elm
  tests/Data/Textile/SimulatorTest.elm
  tests/e2e-food.json
  tests/e2e-textile.json
Due: app-prettier

chore: improve e2e test speed wrt email
  e2e/auth.spec.js
  e2e/lib.js
Due: app-prettier

test: use playwright instead of puppeteer
  e2e/setup-version-fixture.sh
  e2e/versions.spec.js
  package.json
  src/Views/Page.elm
  tests/versions.spec.js
Due: app-prettier

fix: e2e auth race condition with email/notice
  e2e/auth.spec.js
  e2e/lib.js
Due: app-prettier

fix: upgrade @sentry/browser from 9.15.0 to 9.18.0
  package-lock.json
  package.json
Due: app-prettier

test: add textile simulator e2e tests.
  e2e/auth.spec.js
  e2e/lib.js
  e2e/textile-simulator.spec.js
  playwright.config.js
  src/Page/Auth.elm
  src/Page/Textile.elm
  src/Views/Score.elm
Due: app-prettier

test: add impact selector tests
  e2e/textile-simulator.spec.js
  src/Views/Impact.elm
Due: app-prettier

test: fix pytest warning
  packages/python/ecobalyse/ecobalyse/tests/test_patch_old_versions.py
Due: app-ruff-check, app-ruff-format

chore: require postgres explicitly for tests
  pyproject.toml
  uv.lock
Due: none

docs: add note about docker as a test requirement
  README.md
Due: none

Path conditions:
  app-prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.json$
  app-ruff-check: any of: ^.*$ and \.py$
  app-ruff-format: any of: ^.*$ and \.py$
  dont-commit-detailed-processes: any of: ^processes_impacts.json$
