Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format, dont-commit-detailed-processes

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
      exclude: (svg|icomoon|rapidoc-9.3.4.min.js)
    - id: trailing-whitespace
      exclude: (vendor|rapidoc-9.3.4.min.js)
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, master]

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier
        language: system
        files: ^.*$
        types_or: [javascript, json]
        entry: |
          bash -c 'npm --prefix . run fix:prettier --write "${@}"' --

      - id: app-ruff-check
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:check "${@}"' --

      - id: app-ruff-format
        name: run ruff format
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:format "${@}"' --

      - id: dont-commit-detailed-processes
        name: check that we don't commit processes_impacts.json
        language: system
        files: ^processes_impacts.json$
        entry: |
          bash -c 'echo "⚠️ Prevented pushing detailed impacts data to public git repository. To update these, clone and push to the ecobalyse-private repository.";exit 1'

feat: add icons
  public/icomoon/fonts/icomoon.eot
  public/icomoon/fonts/icomoon.svg
  public/icomoon/fonts/icomoon.ttf
  public/icomoon/fonts/icomoon.woff
  public/icomoon/selection.json
  public/icomoon/style.css
  src/Page/Home.elm
  src/Views/Icon.elm
Due: app-prettier

fix: switch to food callout btn for e2e auth tests
  e2e/auth.spec.js
Due: app-prettier

fix: don’t patch storage key for new auth system
  bin/build-specific-app-version.sh
Due: none

chore: don’t deploy prereleases (#1394)
  bin/download_github_releases.py
Due: app-ruff-check, app-ruff-format

fix: don’t patch storage key for new auth system (#1395)
  bin/build-specific-app-version.sh
Due: none

chore: add versions stats to scalingo cli (#1384)
  bin/scalingo_api.py
Due: app-ruff-check, app-ruff-format

chore: remove useless replace
  src/Page/Home.elm
Due: none

chore: homepage textile wording
  src/Page/Home.elm
Due: none

feat: add sample tag as an illustration
  public/img/etiquette-exemple.png
  src/Page/Home.elm
  styles.scss
Due: none

style: componentize top inner shadow
  src/Page/Home.elm
  src/Views/Page.elm
  styles.scss
Due: none

fix: use appropriate logo
  public/img/etiquette-exemple.png
  src/Page/Home.elm
  styles.scss
Due: none

feat: revamp homepage contents
  src/Page/Home.elm
Due: none

feat: revamp and rephrase everything
  src/Page/Home.elm
Due: none

fix: rephrasing confusing stuff
  src/Page/Home.elm
Due: none

fix: sign of eol processes
  public/data/processes.json
  public/data/processes_impacts.json
Due: app-prettier

chore(ui): revamp homepage layout and contents (#1396)
  e2e/auth.spec.js
  public/icomoon/fonts/icomoon.eot
  public/icomoon/fonts/icomoon.svg
  public/icomoon/fonts/icomoon.ttf
  public/icomoon/fonts/icomoon.woff
  public/icomoon/selection.json
  public/icomoon/style.css
  public/img/etiquette-exemple.png
  src/Page/Home.elm
  src/Views/Icon.elm
  src/Views/Page.elm
  styles.scss
Due: app-prettier

chore: update tests
  tests/Data/Food/RecipeTest.elm
  tests/Data/Textile/SimulatorTest.elm
Due: none

update e2e tests
  tests/e2e-food.json
  tests/e2e-textile.json
Due: app-prettier

chore: try to update e2e
  tests/e2e-food.json
  tests/e2e-textile.json
Due: app-prettier

fix(ui): fix links to regulatory version
  src/Page/Home.elm
  styles.scss
Due: none

chore: improve layout, behaviuors and wording
  src/Page/Home.elm
Due: none

fix: format multiline strings in a consistent fashion
  src/Page/Home.elm
Due: none

fix(ui): fix links to regulatory version (#1397)
  src/Page/Home.elm
  styles.scss
Due: none

fix(auth): require manual login confirmation
  src/Page/Auth.elm
Due: none

chore: simplify code
  src/Page/Auth.elm
Due: none

chore: update e2e tests
  e2e/auth.spec.js
  e2e/lib.js
  src/Page/Auth.elm
Due: app-prettier

GITBOOK-1542: No subject
  .gitbook/assets/https___files.gitbook.com_v0_b_gitbook-x-prod.appspot.com_o_spaces_2F-MexpTrvmqKNzuVtxdad_2Fuploads_2F6rnYce06ym45GtOByKpW_2Fimage.avif
  SUMMARY.md
  textile/cycle-de-vie-des-produits-textiles/etape-8-fin-de-vie.md
Due: none

GITBOOK-1543: No subject
  textile/cycle-de-vie-des-produits-textiles/etape-8-fin-de-vie.md
Due: none

GITBOOK-1544: No subject
  .gitbook/assets/Capture d'écran 2025-09-25 171126.png
  .gitbook/assets/image (378).png
  .gitbook/assets/image (379).png
  .gitbook/assets/image (380).png
  textile/cycle-de-vie-des-produits-textiles/etape-8-fin-de-vie.md
Due: none

chore: add countries (1/2)
  public/data/countries.json
  public/data/processes.json
  public/data/processes_impacts.json
  public/data/transports.json
Due: app-prettier

fix(auth): require manual login confirmation (#1398)
  e2e/auth.spec.js
  e2e/lib.js
  src/Page/Auth.elm
Due: app-prettier

chore: add countries (2/2)
  public/data/countries.json
Due: app-prettier

GITBOOK-1545: No subject
  textile/cycle-de-vie-des-produits-textiles/etape-8-fin-de-vie.md
Due: none

GITBOOK-1546: No subject
  textile/cycle-de-vie-des-produits-textiles/etape-8-fin-de-vie.md
Due: none

GITBOOK-1547: No subject
  textile/cycle-de-vie-des-produits-textiles/etape-8-fin-de-vie.md
Due: none
