Repository MTES-MCT/ecobalyse: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format, dont-commit-detailed-processes

app-prettier:
  name: run prettier
  language: system
  entry: 'bash -c ''npm --prefix . run fix:prettier --write "${@}"'' --
  
    '

app-ruff-check:
  name: run ruff check
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:check "${@}"'' --
  
    '

app-ruff-format:
  name: run ruff format
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:format "${@}"'' --
  
    '

dont-commit-detailed-processes:
  name: check that we don't commit processes_impacts.json
  language: system
  entry: 'bash -c ''echo "⚠️ Prevented pushing detailed impacts data to public git repository. To update these, clone and push to the ecobalyse-private repository.";exit 1''
  
    '

change ids to uuids
  public/data/object/examples.json
  public/data/object/processes.json
Due: app-prettier

set to 0 other impacts
  public/data/object/processes.json
Due: app-prettier

fix key error
  data/notebooks/explore.py
Due: app-ruff-check, app-ruff-format

feat: add Object process data types and decoders.
  bin/build-db
  check-db.js
  lib/index.js
  public/data/object/processes.json
  src/CheckDb.elm
  src/Data/Object/Db.elm
  src/Data/Object/Process.elm
  src/Data/Uuid.elm
  src/Static/Db.elm
  src/Static/Json.elm-template
  tests/Server/RouteTest.elm
  tests/Server/ServerTest.elm
Due: app-prettier

refactor: clean test code.
  tests/Server/ServerTest.elm
Due: none

chore: set max e2e test execution time to minimum value.
  package.json
Due: app-prettier

fix: load object processes into server env.
  package.json
  server.js
Due: app-prettier

refactor: mutualize server test helpers.
  tests/Server/RouteTest.elm
  tests/Server/ServerTest.elm
  tests/TestUtils.elm
Due: none

chore: decode object examples, introduce Query.
  bin/build-db
  src/Data/Object/Db.elm
  src/Data/Object/Process.elm
  src/Data/Object/Query.elm
  src/Static/Json.elm-template
Due: none

feat: first version of a simulator.
  src/Data/Object/Process.elm
  src/Data/Object/Query.elm
Due: none

feat: add Simulator for objects and tests.
  src/Data/Object/Simulator.elm
  tests/Data/Object/SimulatorTest.elm
  tests/Data/Textile/SimulatorTest.elm
Due: none

fix: don't download draft releases
  bin/download_github_releases.py
Due: app-ruff-check, app-ruff-format

chore: better logging
  bin/download_github_releases.py
Due: app-ruff-check, app-ruff-format

remove recycled viscose
  public/data/textile/processes.json
Due: app-prettier

feat: add object basic UI.
  src/Data/Dataset.elm
  src/Data/Object/Process.elm
  src/Data/Object/Query.elm
  src/Data/Object/Simulator.elm
  src/Data/Scope.elm
  src/Data/Session.elm
  src/Main.elm
  src/Page/Explore.elm
  src/Page/Food.elm
  src/Page/Object.elm
  src/Page/Textile.elm
  src/Route.elm
  src/Views/Bookmark.elm
  src/Views/Page.elm
  src/Views/Sidebar.elm
Due: none

refactor: clean code.
  src/Page/Object.elm
Due: none

GITBOOK-1040: change request with no subject merged in GitBook
  .gitbook/assets/image (120).png
  .gitbook/assets/image (121).png
  .gitbook/assets/image (122).png
  .gitbook/assets/image (123).png
  .gitbook/assets/image (124).png
  SUMMARY.md
  alimentaire-en-construction/etape-2-fabrication-du-fil/assemblage.md
  alimentaire-en-construction/etape-2-fabrication-du-fil/composants/autres-composants.md
  alimentaire-en-construction/etape-2-fabrication-du-fil/composants/transformation-finition.md
Due: none

chore: don't download draft releases (#771)
  bin/download_github_releases.py
Due: app-ruff-check, app-ruff-format

remove detailed impacts
  public/data/object/processes.json
Due: app-prettier

update examples and processes
  public/data/object/examples.json
  public/data/object/processes.json
Due: app-prettier

processes for object
  public/data/object/processes.json
Due: app-prettier

add empty pef
  public/data/object/processes.json
Due: app-prettier

rename and add category
  public/data/object/examples.json
Due: app-prettier

update examples and processes
  public/data/object/examples.json
Due: app-prettier

change ids to uuids
  public/data/object/examples.json
Due: app-prettier

feat: add Object process data types and decoders.
  bin/build-db
  check-db.js
  lib/index.js
  src/CheckDb.elm
  src/Data/Object/Db.elm
  src/Data/Object/Process.elm
  src/Data/Uuid.elm
  src/Static/Db.elm
  src/Static/Json.elm-template
  tests/Server/RouteTest.elm
  tests/Server/ServerTest.elm
Due: app-prettier

Path conditions:
  app-prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.json$
  app-ruff-check: any of: ^.*$ and \.py$
  app-ruff-format: any of: ^.*$ and \.py$
  dont-commit-detailed-processes: any of: ^processes_impacts.json$
